/* window */
.ajaxlogin-window {
/*     border-top: 5px solid #00923f !important;*/ 
     background:#000; 
     z-index:999;
     padding: 10px;
     position: fixed !important; 
     top : 20% !important;
     text-align:left;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
     border-radius: 3px;
     outline: none;
    -webkit-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
     box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding-box;
     background-clip: padding-box; 
     width:385px !important;
     opacity: 0.8;
}

#person_type{margin-bottom:15px;}
#person_type li{margin-right:20px;}
#person_type #individuals, #person_type #legal_person{margin:-5px 0 0 0;}



.ajaxlogin-window .page-title,
.ajaxlogin-window .page-title span { color:#00923f ; font-size:18px; font-weight: normal; text-align: center}
.ajaxlogin-window .content { padding:10px; overflow:auto; overflow-x:hidden; width:100% !important;}
.ajaxlogin-window #ajaxlogin-login-form .content{padding: 0 17%; overflow:auto; overflow-x:hidden; width:100% !important;}

.ajaxlogin-window #remember-me-box{list-style: none; display: block; float: left; width: auto; margin-top: 14px;}
.ajaxlogin-window #remember-me-box .input-box{float:left; margin:0px 6px 0 0;}
.ajaxlogin-window #remember-me-box label{display: block; float: left;}
.ajaxlogin-window #remember-me-box .link-tip{line-height:15px; display:block; float:left; margin-left: 5px;}

.ajaxlogin-window label { width:auto; text-align:left; margin-bottom: 0; font-weight: 300; font-size: 14px !important; letter-spacing: 1px; color: #FFF;}
.ajaxlogin-window label em { display:none }
.ajaxlogin-window ul li { line-height: normal; }
.ajaxlogin-window ul,
.ajaxlogin-window .form-list { list-style: none; margin: 0; }
.ajaxlogin-window .form-list li { margin-bottom: 0 }
.ajaxlogin-window .form-list .input-box { clear:both; }
.ajaxlogin-window .form-list input.input-text,
.ajaxlogin-window .form-list textarea { width:100%; border-radius: 2px;}
.ajaxlogin-window .input-box input { margin: 0
}
.ajaxlogin-window .input-box .validation-advice { line-height: normal; }
.ajaxlogin-window .close { position:absolute; top:0; right:4px; width:16px; height:16px; background:url(../../../images/fedobe/ajaxlogin/cancel_round.png) no-repeat 50% 50%;}
.ajaxlogin-window label[for="is_subscribed"]{display:inline-block !important; margin-top:2px !important; font-size:11px !important;}
.ajaxlogin-window .close:hover {}
.ajaxlogin-window .progress-indicator { display: block; text-align: center; float:right}
.ajaxlogin-window .please-wait { position:static; padding:0; background:none; border:none; margin:0; left:auto; top:auto; }
.ajaxlogin-window .buttons-set { margin:0; text-align:center; border-top:0 solid #e4e4e4; display: block; float: right;width: 100%; padding:0 17%;}
.ajaxlogin-window .buttons-set .button{width: 100%; letter-spacing:.5px;}
.ajaxlogin-window .buttons-set .button span span{font-size:15px; line-height: 43px;}
a.ajaxlogin-forgot, .ajaxlogin-window .back-link a{ display: block; letter-spacing:.5px; line-height: 43px; float:left;}
.ajaxlogin-window .back-link a{line-height: 13px;}
.ajaxlogin-window .form-list .input-box{ width:auto }
.ajaxlogin-window .buttons-set .back-link { display: block; margin: 0; padding: 0; text-align: center; }
.ajaxlogin-window .buttons-set .back-link a {  }
.ajaxlogin-window .buttons-set .please-wait
.ajaxlogin-window .actionbar { padding:10px 10px 0; text-align:right; font-weight:bold; }

#ajaxlogin-mask { background: rgba(255, 255, 255, 0.7); position:fixed; top:0; left:0; width:100%; height:100% !important; z-index:990; }


.tab-group{width:100%; margin:0; padding:0;}
.tab-group li{display:block; float:left; width:50%; background:#de750a; text-align:center; height:50%;}
.tab-group li a{text-decoration:none; color:#FFF; display:block; line-height:50px; letter-spacing: 1px; font-weight:600; font-size:18px;} 
.tab-group li.active{background:#1e1915;}
.or-separator {text-align: center;}
.or-separator {width: 100%;color: #FFF;text-transform: none;vertical-align: middle;text-align: center;display: inline-block;margin: 8px 0 0;}
.or-separator:before {right: 0.5em;}
.or-separator:before, .or-separator:after {content: '- - - - ';display: inline-block;position: relative;vertical-align: middle;width: 9%;}
ul.gs-login.gs-login-login li { margin: 2px 0;}
.gs-login img{width: 75%;height: 45px;}
.or-separator:after {left: 0.5em;}
#ajaxlogin-create-window .fieldset{margin: 0;}

#ajaxlogin-create-form .form-list label.required {
    display: none;
}
#ajaxlogin-create-form .form-list .input-box{
	margin:10px 0;
}
#ajaxlogin-create-form .form-list label.required {
    display: none;
}
@media (max-width:480px){
    .ajaxlogin-window {
    width: 92% !important;
    margin: 0 5%;
    left:0 !important;
    }
}
