<?php
$customBlock = $this->getLayout()->getBlock('featured.sellers.grid');
$clist = $this->getLayout()->createBlock('tribecustomer/profilelist')->getlist();
$_productCollection = $customBlock->getLoadedProductCollection();
$_helper = $this->helper('catalog/output');
$_image_helper = $this->helper('catalog/image');
$store = Mage::app()->getStore();
$code = $store->getCode();
$aspect_ratio = Mage::getStoreConfig("porto_settings/category/aspect_ratio", $code);
$ratio_width = Mage::getStoreConfig("porto_settings/category/ratio_width", $code);
$ratio_height = Mage::getStoreConfig("porto_settings/category/ratio_height", $code);

$loaderpath = Mage::getBaseUrl('media') . 'tribe/defaultimages/loader1.gif';
// if($_SERVER['REMOTE_ADDR']=='45.251.36.100'){
$submitAction = Mage::getUrl('triberegister/register/save');
echo $contactsubmit = Mage::getBaseUrl() . 'contacts/index/post/';
// }else{
// $submitAction = Mage::getUrl('tribeseller/Sellerregister/register');
// }

if (!$ratio_width)
    $ratio_width = 300;
if (!$ratio_height)
    $ratio_height = 400;
$profileopt = Mage::helper('arccore')->attribute_options('trrg_entity');
$final_profileopt = array();
foreach ($profileopt as $k => $v) {
    if ($v['value'])
        $final_profileopt[$v['value']] = $v['label'];
}
$posttype = Mage::helper('arccore')->getattributeoptionsid('trcr_post_type', 'Register');
?>
<?php
$_coreHelper = $this->helper('core');
?>
<?php
$slug = Mage::helper('tribeseller')->getSellerUrlKeySlug() . "/";
?>
<style>
    #contactloader img {
        width: 50px;
        height: 50px;
        position: absolute;
        left: 20%;
    }
    input[type="checkbox"]{ 
/*        width: 30px; 
        height: 30px; */
        margin-top: 0px !important;
    } 
</style>
<div class="footer-before">
    <?php // if($_productCollection->count()){?>
    <!--    <div class="relPostn">
            <h2 class="browse_all_stores"><a href="<?php // echo $this->getUrl('all' . $slug);    ?>">BROWSE ALL STORES</a></h2>
        </div>-->
    <?php // }?>
    <div class="btm_banner">

        <div class="container">
            <!------------------------modified by soumyashree------------------------------->
            <!--h2> HANDPICKED. FRESH FROM FARM. 100% AUTHENTIC. </h2>
            <div class="handpicked-main-div">
            <div class="image-container-divs "><a href="https://dev.ecociate.com/food-nutrition/grocery/spices.html" target="_blank"><img src="<?php echo $this->getSkinUrl('images/Spices.png') ?>" alt="" width="100%" /></a></div>
            <div class="image-container-divs "><a href="https://dev.ecociate.com/food-nutrition/grocery/dals.html" target="_blank"><img src="<?php echo $this->getSkinUrl('images/DAL.png') ?>" alt=""  width="100%"/></a></div>
            <div class="image-container-divs  "><a href="https://dev.ecociate.com/food-nutrition/grocery/pickles-chutneys.html" target="_blank"><img src="<?php echo $this->getSkinUrl('images/Pickle.png') ?>" alt=""  width="100%" /></a></div>
            </div-->
            <!--div class="brand-logos">
            <h2 class="blockHeading">FEATURED BRANDS</h2>
            <a href="#"><img src="<?php //echo $this->getSkinUrl('images/24mantra-logo.jpg')    ?>" alt="" /></a>
            <a href="#"><img src="<?php //echo $this->getSkinUrl('images/DowntoEarth-Logo.jpg')    ?>" alt="" /></a>
            <a href="<?php //echo Mage::getBaseUrl().'motherorganic';   ?>"><img src="<?php echo $this->getSkinUrl('images/MotherOrganicLogo.jpg') ?>" alt="" /></a>
            <a href="#"><img src="<?php //echo $this->getSkinUrl('images/Organic-Tattvalogo.jpg')    ?>" alt=""  /></a>
            <a href="#"><img src="<?php //echo $this->getSkinUrl('images/PureandsureLogo.jpg')    ?>" alt=""  /></a>
            <a href="#"><img src="<?php //echo $this->getSkinUrl('images/RealLifeOrganic-Logo.jpg')    ?>" alt=""  /></a>
            </div-->
            <!--div class="featured-customers">
            <h2 class="blockHeading">TRENDING ECOHEROS</h2>
            <?php //foreach($clist as $k1=>$v1){?>
            <a href="<?php //echo $v1['profile'];  ?>"><img src="<?php //echo $v1['image']   ?>" alt="" /></a>
            <?php //}
            ?>
            </div-->
            <!--h2 class="blockHeading">ABOUT ALL THINGS ORGANIC</h2-->
            <!--div class="video-container-main-div">
            <div class="video-containing-div">
            <iframe width="100%" height="100%" src="https://www.youtube.com/embed/t_SSGRdvPMo" frameborder="0" allowfullscreen></iframe>
            </div>
            
            <div class="video-containing-div">
            <iframe width="100%" height="100%" src="https://www.youtube.com/embed/X8VU5L011XU" frameborder="0" allowfullscreen></iframe>
            </div>
            
            </div-->
            <!------------------------modified by soumyashree------------------------------->

            <!--h2>TRENDING ITEMS</h2-->
            <?php //echo $this->getLayout()->createBlock('reports/product_viewed')->setTemplate('reports/product_viewed.phtml')->toHtml();  ?>
            <!--div id="example-owl" class="owl-carousel owl-theme"-->

            <?php
            /* $categoryId = 32; // this is the category holding your products  
              $products = Mage::getSingleton('catalog/category')->load($categoryId) // load the category
              ->getProductCollection() // and the products
              ->addAttributeToSelect('*'); // tell Magento which attributes to get

              foreach ($products as $product) { // iterate through the entire collection
              echo '<div class="owl-item">
              <div class="item">
              <div class="item-area">
              <div class="product-image-area">
              <a href='.$product->getProductUrl().' title='.$this->htmlEscape($product->getName()).' ><center><img src='.$product->getImageUrl().'></center></a></div>
              <div class="details-area">
              <div class="price-box"><span class="regular-price"><span class="price">'.Mage::helper('core')->formatPrice($product->getPrice()).'</span></span></div>
              <h2 class="product-name">'.$product->getName().'</h3><div class="actions">' ?>
              <!--div class="qty-field"><div class="qty-holder"><div class="qty-changer">
              <a href="javascript:void(0)" class="qty_dec"><i class="fa fa-minus"></i></a>
              <input type="text" name="qty" maxlength="12" class="input-text qty" value="1"/>
              <a href="javascript:void(0)" class="qty_inc"><i class="fa fa-plus"></i></a></div></div></div-->
              <?php
              //echo '<a class="addtocart" title="Add to Cart"><i class="icon-cart"></i></a></div>
              echo '</div>
              <div class="clearer"></div>
              </div>
              </div>
              </div>
              </div>'; // print the image url inside of the required Owl markup
              } */
            ?>

            <!--/div-->
        </div>

        <!--div class="eco_btm">
            <div class="container">
                    <h2>HOW ECOCIATE WORKS</h2>
                    <p>3 Easier Steps for Responsible Buying</p>
             <div class="col-sm-4 eco_btm_block">
                   <img src="<?php echo $this->getSkinUrl('images/f1.png') ?>" alt="" />
                   <img class="imgworkCount" src="<?php echo $this->getSkinUrl('images/No.1.png') ?>" alt="" />             
                   <p>Browse your near by <br />organic stores</p>
             </div>
             <div class="col-sm-4 eco_btm_block">
                   <img src="<?php echo $this->getSkinUrl('images/f2.png') ?>" alt="" />
                   <img class="imgworkCount" src="<?php echo $this->getSkinUrl('images/No.2.png') ?>" alt="" />                            
                   <p>Select & order <br />your items</p>
             </div>
             <div class="col-sm-4 eco_btm_block">
                   <img src="<?php echo $this->getSkinUrl('images/f3.png') ?>" alt="" />
                   <img class="imgworkCount" src="<?php echo $this->getSkinUrl('images/No.3.png') ?>" alt="" />                   
               <p>Pick up from store <br />or pay at home</p>
             </div>
             <div class="clearfix"></div>
            </div>
        </div-->
        <div class="clearfix"></div>

        <div class="eco-register bgWhite" id="ecoregister">
            <div class="container">
                <div class="block-title1 bgWhite">
                    <img class="img-responsive" src="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA) . "wysiwyg/register.png" ?>" alt="Bg-Image-Eco2.png" />
                </div>
                <p class="reg_cont">If You are an <span class="uline">Organic Brand</span>, <span class="uline">Organic Store or Organic Farmer Producer Organization</span></p>
                <div class="reg_cont" id="success_submit" style="color:#006400 !important; display: none !important; font-weight: bold;"> 
                    <span class="uline">
                        Your inquiry was submitted and will be responded to as soon as possible. Thank you for contacting us.
                    </span>
                </div>
                <div class="slr-succ-msg welcome-msg nt-scc" style="display:none;">Please fill all the mandatory fields.</div>
                <form id="eco-reg-frm" action="javascript:void(0)" method="post" onsubmit="return false;">
                    <input type="hidden" value="<?php echo $posttype; ?>" name="arc[trcr_post_type]"/>
                    <table class="eco-reg-frm-tbl" border="0" cellpadding="0" cellspacing="0">
                      <tr><td class="reg_cont text-right" width="180">I am a:<span style="color:#ff0000">*</span></td><!--td><input type="text" name="reg[val]" class="usr-reg-form"></td-->
                            <?php //if($_SERVER['REMOTE_ADDR']=='45.251.36.100'){ 
                            ?>
                            <td>
                                <span class="regFrmTitle">I am a:<span style="color:#ff0000">*</span></span>
                                <select name="arc[trrg_entity]">
                                    <?php foreach ($final_profileopt as $k => $v) { ?>
                                        <option value="<?php echo $v; ?>" ><?php echo $v; ?></option>
                                    <?php } ?>
                                </select>
                                <input type="hidden" name="iam" class="iam" value="">
                            </td>
                        </tr>
                        <tr>
                            <td class="reg_cont text-right">
                                Entity name :<span style="color:#ff0000">*</span>
                            </td>
                            <td>
                                <span class="regFrmTitle">Entity name:<span style="color:#ff0000">*</span></span>
                                <input type="text" name="arc[trrg_entity_name]" class="usr-reg-form">
                            </td>
                        </tr>
                        <tr>
                            <td class="reg_cont text-right">
                                Contact name:<span style="color:#ff0000">*</span>
                            </td>
                            <td>
                                <span class="regFrmTitle">Contact name:<span style="color:#ff0000">*</span></span>
                                <input type="text" name="arc[trrg_contact_name]" class="usr-reg-form">
                            </td>
                        </tr>
                        <tr>
                            <td class="reg_cont text-right">
                                Email ID :<span style="color:#ff0000">*</span>
                            </td>
                            <td>
                                <span class="regFrmTitle">Email ID:</span>
                                <input type="email" name="arc[trrg_email_id]" class="usr-reg-form">
                            </td>
                        </tr>
                        <tr>
                            <td class="reg_cont text-right">
                                Contact no.:<span style="color:#ff0000">*</span>
                            </td>
                            <td>
                                <span class="regFrmTitle">Contact no.:<span style="color:#ff0000">*</span></span>
                                <input type="number" name="arc[trrg_contact_no]" class="usr-reg-form">
                            </td>
                        </tr>
                        <tr>
                            <td class="reg_cont text-right">Address:<span style="color:#ff0000">*</span>
                            </td>
                            <td>
                                <span class="regFrmTitle">Address:<span style="color:#ff0000">*</span></span>
                                <input type="text" name="arc[trrg_address]" class="usr-reg-form">
                            </td>
                        </tr>
                        <tr>
                            <td class="reg_cont text-right" style="vertical-align:top;padding-top: 15px;">
                                Description:
                            </td>
                            <td>
                                <span class="regFrmTitle">Description:</span>
                                <textarea name="arc[trrg_desc]" class="usr-reg-form"></textarea>
                            </td>
                        </tr>
                        <tr>
                            <td class="reg_cont text-right" style="vertical-align:unset;padding-top: 5px;">
                            </td>
                            <td style="padding: 0px 12px !important;">
                            <input class="usr-reg-form" type="checkbox" name="termcondition" title="<?php echo $this->__('Terms & Conditions') ?>" id="termcondition"/>
                            <label>
                                <a href="http://earthyngreen.com/terms-conditions" target="_blank" style="font-size:16px;">&nbsp;Terms & Conditions</a>
                            </label>
                            </td>
                        </tr>
                        <tr>
                            <td class="reg_cont text-right">&nbsp;</td>
                            <td class="text-center">
                                <div class="failure-msg text-left" style="display:none;color: #ff0000;">Please fill all the above fields.</div>
                                <input class="button sbmtbtn reg_cont_sbmt" type ="submit" value="SUBMIT">
                                <div id="loaderspan" style="display:none;"><img src="<?php echo $loaderpath ?>"></div>
                            </td>
                        </tr>
                    </table>
                </form>
            </div>

        </div>
        <?php
        $store = Mage::app()->getStore();
        $code = $store->getCode();
        $_infoblock = Mage::getStoreConfig('porto_settings/contacts/infoblock', $code);
        $custom_block = Mage::getStoreConfig('porto_settings/contacts/customblock', $code);
//    echo get_class($this);
        ?>

        <?php if ($custom_block): ?>
            <div class="row">
                <div class="col-sm-12">
                    <?php echo $this->getLayout()->createBlock('cms/block')->setBlockId($custom_block)->toHtml(); ?>
                </div>
            </div>
        <?php endif; ?>
        <div class="eco-register bgWhite" id="contacts">
            <div class="container">
                <div class="block-title1 bgWhite">
                    <img class="img-responsive" src="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA) . "wysiwyg/contactus.png" ?>" alt="Bg-Image-Eco2.png" />
                </div>

                <div class="slr-succ-msg welcome-msg nt-scc" style="display:none;">Please fill all the mandatory fields.</div>
                <!--contact submit message-->
                <p class="reg_cont" style="color:#006400 !important;display:none !important;" id="success_contact">
                    <span class="uline">
                        Your request successfully submitted, We will contact you soon.
                    </span>
                </p>
                <!--contact submit message-->
                <div class="col-sm-8 col-sm-offset-2">
                    <div id="messages_product_view"><?php //echo $this->getMessagesBlock()->getGroupedHtml() ?></div>
                    <form action="javascript:void(0)" id="contactForm" method="post" onsubmit="return false;">
                        <div class="row">
                            <ul class="form-list col-sm-6">
                                <li>
                                    <label for="name" class="required"><em>*</em>Your Name</label>
                                    <div class="input-box">
                                        <input name="name" id="name" value="" class="input-text" type="text">
                                    </div>
                                </li>
                                <li>
                                    <label for="email" class="required"><em>*</em>Email id</label>
                                    <div class="input-box">
                                        <input name="email" id="email" value="" class="input-text" type="text">
                                    </div>
                                </li>
                                <li>
                                    <label for="telephone">Phone No<em>*</em></label>
                                    <div class="input-box">
                                        <input name="telephone" id="telephone" value="" class="input-text" type="text">
                                    </div>
                                </li>
                            </ul>
                            <ul class="form-list col-sm-6">
                                <li>
                                    <label for="comment" class="required"><em>*</em>Enquiry</label>
                                    <div class="input-box input-textarea">
                                        <textarea name="comment" id="comment" class="input-text" cols="5" rows="3"></textarea>
                                    </div>
                                </li>
                                <li>
                                    <div id="contactloader" style="display:none;"><img src="<?php echo $loaderpath ?>"></div>
                                    <input name="hideit" id="hideit" value="" style="display:none !important;" type="text">
                                    <button type="submit" id="contactsbmt" title="Submit" class="button"><span><span>Submit</span></span></button>
                                </li>
                            </ul>
                        </div>
                    </form>
                    <script type="text/javascript">
                        //<![CDATA[
                        // var contactForm = new VarienForm('contactForm', true);
                        //]]>
                    </script>
                    <div class="col-sm-12 contact-info">                      
                        <div class="text-center" style="color:#72bf03;">  B – 160, Sector 51, Noida,   Uttar Pradesh,  India – 201301,   Phone No: +91 120 4296016   email: info@earthyngreen.com</div>
                    </div>
                </div>

            </div>

        </div>

    </div>
</div>

<script type="text/javascript">
    jQuery(document).ready(function () {

        //<![CDATA[ 
        jQuery("#eco-reg-frm").validate({
            rules: {
                'arc[trrg_entity_name]': {required: true},
                'arc[trrg_contact_name]': {required: true},
                'arc[trrg_email_id]': {required: true},
                'arc[trrg_contact_no]': {required: true, digits: true, minlength: 10, maxlength: 14},
                'arc[trrg_address]': {required: true},
		'termcondition': {required: true}
            },
             submitHandler: function (form) {
                var url = '<?php echo $submitAction; ?>';
                jQuery('#loaderspan').show();
                jQuery('.sbmtbtn').attr("disabled", "disabled");
                var formData = new FormData(jQuery('#eco-reg-frm')[0]);
                jQuery.ajax({
                    url: url,
                    method: "POST",
                    data: formData,
                    contentType: false,
                    processData: false,
                }).done(function (msg) {
                    var data = JSON.parse(msg);
                    jQuery('#loaderspan').hide();
                    jQuery("#eco-reg-frm")[0].reset();
                   if (data.haserror == false) {
                        jQuery('.sbmtbtn').attr("disabled", false);
                        jQuery('#loaderspan').hide();
                        jQuery('#success_submit').show().delay(9000).fadeOut('slow');
                    } else if (data.haserror == true) {
                        jQuery('.nt-scc').show().delay(5000).fadeOut('slow');
                        jQuery('.sbmtbtn').removeAttr("disabled");
                        jQuery('#loaderspan').hide();
                    } else {
                        jQuery('#loaderspan').hide();
                        jQuery('.slr-succ-msg').hide();
                        jQuery('.sbmtbtn').removeAttr("disabled");
                    }
                });
            }
        });

        /*contact form*/
        jQuery("#contactForm").validate({
            rules: {
                'name': {required: true},
                'email': {required: true},
                'comment': {required: true},
                'telephone': {required: true, digits: true, minlength: 10, maxlength: 14}
            },
            submitHandler: function (form) {
                var url = '<?php echo $contactsubmit; ?>';
                jQuery("#contactloader").show();
                jQuery('#contactsbmt').attr("disabled", "disabled");
                var formData = new FormData(jQuery('#contactForm')[0]);

                jQuery.ajax({
                    url: url,
                    method: "POST",
                    data: formData,
                    contentType: false,
                    processData: false,
                }).done(function (msg) {
                    var data = JSON.parse(msg);
                    jQuery("#contactForm")[0].reset();
                    jQuery("#contactloader").hide();
                    if (data.haserror == false) {
                        jQuery("#contactForm input[type=text]").val("");
                        jQuery('#contactsbmt').attr("disabled", false);
                        jQuery('#success_contact').show().delay(9000).fadeOut('slow');
                    } else if (data.haserror == true) {
                        jQuery('.nt-scc').show().delay(5000).fadeOut('slow');
                        jQuery('#contactsbmt').removeAttr("disabled");
                    } else {
                        jQuery('.slr-succ-msg').hide();
                    }
                });
            }
        });
        /*contact form*/
        //hide message
        if (jQuery(".messages").length) {
            jQuery(".messages").show().delay(10000).fadeOut('slow')
        }
    });

</script>


<style>
    .btm_banner .actions{display: inline-flex;}
    .featured-customers img{ width:160px;height:160px;border-radius:50%;margin:5px;}
    .uline{
        color:#72bf03;
        font-size:18px;
        font-style: italic bold;
    }
    #eco-reg-frm{
        background: #8cc23c1a !important;
    }
    .reg_cont{
        color:black;
    }
   
</style>

<script>
    jQuery(document).ready(function ($) {

        var owl = $("#example-owl");

        owl.owlCarousel({
            navigation: false,
            slideSpeed: 300,
            paginationSpeed: 400,
            pagination: false,
            singleItem: false,
            autoPlay: true,
            items: 6,
            stopOnHover: true
        });

    });
</script>
