<!------------------------modified by bhagyashree------------------------------->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<div id="brandlogo" class="brand-logos bgWhite">

    <div class="bgWhite">
        <img class="img-responsive" src="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA) . "wysiwyg/Oraganic-Brands.png" ?>" alt="Oraganic-Brands" /> 
    </div>
    <span id="organicstorebc"></span>
    <div class="brand-clouds"> 
        <button type="button" class="btn btn-link brandlogoClassmodal" data-src="https://www.24mantra.com">
            <img class="brnd-cls" style="height:104px;width:108px;" src="<?php echo $this->getSkinUrl('images/24mantra-logo.jpg') ?>" alt="" />
        </button>

        <!-- Modal -->

        <button type="button" class="btn btn-link brandlogoClassmodal" data-src="https://www.downtoearthorganicfood.com" >           
            <img class="brnd-cls" style="height:100px;width:100px;" src="<?php echo $this->getSkinUrl('images/DowntoEarth-Logo.jpg') ?>" alt="" />
        </button>


        <button type="button" class="btn btn-link brandlogoClassmodal" data-src="https://www.motherorganic.in">        

            <img class="brnd-cls" style="height:96px;width:96px;" src="<?php echo $this->getSkinUrl('images/MotherOrganicLogo.jpg') ?>" alt="" />
        </button>


        <button type="button" class="btn btn-link brandlogoClassmodal" data-src="https://www.organictattva.com">        
            <img class="brnd-cls" style="height:111px;width:108px;" src="<?php echo $this->getSkinUrl('images/Organic-Tattvalogo.jpg') ?>" alt=""  />

        </button>


        <button type="button" class="btn btn-link brandlogoClassmodal" data-src="https://www.pureandsure.in" >        
            <img class="brnd-cls" style="height:108px;width:111px;" src="<?php echo $this->getSkinUrl('images/PureandsureLogo.jpg') ?>" alt=""  />

        </button>


        <button type="button" class="btn btn-link brandlogoClassmodal" data-src="https://www.pureandsure.in">        
            <img class="brnd-cls" style="height:110px;width:100px;" src="<?php echo $this->getSkinUrl('images/RealLifeOrganic-Logo.jpg') ?>" alt=""  />              
        </button>

        <!-- Modal -->



        <div id="myModal" class="modal fade" role="dialog" >
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Modal Header</h4>
                    </div>
                    <div class="modal-body">
                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe class="embed-responsive-item" src="https://www.24mantra.com" allowfullscreen id="mybrangurlmodal"></iframe>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default footer-close" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>
        </div>



    </div>



</div>

<script type="text/javascript">
    //<![CDATA[
    jQuery(window).load(function () {
        jQuery(".brandlogoClassmodal").click(function () {
            var datasrc = jQuery(this).attr("data-src");
            jQuery('#mybrangurlmodal').attr("src", datasrc);
            jQuery("#myModal").removeClass('fade');
            jQuery("#myModal").show();
        });
        jQuery(".close").click(function () {
            jQuery("#myModal").addClass('fade');
            jQuery("#myModal").hide();
        });
        jQuery(".footer-close").click(function () {
            jQuery("#myModal").addClass('fade');
            jQuery("#myModal").hide();
        });

    });
    //]]>
</script>
<!------------------------modified by bhagyashree------------------------------->



<?php
$url = $this->getUrl("tribeseller/sellerspage/setradius");
//$menuHelper = Mage::helper('megamenu');$menuHelper->getMobileMenuContent(true);exit;
$sellers_collection = $this->getLoadedProductCollection();

$helper = Mage::helper('tribeseller');
$store = Mage::app()->getStore();
$code = $store->getCode();
$aspect_ratio = Mage::getStoreConfig("porto_settings/category/aspect_ratio", $code);
$ratio_width = Mage::getStoreConfig("porto_settings/category/ratio_width", $code);
$ratio_height = Mage::getStoreConfig("porto_settings/category/ratio_height", $code);
$conrad = Mage::getStoreConfig('tribecoresettings/general_settings/tribe_seller_radius');
$radius = ($conrad) ? $conrad : 10;
if (!$ratio_width)
    $ratio_width = 300;
if (!$ratio_height)
    $ratio_height = 300;
$pin = Mage::helper('tribeseller')->getCurrentZipInUse();

$starsettings = intval(Mage::getStoreConfig('tribecoresettings/seller_starrating_settings/tribe_seller_star_rating_no'));
$nostars = ($starsettings) ? $starsettings : 5;
$starsize = intval(Mage::getStoreConfig('tribecoresettings/seller_starrating_settings/tribe_seller_star_size'));
$starsize = ($starsize) ? $starsize : 15;
?>
<?php if (!$sellers_collection->count()): ?>
    <?php
    $is_loggedin = Mage::getSingleton('customer/session')->isLoggedIn();
    if ($is_loggedin):
        ?>
        <script type="text/javascript">
            //<![CDATA[
            jQuery(window).load(function () {
                jQuery(".shopping-at-pin").find(".anc").trigger('click');
                jQuery(document).ajaxComplete(function () {
                    jQuery(".err_note").show();
                });
            });
            //]]>
        </script>
    <?php endif; ?>
    <style type="text/css">
        .main-container{
            min-height: auto !important;
        }    
    </style>
<?php else: ?>


    <div class="clearfix"></div>

    <div id="sellerstore" class="" >
        <div class="content-section" >
            <div class="category-products sellerPage">
                <div class="bgWhite centered" id="organicstore" > 
                    <img class="img-responsive"  src="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA) . "wysiwyg/OrganicStore-Header.png" ?>" alt="OrganicStore-Header" />
                </div>

                <?php echo $this->getToolbarHtml() ?>
                <?php $_columnCount = Mage::getStoreConfig("porto_settings/category_grid/columns", $code); ?>
                <ul class="products-grid <?php if (Mage::getStoreConfig("porto_settings/category_grid/flex_grid", $code)): ?>flex-grid<?php endif; ?> columns3"><?php //echo $_columnCount;                        ?>
                    <?php foreach ($sellers_collection as $sellers): ?>
                        <?php
                        $seller = Mage::getModel('tribeseller/seller')->load($sellers->getId());
                        $seller_info = $seller->getData();
                        ?>
                        <li class="item col-xs-12 col-sm-6 col-md-4 lioppera" >
                            <div class="item-area">
                                <div class="product-image-area col-xs-5">
                                    <div class="loader-container">
                                        <div class="loader">
                                            <i class="ajax-loader medium animate-spin"></i>
                                        </div>
                                    </div>
                                    <!--a href="<?php //echo $helper->getFrontendProductUrl($seller_info['seller_user_name']);               ?>" title="<?php //echo $seller_info['seller_store_name'];               ?>"  class="product-image"-->
                                    <div class="product-image">
                                        <img src="<?php echo $helper->resizeImg($seller_info['seller_profile_pic'], $ratio_width, $ratio_height); ?>" />
                                    </div>
                                    <!--/a-->
                                </div>
                                <div class="details-area col-xs-7">
                                    <h2 class="product-name">
                                        <!--a href="<?php //echo $helper->getFrontendProductUrl($seller_info['seller_user_name']);               ?>" title="<?php //echo $seller_info['seller_store_name'];               ?>"--><?php echo $seller_info['seller_store_name']; ?><!--/a-->
                                    </h2>
                                    <div class="ratings">
                                        <div id="rating-box-<?php echo $sellers->getId(); ?>"></div>
                                    </div>
                                    <?php
                                    $address = $helper->getFormattedSellerAddress($seller_info);
                                    $latlnginfo = Mage::helper('tribeseller')->getCurrentLatLng();
                                    $lat = $latlnginfo['lat'];
                                    $lng = $latlnginfo['lng'];
                                    $sourceinfo = array($lat, $lng);
                                    $destinfo = array($seller_info['seller_geolat'], $seller_info['seller_geolng']);
                                    $distanceinfo = $helper->calculateDistanceBetweenTwoLatLng($sourceinfo, $destinfo);
                                    ?>
                                    <div class="address">
                                        <i class="fa fa-map-marker"></i>
                                        <?php echo $address; ?>
                                    </div>
                                    <div class="address" style="font-weight:bold;">
                                        <?php echo $this->__("{$distanceinfo['text']} Km  (About {$distanceinfo['duration']})"); ?>
                                    </div>
                                    <div>
                                        <button class="button Get-Direction" onclick="showDirection('<?php echo $seller->getId(); ?>', '<?php echo $this->getUrl('tribeseller/sellerspage/getDirection'); ?>');"><img style="height:12px;width:10px;" src="<?php echo $this->getSkinUrl('images/Direction_icon.png'); ?>" alt="Get Direction" />&nbsp;Get Direction</button>
                                    </div>

                                    <div class="actions">
                                        <a href="<?php echo $helper->getFrontendProductUrl($seller_info['seller_user_name']); ?>" class="addtocart outofstock" title="<?php echo $this->__('View Seller') ?>"><?php echo $this->__('View Seller') ?></span></a>
                                        <div class="clearer"></div>
                                    </div>
                                </div>
                            </div>
                            <script type="text/javascript">
                                //<![CDATA[
                                jQuery(function ($) {
                                    $("#rating-box-<?php echo $sellers->getId(); ?>").rateYo({
                                        starWidth: "<?php echo $starsize; ?>px",
                                        readOnly: true,
                                        rating: <?php echo $sellers->getSellerAvgRating(); ?>,
                                        spacing: "5px",
                                        numStars: <?php echo $nostars; ?>,
                                        multiColor: {
                                            "startColor": "#FF0000", //RED
                                            "endColor": "#FEA200"  //GREEN
                                        },
                                        halfStar: true
                                    });
                                });
                                //]]>

                            </script>
                        </li>

                    <?php endforeach ?>
                </ul>



                <?php
                $customBlock = $this->getLayout()->getBlock('featured.sellers.grid');
                $_productCollection = $customBlock->getLoadedProductCollection();
                $slug = Mage::helper('tribeseller')->getSellerUrlKeySlug() . "/";
                if ($_productCollection->count()) {
                    ?>
                    <div class="relPostn">
                        <h2 class="browse_all_stores"><a href="<?php echo $this->getUrl('all' . $slug); ?>">BROWSE ALL STORES</a></h2>
                    </div>
                <?php } ?>
                <div class="clear-fix"></div>


                <script type="text/javascript">
                    //<![CDATA[
                    jQuery('.col-main .products-grid li:nth-child(2n)').addClass('nth-child-2n');
                    jQuery('.col-main .products-grid li:nth-child(2n+1)').addClass('nth-child-2np1');
                    jQuery('.col-main .products-grid li:nth-child(3n)').addClass('nth-child-3n');
                    jQuery('.col-main .products-grid li:nth-child(3n+1)').addClass('nth-child-3np1');
                    jQuery('.col-main .products-grid li:nth-child(4n)').addClass('nth-child-4n');
                    jQuery('.col-main .products-grid li:nth-child(4n+1)').addClass('nth-child-4np1');
                    jQuery('.col-main .products-grid li:nth-child(5n)').addClass('nth-child-5n');
                    jQuery('.col-main .products-grid li:nth-child(5n+1)').addClass('nth-child-5np1');
                    jQuery('.col-main .products-grid li:nth-child(6n)').addClass('nth-child-6n');
                    jQuery('.col-main .products-grid li:nth-child(6n+1)').addClass('nth-child-6np1');
                    jQuery('.col-main .products-grid li:nth-child(7n)').addClass('nth-child-7n');
                    jQuery('.col-main .products-grid li:nth-child(7n+1)').addClass('nth-child-7np1');
                    jQuery('.col-main .products-grid li:nth-child(8n)').addClass('nth-child-8n');
                    jQuery('.col-main .products-grid li:nth-child(8n+1)').addClass('nth-child-8np1');
                    //]]>
                </script>
            </div>
        </div>
    <?php endif; ?>
    <span id="ecosellerregister"></span>


</div>
<style>

    @media (min-width:320px) and (max-width:767px){
        #organicstore {
            padding-top: 113px !important;
        }
        #contacts{
            padding-top: 79px !important;
        }
        #sellerstore{
            padding-top: 36px !important;
        }

    }
    #brandlogo{
        padding-top:100px !important;
    }
    #organicstore{
        padding-top:100px !important;
    }
    #contacts{
        padding-bottom:80px !important;
    }
</style>
<style>
    #ecoregister{
        padding-top: 80px !important;
    }

    @media (min-width:320px) and (max-width:767px){
        #ecoregister {
            padding-top: 100px !important;
        }

    }
</style>

<style type="text/css">
    /*    .topsellerheader{
            background:url('<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA) ?>/tribe/sellers/images/p/t/Banner.jpg') no-repeat center center / auto auto;
        }*/
    .topsellerheader{
        background:url("<?php echo $this->getSkinUrl('images/Bg-Image-Eco.jpg') ?>") no-repeat center center / auto auto;
    }    
    #search-li{display: none !important;}

    @media screen and (min-color-index:0) and(-webkit-min-device-pixel-ratio:0) 
    { @media {
          @media (min-width:320px) and (max-width:767px){

              #ecoregister {
                  padding-top: 900px !important;
              }
              #iphoneMecoregister{
                  display:block !important;
              }
              #Mecoregister{
                  display:none !important;
              }
              #splforiphone{
                  display:block !important;
              }

          }
      }}

    @media not all and (min-resolution:.001dpcm){ @supports (-webkit-appearance:none) and (stroke-color:transparent) {

                                                      @media (min-width:320px) and (max-width:767px){

                                                          #ecoregister {
                                                              padding-top: 900px !important;
                                                          }
                                                          #iphoneMecoregister{
                                                              display:block !important;
                                                          }
                                                          #Mecoregister{
                                                              display:none !important;
                                                          }
                                                          #splforiphone{
                                                              display:block !important;
                                                          }

                                                      }

                                                  }
    }

    @media not all and (min-resolution:.001dpcm)
    { @supports (-webkit-appearance:none) and (not (stroke-color:transparent)) {

          @media (min-width:320px) and (max-width:767px){

              #ecoregister {
                  padding-top: 900px !important;
              }
              #iphoneMecoregister{
                  display:block !important;
              }
              #Mecoregister{
                  display:none !important;
              }
              #splforiphone{
                  display:block !important;
              }

          }
      }}

    _::-webkit-:host:not(:root:root), .safari_only {

        @media (min-width:320px) and (max-width:767px){

            #ecoregister {
                padding-top: 900px !important;
            }
            #iphoneMecoregister{
                display:block !important;
            }
            #Mecoregister{
                display:none !important;
            }
            #splforiphone{
                display:block !important;
            }

        }

    }

</style>