<?php
$sellers_collection = $this->getLoadedProductCollection();
$helper = Mage::helper('tribeseller');
$store = Mage::app()->getStore();
$code = $store->getCode();
$aspect_ratio = Mage::getStoreConfig("porto_settings/category/aspect_ratio", $code);
//$ratio_width = Mage::getStoreConfig("porto_settings/category/ratio_width", $code);
//$ratio_height = Mage::getStoreConfig("porto_settings/category/ratio_height", $code);
//if (!$ratio_width)
    $ratio_width = 150;
//if (!$ratio_height)
    $ratio_height = 150;
$starsettings = intval(Mage::getStoreConfig('tribecoresettings/seller_starrating_settings/tribe_seller_star_rating_no'));
$nostars = ($starsettings) ? $starsettings : 5;
$starsize = intval(Mage::getStoreConfig('tribecoresettings/seller_starrating_settings/tribe_seller_star_size'));
$starsize = ($starsize) ? $starsize : 15;
?>
<?php if (!$sellers_collection->count()): ?>
    <div class="category-products">
        <p class="note-msg"><?php echo $this->__('Sorry! there is no store found in your search location.') ?></p>
    </div>
<?php else: ?>
    <div class="category-products sellerPage">
        <?php echo $this->getToolbarHtml() ?>
        <?php $_columnCount = Mage::getStoreConfig("porto_settings/category_grid/columns",$code); ?>
        <ul class="products-grid <?php if (Mage::getStoreConfig("porto_settings/category_grid/flex_grid", $code)): ?>flex-grid<?php endif; ?> columns3"><?php //echo $_columnCount; ?>
            <?php foreach ($sellers_collection as $sellers): ?>
            <?php $seller = Mage::getModel('tribeseller/seller')->load($sellers->getId()); 
                $seller_info = $seller->getData();
            ?>
                <li class="item col-xs-12 col-sm-6 col-md-4">
                    <div class="item-area">
                        <div class="product-image-area col-xs-5">
                            <div class="loader-container">
                                <div class="loader">
                                    <i class="ajax-loader medium animate-spin"></i>
                                </div>
                            </div>
                            <!--a href="<?php //echo $helper->getFrontendProductUrl($seller_info['seller_user_name']); ?>" title="<?php //echo $seller_info['seller_store_name']; ?>"  class="product-image"-->
                             <div class="product-image">  
                                <img src="<?php echo $helper->resizeImg($seller_info['seller_profile_pic'], $ratio_width, $ratio_height); ?>" />
                            <!--/a-->
                            </div>
                        </div>
                        <div class="details-area col-xs-7">
                            <h2 class="product-name">
                                <!--a href="<?php //echo $helper->getFrontendProductUrl($seller_info['seller_user_name']); ?>" title="<?php //echo $seller_info['seller_store_name']; ?>"--><?php echo $seller_info['seller_store_name']; ?><!--/a-->
                            </h2>
                            <div class="ratings">
                                <div id="rating-box-<?php echo $sellers->getId(); ?>"></div>
                            </div>
                            <?php 
                            $address = $helper->getFormattedSellerAddress($seller_info);
                            $latlnginfo = Mage::helper('tribeseller')->getCurrentLatLng();
                            $lat = $latlnginfo['lat'];
                            $lng = $latlnginfo['lng'];
                            $sourceinfo = array($lat,$lng);
                            $destinfo = array($seller_info['seller_geolat'],$seller_info['seller_geolng']);
                            $distanceinfo = $helper->calculateDistanceBetweenTwoLatLng($sourceinfo,$destinfo);
                          //echo "<pre>"; print_r($distanceinfo);echo "</pre>";
                            //if($address):
                            ?>
                            <div class="address">
                                <i class="fa fa-map-marker"></i>
                                <?php echo $address; ?>
                            </div>
                            <?php// endif;?>

                            <div class="address" style="font-weight:bold;">
                                <?php echo $this->__("{$distanceinfo['text']} Km  (About {$distanceinfo['duration']})");?>
                            </div>
                             <div>
                                  <button class="button Get-Direction" onclick="showDirection('<?php echo $seller->getId();?>','<?php echo $this->getUrl('tribeseller/sellerspage/getDirection');?>');"><img style="height:12px;width:10px;" src="<?php echo $this->getSkinUrl('images/Direction_icon.png'); ?>" alt="Get Direction" />&nbsp;Get Direction</button>
                             </div>
                                <div class="actions">
                                        <a href="<?php echo $helper->getFrontendProductUrl($seller_info['seller_user_name']); ?>" class="addtocart outofstock" title="<?php echo $this->__('View Seller') ?>"><?php echo $this->__('View Seller') ?></span></a>
                                    <div class="clearer"></div>
                                </div>
                        </div>
                    </div>
                </li>
                <script type="text/javascript">
                    //<![CDATA[
                    jQuery(function ($) {
                        $("#rating-box-<?php echo $sellers->getId(); ?>").rateYo({
                            starWidth: "<?php echo $starsize;?>px",
                            readOnly: true,
                            rating: <?php echo $sellers->getSellerAvgRating(); ?>,
                            spacing: "5px",
                            numStars: <?php echo $nostars; ?>,
                            multiColor: {
                                "startColor": "#FF0000", //RED
                                "endColor": "#FEA200"  //GREEN
                            },
                            halfStar: true
                        });
                    });
        //]]>

                </script>
    <?php endforeach ?>
        </ul>

        <script type="text/javascript">
            jQuery('.col-main .products-grid li:nth-child(2n)').addClass('nth-child-2n');
            jQuery('.col-main .products-grid li:nth-child(2n+1)').addClass('nth-child-2np1');
            jQuery('.col-main .products-grid li:nth-child(3n)').addClass('nth-child-3n');
            jQuery('.col-main .products-grid li:nth-child(3n+1)').addClass('nth-child-3np1');
            jQuery('.col-main .products-grid li:nth-child(4n)').addClass('nth-child-4n');
            jQuery('.col-main .products-grid li:nth-child(4n+1)').addClass('nth-child-4np1');
            jQuery('.col-main .products-grid li:nth-child(5n)').addClass('nth-child-5n');
            jQuery('.col-main .products-grid li:nth-child(5n+1)').addClass('nth-child-5np1');
            jQuery('.col-main .products-grid li:nth-child(6n)').addClass('nth-child-6n');
            jQuery('.col-main .products-grid li:nth-child(6n+1)').addClass('nth-child-6np1');
            jQuery('.col-main .products-grid li:nth-child(7n)').addClass('nth-child-7n');
            jQuery('.col-main .products-grid li:nth-child(7n+1)').addClass('nth-child-7np1');
            jQuery('.col-main .products-grid li:nth-child(8n)').addClass('nth-child-8n');
            jQuery('.col-main .products-grid li:nth-child(8n+1)').addClass('nth-child-8np1');
        </script>
    <?php if (Mage::getStoreConfig("ajax_catalog/price_slider_settings/infinitescroll", $code)): ?>
            <div class="infinite-loader"><span class="loading"><i class="ajax-loader small animate-spin"></i><?php echo $this->__("Loading ..."); ?></span><a href="javascript:void(0)" class="btn-load-more"><?php echo $this->__("Load More ..."); ?></a></div>
        <?php endif; ?>
        <div class="toolbar-bottom">
        <?php echo $this->getToolbarHtml() ?>
        </div>
    </div>
<?php endif; ?>
<style>
.main-container{
      padding-top:51px;
}
</style>