<?php
$url = $this->getUrl('tribeseller/sellerspage/changepin');
$pin = Mage::helper('tribeseller')->getCurrentZipInUse();
$currentradius = Mage::helper('tribeseller')->getCurrentradius();
$maxradius = Mage::getStoreConfig('tribecoresettings/general_settings/tribe_seller_max_radius');
?>
<div class="fancy-wrapper">
    <span><i class="fa fa-map-marker"></i></span><span class="spnpin"><?php echo $pin; ?></span>
    <p class="err_note">
        <?php echo $this->__("Sorry, there is no store within %d km radius of the postcode %s. Would you like to increase the radius ?", $currentradius, $pin) ?>
    </p>
    <form class="form-horizontal " id = "my-custom-form" method="post" action="<?php echo $url; ?>">
        <div id="pac-card">
        <div class="form_text_zip_code" id="pac-container">
            <input id="pinchange" name="seller[pin]" type="text" placeholder="Enter Zip Code" maxlength="6" class="form-control input-md required-entry" value="<?php echo $pin; ?>">
            <input id="pinchange_hdn" name="seller[lat_lng]" type="hidden">
        </div>
       </div>
        <div class="form_text_zip_code">
            <input id="distance-range" name="seller[radius]" type="text" placeholder="Enter your Radius" maxlength="<?php echo strlen($maxradius); ?>" class="form-control input-md required-entry validate-digits maximum-length-<?php echo strlen($maxradius); ?> validate-digits-range digits-range-1-<?php echo $maxradius; ?>" value="<?php echo $currentradius; ?>">
            <label class="note"><?php echo $this->__('Maximum radius to be less or eqaul to %d Kms', $maxradius); ?></label>
        </div>
        <div class="find_store_button">
            <input type="submit" id="singlebutton" class="btn btn-default pin-button form-control"  value="CHANGE" />  
        </div>
    </form>
    <script type="text/javascript">
        //< ![CDATA[
        var customForm = new VarienForm('my-custom-form');
        //]]>
    </script>
</div>
<style>
    .custom-pin-fancybox .fancy-wrapper > span.spnpin{position: relative; top: 1px; margin-bottom: 9px;}
    .custom-pin-fancybox .fancy-wrapper > span .fa.fa-map-marker{color:#72bf03; font-size: 25px;}
    .btn.btn-default.pin-button.form-control{background-color:#72bf03;margin-bottom:8px;}
    .form_text_zip_code{padding-bottom:8px;}
    .form_text_zip_code .form-control{text-align:center;}
    .fancybox-item.fancybox-close{color:#fbfbfb;}
    .fancybox-title-float-wrap .child{display: none;}
    .note{color:#FFA500;}
    .err_note{color:#FF0000;display: none;}
</style>
<script>
      // This example requires the Places library. Include the libraries=places
      // parameter when you first load the API. For example:
      // <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&libraries=places">

      function initMap() {
        /* var map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: -33.8688, lng: 151.2195},
          zoom: 13
        });*/
        var card = document.getElementById('pac-card');
        var input = document.getElementById('pinchange');
        //var types = document.getElementById('type-selector');
        //var strictBounds = document.getElementById('strict-bounds-selector');

       // map.controls[google.maps.ControlPosition.TOP_RIGHT].push(card);

        var autocomplete = new google.maps.places.Autocomplete(input);

        // Bind the map's bounds (viewport) property to the autocomplete object,
        // so that the autocomplete requests use the current map bounds for the
        // bounds option in the request.
       // autocomplete.bindTo('bounds', map);

        //var infowindow = new google.maps.InfoWindow();
        //var infowindowContent = document.getElementById('infowindow-content');
        //infowindow.setContent(infowindowContent);
       /* var marker = new google.maps.Marker({
          map: map,
          anchorPoint: new google.maps.Point(0, -29)
        });*/

        autocomplete.addListener('place_changed', function() {
          //infowindow.close();
          //marker.setVisible(false);
          var place = autocomplete.getPlace(); //alert(place.geometry.location);return false;
          document.getElementById('pinchange_hdn').value = place.geometry.location;
          if (!place.geometry) {
            // User entered the name of a Place that was not suggested and
            // pressed the Enter key, or the Place Details request failed.
            window.alert("No details available for input: '" + place.name + "'");
            return;
          }

          // If the place has a geometry, then present it on a map.
          /*if (place.geometry.viewport) {
            map.fitBounds(place.geometry.viewport);
          } else {
            map.setCenter(place.geometry.location);
            map.setZoom(17);  // Why 17? Because it looks good.
          }
          marker.setPosition(place.geometry.location);
          marker.setVisible(true);*/

          var address = '';
          if (place.address_components) {
            address = [
              (place.address_components[0] && place.address_components[0].short_name || ''),
              (place.address_components[1] && place.address_components[1].short_name || ''),
              (place.address_components[2] && place.address_components[2].short_name || '')
            ].join(' ');
          }

          //infowindowContent.children['place-icon'].src = place.icon;
         // infowindowContent.children['place-name'].textContent = place.name;
         // infowindowContent.children['place-address'].textContent = address;
         // infowindow.open(map, marker);
        });

        // Sets a listener on a radio button to change the filter type on Places
        // Autocomplete.
        /*function setupClickListener(id, types) {
          var radioButton = document.getElementById(id);
          radioButton.addEventListener('click', function() {
            autocomplete.setTypes(types);
          });
        }*/

       // setupClickListener('changetype-all', []);
       // setupClickListener('changetype-address', ['address']);
       // setupClickListener('changetype-establishment', ['establishment']);
      //  setupClickListener('changetype-geocode', ['geocode']);

       /* document.getElementById('use-strict-bounds')
            .addEventListener('click', function() {
              console.log('Checkbox clicked! New state=' + this.checked);
              autocomplete.setOptions({strictBounds: this.checked});
            });*/
      }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDqvScx7EGSdTGuNKOVmykpxiQnwFhluII&libraries=places&callback=initMap"
        async defer></script>