<?php 
$seller=$this->getLayout()->createBlock('fedobe_tribeseller_block_view');
$seller = $seller->getCurrentSeller();
?>
<div class="row topsellerheader">
	<div class="col-xs-0 col-md-4 sell_head">
		<div class="block_seller">		
		</div>
	</div>
	<div class="col-sm-6 col-md-4 sell_head">
	    <div class="block_seller"><br/>
	       <div class="sellerlogo">

                 <img src="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA);?>/tribe/sellers/images<?php echo $seller->getSellerProfilePic(); ?>" id="seller_profile_pic_image" title="<?php echo $seller->getSellerProfilePic(); ?>" alt="<?php echo $seller->getSellerProfilePic(); ?>"><br>

                <p style="letter-spacing: 0.2em"><strong><?php echo $seller->getSellerStoreName(); ?></strong></p>
               </div>
            </div>
	</div>
	<div class="col-sm-6 col-md-4 sell_head">
		<div class="block_seller">
			<div class="open open_hours">
				<p><i class="fa fa-clock-o" aria-hidden="true"></i>  OPENING HOURS:<?php echo $seller->getSellerOpeningHours();?></p>
			</div>
			<div class="open open_address">
				<p><i class="fa fa-map-marker" aria-hidden="true"></i>  <?php echo $seller->getSellerCity();echo $seller->getSellerState();?></p>
				
			</div>
		</div>
	</div>
  <div class="clearfix"></div>
</div>

<br>
<div class="container clearer">
	<div class="actions category_header">
	    <a href="<?php echo $this->getUrl('#'); ?>" class="btn active category" title="Category"><span>&nbsp;Category</span></a>
	    <!--<a href="{{store url='ecociate-about-page'}}" class="btn about"><span>&nbsp;about</span></a>-->
	    <a href="javascript:void(0)" class="btn about" title="about" data-toggle="collapse" data-target="#about_t" name="about"><span>&nbsp;about</span></a>
	    <a href="javascript:void(0)" class="btn policies" title="policies" data-toggle="collapse" data-target="#policies_s" name="policies"><span>&nbsp;policies</span></a>
	    <a href="<?php echo $this->getUrl('ecociate-direction-page'); ?>" class="btn direction" title="direction"><span>&nbsp;direction</span></a>
	    <a href="<?php echo $this->getUrl('ecociate-review-page'); ?>" class="btn review" title="review"><span>&nbsp;review</span></a>
	</div>
</div>
<div class="tab-content" id="tabs-collapse">
<div id="about_t" class="collapse" style="font-size:17px">
<div class="container"><br/>
<?php echo $seller->getSellerAbout(); ?>
</div>
</div>
<div id="policies_s" class="collapse" style="font-size:17px">
<div class="container"><br/>
<?php echo $seller->getSellerPolicies(); ?>
</div>
</div>
</div>
<style type="text/css">
i.fa{
	font-size: 18px;
	margin: 0 5px;
}
.block_seller .open{
    height: 44px;
    background: #fff;
    color: #000;
    border-radius: 7px;
    padding: 10px;
    margin: 8% 6% 0 0;
}
.block_seller .open.open_address{
	margin: 5% 6% 0 0;
}
/*.col-sm-4.sell_head{
	height: 172px;
}*/
.topsellerheader{
	/*height: 172px;
	background: #ddd;*/
        background:url('<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA)?>/tribe/sellers/images/p/t/Banner.jpg') no-repeat center center / auto auto;

}
	.actions.category_header{
		float: left;
	}
	.actions.category_header a {
	    border: 1px solid #ddd;
	    padding-left: 30px;
	    padding-right: 30px;
	    border-radius: 19px;
	    margin-left: 4px;
	}
		.actions.category_header a.btn.active.category{
				color: #fff;
				background: #000;
	}
		.actions.category_header a span{
			text-transform: uppercase;
			font-weight: 600;
			font-size: 12px;
	}
	.actions.category_header a.btn.review
	{
		color: #db940b;
	}

</style>
<!--script>
$('#myTabs a').click(function (e) {
  e.preventDefault()
  $(this).tab('show')
})
//$('#myTabs a[href="#profile"]').tab('show') // Select tab by name
$('#myTabs a:about').tab('show') // Select first tab
$('#myTabs a:policies').tab('show') // Select last tab
</script-->