<?php $_product = $this->getProduct(); ?>
<?php $buttonTitle = $this->__('Add to Cart'); ?>
<?php if($_product->isSaleable()): ?>
    <div class="add-to-cart">
        <?php if(!$_product->isGrouped()): ?>
        <div class="qty-holder">
        <label for="qty"><?php echo $this->__('Qty :') ?></label>
            <div class="qty-changer">
                <!-- <a href="javascript:void(0)" class="qty_inc"><i class="icon-up-dir"></i></a> -->
                 <a href="javascript:void(0)" class="qty_dec"><i class="fa fa-minus"></i></a>
<input type="text" name="qty" id="qty" maxlength="12" value="<?php echo $this->getProductDefaultQty() * 1 ?>" title="<?php echo $this->__('Qty') ?>" class="input-text qty" />
                <!-- <a href="javascript:void(0)" class="qty_dec"><i class="icon-down-dir"></i></a> -->
                 <a href="javascript:void(0)" class="qty_inc"><i class="fa fa-plus"></i></a>
            </div>
        </div>
        <?php endif; ?>
        <button type="button" title="<?php echo $buttonTitle ?>" class="singlebutton" onclick="productAddToCartForm.submit(this)"><!-- <i class="icon-cart"></i> --> <?php echo $buttonTitle ?></button>
        <span id='ajax_loader' style='display:none'><i class="ajax-loader small animate-spin"></i></span>
		<?php echo $this->getChildHtml('', true, true) ?>
    </div>
<?php endif; ?>
