<?php $_order = $this->getOrder(); ?>
<h1><?php echo $this->__('Order #%s', $_order->getRealOrderId()) ?></h1>
<p class="order-date"><?php echo $this->__('Order Date: %s', $this->formatDate($_order->getCreatedAtStoreDate(), 'long')) ?></p>
<div class="col2-set">
    <?php if (!$_order->getIsVirtual()): ?>
    <div class="col-1">
        <h2><?php echo $this->__('Shipping Address') ?></h2>
        <address><?php echo $_order->getShippingAddress()->format('html') ?></address>
    </div>
    <div class="col-2">
    <?php else: ?>
    <div class="col-1">
    <?php endif; ?>
        <h2><?php echo $this->__('Billing Address') ?></h2>
        <address><?php echo $_order->getBillingAddress()->format('html') ?></address>
    </div>
    <div style="clear:both;"></div>
<?php if (!$_order->getIsVirtual()): ?>
</div>
<div style="clear:both;"></div>
<div class="col2-set">
    <div class="col-1">
        <h2><?php echo $this->__('Shipping Method') ?></h2>
         <?php echo $this->escapeHtml($_order->getShippingDescription()) ?>
    </div>
<?php endif; ?>
    <div class="col-2">
        <h2><?php echo $this->__('Payment Method') ?></h2>
        <?php echo $this->getPaymentInfoHtml() ?>
    </div>
    <div style="clear:both;"></div>
</div>
<div style="clear:both;"></div>
<h2><?php echo $this->__('Items Ordered') ?></h2>
<table class="data-table table-bodered tables" id="my-orders-table">
    <col width="50%"/>
    <col width="1" />
    <col width="1" />
    <col width="1" />
    <col width="1" />
    <thead>
        <tr>
            <th><?php echo $this->__('Product Name') ?></th>
            <th><?php echo $this->__('SKU') ?></th>
            <th class="a-right"><?php echo $this->__('Price') ?></th>
            <th class="a-center"><?php echo $this->__('Qty') ?></th>
            <th class="a-right"><?php echo $this->__('Subtotal') ?></th>
        </tr>
    </thead>
    <tfoot>
        <?php echo $this->getChildHtml('order_totals') ?>
    </tfoot>
    <?php $_items = $_order->getItemsCollection(); ?>
    <?php $_count = $_items->count(); ?>
    <?php foreach ($_items as $_item): ?>
    <?php if ($_item->getParentItem()) continue; ?>
    <tbody>
        <?php echo $this->getItemHtml($_item) ?>
    </tbody>
        <?php endforeach; ?>
</table>
<script type="text/javascript">decorateTable('my-orders-table', {'tbody' : ['odd', 'even'], 'tbody tr' : ['first', 'last']})</script>
<script type="text/javascript">window.print();</script>


<style>
    body{margin: 0;}
    .page-print.sales-order-print > div {
        padding: 0 50px;
    }
    .print-head {
        background: #6abc39 none repeat scroll 0 0;
        padding: 15px;
        text-align: center;
    }
    .col-1 {
        float: left;
        width: 50%;
    }
    .tables tbody tr td {
        padding: 12px 6px;
    }
    .col-2 {
        float: left;
        width: 50%;
    }
    .col2-set {
        margin-bottom: 30px;
    }
    .tables {
        overflow-x: auto;
        width: 100%;
    }
    .tables thead tr {
        border-bottom: 1px solid #d9d9d9;
    }
    .table-bodered thead tr th {
        border: 1px solid #d9d9d9;
    }
    .tables tbody tr {
        border-bottom: 1px solid #d9d9d9;
    }
    .tables tfoot tr {
        border-bottom: 0 solid #d9d9d9;
    }
    .table-bodered tfoot tr td,.table-bodered tbody tr td {
        border: 1px solid #d9d9d9;
    }
    .tables tfoot tr td,.tables tbody tr td{
        padding: 12px 6px;
    }
    table {
        border-collapse: collapse;
        border-spacing: 0;
    }
    button[title="Close Window"]{
        display:none;
    }
</style>
