<?php echo $this->getFormInitScripts() ?>
<div class="content-header">
    <?php echo $this->getHeaderHtml() ?>
    <p class="form-buttons"><?php echo $this->getButtonsHtml('header') ?></p>
</div>
<form action="<?php echo $this->getSaveUrl() ?>" method="post" id="arc_edit_form" enctype="multipart/form-data">
    <?php echo $this->getBlockHtml('formkey') ?>
    <div style="display:none"></div>
</form>
<?php if ($this->hasFooterButtons()): ?>
    <div class="content-footer">
        <p class="form-buttons"><?php echo $this->getButtonsHtml('footer') ?></p>
    </div>
<?php endif; ?>
<script type="text/javascript">
    arc_edit_form = new varienForm('arc_edit_form', '<?php echo $this->getValidationUrl() ?>');
    Event.observe(window, 'load', function () {
        var objName = '<?php echo $this->getSelectedTabId() ?>';
        if (objName) {
            obj = $(objName);
            //IE fix (bubbling event model)
            profile_info_tabsJsTabs.setSkipDisplayFirstTab();
            profile_info_tabsJsTabs.showTabContent(obj);
        }
        Product.AttributesBridge.setTabsObject(profile_info_tabsJsTabs);
    });
     jQuery(function(){
       jQuery('#trcr_customer_list').parent('td').parent('tr').hide(); 
    });
</script>
<?php echo $this->getFormScripts() ?>