<?php echo $this->getFormInitScripts() ?>
<div class="content-header">
    <?php echo $this->getHeaderHtml() ?>
    <p class="form-buttons"><?php echo $this->getButtonsHtml('header') ?></p>
</div>
<?php echo $this->getFormHtml() ?>
<?php if ($this->hasFooterButtons()): ?>
    <div class="content-footer">
        <p class="form-buttons"><?php echo $this->getButtonsHtml('footer') ?></p>
    </div>
<?php endif; ?>
<script type="text/javascript">
    var manageBridgeForm = {
        validation: new varienForm('manage_bridge_form'),
        submit: function () {
            if (this.validation.validate()) {
                new Ajax.Request('<?php echo $this->getSaveUrl() ?>', {
                    method: 'post',
                    parameters: $('manage_bridge_form').serialize(),
                    onSuccess: function (transport) {
                        location.reload();
                    },
                    onFailure: function () {
                        alert('Something went wrong...');
                    }
                });
                return false;
            }
        }
    }
</script>
<?php echo $this->getFormScripts() ?>
