<?php echo $this->getChildHtml('sticky.nav') ?>
<?php
$store = Mage::app()->getStore();
$code = $store->getCode();
$custom_block = Mage::getStoreConfig('porto_settings/header/static_block', $code);
?>
<div class="header-container type1">
    <div class="header container">
        <span class="bars-icon fa fa-bars pull-left" onclick="openNav()"></span>
        <?php if ($this->getIsHomePage()): ?>
            <h1 class="logo"><strong><?php echo $this->getLogoAlt(); ?></strong><a href="<?php echo $this->getUrl(''); ?>"  title="<?php echo $this->getLogoAlt(); ?>" class="logo"><img src="<?php echo $this->getLogoSrc(); ?>" alt="<?php echo $this->getLogoAlt(); ?>" /></a></h1>
        <?php else: ?>
            <a href="<?php echo $this->getUrl(''); ?>" title="<?php echo $this->getLogoAlt(); ?>" class="logo"><strong><?php echo $this->getLogoAlt(); ?></strong><img src="<?php echo $this->getLogoSrc(); ?>" alt="<?php echo $this->getLogoAlt(); ?>" /></a>
        <?php endif; ?>
        <?php echo $this->getChildHtml('topMenu') ?>

        <!-- div class="search-area">
          <a href="javascript:void(0);" class="search-icon fa fa-search"></a>
        <?php echo $this->getChildHtml('topSearch'); ?>
             <div class="clearfix"></div>
        </div --> 

        <?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('top_left_link')->toHtml(); ?>

        <div class="header-right-area">
            <div>
                <div class="top-links-area">
                    <div class="top-links-icon">
                        <a href="javascript:void(0)"><i class="fa fa-bars"></i></a>
                    </div>
                    <?php echo $this->getChildHtml('topLinks'); ?>
                </div>
<!--<div class="menu-icon"><a href="javascript:void(0)" title="<?php echo $this->__('Menu'); ?>"><i class="fa fa-bars"></i></a></div> -->
            </div>
            <div>
                <div class="clearfix"></div>
                <?php //echo $this->getChildHtml('store_currency'); ?>
                <?php echo $this->getChildHtml('store_language'); ?>
                <?php //echo $this->getChildHtml('compare_link'); ?>
                <?php //echo $this->getChildHtml('minicart'); ?>
            </div>
        </div>
    </div>
    <?php echo $this->getChildHtml('mobile.nav') ?>
</div>

<!--  ******* search bar ******* -->
<div class="search-area">
    <a href="javascript:void(0);" class="search-icon fa fa-search"></a>
    <?php echo $this->getChildHtml('topSearch'); ?>
    <div class="clearfix"></div>
</div> 

<!--   ******** side bar  *******  -->

<div id="mySidenav" class="my-sidenav">
    <div class="navpinContainer relPostn">
        <?php
        $customerpin = Mage::helper('tribeseller')->getCurrentZipInUse();
        ?>
        <a class='anc fancybox.ajax map-marker' href='<?php echo $this->getUrl('tribeseller/sellerspage/search'); ?>'  title='<?php echo $customerpin; ?>'>
      <i class="fa fa-map-marker"></i>
      <span class="nav-menu"><?php echo $customerpin; ?></span>
<span>(Change ZIP)</span>
</a>
  
   <!-- <span class="closebtn absPostn" onclick="closeNav()"><i class="fa fa-arrow-left"></i></span>-->
</div>
    <div class="clearfix"></div>
    <ul class="ulSideNav">
        <!-- Here code added by Tanmaya for all dynamic links-->
        <?php echo $this->getLayout()->getBlock('top.links')->setTemplate('page/template/left-top-links.phtml')->toHtml(); ?>
    </ul>
</div>

<script type="text/javascript">
               jQuery(function($){
           		    $(window).scrollTop(0);
                    $(".block-layered-nav dd").hover(function(){
                            $(".block-layered-nav dt").removeClass('dtact').not($(this).prev("dt").addClass('dtact'));
                    },
                       function(){
                            $(".block-layered-nav dt").removeClass('dtact');
                       });
                });



    function openNav() {
        document.getElementById("mySidenav").style.width = "250px";
    }

    function closeNav() {
        document.getElementById("mySidenav").style.width = "0";
    }
    jQuery(document).click(function (event) {
        if (!jQuery(event.target).closest('#mySidenav').length) {
            if (jQuery('#mySidenav').width() > 0) {
                closeNav();
            }
        }
    }); 
</script>