<?php $_product = $this->getProduct();
$qty_chosen =0;
if($_product->getTypeId()=='configurable'){
    $childProducts = Mage::getModel('catalog/product_type_configurable')->getUsedProducts(null,$_product);
     foreach($childProducts as $k=>$v){
         $entity_id[] = $v->getData('entity_id');
     }
     $simple_product_id = $entity_id[0];
     $simple_product = Mage::getModel('catalog/product')->load($simple_product_id);
     $qty_chosen = Mage::app()->getRequest()->getParam('qty');
}
if($qty_chosen){
    $qty  = $qty_chosen;
}else{
    $qty  = $this->getProductDefaultQty();
}
?>
<?php $buttonTitle = $this->__('Add to Cart'); ?>
<?php if ($_product->isSaleable()): ?>
    <div class="add-to-cart col-sm-6 col-xs-8">
        <?php if (!$_product->isGrouped()): ?>
            <div class="qty-holder">
                <label for="qty"><?php echo $this->__('Qty :'); ?></label>
                <div class="qty-changer">
                    <!-- <a href="javascript:void(0)" class="qty_inc"><i class="icon-up-dir"></i></a> -->
                    <a href="javascript:void(0)" class="qty_dec"><i class="fa fa-minus"></i></a>
                    <input type="text" name="qty" id="qty" maxlength="12" value="<?php echo $qty * 1 ?>" title="<?php echo $this->__('Qty') ?>" class="input-text qty" />
                                    <!-- <a href="javascript:void(0)" class="qty_dec"><i class="icon-down-dir"></i></a> -->
                    <a href="javascript:void(0)" class="qty_inc"><i class="fa fa-plus"></i></a>
                </div>
            </div>
        <?php endif; ?>
        <button type="button" title="<?php echo $buttonTitle ?>" class="singlebutton" onclick="productAddToCartForm.submit(this)"><i class="icon-cart"></i> <?php echo $buttonTitle ?></button>
        <span id='ajax_loader' style='display:none'><i class="ajax-loader small animate-spin"></i></span>
        <?php echo $this->getChildHtml('', true, true) ?>
    </div>
<?php endif; ?>
<div class="sold-by-container col-sm-6 col-xs-4">
    <?php
    $sellerid = Mage::app()->getRequest()->getParam('s');
    $assfound = false;
    if($simple_product_id)
     $sellerinf = Mage::helper('tribeseller')->getCurrentProductSeller($simple_product, $sellerid,FALSE, 'configurable');//FALSE,
   else
    $sellerinf = Mage::helper('tribeseller')->getCurrentProductSeller($_product, $sellerid);
    $seller = $sellerinf[1];
    $active_seller_id = $seller->getId();
    $starsettings = intval(Mage::getStoreConfig('tribecoresettings/seller_starrating_settings/tribe_seller_star_rating_no'));
    $nostars = ($starsettings) ? $starsettings : 5;
    $starsize = intval(Mage::getStoreConfig('tribecoresettings/seller_starrating_settings/tribe_seller_star_size'));
    $starsize = ($starsize) ? $starsize : 15;
    ?>
    <h3>SOLD BY</h3>
    <div><p><?php echo $seller->getSellerStoreName() ?></p></div>
    <div id="current_product_seller-<?php echo $seller->getId() ?>" class="currentproductseller"></div>
    <script type="text/javascript">
        //<![CDATA[
        jQuery(function ($) {
            
            
            $("#current_product_seller-<?php echo $seller->getId() ?>").rateYo({
                starWidth: "<?php echo $starsize; ?>px",
                readOnly: true,
                rating: <?php echo $seller->getSellerAvgRating(); ?>,
                spacing: "5px",
                numStars: <?php echo $nostars; ?>,
                multiColor: {
                    "startColor": "#FFC600", //RED
                    "endColor": "#FFC600"
                },
                halfStar: true
            });
            var othslrlnght = $('table.sellers-table-grid tr:last').index() + 1;
            if (othslrlnght == 1 && $("#seller_" +<?php echo $active_seller_id; ?>).length) {
                $("#sellers-table-grid").remove();
            } else {
                $("#seller_" +<?php echo $active_seller_id; ?>).remove();
            }
        });
        //]]>
    </script>
</div>
<div class="clearfix"></div>
<?php 
$_compareUrl = $this->helper('catalog/product_compare')->getAddUrl($_product);
if ($this->canEmailToFriend()): ?>
    <p class="email-friend">
        <a href="<?php echo $this->helper('catalog/product')->getEmailToFriendUrl($_product) ?>" style="display:none;"><i class="fa fa-envelope" aria-hidden="true"></i>&nbsp;&nbsp;<span><?php echo $this->__('Email to a Friend') ?></span></a>
        <a class="addtocompareLink" onclick="ajaxCompare(this,'<?php echo $_compareUrl?>','<?php echo $_product->getId()?>'); return false;" href="javascript:void(0)"><img src="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_SKIN).'/frontend/fedobe/ecociate/images/Companre_icon.svg';?>" alt="" width="34" /></a>
        <a href="<?php echo $this->helper('wishlist')->getAddUrl($_product) ?>" class="link-wishlist">
            <img src="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_SKIN).'/frontend/fedobe/ecociate/images/Wishlist.svg';?>" alt="" width="34" />
        </a>   
        <!--a href="https://www.facebook.com/sharer/sharer.php?u=<?php //echo $encoded_url; ?>"></a-->
        <a href="javascript:void(0);" target="_blank" class="fbShare">
            <img src=<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_SKIN).'/frontend/fedobe/ecociate/images/FB.svg';?> alt="" width="34" />
        </a>
         <a class="twitter-share-button twtShare" href="javascript:void(0);" target="_blank" style="top:0px;">
            <img src=<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_SKIN).'/frontend/fedobe/ecociate/images/twit.svg';?> alt="" width="34" />
        </a>

    </p>
<?php endif; ?>

<style>
    .email-friend > a{margin-right: 20px;display:inline-block;vertical-align:middle;}
    .email-friend > a .fa.fa-envelope{color: #000000;}
    /*.email-friend > a .fa.fa-exchange{color: #de750a;}*/
    .email-friend > a .fa.fa-heart{color: #ff0000;}
    .email-friend > a .fa.fa-facebook-official{color: #3B5998;}
    .in-stock > span{color: #de750a;font-weight: bold !important;}
    .addtocompareLink{
        background: #D8D9D8;
        padding: 12px 18px;
        border-radius: 50%;
        -o-border-radius: 50%;
        -ms-border-radius: 50%;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        color:#ffffff !important;
        font-weight: bold;
        font-size: 20px;
    }

</style>
<script type='text/javascript'>
  jQuery(document).ready(function(){
      
      //bhagayshree
      jQuery('.twitter-share-button').attr('href','https://twitter.com/intent/tweet?url='+window.location.href);
      jQuery('.fbShare').attr('href','https://www.facebook.com/sharer/sharer.php?u='+window.location.href);
      //bhagyashree
      
//jQuery(".singlebutton").on("click", function() {
 //        jQuery('#success-message-container').removeAttr('style').fadeOut(20000);
 //       });
 var prod_type = '<?php echo $_product->getTypeId();?>'
 if(prod_type == 'configurable'){
      if(jQuery('.config1').hasClass('out-of-stock')){
          jQuery('.add-to-cart').hide();
      }else{
          jQuery('.add-to-cart').show();
      }
 }else{
     if(jQuery('.availability').hasClass('out-of-stock')){
          jQuery('.add-to-cart').hide();
      }else{
          jQuery('.add-to-cart').show();
      }
      }
});  
</script>