.tribecore-header-wrapper{
    border-bottom:1px solid #f2f2f2;
    padding-top:40px;
    padding-bottom:40px; 
}
.tribecore-headertab-wrapper{
border-bottom:1px solid #f2f2f2;
}
.tribeprofilepic img{
    border-radius: 50%;
}
/*.tribeprofileinfo{
    margin-left:40px;
}*/
.tribeprofilename{
    color: #000000 !important;
    font-size: 25px;
    text-decoration: none !important;
    text-transform: uppercase;
    font-weight: bold;
}
/*.tribeprofileinfo{
text-align: left;
max-width:70%;
}*/
.tribefollowbtn {
    background-color: #000000;
    color: #ffffff !important;
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 0.15em;
    margin-left: 30px;
    min-width: 100px;
    padding: 10px;
    text-align: center;
    text-decoration: none !important;
    text-transform: uppercase;
}
.tribefollowbtn:hover{
    opacity:0.7;
}
.tribefollers{
    color: #73bf03;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 1px;
    text-align: left;
}
.tribeprofilebio{
margin-top:15px;
text-align: left;
color:#000000;
font-size:14px;
}
.tribebadge-wrapper{
margin-top:15px;
}
.tribebadge-wrapper ul li{
float:left;
margin-left:10px;
}
.tribe-tabs li{
display:inline-block;
padding:0 10px;
margin:10px 0;
text-transform:uppercase;
border-right:1px solid #000000;
}
.tribe-tabs li:last-of-type{border-right:0px transparent !important}
/*.tribe-pipe{
border-right:1px solid #000000;
margin-left:15px
}*/

.tribebadge-wrapper ul li:first-child{
margin-left:0 !important;
}
.tribe-badge-btn{
    color: #ffffff !important;
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 0.15em;
    min-width: 100px;
    padding: 10px;
    text-align: center;
    border-radius:13px;
}
.btnblue{
background-color:#0791BF;
}
.btngreen{
background-color:#73BF03;
}
.tribe-header{
text-align:left;
}