<?php
$channel_data = Mage::registry('incomingchannel_data');
$model = Mage::registry('incomingchannel_data');
$data = $model->getData();
$souq_condition = unserialize($data['souq_condition']);
$attr_id = ($souq_condition[1]['souq_condition_attrfilter'][0]['attr_id']) ? $souq_condition[1]['souq_condition_attrfilter'][0]['attr_id'] : "";
$attr_value = ($souq_condition[1]['souq_condition_attrfilter'][0]['attr_value']) ? $souq_condition[1]['souq_condition_attrfilter'][0]['attr_value'] : "";
?>
<!--Attribute set add more template-->

<tr>
    <td class="label">Attribute Filter</td>
    <td class="value">
        <div>
            <span style="margin-left: 45px;font: 16">Attribute</span>
            <span style="margin-left: 100px;font: 16">Value</span>
        </div>
    </td>
</tr>
<tr>    
    <td class="label"></td>
    <td class="addmore_value">
        <div class="addmore_div">
            <span class="addmore_span attr_id_span" id="attr_id_0">
                <select class="addmore_attr_id_cls souq-condition-params-addmore" title="Attribute id" name="souq_condition_attrfilter[0][attr_id]" >
                    <option value="0">Select</option>
                </select>
            </span>
            <span class="addmore_span attr_id_value_span" id="attr_val_0">
                <select class="addmore_attr_value_cls souq-condition-params-addmore" title="Attribute value" name="souq_condition_attrfilter[0][attr_value]" >
                    <option value="0">Select</option>
                </select>
            </span>
            <span class="addmore_btn_span">
                <input type="button" value="+" class="form-button addmore"/>
            </span>
        </div>
    </td>
</tr>

<!--end-->
<script type="text/javascript">
    //Remove Addmore dropdown for Attribute id and value 
    function removeAddmoreSelectBox() {
        $j('.removebutton_cls').each(function (index) {
            $j(this).closest('.addmore_div').remove();
        });
        $j("#attr_val_0").html('<select class="addmore_attr_value_cls souq-condition-params-addmore" title="Attribute value" name="souq_condition_attrfilter[0][attr_value]" ><option value="0">Select</option></select>');
    }
    //Add more dropdown of attribute id and attribute value of brand attribute 

    var j = 1;
    $j('div.addmore_div').find('span.addmore_btn_span:last .addmore').on('click', function () {
        var selected_brand_value = "";
        $j('.addmore_attr_id_cls').each(function (index) {
            if (index == 0) {//for brand dropdown 
                selected_attr_id = $j(this).val();
            } else {
                selected_attr_id += ',' + $j(this).val();
            }
        });
        var url = '<?php echo $this->getUrl('adminhtml/souq/getRestBrandAttrIdValue'); ?>';
        var category_id = $j("#product_types").val();
        var no_of_attrid_dropdown = $j('.addmore_attr_id_cls').length;
        var category_name = $j("#product_types option:selected").text();
        $j("#loading-mask").show();
        $j.post(url, {form_key: "<?php echo Mage::getSingleton('core/session')->getFormKey() ?>", categoryid: category_id, category_name: category_name, selected_attr_id: selected_attr_id, no_of_attrid_dropdown: no_of_attrid_dropdown}, function (response) {
            $j('.addmore_div:first').before(response);
            $j("#loading-mask").hide();
        });
    })
    //End of Add more dropdown of attribute id and attribute value of brand attribute 

    //For getting the all Attribute id of the given categoryid
    $j("#product_types").change(function () {
        var url = '<?php echo $this->getUrl('adminhtml/souq/getBrandAttrId'); ?>';
        var category_id = $j("#product_types").val();
        var category_name = $j("#product_types option:selected").text();
        var attr_id = "<?php echo $attr_id; ?>";//first addmore attr_id value for selecting attr_id in edit case
        $j("#loading-mask").show();
        $j.post(url, {form_key: "<?php echo Mage::getSingleton('core/session')->getFormKey() ?>", categoryid: category_id, category_name: category_name, attr_id: attr_id}, function (response) {
            if (response) {
                removeAddmoreSelectBox();
                $j('.attr_id_span').html(response);
                $j('.addmore_attr_id_cls').trigger("change");//for getting attribute value after loading attributeid
            }
            $j("#loading-mask").hide();
        });
    });
    //End of getting the all Attribute id of the given categoryid

    //Trigger souq category change
    $j("#product_types").trigger("change");
    //End of Trigger souq category change

//Get Souq attribute value of a given category_id and attribute_Id from bridge_souqbrand table
    $j(document).on('change', '.addmore_attr_id_cls', function () {
        //$j(".addmore_attr_id_cls").change(function () {//this not working
        $j('#condition_changed').val('1');//Setting 1 When attribute filter conditon changed
        var url = '<?php echo $this->getUrl('adminhtml/souq/getBrandAttrIdValue'); ?>';
        var category_id = $j("#product_types").val();
        var attr_id = $j(this).val();
        var attr_value = "<?php echo $attr_value; ?>";//first addmore attr_id_value  for selecting attr_value in edit case
        var category_name = $j("#product_types option:selected").text();
        var attr_val_id = $j(this).parent().next().prop('id');
        var temp = attr_val_id.split("_");
        var position_dropdown = temp[2];
        $j("#loading-mask").show();
        $j.post(url, {form_key: "<?php echo Mage::getSingleton('core/session')->getFormKey() ?>",attr_value: attr_value, categoryid: category_id, attr_id: attr_id, category_name: category_name, position_dropdown: position_dropdown}, function (response) {
            if (response) {
                //$j('.attr_id_value_span').html(response);
                //alert($j(this).parent().next().prop('id'););
                $j('#' + attr_val_id).html(response);
            }
            $j("#loading-mask").hide();
        });

    });
//End of Getting Souq attribute value of a given category_id and attribute_Id from bridge_souqbrand table
////Trigger for souq attr_id change 
    $j(document).ready(function () {
        setTimeout(function () {
            $j('.addmore_attr_id_cls').trigger("change");
        }, 3000);
    });
//end
//    var categoryid = "<?php //echo $souq_condition[1]['product_types'];      ?>";
//    alert(categoryid);
</script>
<style type="text/css">
    .addmore_value{padding-right: 5px !important;width: 365px;}
    .addmore_attribute_value_cls{margin-left: 4px;}
    .addmore_cls{margin-left: 4px;}
</style>