<script>
    $j(function () {
  /*       var attr_cnt = 2;
        var opt_attrset='<option value="">Select</option>';
        var opt_attrsetopt='<option value="">Select</option>';
        var opt_image='<option value="">Select</option>';
<?php
//$attribute_set = Mage::getModel('bridge/incomingchannels')->getAttributeSetList();
//$attribute_set_opt = Mage::getModel('bridge/incomingchannels')->getAttributeOpt('manufacturer');
//foreach($attribute_set as $k=>$v){?>
    opt_attrset=opt_attrset+'<option value="<?php //echo $k?>"><?php //echo $v;?></option>';
<?php //}
//foreach($attribute_set_opt as $k2=>$v2){?>
    opt_attrsetopt=opt_attrsetopt+'<option value="<?php //echo $k2;?>"><?php //echo $v2;?></option>';
<?php //}
//for($i=1;$i<=20;$i++) {?>
       opt_image = opt_image+'<option value="<?php //echo $i;?>"><?php //echo $i;?></option>';
    
<?php //}
?>
        $j('.addmor').on('click',function(){//alert(1);
            var htm= '<table cellspacing="0"><tr><td class="label">Attribute Set</td>\n\
<td class="value"><select style="width: 180px" class="searchindex" name="souq_condition['+attr_cnt+'][searchindex]">'+opt_attrset+'</select></td></tr>\n\
<tr><td class="label">Manufacturer</td><td class="value"><select style="width: 180px" class="manufacturer" name="souq_condition['+attr_cnt+'][manufacturer]">'+opt_attrsetopt+'</select></td></tr>\n\
<tr><td class="label">Itempage</td><td class="value"><select style="width: 180px" class="itempage" name="souq_condition['+attr_cnt+'][itempage]">'+opt_image+'</select><button title="Remove" type="button" class="scalable delete" onclick="$j(this).closest(\'table\').remove();" style=""><span><span><span>Remove</span></span></span></button></td></tr>\n\
</table>';
            $j('#incomingchannels_condition_section_content').find('.form-list').append(htm);
            attr_cnt = attr_cnt+1;
        });*/
        <?php /* $channel_data = Mage::registry('incomingchannel_data'); 
                if(!empty($channel_data['souq_condition']) && !empty($channel_data['id'])){
                    $channel_data['souq_condition'] = unserialize($channel_data['souq_condition']);
                    $arr_k = array_keys($channel_data['souq_condition']);
                    $key = end($arr_k);
                    foreach($channel_data['souq_condition'] as $k1=>$v1){ ?>
                            $j('#tblcond').find('tr:last').find('.searchindex').val('<?php echo $v1['searchindex']?>').attr('selected','selected');
                            $j('#tblcond').find('tr:last').find('.manufacturer').val('<?php echo $v1['manufacturer']?>').attr('selected','selected');
                            $j('#tblcond').find('tr:last').find('.itempage').val('<?php echo @$v1['itempage']?>').attr('selected','selected');
                        
                           <?php if($k1!=$key) { ?>
                                $j('.addmor').trigger('click');
                           <?php } ?>
                        
           <?php         }
                }*/
        ?>        
       Validation.add('max-price', 'Maximum price can not be less than minimum price', function (v) {
        ret = false;
        var max = parseInt($j('.max-price').val());
        var min = parseInt($j('.min-price').val());
        if(max && min){
            if(max>min){
            ret = true;
            }  
        }else{
            ret = true;
        }//alert(ret);
        return ret;
    });
    });
    
</script>
