<?php
$dwn_arr = Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_SKIN) . 'adminhtml/default/default/images/entry_edit_head_arrow_down.gif';
$up_arr = Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_SKIN) . 'adminhtml/default/default/images/entry_edit_head_arrow_up.gif';
?>
<script>
    $j(function () {
        //for redirect to same tab
        $j("#incomingchannels").find("li").find("a").each(function () {
            $j(this).bind("click", function () {
                $j("#incomingchannel_tab_name").val($j(this).attr("name"));
            });
        });

        // for blur effect to related product
        $j("label[for=\'incomingchannel_sync_related_product\']").css("color", "#A9A9A9");
        $j("label[for=\'incomingchannel_sync_upsell_product\']").css("color", "#A9A9A9");
        $j("label[for=\'incomingchannel_sync_crossell_product\']").css("color", "#A9A9A9");
        $j("label[for=\'incomingchannel_create_option\']").css("color", "#A9A9A9");
//          $j("label[for=\'incomingchannel_sync_orders\']").css("color","#A9A9A9");
//          $j("label[for=\'incomingchannel_slab\']").css("color","#A9A9A9");
        //$j("label[for=\'incomingchannel_product_info\']").css("color","#A9A9A9");
//          $j("label[for=\'incomingchannel_weightage\']").css("color","#A9A9A9");
//          $j("label[for=\'incomingchannel_content_source\']").css("color","#A9A9A9");
//          $j("label[for=\'incomingchannel_create_new\']").css("color","#A9A9A9");
//          $j("label[for=\'incomingchannel_update_exist\']").css("color","#A9A9A9");
        //$j("label[for=\'incomingchannel_product_pricenquantity\']").css("color","#A9A9A9");
        //$j("label[for=\'incomingchannel_label_channeltype\']").css("color","#A9A9A9");

        // for up arro and don arro image in grid header
//          $j("#incomingchannels_main_section_content").find(".entry-edit-head").append("<span class='dwnarrow'><img src='<?php //echo $dwn_arr;   ?>'/></span>");
//          $j("#incomingchannels_main_section_content").find(".entry-edit-head").append("<span class='uparrow'><img src='<?php //echo $up_arr;   ?>'/></span>");

        // for hand ymbol of mouse
//         $j("#incomingchannels_main_section_content").find(".entry-edit-head").hover(function(){
//            $j(this).css("cursor", "pointer");
//         }); 

        //for clicking on grid header
//        $j("#incomingchannels_main_section_content").find(".entry-edit-head").click(function(){
//            $j(this).next(".fieldset").toggle();
//            $j(this).find(".dwnarrow").toggle();
//            $j(this).find(".uparrow").toggle();
//        });

        //Disabling the cross_sell,related and upsell product on change of product status
        $j("#incomingchannel_product_info").change(function () {
            $j("#incomingchannel_sync_related_product").prop("disabled", "disabled");
            $j("#incomingchannel_sync_upsell_product").prop("disabled", "disabled");
            $j("#incomingchannel_sync_crossell_product").prop("disabled", "disabled");
        });
        //End of disabling the cross_sell,related and upsell product on change of product status

        $j("#incomingchannel_status").change(function () {
            if ($j(this).val() == 0) {
                $j("#incomingchannel_status").closest("td").find("span").remove();
                // $j("#incomingchannel_url").removeClass("required-entry");
                $j("#incomingchannel_key").removeClass("required-entry");
                $j("#incomingchannel_secret").removeClass("required-entry");
                //$j("#incomingchannel_souq_tag_key").removeClass("required-entry");
                //$j("label[for=\'incomingchannel_url\']").find(".required").remove();
                $j("label[for=\'incomingchannel_key\']").find(".required").remove();
                $j("label[for=\'incomingchannel_secret\']").find(".required").remove();
                //$j("label[for=\'incomingchannel_souq_tag_key\']").find(".required").remove();
            } else {
                $j("#incomingchannel_status").closest("td").find("span").remove();
                $j("#incomingchannel_status").closest("td").append("<span style=\'color:black\'>[Channel Setting is required]</span>");
                // $j("#incomingchannel_url").addClass("required-entry");
                $j("#incomingchannel_key").addClass("required-entry");
                $j("#incomingchannel_secret").addClass("required-entry");
                // $j("#incomingchannel_souq_tag_key").addClass("required-entry");
                //$j("label[for=\'incomingchannel_url\']").append("<span class=\'required\'>*</span>");
                $j("label[for=\'incomingchannel_key\']").append("<span class=\'required\'>*</span>");
                $j("label[for=\'incomingchannel_secret\']").append("<span class=\'required\'>*</span>");
                //$j("label[for=\'incomingchannel_souq_tag_key\']").append("<span class=\'required\'>*</span>");
            }
        });
        $j("#incomingchannel_mode").change(function () {
            if ($j("#incomingchannel_mode").val() == "demo") {
                $j("#incomingchannel_product_status").val(2);
                $j("#incomingchannel_product_status").prop("disabled", "disabled");
                $j("#incomingchannel_product_status").addClass('required-entry');
            } else {
                $j("#incomingchannel_product_status").prop("disabled", "");
                $j("#incomingchannel_product_status").addClass('required-entry');
            }

        });
        $j("#incomingchannel_status").trigger("change");
        $j("#incomingchannel_mode").trigger("change");
        $j("#incomingchannel_product_info").trigger("change");//for default disabling cross_sell,related and upsell product on change of product status
        $j('.souq-condition-params').change(function () {
            $j('#condition_changed').val('1');//this is for checking condition is changed or not
        });
    });
    Validation.add('unique-weightage', 'Please enter a unique Weightage.', function (v) {
        ret = false;
        url = "<?php echo $this->getUrl('adminhtml/incomingchannels/weightageunique_validation'); ?>" + "?isAjax=true";
        id = "<?php echo $this->getRequest()->getParam('id'); ?>";
        data = {id: id, weightage: $j("#incomingchannel_weightage").val(), form_key: "<?php echo Mage::getSingleton('core/session')->getFormKey() ?>"};
        $j.ajax({
            type: "POST",
            async: false,
            url: url,
            data: data,
            success: function (res) {
                if (res == 1) {
                    ret = false;
                } else {
                    ret = true;
                }
            }
        });
        return ret;
    });
    function validatForm(type) {
        $j("#loading-mask").show();
        editForm = new varienForm('edit_form', '');
        if (parseInt(type)) {
            store_id =<?php echo ($this->getRequest()->getParam('store')) ? $this->getRequest()->getParam('store') : Mage_Core_Model_App::ADMIN_STORE_ID; ?>;
            url = $j("#edit_form").attr('action') + 'back/edit/store/' + store_id + '/';
        } else {
            url = $j("#edit_form").attr('action');
        }
        res = editForm.submit(url);
        if (!res) {
            $j("#loading-mask").hide();
        }
    }
</script>