<div class="souq-product-wrapper">
    <div class="souq-seee-result-btn">
        <!--<input type="button" class="form-button" value="See Souq Products" onclick="showsouqproducts();"/>-->
        <input type="button" class="form-button" id="form-button-id" value="See Souq Products" />
    </div>
    <div class="souq-products" id="souq-product"></div>
</div>
<style type="text/css">
    .souq-product-wrapper{
        margin-top: 10px;
    }
</style>
<script type="text/javascript">
    jQuery(document).ready(function ($) {
        var form = $("#edit_form");
        var url = '<?php echo $this->getUrl('adminhtml/souq/fetchsouqproducts'); ?>';
        $("#form-button-id").click(function () {
            $("#loading-mask").show();
            $.ajax({
                type: "POST",
                url: url,
                data: form.serialize(),
                success: function (response) {
                    $("#loading-mask").hide();
                    if ($('#souq-products-list').length) {
                        $('#souq-products-list').html(response);
                    }else{
                        $('#actions_fieldset').append(response);
                    }
                    //console.log(response);
                }
            });
        });
    });
    function showsouqproducts() {
        var url = '<?php echo $this->getUrl('adminhtml/souq/fetchsouqproducts'); ?>';
        var key = $('incomingchannel_key').value;
        var secret = $('incomingchannel_secret').value;
        var params = "{" + "\"key\":\"" + key + "\"," + "\"secret\":\"" + secret + "\"";

        $$('.souq-condition-params').each(function (item, index) {
            params += "," + "\"" + $(item).readAttribute('id') + "\":\"" + $(item).value + "\"";
        });

        alert(params);
        return false;
        params += "}";
        new Ajax.Request(url, {
            method: 'post',
            parameters: params.evalJSON(),
            onSuccess: function (transport) {
                var response = transport.responseText;
                
                if ($('souq-products-list')) {
                    $('souq-products-list').replace(response);
                } else {
                    $('actions_fieldset').down().insert({after: response});
                }

            },
            onFailure: function () {
                alert('error');
            }
        });
    }
</script>
