<?php
$category_list = Mage::getmodel('bridge/outgoingchannels')->getCategoriesDetails();
$_element = $this->getElement();
$channel_id=Mage::registry('channel_condition')->getId();
$rule_sets = Mage::getmodel('bridge/outgoingchannels_action')->loadAllByChannelId($channel_id)->getData();
?>

<div class="rule-tree">
    <div class="entry-edit-head">
        <h4 class="icon-head head-edit-form fieldset-legend"><?php echo $_element->getLegend() ?></h4>
    </div>
    <fieldset id="<?php echo $_element->getHtmlId() ?>" <?php echo $_element->serialize(array('class')) ?>>
        <div id="showallrule">
            <?php
            if ($rule_sets) {
                foreach ($rule_sets as $rule_set)
                    echo "<div id={$rule_set['id']}>{$rule_set['conditions_html']}</div>";
            }
            ?>
        </div>
        <form id="ruleform">
            <table cellspacing="0" class="form-list" border="1">
                <tbody>
                    <tr>
                        <td class="label"><label>Type</label></td>
                        <td class="value">
                            <select class=" select" name="type" id="action_type">
                                <option value="increase">Increase</option>
                                <option value="decrease">Decrease</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td class="label"><label for="rule_simple_action">Apply</label></td>
                        <td class="value">
                            <select class="select" name="apply" id="rule_simple_action">
                                <option value="by_percent">Percent of product price</option>
                                <option value="by_fixed">Fixed amount</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td class="label"><label for="rule_discount_amount">Amount<span class="required">*</span></label></td>
                        <td class="value">
                            <input type="text" class="validate-not-negative-number input-text required-entry" value="5" name="amount" id="rule_discount_amount"> 
                        </td>
                    </tr>
                    <tr>
                        <td class="label">Condition</td>
                        <td class="label">
                            <div id="ogcaction">
                                <?php if ($_element->getComment()): ?>
                                    <p class="comment"><?php echo $this->escapeHtml($_element->getComment()) ?></p>
                                <?php endif; ?>
                                <?php echo $_element->getChildrenHtml(); ?>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="label">&nbsp;</td>
                        <td class="label">
                            <a href="javascript:void(0);" id="add_price_rule">Save</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </form>
    </fieldset>
</div>
<script type="text/javascript">
    var cat_object = JSON.parse('<?php echo json_encode($category_list); ?>');
//custom code for fixing the bug for adding two rule on same form
    string_condition = $j("#ogcaction").html();
    string_condition = string_condition.replace(/conditions__/g, 'actions__');
    $j("#ogcaction").html(string_condition);
    
    var <?php echo $_element->getHtmlId() ?> = new VarienRulesForm('<?php echo $_element->getHtmlId() ?>', '<?php echo $this->getNewChildUrl() ?>');
<?php if ($_element->getReadonly()): ?>
    <?php echo $_element->getHtmlId() ?>.setReadonly(true);
<?php endif; ?>
    channel_id = "<?php echo $channel_id; ?>";

    $j(document).ready(function () {
        $j("#ogcaction #actions__1__children li:not(:last)").remove();
        //for product grid
        $j('#ogcaction').on('click', ".checkbox", function () {
            checkd_val = [];
            $j("#ogcaction tbody .checkbox:checked").each(function () {
                checkd_val.push($j(this).val());
            });
            checkd_val = checkd_val.join(",");
            $j("#ogcaction .rule-param-edit .input-text").val(checkd_val);

        });
        //for category list
        $j('#ogcaction').on('click', ".x-tree-node [type='checkbox'],.x-tree-node a", function () {
                checkd_val = [];
                $j("#ogcaction  .l-tcb:checked").each(function () {
                    str = $j(this).closest("div").find("a span").text();
                    str = str.slice(0, str.lastIndexOf('('));
                    str = str.trim(" ");
                    checkd_val.push(cat_object[str]);
                });
                checkd_val = checkd_val.join(",");
                $j("#ogcaction .rule-param-edit .input-text").val(checkd_val);

        });
        //end
        count = 0;
        $j("#add_price_rule").click(function () {
            if (!channel_id) {
                return false;
            }
            $j("#loading-mask").show();
            data = $j("#ruleform").serialize();
            grid_value = $j("#ogcaction .rule-param-edit input").val();
            htmlstr = $j("#ogcaction").html();
            action_type = "Type " + $j("#action_type option:selected").html();
            change_by = "Change By " + $j("#rule_simple_action option:selected").html();
            amount = "Amount " + $j("#rule_discount_amount").val();
            strtoappend = "<table style='border:1px #FACFA7 solid;margin-top:1px;'><tr><td>" + action_type + "<td><td><a href='javascript:void(0);' id='delete_price_rule'>Delete</a></td></tr>\n\
            <tr><td colspan='2'>" + change_by + "<td></tr>\n\
                <tr><td colspan='2'>" + amount + "<td></tr>\n\
                    <tr><td colspan='2'>" + htmlstr + "<td></tr>\n\
    </table>";

//            id = 'rule' + count;
            count++;
            $j("#showallrule").append("<div id='" + id + "'>" + strtoappend + "</div>");
            $j("#showallrule .element").remove();
            $j("#showallrule .rule-param-edit").html('<a class="label" href="javascript:void(0)">' + grid_value + '</a>');
            $j("#showallrule .rule-param-edit").removeClass('rule-param-edit');
            $j("#showallrule .rule-chooser").remove()
            $j("#showallrule input,#showallrule ul").prop('id', '');
            $j("#showallrule .rule-param-remove").closest("span").remove();
            $j("#showallrule .rule-param-add").closest("li").remove();
            $j('#conditions__1__children li').not('li:last').remove();
            $j("#ogcaction .rule-param select").val("");
            $j("#ogcaction .rule-param a").eq(0).html("ALL");
            $j("#ogcaction .rule-param a").eq(1).html("TRUE");
            $j("#rule_simple_action").val("");
            $j("#rule_discount_amount").val(5);
            added_html = $j("#showallrule div:last").html();
            url = "<?php echo $this->getUrl('adminhtml/outgoingchannels/ajax_addrule'); ?>" + "?isAjax=true";
            $j.post(url, {rule: data, form_key: "<?php echo Mage::getSingleton('core/session')->getFormKey() ?>", conditions_html: added_html, channel_id: channel_id}, function (res) {
                $j("#showallrule div:last").prop('id', res)
                $j("#ogcaction #actions__1__children li:not(:last)").remove();
                $j("#loading-mask").hide();
            });
        });
    });

    //delete the price rules
    $j(document).on('click', '#delete_price_rule', function () {
        if (confirm("Are you sure to delete this rule?")) {
            delete_id = $j(this).closest('div').prop('id');
            url = "<?php echo $this->getUrl('adminhtml/outgoingchannels/ajax_deleterule'); ?>" + "?isAjax=true";
            $j("#loading-mask").show();
            $j.post(url, {form_key: "<?php echo Mage::getSingleton('core/session')->getFormKey() ?>", id: delete_id}, function () {
                $j("#showallrule").find('div#' + delete_id).remove();
                $j("#loading-mask").hide();

            });
        }
    });
</script>
