<?php
$allow_edit = false;
$show_sku_box = true;
if (Mage::getmodel('bridge/outgoingchannels')->isAdminstrator(Mage::getSingleton('admin/Session')->getUser()->getUserId())) {
    $allow_edit = true;
} else {
    $channel_condition = @Mage::registry('channel_condition') ? Mage::registry('channel_condition') : Mage::getmodel('bridge/outgoingchannels');
    $default_settings = @Mage::registry('default_settings') ? Mage::registry('default_settings') : array();
    if ($channel_condition->getId()) {
        if ($channel_condition->getAllowCondition() == "allow_editing") {
            $allow_edit = true;
            if ($channel_condition->getFilterBy() == 'condition')
                $show_sku_box = false;
        }
    }else if ($default_settings['ogc_allow_conditiontab'] == "allow_editing")
        $allow_edit = true;
}
?>
<?php if (!$allow_edit) { ?>
    <style>
        .col-select{
            pointer-events: none; 
        }
    </style>
<?php } ?>
<script type="text/javascript">
<?php if (!$allow_edit) { ?>
        $j(".rule-tree").find("a").each(function () {
            ahtml = $j(this).text();
            if (ahtml == '') {
                ahtml = $j(this).html();
            }
            $j(this).replaceWith("<b><u>" + ahtml + "</u></b>");
        });
        $j("#rule_product_status").prop('disabled', true);
        $j(".conditionbtn").prop('disabled', true);
<?php } ?>
<?php if (!$show_sku_box) { ?>
        $j("#condProductListGrid_table tr").find("td:eq(0),th:eq(0)").remove();
        $j("#condProductListGrid_table colgroup").find("col:eq(0)").remove();
<?php } ?>

    if (parseInt($j("#outgoingchannel_admin_user_id").val()))
        removeConfirmPasswordValidation();

    function getProductList(idPrefix, generateUrl, grid) {
        var params = $j("#" + idPrefix + 'conditions_fieldset').serialize();
        params.form_key = FORM_KEY;
        $('messages').update();
        var ProductGrid = eval(grid);
        new Ajax.Request(generateUrl, {
            parameters: params,
            method: 'post',
            onComplete: function (transport, param) {
                if (ProductGrid) {
                    ProductGrid.reload();
                }
            }
        });
    }
    Validation.add('unique-url', 'Please enter a unique URL.', function (v) {
        ret = false;
        url = "<?php echo $this->getUrl('adminhtml/outgoingchannels/urlunique_validation'); ?>" + "?isAjax=true";
        id = "<?php echo $this->getRequest()->getParam('id'); ?>";
        data = {id: id, url: $j("#outgoingchannel_url").val(), form_key: "<?php echo Mage::getSingleton('core/session')->getFormKey() ?>"};
        $j.ajax({
            type: "POST",
            async: false,
            url: url,
            data: data,
            success: function (res) {
                if (res == 1) {
                    ret = false;
                } else {
                    ret = true;
                }
                //$j("#loading-mask").hide();
            }
        });
        return ret;
    });
    Validation.add('unique_email', 'Please enter a unique email.', function (v) {
        ret = false;
        if ($j("#outgoingchannel_email").val()) {
            url = "<?php echo $this->getUrl('adminhtml/outgoingchannels/uniqueuser_validation'); ?>" + "?isAjax=true";
            id = $j("#outgoingchannel_admin_user_id").val();
            data = {user_id: id, email: $j("#outgoingchannel_email").val(), form_key: "<?php echo Mage::getSingleton('core/session')->getFormKey() ?>"};
            $j.ajax({
                type: "POST",
                async: false,
                url: url,
                data: data,
                success: function (res) {
                    if (res == 1) {
                        ret = false;
                    } else {
                        ret = true;
                    }
                    //$j("#loading-mask").hide();
                }
            });
        }
        return ret;
    });
    Validation.add('unique_username', 'Please enter a unique username.', function (v) {
        ret = false;
        if ($j("#outgoingchannel_username").val()) {
            url = "<?php echo $this->getUrl('adminhtml/outgoingchannels/uniqueuser_validation'); ?>" + "?isAjax=true";
            id = $j("#outgoingchannel_admin_user_id").val();
            data = {user_id: id, username: $j("#outgoingchannel_username").val(), form_key: "<?php echo Mage::getSingleton('core/session')->getFormKey() ?>"};
            $j.ajax({
                type: "POST",
                async: false,
                url: url,
                data: data,
                success: function (res) {
                    if (res == 1) {
                        ret = false;
                    } else {
                        ret = true;
                    }
                    //$j("#loading-mask").hide();
                }
            });
        }
        return ret;
    });
    function getUserData() {
        $j("#loading-mask").show();
        user_id = $j("#outgoingchannel_admin_user_id").val();
        if (parseInt(user_id)) {
            url = "<?php echo $this->getUrl('adminhtml/outgoingchannels/userinfo'); ?>" + "?isAjax=true";
            $j.post(url, {form_key: "<?php echo Mage::getSingleton('core/session')->getFormKey() ?>", id: user_id}, function (res) {
                var obj = JSON.parse(res);
                removeConfirmPasswordValidation();
                $j("#outgoingchannel_username").val(obj['username']);
                $j("#outgoingchannel_firstname").val(obj['firstname']);
                $j("#outgoingchannel_lastname").val(obj['lastname']);
                $j("#outgoingchannel_email").val(obj['email']);
                $j("#loading-mask").hide();
            });
        } else {
            addConfirmPasswordValidation();
            $j("#outgoingchannel_username").val("");
            $j("#outgoingchannel_firstname").val("");
            $j("#outgoingchannel_lastname").val("");
            $j("#outgoingchannel_email").val("");
            $j("#loading-mask").hide();
        }

    }
    function removeConfirmPasswordValidation() {
        $j("label[for='outgoingchannel_confirmation']").find(".required").remove();
        $j("label[for='outgoingchannel_password']").html("New Password");
        $j("#outgoingchannel_confirmation").removeClass("required-entry");
        $j("#outgoingchannel_password").removeClass("required-entry");
        $j("#outgoingchannel_password").prop("name", 'new_password');
        $j("#advice-required-entry-outgoingchannel_password").remove();
        $j("#advice-required-entry-outgoingchannel_confirmation").remove();
    }
    function addConfirmPasswordValidation() {
        $j("label[for='outgoingchannel_confirmation']").append("<span class='required'>*</span>");
        $j("label[for='outgoingchannel_password']").html("Password <span class='required'>*</span>");
        $j("#outgoingchannel_confirmation").addClass("required-entry");
        $j("#outgoingchannel_password").addClass("required-entry");
        $j("#outgoingchannel_password").prop("name", 'password');
    }
    //triming function
    function trimChar(string, charToRemove) {
        while (string.charAt(0) == charToRemove) {
            string = string.substring(1);
        }

        while (string.charAt(string.length - 1) == charToRemove) {
            string = string.substring(0, string.length - 1);
        }

        return string;
    }
    //for duplicate the array 
    function GetUnique(inputArray) {
        var outputArray = [];
        for (var i = 0; i < inputArray.length; i++){
            if ((jQuery.inArray(inputArray[i], outputArray)) == -1){
                outputArray.push(inputArray[i]);
            }
        }
        return outputArray;
    }
    
//    $j(document).ready(function () {
//        $j(document).on('change', 'input[type="checkbox"]', function () {
//            //$j('input[type="checkbox"]').click(function(){
//            var sku_hidden = "";
//            var sku_hidden_new = "";
//            var sku_postion = "";
//            var replace_val = "";
//            if ($j(this).is(':checked')) { //For selecting sku
//                if ($j(this).val() == 'on') {//For selsecting all
//                    var current_sku = "";
//                    $j('tbody tr input[type="checkbox"]').each(function (index) {
//                        sku_hidden = $j('#rule_sku_list_hidden').val();
//                        if (index == 0) {//for first sku 
//                            current_sku += $j(this).val();
//                        } else {
//                            current_sku += ',' + $j(this).val();
//                        }
//                    });
//                    sku_hidden = $j('#rule_sku_list_hidden').val();
//                    if(sku_hidden == ""){//check for first time selecting sku or skulist is blank
//                        sku_hidden_new = current_sku;
//                    }else{
//                        sku_hidden_new = sku_hidden + ',' + current_sku;
//                    }
//                    
//                } else {//for indivisual selection sku
//                    sku_hidden = $j('#rule_sku_list_hidden').val();
//                    var current_sku = $j(this).val();
//                    sku_hidden_new = sku_hidden + ',' + current_sku;
//                }
//                var sku_hidden_arr = sku_hidden_new.split(',');//get array of sku
//                var sku_distinct_arr = GetUnique(sku_hidden_arr);//get array of distict sku
//                var sku_distinct_str = sku_distinct_arr.join();//get string of sku distinct
//                $j('#rule_sku_list_hidden').val(sku_distinct_str);
//            } else {//For Unselecting sku
//                if ($j(this).val() == 'on') {//For Unselsecting all
//                    var current_sku = "";
//                    sku_hidden = $j('#rule_sku_list_hidden').val();
//                    $j('tbody tr input[type="checkbox"]').each(function (index) {
//                        current_sku = $j(this).val();
//                        sku_postion = sku_hidden.indexOf(current_sku);
//
//                        if (parseInt(sku_postion) == 0) {//if sku is the first occerance
//                            if(current_sku == sku_hidden){//if the current sku = rest hiddensku or only one sku in the sku_hidden list
//                                replace_val = current_sku;
//                            }else{
//                                replace_val = current_sku + ',';
//                            }
//                        } else {
//                            replace_val = ',' + current_sku;
//                        }
//                        sku_hidden = sku_hidden.replace(eval("/" + replace_val + "/g"), '');
//                    });
//                    //sku_hidden = trimChar(sku_hidden,',');//trim , from both end of the sku string
//                    $j('#rule_sku_list_hidden').val(sku_hidden);
//                } else {
//                    sku_hidden = $j('#rule_sku_list_hidden').val();
//                    var current_sku = $j(this).val();
//                    sku_postion = sku_hidden.indexOf(current_sku);
//                    if (parseInt(sku_postion) == 0) {//if sku is the first occerance
//                        if(current_sku == sku_hidden){//if the current sku = rest hiddensku or only one sku in the sku_hidden list
//                            replace_val = current_sku;
//                        }else{
//                            replace_val = current_sku + ',';
//                        }
//                        
//                    } else {
//                        replace_val = ',' + current_sku;
//                    }
//                    sku_hidden_new = sku_hidden.replace(eval("/" + replace_val + "/g"), '');
//                    //sku_hidden_new = trimChar(sku_hidden,',');//trim , from both end of the sku string
//                    $j('#rule_sku_list_hidden').val(sku_hidden_new);
//                }
//            }
//        })
//    });
</script>
