<?php
$channel_data = @Mage::registry('channel_condition') ? Mage::registry('channel_condition') : Mage::getmodel('bridge/outgoingchannels');
$consumer_data = @Mage::registry('current_consumer') ? Mage::registry('current_consumer') : Mage::getModel("admin/user");
$defaul_settings = @Mage::registry('default_settings') ? Mage::registry('default_settings') : array();
$is_retailer = Mage::getmodel('bridge/outgoingchannels')->isRetailer(Mage::getSingleton('admin/Session')->getUser()->getUserId());
$_element = $this->getElement();
//echo "<pre>";
//print_r($channel_data);
?>
<div class="rule-tree">
    <div class="entry-edit-head">
        <h4 class="icon-head head-edit-form fieldset-legend"><?php echo $_element->getLegend() ?></h4>
    </div>
    <fieldset id="<?php echo $_element->getHtmlId() ?>" <?php echo $_element->serialize(array('class')) ?>>
        <table cellspacing="0" class="form-list">            
            <tbody>
                <tr>
                    <td class="label"><label for="outgoingchannel_filter_by">Cron Request Filter by :</label></td>
                    <td class="value">
                        <select class="required-entry select" id='filter_by'  name="filter_by">
                            <option value='condition'>Condition</option>
                            <option value='sku'>SKU</option>
                        </select> 
                </tr>
                <tr>
                    <td class="label"><label for="outgoingchannel_cond_apply_on_relative_products">Condition Apply on Related Product</label></td>
                    <td class="value">
                        <select class="required-entry select" name="cond_apply_on_relative_products" id="cond_apply_on_relative_products">
                            <option value=1>Yes</option>
                            <option value=0>No</option>
                        </select>   
                    </td>
                </tr>
                <?php if (!$is_retailer || @$defaul_settings['allow_pim'] || @$defaul_settings['allow_edi']) { ?>
                    <?php if (!$is_retailer || @$defaul_settings['allow_pim']) { ?>
                        <tr>
                            <td class="label"><label for="outgoingchannel_relative_products">Sync Product Information</label></td>
                            <td class="value">
                                <select class="select" name="product_info" id="product_info" onchange="changeinfo();">
                                    <option value=1>Yes</option>
                                    <option value=0>No</option>
                                </select>
                            </td>
                        </tr>
                        <tr class="dponinfo">
                            <td class="label"><label for="outgoingchannel_relative_products">Sync Up-Sell Products</label></td>
                            <td class="value">
                                <select class="required-entry select" name="relative_product[]" id="up-sell">
                                    <option value=1>Yes</option>
                                    <option value=0>No</option>
                                </select>
                            </td>
                        </tr>
                        <tr class="dponinfo">
                            <td class="label"><label for="outgoingchannel_relative_products">Sync Cross-Sell Products</label></td>
                            <td class="value">
                                <select class="required-entry select" name="relative_product[]" id="cross-sell">
                                    <option value=2>Yes</option>
                                    <option value=0>No</option>
                                </select>
                            </td>
                        </tr>
                        <tr class="dponinfo">
                            <td class="label"><label for="outgoingchannel_relative_products">Sync Related Product</label></td>
                            <td class="value">
                                <select class="required-entry select" name="relative_product[]" id="relative-product">
                                    <option value=4>Yes</option>
                                    <option value=0>No</option>
                                </select>
                            </td>
                        </tr>
                    <?php }if (!$is_retailer || @$defaul_settings['allow_edi']) { ?>
                        <tr>
                            <td class="label"><label for="outgoingchannel_relative_products">Sync Price and Quantity</label></td>
                            <td class="value">
                                <select class="select" name="product_pricenquantity" id="product_pricenquantity">
                                    <option value=1>Yes</option>
                                    <option value=0>No</option>
                                </select>
                            </td>
                        </tr>
                    <?php } ?>
                <?php } ?>
                <?php
                if (!$is_retailer || @$defaul_settings['allow_new_product']) {
                    ?>
                    <tr>
                        <td class="label">Add New Products Automatically<span class="required">*</span></td>
                        <td class="value">
                            <select class="required-entry select" name="create_new" id="create_new">
                                <option value=1>Yes</option>
                                <option value=0>No</option>
                            </select>
                        </td>
                    </tr>
                    <?php
                }
                if (!$is_retailer) {
                    ?>
                    <tr>
                        <td class="label">Select Product Content Source<span class="required">*</span></td>
                        <td class="value">
                            <select class="required-entry select" name="content_source" id="incomingchannel_content_source">
                                <option value="original">Replace With original content</option>
                                <option value="copy">Keep Separate Copy</option>
                            </select>            </td>
                    </tr>
                    <tr>
                        <td class="label">Best Price<span class="required">*</span></td>
                        <td class="value">
                            <select class="required-entry select" name="price_source" id="incomingchannel_price_source">
                                <option value="ogc_price">Wholesale Price</option>
                                <option value="price">Selling Price</option>
                                <option value="msrp">MSRP</option>
                            </select>            </td>
                    </tr>

                <?php } ?>

            </tbody>
        </table>
    </fieldset>
</div>
<?php if (!$is_retailer) { ?>
    <div class="rule-tree">
        <div class="entry-edit-head">
            <h4 class="icon-head head-edit-form fieldset-legend">User Info</h4>
        </div>
        <fieldset id="<?php echo $_element->getHtmlId() ?>" <?php echo $_element->serialize(array('class')) ?>>
            <table cellspacing="0" class="form-list">            
                <tbody>
                    <?php
                    $user_role = Mage::getModel('admin/user')->load(Mage::getSingleton('admin/session')->getUser()->getUserId())->getRole()->getData();
                    if (strcasecmp($user_role['role_name'], 'Bridge User') !== 0) {
                        ?>
                        <tr>
                            <td class="label"><label for="channeluser_user">User</label></td>
                            <td class="value">
                                <?php
                                $admin_user = Mage::getmodel('bridge/outgoingchannels')->getRetailers();
                                echo "<select onchange='getUserData();' id='admin_user_id' name='admin_user_id'>";
                                echo "<option value=''>Select</option>";
                                foreach ($admin_user as $user)
                                    echo "<option value={$user['value']}>{$user['label']}</option>";
                                echo "</select>";
                                ?>
                            </td>

                        </tr>
                    <?php }
                    ?>
                    <tr class="userinfo">
                        <td class="label"><label for="channeluser_username">User Name <span class="required">*</span></label></td>
                        <td class="value">
                            <input type="text" class=" input-text required-entry" title="User Name" value="" name="username" id="channeluser_username">            </td>
                    </tr>
                    <tr class="userinfo">
                        <td class="label"><label for="channeluser_firstname">First Name <span class="required">*</span></label></td>
                        <td class="value">
                            <input type="text" class=" input-text required-entry" title="First Name" value="" name="firstname" id="channeluser_firstname">            </td>
                    </tr>
                    <tr class="userinfo">
                        <td class="label"><label for="channeluser_lastname">Last Name <span class="required">*</span></label></td>
                        <td class="value">
                            <input type="text" class=" input-text required-entry" title="Last Name" value="" name="lastname" id="channeluser_lastname">            </td>
                    </tr>
                    <tr class="userinfo">
                        <td class="label"><label for="channeluser_email">Email <span class="required">*</span></label></td>
                        <td class="value">
                            <input type="text" class="validate-email input-text required-entry" title="User Email" value="" name="email" id="channeluser_email">            </td>
                    </tr>
                    <tr class="pwd userinfo">
                        <td class="label"><label for="channeluser_password">Password <span class="required">*</span></label></td>
                        <td class="value">
                            <input id="channeluser_password" class="input-text required-entry validate-admin-password input-text required-entry validation-passed" type="password" title="Password" value="" name="password">
                            <!--<input type="password" class="input-text required-entry" title="Password" name="password" id="channeluser_password">            -->
                        </td>
                    </tr>
                    <tr class="pwd userinfo">
                        <td class="label"><label for="channeluser_confirmation">Password Confirmation <span class="required">*</span></label></td>
                        <td class="value">
                            <input id="channeluser_confirmation" class="input-text required-entry validate-cpassword input-text required-entry validation-passed" type="password" title="Password Confirmation" value="" name="password_confirmation">  </td>
                            <!--<input type="password" class="input-text required-entry validate-cpassword" title="Password Confirmation" name="password_confirmation" id="">-->          
                    </tr>
                </tbody>
            </table>
        </fieldset>
    </div>
    <?php
}
$relative_product = $channel_data->getRelativeProduct();
?>
<script>
    $j(function () {


//        url = "<?php //echo $this->getUrl('adminhtml/outgoingchannels/getusers');                                      ?>" + "?search=1&isAjax=true";
        //code for single autocomplete
//        $j("#admin_user_id").autocomplete({json_url: url, firstselected: true, maxitems: 1});
    });
    //occure at time of edit
    $j("#admin_user_id").val("<?php echo $channel_data->getAdminUserId(); ?>");
    //    changeinfo();

    $j("#channeluser_username").val("<?php echo $consumer_data->getUsername(); ?>");
    $j("#channeluser_firstname").val("<?php echo $consumer_data->getFirstname(); ?>");
    $j("#channeluser_lastname").val("<?php echo $consumer_data->getLastname(); ?>");
    $j("#channeluser_email").val("<?php echo $consumer_data->getEmail(); ?>");
    if ($j("#admin_user_id").val()) {
        $j(".pwd").find('.required-entry').removeClass("required-entry");
        $j(".pwd").find('#channeluser_confirmation').removeClass("validate-cpassword");
        $j(".pwd").find('#channeluser_password').removeClass("validate-admin-password");
        $j(".pwd").hide();
    }
    $j("#create_new").val("<?php echo $channel_data->getCreateNew(); ?>");
    $j("#incomingchannel_content_source").val("<?php echo $channel_data->getContentSource(); ?>");
    $j("#incomingchannel_price_source").val("<?php echo $channel_data->getPriceSource(); ?>");
    $j("#cond_apply_on_relative_products").val("<?php echo $channel_data->getCondApplyOnRelativeProducts(); ?>");
    $j("#product_pricenquantity").val("<?php echo $channel_data->getProductPricenquantity(); ?>");
    $j("#up-sell").val(<?php echo ($relative_product & 1) ? 1 : 0; ?>);
    $j("#cross-sell").val(<?php echo ($relative_product & 2) ? 2 : 0; ?>);
    $j("#related-product").val(<?php echo ($relative_product & 4) ? 4 : 0; ?>);
    //end
    $j("#filter_by").val("<?php echo $channel_data->getFilterBy(); ?>");
    $j("#product_info").val("<?php echo $channel_data->getProductInfo(); ?>");
    function changeinfo() {
        if ($j("#product_info").val() != 0) {
            $j(".dponinfo").show();
        } else {
            $j(".dponinfo").hide();
            $j(".dponinfo select").val(0);
        }
    }
    function getUserData() {
        user_id = $j("#admin_user_id").val();
        if (user_id) {
            url = "<?php echo $this->getUrl('adminhtml/outgoingchannels/userinfo'); ?>" + "?isAjax=true";
            $j.post(url, {form_key: "<?php echo Mage::getSingleton('core/session')->getFormKey() ?>", id: user_id}, function (res) {
                var obj = JSON.parse(res);
                $j("#channeluser_username").val(obj['username']);
                $j("#channeluser_firstname").val(obj['firstname']);
                $j("#channeluser_lastname").val(obj['lastname']);
                $j("#channeluser_email").val(obj['email']);
                $j(".pwd").find('.required-entry').removeClass("required-entry");
                $j(".pwd").find('#channeluser_password').removeClass("validate-admin-password");
                $j(".pwd").find('#channeluser_confirmation').removeClass("validate-cpassword");
                $j(".pwd").hide();
            });
        } else {
            $j(".userinfo").find("input").val("");
            $j(".pwd").find('input').addClass("required-entry");
            $j(".pwd").find('#channeluser_confirmation').addClass("validate-cpassword");
            $j(".pwd").find('#channeluser_password').addClass("validate-admin-password");

            $j(".pwd").show();
        }

    }
    Validation.add('unique-url', 'Please enter a unique URL.', function (v) {
        ret = false;
        url = "<?php echo $this->getUrl('adminhtml/outgoingchannels/urlunique_validation'); ?>" + "?isAjax=true";
        id = "<?php echo $this->getRequest()->getParam('id'); ?>";
        data = {id: id, url: $j("#outgoingchannel_url").val(), form_key: "<?php echo Mage::getSingleton('core/session')->getFormKey() ?>"};
        $j.ajax({
            type: "POST",
            async: false,
            url: url,
            data: data,
            success: function (res) {
                if (res == 1) {
                    ret = false;
                } else {
                    ret = true;
                }
                //$j("#loading-mask").hide();
            }
        });
        return ret;
    });
    function validatForm(type = 0) {
        $j("#loading-mask").show();
        editForm = new varienForm('edit_form', '');
        if (parseInt(type))
            url = $j("#edit_form").attr('action') + "back/1";
        else {
            url = $j("#edit_form").attr('action');
        }
        res = editForm.submit(url);
        if (!res) {
            $j("#loading-mask").hide();
        }
    }



</script>

<style type="text/css">
    .holder{
        width: 260px !important;
    }
    .facebook-auto{
        width:280px!important;
    }
    .ac_results {
        width: 590px!important;
    }
    .ac_results ul li span{
        overflow: hidden;
        margin-left: 5px;
        font-size: 11px;
    }
</style>