<?php
$sellers = $this->getProductSellers();
$product = $this->getProduct();
$starsettings = intval(Mage::getStoreConfig('tribecoresettings/seller_starrating_settings/tribe_seller_star_rating_no'));
$nostars = ($starsettings) ? $starsettings : 5;
$starsize = intval(Mage::getStoreConfig('tribecoresettings/seller_starrating_settings/tribe_seller_star_size'));
$starsize = ($starsize) ? $starsize : 15;
if ($sellers->getSize() > 0):
    $_url = Mage::helper('checkout/cart')->getAddUrl($product);
    ?>
    <div class="product-sellers col-xs-12">
        <h2><?php echo $this->__('OTHER SELLERS'); ?></h2>
        <table style="width: 100%;">
            <tr>
                <th><?php echo $this->__('Name'); ?></th>
                <th><?php echo $this->__('Rating'); ?></th>
                <th><?php echo $this->__('Opening Hours'); ?></th>
                <th><?php echo $this->__('Price'); ?></th>
                <th>&nbsp;</th>
            </tr>
            <?php foreach ($sellers as $seller) : ?>
                <tr>
                    <td>
                        <?php echo $seller->getSellerStoreName(); ?>
                    </td>
                    <td>
                        <?php
//                        $rating = sprintf("%.2f", $seller->getSellerAvgRating());
//                        echo $this->__("$rating / $nostars");
                        ?>
                        <div id="product_seller-<?php echo $seller->getId() ?>"></div>
                        <script type="text/javascript">
                            //<![CDATA[
                            jQuery(function ($) {
                                $("#product_seller-<?php echo $seller->getId() ?>").rateYo({
                                    starWidth: "<?php echo $starsize; ?>px",
                                    readOnly: true,
                                    rating: <?php echo $seller->getSellerAvgRating(); ?>,
                                    spacing: "5px",
                                    numStars: <?php echo $nostars; ?>,
                                    multiColor: {
                                        "startColor": "#FFC600", //RED
                                        "endColor": "#FFC600"
                                    },
                                    halfStar: true,
                                    onSet: function (rating, rateYoInstance) {
                                        $('#custom_rating').val(rating);
                                    }
                                });
                            });

                            //]]>
                        </script>
                    </td>
                    <td>
                        <?php echo $seller->getData('seller_opening_hours'); ?>
                    </td>
                    <td>
                        <?php echo $product->getFinalPrice(); ?>
                    </td>
                    <td>
                            <?php if ($product->isSaleable()): ?>
                            <button onclick="productAddToCartForm.submit(this)" class="button btn-cart" title="Add to Cart" type="button"><span><span><i class="icon-cart"></i>Add to Cart</span></span></button>
                            <?php endif; ?>
                        <!--<a href="<?php // echo $_url; ?>">Add to Cart</a>--> 
                    </td>
                </tr>
            <?php endforeach; ?>
        </table>
    </div>
    <style type="text/css">
        .product-sellers{
            margin-bottom: 30px;
        }
    </style>
<?php endif; ?>