<?php
$helper = $this->helper('tribeseller');
?>
<form id="search_mini_form" action="javascript:void(0)" onsubmit="return false;">
    <div class="form-search">
        <input id="search" type="text" class="search_area" placeholder="FIND STORES/ITEMS" />
        <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
        <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
        <script type="text/javascript">
    //<![CDATA[
    jQuery(function ($) {
        var cache = {};
        $("#search").autocomplete({
            minLength: 2,
            source: function (request, response) {
                var term = request.term;
                if (term in cache) {
                    response(cache[ term ]);
                    return;
                }
                $.getJSON("<?php echo $helper->getGlobalSearchurl(); ?>", request, function (data, status, xhr) {
                    cache[ term ] = data;
                    response(data);
                });
            }, select: function (event, ui) {
                window.location.href = ui.item.url;
                return false;
            }
        }).autocomplete("instance")._renderItem = function (ul, item) {
            return $("<li>")
                    .append("<a href='" + item.url + "'><div class='clearfix' title='" + item.title + "'>" + item.html +  "<span class='fltrht item-type'>"+item.type + "</span><div class='clearfix'></div></div></a>")
                    .appendTo(ul);
        };
    });
    //]]>
        </script>
    </div>
</form>
<span class='fltlft'></span><span class='fltrht'></span><div class='clearfix'></div>
<style type="text/css">
    .fltlft{float:left;}
    .fltrht{float:right;}
    .clrbth{clear:both;display: block;}    
</style>