<div>{{price}} = 450;</div>
<div>Here {{price}} treated as selling price in USD Currency</div>
<div>{{exchange_rate}} = 3.80;</div>
<div>The exchange rate to the sites base currency(e.g 1 USD = 3.80 AED)</div>
<div>{{international_shipping}} = 30;</div>
<div>{{uae_customs}} = ({{price}} > 250) ? 0.07 : 0;</div>
<div>{{uae_custom_handling}} = ({{price}} > 250) ? 17 : 0;</div>
<div>{{local_courier}} = 6.86;</div>
<div>{{in_per}} = {{price}} * (10 / 100);</div>
<div>{{in}} = 50;</div>
<div>{{price}} = (({{price}} + {{international_shipping}}) * (1 + {{uae_customs}})) + {{uae_custom_handling}} + {{local_courier}};</div>
<div>{{total_in}} = {{in_per}} + {{in}};</div>
<div>{{price}} = ({{price}} + {{total_in}}) * {{exchange_rate}};</div>
<div><h5>Like this you can have your own custom pricing rules</h5></div>