<?php
$res = $this->getProduct();
//echo "<pre>";
//print_r($res);
$i = 1;
$headers = array('brand_id' => 'Channel Name',
    'event' => 'Event',
    'source' => 'Source',
    'previous_price' => 'Previous Price',
    'current_price' => 'Current Price',
    'previous_quantity' => 'Previous Quantity',
    'current_quantity' => 'Current Quantity',
    'created' => 'Created'); //array_keys($res[0]);
?>
<style type="text/css">
    th, td {
        border: 1px solid black;
    }

</style>
<table cellspacing="0" style="width:100% !important;">
    <?php
    if(!empty($res)){
    foreach ($res as $k => $v) {
        if (!empty($headers) && $i) {
            ?>
            <tr>
                <?php foreach ($headers as $k2 => $v2) { ?>
                    <td>
                        <?php echo $v2; //ucfirst(str_replace('_',' ',$v2));  ?>
                    </td>
                <?php } ?>
            </tr>
            <?php $i = 0;
        }
        ?>
        <tr>
            <?php
            foreach ($v as $k1 => $v1) {
                if (isset($headers[$k1])) {
                    ?>
                    <td>
                        <?php
                        if ($headers[$k1] == 'Channel Name') {
                            if ($v1) {
                                if($v['channel_type']=='incoming'){
                                    $model = Mage::getModel('bridge/incomingchannels');
                                    $model->load($v1);
                                    echo $model->getBrandName();
                                }else if($v['channel_type']=='outgoing'){
                                    $model = Mage::getModel('bridge/outgoingchannels');
                                    $model->load($v1);
                                    echo $model->getName();
                                }else {
                                    echo 'Mystore';
                                }
                                
                            } else {
                                echo 'Mystore';
                            }
                        } else {
                            echo $v1;
                        }
                        ?>
                    </td>
                <?php
                }
            }
            ?>
        </tr>
        <?php
    }
    }else{
        echo "No data found";
    }
    ?>
</table>