<?php
$res = $this->getProduct();
$channel_type = $this->getChanneltype();
$channel_id = $this->getChannelId();
//foreach($res as $k=>$v){
//    $master_tab[$v['channel_type']]=$v['channel_type'];
//}
if($channel_type=='incoming')
$master_tab['incoming']='Incoming';
$master_tab['allincoming']='All Incoming';
if($channel_type=='outgoing')
$master_tab['outgoing']='Outgoing';
$master_tab['alloutgoing']='All Outgoing';
$master_tab['ownstore']='Ownstore';
?>
<script type="text/javascript">
var channel_id='<?php echo $channel_id;?>';
    $j(function(){
       changetab('<?php echo $this->getChanneltype();?>');
    });
    function changetab(channel_type){
        var url = '<?php echo Mage::helper('bridge')->getUrl('adminhtml/edi/historygrid');?>';
        var sku = '<?php echo $this->getSku();?>';
        $j.post(url, {form_key: "<?php echo Mage::getSingleton('core/session')->getFormKey() ?>",channel_type: channel_type, sku: sku,channel_id:channel_id}, function (res) {
            $j('#tbl_container').html(res);
        });
        $j('.btn').each(function(){
            $j(this).removeClass('gridedi');
            if($j(this).attr('ext').toLowerCase() == channel_type.toLowerCase())
                $j(this).addClass('gridedi');
        });
    }
</script>
<div>
    <div>
<?php foreach($master_tab as $k=>$v){ 
    $tabname = ($k!='')?$k:'Ownstore';
    $tablabel = ($k!='')? ($k==$channel_type?'Current':$v):'Ownstore';
?>
    <span>
        <button class="btn" ext='<?php echo $tabname; ?>' onclick='changetab("<?php echo $tabname;?>");'><?php echo  $tablabel;?></button>
    </span>
<?php }
//exit;?>
</div>
    <div id="tbl_container">
    </div>
</div>
<style type="text/css">
    .gridedi{color:gray};
</style>
