<?php
$symbol = Mage::app()->getLocale()->currency(Mage::app()->getStore()->getCurrentCurrencyCode())->getSymbol();
$symbol = $symbol ? $symbol : Mage::app()->getStore()->getCurrentCurrencyCode();
?><script type="text/javascript">
    $j("[name='channel_name']").find("[value='my_store'],[value='incoming'],[value='outgoing']").addClass('nonchannel');
    $j(function () {
        $j('#rule_conditions_fieldset').hide();
    });
    function showgrid() {
        $j('#rule_conditions_fieldset').toggle();
        if ($j('#rule_conditions_fieldset').is(':visible')) {
            var img_str = 'adminhtml/default/default/images/entry_edit_head_arrow_up.gif';
        } else {
            var img_str = 'adminhtml/default/default/images/entry_edit_head_arrow_down.gif';
        }
        $j('#fldst').html('<img src="' + "<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_SKIN); ?>" + img_str + '">');
    }
    function edit(obj, type)
    {
        var parent_object = $j(obj).closest("td");
        var value = parent_object.find(".edit_val").text();
        value = value.replace(/,/g, '');
        parent_object.find(".edit_val").html("<input type='text' value='" + value + "' class='upd_value' /><input type='hidden' value='" + value + "' class='org_value' />");
        parent_object.find(".savelink,.cancellink,.editlink").toggle();
    }

    function editSupplier(obj)
    {
        var parent_object = $j(obj).closest("td");
        var value = parent_object.find(".supplier_inline_edit").val();
        parent_object.find(".supplier_inline_edit").prop('disabled', false);
        parent_object.find(".edit_val").append("<input type='hidden' value='" + value + "' class='org_value' />");
        parent_object.find(".savelink,.cancellink,.editlink").toggle();
    }

    function cancelPrice(obj)
    {
        var parent_object = $j(obj).closest("td");
        var value = parent_object.find(".org_value").val();
        parent_object.find(".edit_val").html(addCommas(Number(value).toFixed(2)));
        parent_object.find(".savelink,.cancellink,.editlink").toggle();
    }
    function cancelQty(obj)
    {
        var parent_object = $j(obj).closest("td");
        var value = parent_object.find(".org_value").val();
        parent_object.find(".edit_val").html(value);
        parent_object.find(".savelink,.cancellink,.editlink").toggle();
    }
    function cancelSupplier(obj)
    {
        var parent_object = $j(obj).closest("td");
        var value = parent_object.find(".org_value").val();
        parent_object.find(".supplier_inline_edit").val(value);
        parent_object.find(".supplier_inline_edit").prop('disabled', true);
        parent_object.find(".savelink,.cancellink,.editlink").toggle();
    }
    function updateQuantity(obj, id)
    {
        var parent_object = $j(obj).closest("td");
        var value = parent_object.find(".upd_value").val().trim();
        var org_value = parent_object.find(".org_value").val().trim();
        if (value == org_value) {
            alert("Sorry quantity is not changed.");
            return false;
        }
        if (/[^\d]/.test(value)) {
            alert("Sorry,Please enter a integer value");
            return false;
        }
        $j("#loading-mask").show();
        url = "<?php echo $this->getUrl('adminhtml/edi/inlineUpdate'); ?>" + "?isAjax=true";
        $j.post(url, {form_key: "<?php echo Mage::getSingleton('core/session')->getFormKey() ?>", quantity: value, id: id}, function (res) {
            parent_object.find(".edit_val").html(value);
            parent_object.find(".savelink,.cancellink,.editlink").toggle();
            if (isNaN(res) == false)
                parent_object.closest("tr").find(".converted_price").html(Number(res).toFixed(2));
            $j("#loading-mask").hide();
        });
    }
    function updatePrice(obj, id)
    {
        var parent_object = $j(obj).closest("td");
        var value = parent_object.find(".upd_value").val().trim();
        var org_value = parent_object.find(".org_value").val().trim();
        if (value == org_value) {
            alert("Sorry price is not changed.");
            return false;
        }
        if (isNaN(parseNumber(value)) || /^\s*-?\d*(\.\d*)?\s*$/.test(value) === false) {
            alert("Sorry,Please enter a Valid number");
            return false;
        }
        $j("#loading-mask").show();
        url = "<?php echo $this->getUrl('adminhtml/edi/inlineUpdate'); ?>" + "?isAjax=true";
        $j.post(url, {form_key: "<?php echo Mage::getSingleton('core/session')->getFormKey() ?>", price: value, id: id, conv_currency: $j("#edi_grid_filter_converted_price_currency").val()}, function (res) {
            parent_object.find(".edit_val").html(addCommas(Number(value).toFixed(2)));
            parent_object.find(".savelink,.cancellink,.editlink").toggle();
            if (res !== "false") {
                parent_object.closest("tr").find(".converted_price").html(res);
            }
            $j("#loading-mask").hide();
        });
    }
    function updateSpecialPrice(obj, id)
    {
        var parent_object = $j(obj).closest("td");
        var value = parent_object.find(".upd_value").val().trim();
        if (value == '')
            value = null;
        var org_value = parent_object.find(".org_value").val().trim();
        if (value == org_value) {
            alert("Sorry special price is not changed.");
            return false;
        }
        if (value !== null && (isNaN(parseNumber(value)) || /^\s*-?\d*(\.\d*)?\s*$/.test(value) === false)) {
            alert("Sorry,Please enter a Valid number");
            return false;
        }
        $j("#loading-mask").show();
        url = "<?php echo $this->getUrl('adminhtml/edi/inlineUpdate'); ?>" + "?isAjax=true";
        $j.post(url, {form_key: "<?php echo Mage::getSingleton('core/session')->getFormKey() ?>", special_price: "'" + value + "'", id: id}, function (res) {
            if (value === null) {
                parent_object.find("#special_price_currency").html('');
                parent_object.find(".edit_val").html('');
            } else {
                parent_object.find(".edit_val").html(addCommas(Number(value).toFixed(2)));
                parent_object.find("#special_price_currency").html('<?php echo $symbol . "&nbsp;"; ?>');

            }

            parent_object.find(".savelink,.cancellink,.editlink").toggle();
            $j("#loading-mask").hide();
        });
    }
    function updateSupplier(obj, id)
    {
        var parent_object = $j(obj).closest("td");
        var value = parent_object.find(".supplier_inline_edit").val();
        if (value == '')
            value = null;
        var org_value = parent_object.find(".org_value").val();
        if (value == org_value) {
            alert("Sorry Supplier is not changed.");
            return false;
        }
        $j("#loading-mask").show();
        url = "<?php echo $this->getUrl('adminhtml/edi/inlineUpdate'); ?>" + "?isAjax=true";
        $j.post(url, {form_key: "<?php echo Mage::getSingleton('core/session')->getFormKey() ?>", channel_supplier: value, id: id}, function (res) {
            parent_object.find(".supplier_inline_edit").prop('disabled', true);
            parent_object.find(".savelink,.cancellink,.editlink").toggle();
            $j("#loading-mask").hide();
        });
    }
    function addCommas(nStr)
    {
        nStr += '';
        x = nStr.split('.');
        x1 = x[0];
        x2 = x.length > 1 ? '.' + x[1] : '';
        var rgx = /(\d+)(\d{3})/;
        while (rgx.test(x1)) {
            x1 = x1.replace(rgx, '$1' + ',' + '$2');
        }
        return x1 + x2;
    }
    function deleteInventory(obj, inventoryId) {
        $j("#loading-mask").show();
        url = "<?php echo $this->getUrl('adminhtml/edi/delete'); ?>" + "?isAjax=true";
        $j.post(url, {form_key: "<?php echo Mage::getSingleton('core/session')->getFormKey() ?>", id: inventoryId}, function (res) {
            $j(obj).closest('tr').remove();
            $j("#loading-mask").hide();
        });
    }

</script>
<style>
    .inlinespan{float: right;}    
    .nonchannel{font-weight: 900;
                font-family: "Arial Black", Arial, sans-serif;}
    /*pointer-events: none;*/
</style>