<script type="text/javascript">
   function editname(obj,entity_id){// alert(entity_id);return false;
       var str = $j(obj).closest('td').text();
       str = str.replace('edit','');
       var html_str = '<textarea>'+str.trim()+'</textarea><a onlick="javascript:void(0);" onclick="savename(this,'+entity_id+');">save</a>  <a onlick="javascript:void(0);" onclick="cancelname(this,'+entity_id+');">cancel</a>';
      $j(obj).closest('td').html(html_str);
   }
   function savename(obj,entity_id){
               //alert(entity_id);return false;
       var valstr = $j(obj).prev('textarea').val();
       //alert(valstr);return false;
           url = "<?php echo $this->getUrl('adminhtml/incomingchannels/ajax_inlinenamesave'); ?>" + "?isAjax=true";
           $j("#loading-mask").show();
            $j.post(url, {form_key: "<?php echo Mage::getSingleton('core/session')->getFormKey() ?>", entity_id: entity_id,name:valstr}, function () {
               // $j("#showallcontentrule").find('div#' + rule_id).remove();
                alert('saved');
               var html_str = valstr+'  <a href="javascript:void(0);" onclick="editname(this,'+entity_id+');">edit</a>' + "&nbsp;";
                $j(obj).closest('td').html(html_str);
                $j("#loading-mask").hide();
            });
   }
   function cancelname(obj,entity_id){
       var valstr = $j(obj).closest('td').find('textarea').text();//alert(valstr);return false;
       var html_str = valstr+'  <a href="javascript:void(0);" onclick="editname(this,'+entity_id+');">edit</a>' + "&nbsp;";
        $j(obj).closest('td').html(html_str);
   }
</script>