<?php
$current_currency = Mage::app()->getStore()->getBaseCurrencyCode();
$currencyModel = Mage::getModel('directory/currency');
$Allcurrencies = json_encode($currencyModel->getConfigAllowCurrencies());
//$Allcurrencies = json_encode(array('usd', 'aed'));
$_element = $this->getElement();
// Gets the current store's id
$current_stor_id = Mage::app()->getRequest()->getParam('store') ? Mage::app()->getRequest()->getParam('store') : Mage_Core_Model_App::ADMIN_STORE_ID;
$api_id = $this->getRequest()->getParam('id');

//get the mapping block
$mapping_block = $this->getLayout()->createBlock('fedobe_bridge_block_adminhtml_incomingchannels_edit_tab_mapping');
$brand_cat_attr = $mapping_block->getBrandAttributeSet();
if ($brand_cat_attr) {
    $retailer_attribute_Set = $mapping_block->getRetailerAttributeSet();

//get the mapping data if already exist
    $mapping_data = unserialize(Mage::registry('incomingchannel_data')->getMappingData());
//print_r($mapping_data);
    $category_mapping = @$mapping_data['category'];
    $store_mapping = @$mapping_data['store'];
    $option_mapping = @$mapping_data['option_mapping'];
//    echo "<pre>";
//    print_r($option_mapping);
//    echo "</pre>";
//get the current store map with which store in brand other wise return the default store id
    $cur_brand_store_id = is_array($store_mapping) && array_search(@$current_stor_id, @$store_mapping) !== false ? array_search($current_stor_id, $store_mapping) : @$brand_cat_attr['default_store'];
    if (!$cur_brand_store_id)
        $cur_brand_store_id = $current_stor_id;

//get category label for current store view
    $brand_categories = Mage::getmodel('bridge/storeview_label')->getLabel('category', $api_id, $cur_brand_store_id, @$brand_cat_attr['default_store']);

//get option label for current store view
    $brand_options = Mage::getmodel('bridge/storeview_label')->getLabel('options', $api_id, $cur_brand_store_id, @$brand_cat_attr['default_store']);

    if (is_array($brand_options)) {
        $brand_attr_option = array();
        foreach ($brand_options as $option) {
            if (!@isset($brand_attr_option[$option['attribute_id']]))
                $brand_attr_option[$option['attribute_id']] = array();
            $brand_attr_option[$option['attribute_id']] +=array($option['id'] => $option['value']);
        }
    }

//get option label for own storecurrent store view
    $ret_options = Mage::getmodel('bridge/incomingchannels')->getAttributeOptions($current_stor_id);
    $ret_option_value = array_column($ret_options, 'value');

    if (is_array($ret_options)) {
        $ret_attr_option = array();
        foreach ($ret_options as $option) {
            if (!isset($ret_attr_option[$option['attribute_id']]))
                $ret_attr_option[$option['attribute_id']] = array();
            $ret_attr_option[$option['attribute_id']] +=array($option['option_id'] => $option['value']);
        }
    }
    $brand_attribute_Set = @unserialize($brand_cat_attr['attributes']);
    $brand_attribute_set_ids = @array_keys($brand_attribute_Set);
//get category label for current store view
    $brand_attributes = Mage::getmodel('bridge/storeview_label')->getLabel('attribute', $api_id, $cur_brand_store_id);
    if ($brand_attributes) {
        $brand_attribute_labels = array_column($brand_attributes, 'value', 'id');
    }

    unset($mapping_data['category']);
    unset($mapping_data['store']);

    $retailer_attribute_set_ids = @array_keys($retailer_attribute_Set);

    $store_categories = $mapping_block->getRetailerCategories();
// echo "<pre>";
//print_r($mapping_data);
//echo "</pre>";
    $brand_stores = @unserialize($brand_cat_attr['store']);
    $store_stores = $mapping_block->getRetailerStores();
}

//print_r($category_mapping);
$dwn_arr = Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_SKIN) . 'adminhtml/default/default/images/entry_edit_head_arrow_down.gif';
$up_arr = Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_SKIN) . 'adminhtml/default/default/images/entry_edit_head_arrow_up.gif';
?>
<!----add currency mapping---->
<input type="hidden" name="currency" value="<?php echo Mage::registry('incomingchannel_data')->getCurrency(); ?>"  id="db_currency" />
<!----end---->


<!--Attribute add more template-->
<span class="hdnfield" style="display:none;">
    <span id="brandattr"></span>
    &lt;--&gt;
    <span id="storeattr"></span>
    <button  title="Add Option Mapping" type="button" class="scalable add" onclick="addOptionMapping(this)" style=""><span><span><span>Add Option Mapping</span></span></span></button>
    <button title="Remove" type="button" class="scalable delete" onclick="removeFieldMapping(this)" style=""><span><span><span>Remove</span></span></span></button>
    <span class='dwnarrow' style="display:none;"><img src='<?php echo $dwn_arr; ?>'/></span>
    <span class='uparrow' style="display:none;"><img src='<?php echo $up_arr; ?>'/></span>
</span>
<!--option mapping add more-->
<span class="optionhdn" style="display:none;">
    <span class="brandoption">
    </span>
    &lt;--&gt;
    <span class="storeoption"></span>
    <button title="Remove" type="button" class="scalable delete" onclick="removeOptionMapping(this)" style=""><span><span><span>Remove</span></span></span></button>
</span>
<!--end-->
<!--store mapping template-->
<span class="storemappinghdn" style="display:none;">
    <div>
        <br />
        In Channel: <select class="bndstore" onchange="removeDuplicacyOnAddmore('.mapping_tree .strmap .bndstore');">
            <?php
            if (@is_array($brand_stores))
                foreach ($brand_stores as $store_id => $store_name) {
                    echo "<option value='{$store_id}'>$store_name</option>";
                }
            ?> 
        </select>
        &lt;--&gt;
        In Store:   <select class="storestore">
            <?php
            if (@$store_stores)
                foreach ($store_stores as $store_id => $store_name) {
                    echo "<option value='{$store_id}'>$store_name</option>";
                }
            ?> 
        </select>
        <button title="Remove" type="button" class="scalable delete" onclick="removeStoreMapping(this)" style=""><span><span><span>Remove</span></span></span></button>
    </div>
</span>
<!--end-->
<!--Attribute set add more template-->
<div class="attribute_set_div" style="display:none;">
    <div class="atrset">
        <div class="entry-edit-head">
            <h4 class="icon-head head-edit-form fieldset-legend">Attribute Set Mapping</h4>
            <div style="float: right">
                <button  title="Add Field Mapping" type="button" class="scalable add" onclick="addFieldMapping(this)" style=""><span><span><span>Add Field Mapping</span></span></span></button>
                <button title="Remove Field Set" type="button" class="scalable delete" onclick="removeFieldSet(this)" style=""><span><span><span>Remove Field Set</span></span></span></button>
            </div>
            <div style="clear: both;"></div>
        </div>
        <fieldset>
            In Channel: <select id="brandfieldset" onchange="change_brand(this);">
                <?php
                if (@is_array($brand_attribute_set_ids))
                    foreach ($brand_attribute_set_ids as $brand_attr_set_id) {
                        echo "<option value='{$brand_attr_set_id}'>{$brand_attribute_Set[$brand_attr_set_id]['name']}</option>";
                    }
                ?>
            </select>
            &lt;--&gt;
            In Store: <select id="storefieldset" onchange="change_store(this);">
                <?php
                if (@$retailer_attribute_set_ids)
                    foreach ($retailer_attribute_set_ids as $retailer_attr_set_id) {
                        echo "<option value='{$retailer_attr_set_id}'>{$retailer_attribute_Set[$retailer_attr_set_id]['name']}</option>";
                    }
                ?>
            </select>
        </fieldset>
    </div>
</div>

<!--end-->
<!--category add more-->
<div class="categoriesaddmr" style="display:none;">
    <div>
        <br />
        In Channel: <select class="brandcat" onchange="removeDuplicacyOnAddmore('.mapping_tree .catmap fieldset .brandcat');">
            <?php
            if (@is_array($brand_categories))
                foreach ($brand_categories as $category) {
                    echo "<option value='{$category['id']}'>{$category['value']}</option>";
                }
            ?>
        </select>
        &lt;--&gt;
        In Store:<select class="storecat">
            <?php
            if (@$store_categories)
                foreach ($store_categories as $category) {
                    $catname = $category->getName();
                    echo "<option value='{$category->getId()}'>{$catname}</option>";
                }
            ?>
        </select>
        <button title="Remove" type="button" class="scalable delete" onclick="removeCategoryMapping(this)" style=""><span><span><span>Remove</span></span></span></button>

    </div>
</div>
<!--end-->
<div style="display: none;">
    <!--make drop down for all attribute set for brand--->
    <?php
    if (@$retailer_attribute_Set)
        foreach ($retailer_attribute_Set as $retailer_key => $retailer_attribute) {
            echo "<select id='store$retailer_key'>";
            unset($retailer_attribute['name']);
            foreach ($retailer_attribute as $retailer_ind_attribute) {
                $atr_name = $retailer_ind_attribute['value'] ? $retailer_ind_attribute['value'] : $retailer_ind_attribute['frontend_label'];
                echo "<option value='{$retailer_ind_attribute['attribute_id']}' data='{$retailer_ind_attribute['frontend_input']}'>{$atr_name}</option>";
            }
            echo "</select>";
        }
    ?>
    <!--end--->
    <!--make drop down for all attribute set for retailer--->
    <?php
    if (@is_array($brand_attribute_Set))
        foreach ($brand_attribute_Set as $brand_key => $brand_attribute) {
            echo "<select id='brand$brand_key'>";
            unset($brand_attribute['name']);
            foreach ($brand_attribute as $brand_ind_attribute) {
                $atr_name = isset($brand_attribute_labels[$brand_ind_attribute['attribute_id']]) ? $brand_attribute_labels[$brand_ind_attribute['attribute_id']] : $brand_ind_attribute['frontend_label'];
                echo "<option value='{$brand_ind_attribute['attribute_id']}'>{$atr_name}</option>";
            }
            echo "</select>";
        }
    ?>
    <!--end--->
    <!--make drop down for attribute options supplier--->
    <?php
    if (@$brand_attr_option && is_array(@$brand_attr_option))
        foreach (@$brand_attr_option as $attr_id => $options) {
            echo "<select id='brandoption$attr_id'>";
            foreach ($options as $option_key => $option_label) {
                echo "<option value='{$option_key}'>{$option_label}</option>";
            }
            echo "</select>";
        }
    ?>
    <!--end--->
    <!--make drop down for attribute options retailer--->
    <?php
    if (@$ret_attr_option && is_array($ret_attr_option))
        foreach ($ret_attr_option as $attr_id => $options) {
            echo "<select id='retoption$attr_id'>";
            foreach ($options as $option_key => $option_label) {
                echo "<option value='{$option_key}'>{$option_label}</option>";
            }
            echo "</select>";
        }
    ?>
    <!--end--->
</div>
<div class="mapping_tree">
    <div class="entry-edit-head">
        <h4 class="icon-head head-edit-form fieldset-legend"><?php echo $_element->getLegend() ?></h4>
        <button  title="Sync category and attribute set" type="button" class="scalable" onclick="sync()" style="float:right"><span><span><span>Sync Attribute and Catgory set</span></span></span></button>

    </div>
    <fieldset id="addmrfieldset">
        <button  title="Add Category Mapping" type="button" class="scalable add" onclick="addCategoryMapping();" style=""><span><span><span>Add Category Mapping</span></span></span></button>
        <button  title="Add Store Mapping" type="button" class="scalable add" onclick="addStoreMapping();" style=""><span><span><span>Add Store Mapping</span></span></span></button>
        <button  title="Add Field Mapping" type="button" class="scalable add" onclick="addAttributesetMapping();" style=""><span><span><span>Add Attribute Set</span></span></span></button>
        <button  title="Add Currency Mapping" type="button" class="scalable add" onclick="addCurrencyMapping();" style=""><span><span><span>Add Currency Mapping</span></span></span></button>
        <div class="addmoresection">
        </div>
    </fieldset>
</div>
<script>
    var attrset_count = 0;
    var attr_count = 0;
    var cat_count = 0;
    var store_count = 0;
    var atr_option_count = 0;
    //add category mapping on edit
<?php
if (@$category_mapping) {
    $category_mapping = array_reverse($category_mapping, true);
    foreach ($category_mapping as $brand_cat_id => $store_store_id) {
        ?>
            addCategoryMapping();
            $j(".mapping_tree .catmap fieldset .brandcat:first").val("<?php echo $brand_cat_id; ?>");
            $j(".mapping_tree .catmap fieldset  .storecat:first").val("<?php echo $store_store_id; ?>");
        <?php
    }
}
?>
    //add store mapping on edit
<?php
if (@$store_mapping) {
    $store_mapping = array_reverse($store_mapping, true);

    foreach ($store_mapping as $brand_store_id => $store_store_id) {
        ?>
            addStoreMapping();
            $j(".mapping_tree .strmap").find(".bndstore:first").val("<?php echo $brand_store_id; ?>");
            $j(".mapping_tree .strmap").find(".storestore:first").val("<?php echo $store_store_id; ?>");
        <?php
    }
}
?>
    //add field set mapping and field mapping on edit
<?php
if (@$mapping_data) {
    $mapping_data['fieldset'] = array_reverse($mapping_data['fieldset'], true);

    foreach ($mapping_data['fieldset'] as $brand_attrset_id => $store_attrset_id) {
        ?>
            addAttributesetMapping();
            $j(".mapping_tree .atrset:first #brandfieldset").val("<?php echo $brand_attrset_id; ?>");
            $j(".mapping_tree .atrset:first #storefieldset").val("<?php echo $store_attrset_id; ?>");
        <?php
        if (is_array(@$mapping_data[$brand_attrset_id])) {
            $mapping_data[$brand_attrset_id] = array_reverse($mapping_data[$brand_attrset_id], true);
            foreach ($mapping_data[$brand_attrset_id] as $brand_attr_id => $store_attr_id) {
                ?>
                    $j(".mapping_tree .atrset:first .entry-edit-head .add").trigger("click");
                    $j(".mapping_tree .atrset:first .atrmap:first .brndsel").val("<?php echo $brand_attr_id; ?>")
                    $j(".mapping_tree .atrset:first  .atrmap:first .storesel").val("<?php echo $store_attr_id; ?>")
                <?php
                if (@$option_mapping[$brand_attr_id] && is_array($option_mapping[$brand_attr_id])) {
                    $option_mapping[$brand_attr_id] = array_reverse($option_mapping[$brand_attr_id], true);
                    foreach ($option_mapping[$brand_attr_id] as $brand_option_id => $store_option_id) {
                        ?>
                            $j(".mapping_tree .atrmap:first .add").trigger("click");
                            $j(".mapping_tree .atrmap:first .brandoption:first select").val("<?php echo $brand_option_id; ?>");
                            var multiselect_option_ids = "<?php echo $store_option_id; ?>";
                            multiselect_option_ids = multiselect_option_ids.split(",");
                            //                            alert(multiselect_option_ids);
                            $j(".mapping_tree .atrmap:first .storeoption:first select").val(multiselect_option_ids);
                            $j(".mapping_tree .atrmap:first").find('span.uparrow').show();

                        <?php
                    }
                }
            }
        }
    }
}
?>
//add curency mapping
    var intf_currency = "<?php echo Mage::registry('incomingchannel_data')->getCurrency(); ?>";
    if (intf_currency) {
        addCurrencyMapping();
        if (parseInt(intf_currency)) {
            $j("#interface_currency").val("custom");
            $j("#interface_currency").trigger("change");
            $j("#custom_currency input").val(intf_currency);

        } else {
            $j("#interface_currency").val(intf_currency);

        }

    }
<?php if (Mage::registry('incomingchannel_data')->getCurrency()) { ?>
<?php }
?>

    //add new attribute for mapping
    function addFieldMapping(obj)
    {
        var html_str = $j(".hdnfield").html();
        var brand_set_id = $j(obj).closest(".atrset").find('fieldset #brandfieldset').val();
        var store_set_id = $j(obj).closest(".atrset").find('fieldset #storefieldset').val();
        if ($j("#brand" + brand_set_id + " option").length == $j(obj).closest(".atrset").find('fieldset #brandattr').length) {
            return false;
        }
        var brand_html = $j("#brand" + brand_set_id).html();
        var store_html = $j("#store" + store_set_id).html();
        var field_selector = ".mapping_tree #" + $j(obj).closest(".attributesetaddmr").prop("id") + " #brandattr .brndsel";
        $j(obj).closest(".atrset").find('fieldset #storefieldset').after("<div id='curfieldmap' class='atrmap' style='border:1px solid black;background: #e7efef;padding: 10px;margin-bottom: 30px;margin-top: 30px;'><br /><span class='atrmaponly'>" + html_str + "</span></div>");
        $j(obj).closest(".atrset").find('fieldset #curfieldmap #brandattr').html("<select class='brndsel' name='mapping[" + brand_set_id + "][" + attr_count + "][brand_attr_id]' onchange='removeAttrOptionMapping(this),removeDuplicacyOnAddmore(\"" + field_selector + "\");'>" + brand_html + "</select>");
        $j(obj).closest(".atrset").find('fieldset #curfieldmap #storeattr').html("<select class='storesel' name='mapping[" + brand_set_id + "][" + attr_count + "][store_attr_id]' onchange='removeAttrOptionMapping(this);'>" + store_html + "</select>");
        $j(obj).closest(".atrset").find("fieldset #curfieldmap").prop('id', 'attrbuteaddmr' + attr_count);
        removeDuplicacyOnAddmore(field_selector);
        attr_count++;
    }
    //add new attribute for mapping
    function addCategoryMapping()
    {
        if ($j(".mapping_tree .catmap").length === 0) {
            var strmapping_fieldset = '<div class="catmap"><div class="entry-edit-head"><h4 class="icon-head head-edit-form fieldset-legend">Category Mapping</h4></div><fieldset></fieldset></div>';
            $j(".mapping_tree").append(strmapping_fieldset);
        }
        if ($j(".categoriesaddmr .brandcat option").length == $j(".mapping_tree .catmap fieldset .brandcat").length) {
            return false;
        }
        var html_str = $j(".categoriesaddmr").html();
        $j(".mapping_tree .catmap fieldset").prepend(html_str);
        $j(".mapping_tree .catmap fieldset .brandcat:first").prop('name', 'mapping[category][' + cat_count + '][brand]');
        $j(".mapping_tree .catmap fieldset .storecat:first").prop('name', 'mapping[category][' + cat_count + '][store]');
        removeDuplicacyOnAddmore(".mapping_tree .catmap fieldset .brandcat");
        cat_count++;
    }
    function reverseStack(obj) {
        return obj.pushStack(obj.get().reverse());
    }
    function removeDuplicacyOnAddmore(obj) {
        $j(obj).find("option").removeClass("duplicateOpt");
        $rev = reverseStack($j(obj));
        $rev.each(function () {
            catval = $j(this).val();
            if ($j(this).find("option[value='" + catval + "']").hasClass("duplicateOpt")) {
                catval = $j(this).find("option:not(.duplicateOpt):first").val();
                $j(this).val(catval);
            }
            curname = $j(this).prop('name');
            $j(obj + ":not([name='" + curname + "']) option[value='" + catval + "']").addClass("duplicateOpt");
        });
    }
    //add new attribute for mapping
    function removeCategoryMapping(obj)
    {
        if ($j(obj).closest("div.catmap").find("fieldset div").length == 1) {
            $j(obj).closest("div.catmap").remove();
        } else {
            $j(obj).closest("div").remove();
            removeDuplicacyOnAddmore(".mapping_tree .catmap fieldset .brandcat");

        }
    }
    //remove the attribute field set
    function removeFieldSet(obj)
    {
        $j(obj).closest("div.atrset").remove();
        removeDuplicacyOnAddmore(".mapping_tree .atrset fieldset #brandfieldset");
    }

    //add new attribute set
    function addAttributesetMapping()
    {
        if ($j(".attribute_set_div #brandfieldset option").length == $j(".mapping_tree .atrset fieldset #brandfieldset").length) {
            return false;
        }
        var html_str = $j('.attribute_set_div').html();
        $j(".mapping_tree #addmrfieldset").after("<span id='attributesetaddmr" + attrset_count + "' class='attributesetaddmr'>" + html_str + "</span>");
        $j(".mapping_tree").find(".atrset:first #brandfieldset").prop('name', 'mapping[brandfieldset][' + attrset_count + ']');
        $j(".mapping_tree").find(".atrset:first #storefieldset").prop('name', 'mapping[storefieldset][' + attrset_count + ']');
        removeDuplicacyOnAddmore(".mapping_tree .atrset fieldset #brandfieldset");
        attrset_count++;
    }
    //remove the addmore attribute
    function removeFieldMapping(obj)
    {
        var cur_attr = $j(obj).closest('.atrmap');
        var field_selector = ".mapping_tree #" + $j(obj).closest(".attributesetaddmr").prop("id") + " #brandattr .brndsel";
        cur_attr.remove();
        removeDuplicacyOnAddmore(field_selector);
    }

    //sync attribute and category set 
    function sync() {
        url = "<?php echo $this->getUrl('adminhtml/sync/sync_category_n_attribute'); ?>" + "id/<?php echo $this->getRequest()->getParam('id'); ?>";
        window.location.href = url;
    }
    function change_brand(obj) {
        var brand_set_id = $j(obj).val();
        var brand_html = $j("#brand" + brand_set_id).html();
        if ($j(obj).closest("fieldset").find(".atrmap").length) {
            $j(obj).closest("fieldset").find(".atrmap").each(function () {
                $j(this).find(".storesel").prop("name", 'mapping[' + brand_set_id + '][' + attr_count + '][store_attr_id]');
                $j(this).find(".brndsel").prop("name", 'mapping[' + brand_set_id + '][' + attr_count + '][brand_attr_id]');
                attr_count++;
            });
        }
        $j(obj).closest("fieldset").find(".brndsel").html(brand_html);
        removeDuplicacyOnAddmore(".mapping_tree .atrset fieldset #brandfieldset");

    }
    function change_store(obj) {
        var store_set_id = $j(obj).val();
        var store_html = $j("#store" + store_set_id).html();
        $j(obj).closest("fieldset").find(".storesel").html(store_html);
    }
    function addStoreMapping() {
        if ($j(".mapping_tree .strmap").length === 0) {
            var strmapping_fieldset = '<div class="strmap"><div class="entry-edit-head"><h4 class="icon-head head-edit-form fieldset-legend">Store Mapping</h4></div><fieldset></fieldset></div>';
            $j(".mapping_tree").append(strmapping_fieldset);
        }
        if ($j(".storemappinghdn .bndstore option").length == $j(".mapping_tree .strmap .bndstore").length) {
            return false;
        }
        $j(".mapping_tree .strmap fieldset").prepend($j(".storemappinghdn").html());
        $j(".mapping_tree .strmap").find(".bndstore:first").prop('name', 'mapping[store][' + store_count + '][brand]');
        $j(".mapping_tree .strmap").find(".storestore:first").prop('name', 'mapping[store][' + store_count + '][store]');
        removeDuplicacyOnAddmore(".mapping_tree .strmap .bndstore");
        store_count++;
    }
    function addCurrencyMapping() {
        if ($j(".mapping_tree .currency_map").length === 0) {
            var currency_fieldset = '<div class="currency_map"><div class="entry-edit-head"><h4 class="icon-head head-edit-form fieldset-legend">Currency Mapping</h4>\n\
<div style="float: right"><button title="Remove Field Set" type="button" class="scalable delete" onclick="removecurrency(this)" style=""><span><span><span>Remove Currency</span></span></span></button>\n\
</div></div><fieldset><select name="currency" onchange="customcurrency(this);" id="interface_currency">';
            store_currencies =<?php echo $Allcurrencies; ?>;
            $j.each(store_currencies, function (i, n) {
                currency_fieldset += "<option value='" + n + "'>" + n + "</option>";
            });
            currency_fieldset += "<option value='custom'>Custom</option>";

            currency_fieldset += "</select><--> In Store: <?php echo $current_currency; ?></fieldset>"; 
            $j(".mapping_tree #addmrfieldset").after(currency_fieldset);

        }

    }
    function customcurrency(obj) {
        if ($j(obj).val() == 'custom') {
            custom_currency_val = "<div id='custom_currency'><br />Custom Value &nbsp;&nbsp;<input type='text' name='currency'/></div>";
            $j(".mapping_tree .currency_map fieldset").append(custom_currency_val);

        } else {
            $j(".mapping_tree .currency_map fieldset #custom_currency").remove();
        }
    }
    //remove the currency mapping
    function removecurrency(obj)
    {
        $j(obj).closest(".currency_map").remove();
        $j("#db_currency").val("");
    }
    //remove the attribute field set
    function removeStoreMapping(obj)
    {
        if ($j(".mapping_tree .strmap fieldset div").length == 1)
            $j(".mapping_tree .strmap").remove();
        else {
            $j(obj).closest("div").remove();
            removeDuplicacyOnAddmore(".mapping_tree .strmap .bndstore");
        }
    }
    //remove the attribute field set
    function addOptionMapping(obj)
    {
        var cur_attr = $j(obj).closest('.atrmap');
        var cur_brand_attr = $j(cur_attr).find(".brndsel").val();
        var cur_ret_attr = $j(cur_attr).find(".storesel").val();
        var brand_opt = $j("#brandoption" + cur_brand_attr).html();
        var ret_opt = $j("#retoption" + cur_ret_attr).html();
        if (typeof brand_opt === 'undefined' || typeof ret_opt === 'undefined') {
            //alert("Sorry Mapping attribute have no opitons");
            return false;
        }
        var store_set_id = $j(obj).closest(".atrset").find('fieldset #storefieldset').val();
        select_type = $j("#store" + store_set_id + " option[value='" + cur_ret_attr + "']").attr('data');
        html_str = $j(".optionhdn").html();
        var field_selector = ".mapping_tree .atrset #" + cur_attr.prop("id") + " .optmap .brandoption select";
        $j(obj).closest("div.atrmap .atrmaponly").after("<div class='optmap'><br />" + html_str + "</div>");
        $j(obj).closest("div.atrmap").find("div.optmap:first .brandoption").html("<select name='mapping[option_mapping][" + cur_brand_attr + "][" + atr_option_count + "][brand]' onchange='removeDuplicacyOnAddmore(\"" + field_selector + "\");'>" + brand_opt + "</select>");
        if (select_type == 'multiselect') {
            $j(obj).closest("div.atrmap").find("div.optmap:first .storeoption").html("<select name='mapping[option_mapping][" + cur_brand_attr + "][" + atr_option_count + "][store][]' multiple='multiple'>" + ret_opt + "</select>");
        } else {
            $j(obj).closest("div.atrmap").find("div.optmap:first .storeoption").html("<select name='mapping[option_mapping][" + cur_brand_attr + "][" + atr_option_count + "][store]'>" + ret_opt + "</select>");
        }
        $j(obj).closest("div.atrmap").find("div.optmap:first .brandoption select option").each(function () {
            opt_text = $j(this).text();
            if ($j(obj).closest("div.atrmap").find('div.optmap:first .storeoption select option:contains("' + opt_text + '")').length) {
                $j(this).remove();
            }
        });


        removeDuplicacyOnAddmore(field_selector);
        if ($j(obj).closest("div.atrmap").find("div.optmap:first .brandoption select option:not('.duplicateOpt')").length == 0) {
            $j(obj).closest("div.atrmap").find("div.optmap:first").remove();
        }
        $j(obj).closest("div.atrmap").find('span.uparrow').show();
        atr_option_count++;
    }
    function removeOptionMapping(obj) {
        var cur_attr = $j(obj).closest('.optmap');
        var attr_id = cur_attr.closest('.atrmap').prop("id");
        cur_attr.remove();
        var field_selector = ".mapping_tree .atrset #" + attr_id + " .optmap .brandoption select";
        removeDuplicacyOnAddmore(field_selector);
    }
    //remove option mapping on change of attribute mapping
    function removeAttrOptionMapping(obj) {
        $j(obj).closest("div.atrmap").find("div.optmap").remove();
    }
    $j(document).on('click', '.dwnarrow', function () {
        if ($j(this).closest('div.atrmap').find('div.optmap').length)
            $j(this).closest('div.atrmap').find('div.optmap').show();
        $j(this).hide();
        $j(this).closest('div.atrmap').find('span.uparrow').show();
    });
    $j(document).on('click', '.uparrow', function () {
        if ($j(this).closest('div.atrmap').find('div.optmap').length)
            $j(this).closest('div.atrmap').find('div.optmap').hide();
        $j(this).hide();
        $j(this).closest('div.atrmap').find('span.dwnarrow').show();
    });
</script>
<style>
    .duplicateOpt{display:none;}
</style>