<?php $channel_type = Mage::registry('addon'); ?>
<div class="bridge-sales-promo" id="bridge-sales-promo-<?php echo trim($channel_type); ?>">
    <div class="bridge-sales-promo-inner-wrapper">
        <?php
        $module = ucfirst($channel_type);
        $bridgecoremodulepath = Mage::helper('bridge')->getModuleInstallationDirectory();
        $guidepath = $bridgecoremodulepath . "/$channel_type.phtml";
        if (file_exists($guidepath)):
            ?>
            <?php
                include_once $guidepath;
            ?>
        <?php else: ?>
            <h4>
                In order to avail this service,please install the our addon  <?php echo $module; ?>
            </h4>
        <?php endif; ?>
    </div>
</div>
