<?php
$_element = $this->getElement();
$channel_data =Mage::registry('incomingchannel_data');
?>
<div class="rule-tree">
    <fieldset id="<?php echo $_element->getHtmlId() ?>" <?php echo $_element->serialize(array('class')) ?>>
        <table cellspacing="0" class="form-list" border="1">
            <tbody>
                <tr>
                    <td class="label"><label>Mode<span class="required">*</span></label></td>
                    <td class="value">
                        <input type="radio" name="mode" value="demo" id="demo" class="demo">
                        <label for="demo">Demo</label>
                        <input type="radio" name="mode" value="live" id="live" class="demo validate-one-required">
                        <label for="live">Live</label>
                    </td>
                </tr>
                <tr id="product_statustr" style="display:none;">
                    <td class="label"><label>Product Status<span class="required">*</span></label></td>
                    <td class="value">
                        <select name="product_status" class="required-entry">
                            <option value="">Select Product Status</option>
                            <option value=1>Active</option>
                            <option value=0>Inactive</option>
                            <option value=2>As it in Brand</option>
                        </select>
                    </td>
                </tr>
            </tbody>
        </table>
        </form>
    </fieldset>
</div>
<script>
    mode = "<?php echo @$channel_data['mode']; ?>";
    $j("#product_statustr select").val("<?php echo @$channel_data['product_status']; ?>");
    $j(".demo[value='" + mode + "']").prop("checked", true);
    if ($j("#live").is(":checked")) {
        $j("#product_statustr").show()
        $j("#product_statustr select").addClass('required-entry');
    }
    $j(document).ready(function () {
        $j(".demo").click(function () {
            if ($j(this).val() == "demo") {
                $j("#product_statustr select").val("");
                $j("#product_statustr").hide();
                $j("#product_statustr select").removeClass('required-entry');
            } else {
                $j("#product_statustr").show()
                $j("#product_statustr select").addClass('required-entry');
            }
        });
    });
</script>