<?php
$quickview = 0;
$quickview = Mage::registry('quickview');
if (!$quickview) {
    $sellers = $this->getProductSellers();
    $product = $this->getProduct();
    $starsettings = intval(Mage::getStoreConfig('tribecoresettings/seller_starrating_settings/tribe_seller_star_rating_no'));
    $nostars = ($starsettings) ? $starsettings : 5;
    $starsize = intval(Mage::getStoreConfig('tribecoresettings/seller_starrating_settings/tribe_seller_star_size'));
    $starsize = ($starsize) ? $starsize : 15;
    $helper = Mage::helper('tribeseller');
    $latlnginfo = $helper->getCurrentLatLng();
    $lat = $latlnginfo['lat'];
    $lng = $latlnginfo['lng'];
    $sourceinfo = array($lat, $lng);
    $data = array();
} ?>
 <script type="text/javascript">
                //<![CDATA[
                function addRating(id, rating) {
                    jQuery("#product_seller-" + id).rateYo({
                        starWidth: "<?php echo $starsize; ?>px",
                        readOnly: true,
                        rating: rating ? rating : 0,
                        spacing: "5px",
                        numStars: <?php echo $nostars; ?>,
                        multiColor: {
                            "startColor": "#FFC600", //RED
                            "endColor": "#FFC600"
                        },
                        halfStar: true
                    });
                }
                function sellerAddToCart(id_seller, obj) {
                    if (id_seller) {
                        jQuery('#product_seller_id').val(id_seller);
                        var url = jQuery('#product_addtocart_form').attr('action');
                        var seller_param = (url.split('product_seller/')[1] || '').split('&')[0];
                        url = url.replace('product_seller/'+seller_param,'product_seller/'+id_seller+'/');
                        jQuery('#product_addtocart_form').attr('action',url);
                        
                        productAddToCartForm.submit(obj);
                        url = url.replace('product_seller/'+id_seller+'/','product_seller/'+seller_param); //this is required bcz after adding product from js grid is again add to cart af product view page is clicked then the seller will be wrong.
                        jQuery('#product_addtocart_form').attr('action',url);
                        return false;
                    }
                }
                
               
                </script>
<?php if (count($sellers) > 0):
    $_url = Mage::helper('checkout/cart')->getAddUrl($product);
    ?>
    <?php
    foreach ($sellers as $sellerarr) {
        $seller = $helper->getSellerFromOptionId($sellerarr['channel_supplier']);
        if (!$seller)
            continue;
        $seller = Mage::getModel('tribeseller/seller')->load($seller->getId());
        //msrp calculation
        $_helper = $this->helper('catalog/output');
        $msrp = $product->getMsrp();
        $formattedmsrp='';
        $actprice = $sellerarr['converted_price'];//$product->getFinalPrice(); //($_product->getSpecialPrice()) ? $_product->getSpecialPrice() : $_product->getPrice();
        $mrkpriceflag = 1;
        if (intval($actprice) > intval($msrp)) {
            $mrkpriceflag = 0;
        }
        $saveprice = $msrp - $actprice;
        $saveperctage = intval(($saveprice / $msrp) * 100);
        if ($mrkpriceflag) :
            if ($saveperctage >= 5) :
                $formattedmsrp = Mage::helper('core')->currency($_helper->productAttribute($product, $product->getMsrp(), 'msrp'), true, true);
              endif;
        endif;
        $usave = "<div class=' right-price-info'>";
                   if ($mrkpriceflag) {
                       if ($saveperctage >= 5) {
                           $sav = $this->__('You Save');
                           $cur = Mage::helper('core')->currency($saveprice, true, false);
                            $usave.="<div class='price-right-wrapper'>
                                    <div class='fltlft'>
                                     <div class='save-price-area'>
                                       <div class='you-save'>$sav: </div>
                                       <span class='percentage-price-text '>$cur</span>";
                            if ($saveprice) {
                                 $usave.="<span class='save-price-per-area percentage-price'>$saveperctage% off</span>";
                                }
                                    $usave.="</div><div>";
                               
                               $usave.="<div class='clearer'></div>";
                            $usave.="<div>";
                        }
                   }
                $usave.="</div>";
        //msrp calculation
        $price = "<div class='msrp-area'><span class='new-price-table'>".$sellerarr['converted_price']."</span>&nbsp;<del>".$formattedmsrp. "</del></div><div>".$usave."</div>";
        
        $selerdat = $seller->getData();
        $selerdat['price'] = $price;
        $destinfo = array($seller->getSellerGeolat(), $seller->getSellerGeolng());
        $distanceinfo = $helper->calculateDistanceBetweenTwoLatLng($sourceinfo, $destinfo);
        $selerdat['distance'] = $distanceinfo['text'];
        $selerdat['distancelabel'] = '<div>' . $this->__("{$distanceinfo['text']} Km  (About {$distanceinfo['duration']})") . '<div><button class="button Get-Direction" onclick="showDirection(' . $seller->getId() . ',\'' . $this->getUrl('tribeseller/sellerspage/getDirection') . '\');" style="display:none;"><img style="height:12px;width:10px;" src="' . $this->getSkinUrl('images/Direction_icon.png') . '" alt="' . $this->__("Get Direction") . '" />&nbsp;Get Direction</button></div></div>';
        $ssdata[] = $selerdat;
    }
    ?>
    <div id="sellers-table-grid">
        <h2 class="content_title browse_all_stores">
            <a id="other-sellers-act" href="javascript:void(0);" class="expand" data-parent="#sellers-grid">
                <span><?php echo $this->__('View Other Offers'); ?></span>
            </a>
        </h2>
        <div class="product-sellers col-xs-12 table-responsive" id="sellers-grid">
            <div id="jsGrid"></div>

            <script type="text/javascript">
                 function initseller() {
    <?php $data = json_encode($ssdata); ?>
                    var clients = <?php echo $data; ?>; //alert(JSON.stringify(clients));
                    // alert(clients.toSource());
                    
                    jQuery("#jsGrid").jsGrid("destroy");
                    jQuery("#jsGrid").jsGrid({
                        width: "100%",
                        sorting: true,
                        paging: true,
                        autoload: true,
                        controller: {
                            loadData: function () {
                                return clients;
                            }
                        },
                        fields: [
                            {name: "seller_store_name", title: "Name", type: "text", validate: "required"},
                            {name: "seller_avg_rating", title: "Rating", type: "number", itemTemplate: function (value, item) {
                                    return '<div id="product_seller-' + item.entity_id + '"></div><script>addRating(' + item.entity_id + ',' + item.seller_avg_rating + ')<\/script>';
                                }},
                            {name: "distance", title: "Distance", type: "number", itemTemplate: function (value, item) {
                                    return '<div class="address" style="font-weight:bold;">' + item.distancelabel + '</div>';
                                }},
                            {name: "seller_opening_hours", title: "Opening Hours", type: "text"},
                            {name: "price", title: "Price", type: "text"},
                            {name: "entity_id", title: "&nbsp;", type: "text", sorting: false, itemTemplate: function (value, item) {
                                    return '<button onclick="sellerAddToCart(' + item.entity_id + ',this);" class="button btn-cart" title="Add to Cart" type="button"><span><span><i class="icon-cart"></i>Add to Cart</span></span></button>';
                                }},
                        ]
                    });
                }
                jQuery(function ($) {
                    initseller();
                    $("#jsGrid").jsGrid("sort", { field: "distance", order: "asc" });
                    jQuery("#other-sellers-act").click(function () {
                        if (jQuery(this).hasClass('expand')) {
                            jQuery(this).removeClass('expand').addClass('collapsed');
                            jQuery(jQuery(this).attr('data-parent')).slideUp();
                        } else {
                            jQuery(this).removeClass('collapsed').addClass('expand');
                            jQuery(jQuery(this).attr('data-parent')).slideDown();
                        }
                    });
                });
                //]]>

            </script>
        </div>
        <style type="text/css">
            .product-sellers{margin-bottom: 30px;} 
            .jsgrid-table{width: 100% !important;}
            .jsgrid-header-sort-desc:before,
            .jsgrid-header-sort-asc:before{border-width: 7px !important;float:right !important;position:relative;}
            .jsgrid-header-sort-desc:before {top:-4px;border-color:transparent transparent #777777 !important;}
            .jsgrid-header-sort-asc:before{top:4px;border-color:#777777 transparent transparent !important;}
        </style>
    </div>
<?php endif; ?>