<?php
$photoscollection = $this->getAllPhotos();
$info = $this->getCurrentProfileInfo();
$profileimage = '';
$width = Mage::getStoreConfig('photos/general/profile_icon_width');
$height = Mage::getStoreConfig('photos/general/profile_icon_height');
$fimg_width = Mage::getStoreConfig('photos/general/featured_image_width');
$fimg_height = Mage::getStoreConfig('photos/general/featured_image_height');
if ($info['trcr_profile_pic']) {
    $profileimage = Mage::helper('arccore')->resizeImg($info['trcr_profile_pic'], $width, $height);
}
?>
<style type="text/css">
    .note_more,.main-div-for-tab,.photos-form{display: none;}
    .tribe_photo_fancybox{display: block !important;}
</style>
<div class="main-div-for-tab" id="photos_mosaicflow">
    <div class="clearfix mosaicflow">
        <?php if (Mage::helper('tribephotos')->isActionallowed($info)): ?>
            <div class="mosaicflow__item">
                <div class="add-block-main-div">
                    <span class="fa fa-pencil-square-o add-photo-image" title="Add a Photo"></span>
                    <h5>Add a Photo</h5>
                    <div class="photos-form">
                        <?php echo $this->getChildHtml('add_photos'); ?>
                    </div>
                </div>
            </div>
        <?php endif; ?>
        <?php if ($photoscollection->getSize()): ?>
            <?php foreach ($photoscollection as $photos): ?>
                <div class="mosaicflow__item" id="photo_item_<?php echo $photos->getId(); ?>">
                    <div class="note-wrapper photo-wrapper">
                        <div class="note_meta photo_meta">
                            <?php if ($profileimage): ?>
                                <span class="note_prifile_img">
                                    <img src="<?php echo $profileimage; ?>" alt="<?php echo $info['trcr_name']; ?>" />
                                </span>
                            <?php endif; ?>
                            <div class="note-date-name-div">
                                <span class="profile_name">
                                    <?php echo $info['trcr_name']; ?>
                                </span>
                                <br/>
                                <span class="note_created_at">
                                    <?php echo date("d-m-Y h:i:s", strtotime($photos->getCreatedAt())); ?>
                                </span>
                            </div>
                            <?php if (Mage::helper('tribephotos')->isActionallowed($info)): ?>
                                <div class="note-action-div fa fa-ellipsis-v">
                                    <ul> 
                                        <li><a href="javascript:void(0);" onclick="editphoto(<?php echo $photos->getEntityId(); ?>)"><i class="fa fa-pencil"></i> Edit</a></li>
                                        <li><a href="javascript:void(0);" onclick="deletephoto(<?php echo $photos->getEntityId(); ?>)"><i class="fa fa-close"></i> Delete</a></li>
                                    </ul>
                                </div>
                            <?php endif; ?>
                        </div>
                        <?php
                        if ($photos->getTrcrPhotos()):
                            $note_featured_image = Mage::helper('arccore')->resizeImg($photos->getTrcrPhotos(), $fimg_width, $fimg_height, TRUE);
                            ?>
                            <div class="photo_featured_img">
                                <?php
                                    $folderURL = Mage::getBaseUrl('media') . 'arccore/arcs/images';
                                    $imageURL = $folderURL . $photos->getTrcrPhotos();
                                ?>
                                <a class="tribe_photo_fancybox" rel="tribe_gallery" href="<?php $imageURL?>" title="<?php echo $photos->getTrcrTitle(); ?>">
                                    <img src="<?php echo $note_featured_image; ?>" alt="<?php echo $info['trcr_name']; ?>" style="width:100%;"/>
                                </a>
                                <p title="<?php echo $photos->getTrcrTitle(); ?>">
                                    <?php echo $photos->getTrcrTitle(); ?>
                                </p>
                            </div>
                        <?php endif; ?>
                    </div>
                </div>
            <?php endforeach; ?>
        <?php else: ?>
            <div class="mosaicflow__item">
                <p><?php echo $this->__('No Photos Found for this profile !'); ?></p>
            </div>
        <?php endif; ?>
    </div>
    <input type="hidden" name="page" id="status_page" value="0"/>
    <input type="hidden" name="is_last" id="status_is_last" value="0"/>
</div>

<div><input type="button" class="load_more" value="Load More..." onclick="showmorepics();"></div>
<div class="msg-ld-mr note-msg" style="display:none; clear:both;">There are no more photo(s) available.</div>

<div class="clearfix clearer"></div>

<script type="text/javascript">
    var mosaiccontainer;
    jQuery(document).ready(function ($) {
        $(".tribe_photo_fancybox").fancybox({
		openEffect	: 'none',
		closeEffect	: 'none'
	});
        
        $('.main-div-for-tab').css('display', 'block');
        mosaiccontainer = jQuery('#photos_mosaicflow').mosaicflow({
            itemSelector: '.mosaicflow__item',
            columnClass: 'mosaicflow__column',
            minItemWidth: 370,
            minColumns: 1,
            itemHeightCalculation: 'auto',
            threshold: 0
        });
        $(document).on('click', '.note-action-div', function (e) {
            e.stopPropagation();
            $(this).find('ul').slideToggle(500);
        });
        $(document).on('click', function () {
            $('.note-action-div').find('ul').slideUp(500);
        });
        $('.add-block-main-div').click(function () {
            var content = $('.photos-form').html();
            $('.photos-form').html('');
            $('#ajax-cart-loading-mask').show();
            $.fancybox(
                    content,
                    {
                        helpers: {
                            overlay: {
                                closeClick: false,
                            }
                        },
                        afterShow: function () {
                            $('#ajax-cart-loading-mask').hide();
                        },
                        afterClose: function () {
                            $('.photos-form').html(content);
                        }
                    }
            );
        });
        <?php
$loggedin_id =(Mage::app()->isInstalled() && Mage::getSingleton('customer/session')->isLoggedIn()) ? Mage::getSingleton('customer/session')->getCustomer()->getId() : 0;
$loggedin_email =(Mage::app()->isInstalled() && Mage::getSingleton('customer/session')->isLoggedIn()) ? Mage::getSingleton('customer/session')->getCustomer()->getEmail() : '';
$postinfo_formore = array('id' => $info['entity_id'], 'profile_info' => $info,'is_logged_in' =>$loggedin_id,'logged_in_email' =>$loggedin_email);
$enc_data = Mage::helper('tribephotos')->encrypt($postinfo_formore);
?>
      //   $(window).scroll(function () {
        //    if ($(window).scrollTop() + $(window).height() == $(document).height()) {
                //Here if not reached at last note, fetch by making further ajax request
                
               
          //  }
       // });
    });


            function showmorepics(){
                if (!parseInt(jQuery('#status_is_last').val())) {
                    jQuery('#ajax-cart-loading-mask').show();
                    var url = '<?php echo Mage::helper('tribephotos')->loadmorephotoUrl(); ?>';
                    var page = parseInt(jQuery('#status_page').val()) + 1;
                    jQuery.ajax({
                        url: url,
                        method: "POST",
                        data: {page: page, info: '<?php echo $enc_data; ?>'},
                        dataType: "json"
                    }).done(function (msg) {//alert(msg);
                        jQuery('#ajax-cart-loading-mask').hide();
                        if (parseInt(msg.count)) {
                            var content = jQuery('#photos_mosaicflow').append(msg.content);
                            jQuery('#status_page').val(parseInt(jQuery('#status_page').val()) + 1);
                            setTimeout(function () {
                                jQuery.each(msg.ids, function (index, val) {
                                    var elm = jQuery('#' + val);
                                    mosaiccontainer.mosaicflow('add', elm);
                                });
                            }, 100);

                        } else {
                            jQuery('#status_is_last').val(1);
                            jQuery('.load_more').hide();
                            jQuery('.msg-ld-mr').show();
                        }

                    });
                }
                }
                
                
    function deletephoto(id) {
        var conf = confirm('Are you sure to delete this Photo !');
        if (conf) {
            jQuery('#ajax-cart-loading-mask').show();
            var url = '<?php echo Mage::helper('tribephotos')->photodeleteUrl(); ?>';
            jQuery.ajax({
                url: url,
                method: "POST",
                data: {id: id},
                dataType: "json"
            }).done(function (msg) {
                if (msg) {
                    alert("<?php echo Mage::helper('tribephotos')->__('Something Wrong happend !') ?>");
                } else {
                    jQuery('#ajax-cart-loading-mask').hide();
                    var elm = jQuery('#photo_item_' + id);
                    mosaiccontainer.mosaicflow('remove', elm);
                    elm.remove();
                }
            });
        }
    }

    function editphoto(id) {
        jQuery('#ajax-cart-loading-mask').show();
        var url = '<?php echo Mage::helper('tribephotos')->editInfoPhotourl(); ?>';
        jQuery.ajax({
            url: url,
            method: "POST",
            data: {id: id},
            dataType: "json"
        }).done(function (msg) {
            jQuery('#submit-btn').val('Update');
            var actionurl = jQuery('#photos-form').attr('action');
            actionurl += 'id/' + msg.entity_id;
            jQuery('#photos-form').attr('action', actionurl);
            jQuery('#ajax-cart-loading-mask').hide();
            jQuery('.add-block-main-div').trigger('click');
            setTimeout(function () {
                jQuery.each(msg, function (index, element) {
                    jQuery('.' + index).val(element);
                    jQuery('.' + index).html(element);
                });
            }, 200);
        });
    }
</script>