<script type="text/javascript">
    var data = "";
    var active = false;
    jQuery(function ($) {
        if ($('body').find('#resultLoading').attr('id') != 'resultLoading') {
            $('.main').append('<div id="resultLoading" style="display:none"><div><?php if ($this->loadingImage): ?><img src="<?php echo $this->loadingImage ?>"><?php else: ?><i class="ajax-loader large animate-spin"></i><?php endif; ?><div><?php echo $this->loadingText ?></div></div><div class="bg"></div></div>');
        }
        var height = $('.main').outerHeight();
        var width = $('.main').outerWidth();
        $('.ui-slider-handle').css('cursor', 'pointer');

        $('#resultLoading').css({
            'width': '100%',
            'height': '100%',
            'position': 'fixed',
            'z-index': '10000000',
            'top': '0',
            'left': '0'
        });
        $('#resultLoading .bg').css({
            'background': '#ffffff',
            'opacity': '0.5',
            'width': '100%',
            'height': '100%',
            'position': 'absolute',
            'top': '0'
        });
        $('#resultLoading>div:first').css({
            'width': '100%',
            'text-align': 'center',
            'position': 'absolute',
            'left': '0',
            'top': '50%',
            'font-size': '16px',
            'z-index': '10',
            'color': '#ffffff'
        });
    });


</script>