<?php 
//form data if exist
$retailer = Mage::getSingleton('customer/session')->getData('retailer');
?>
<form  class="scaffold-form" id="form-validate" method="post" action="<?php echo Mage::getUrl('bridge/retailer/signup'); ?>">
    <div class="fieldset">
        <p class="form-instructions">Please enter the following information to create your retailer account.</p>
        <ul class="form-list">
            <li>
                <div class="field">
                    <label class="required" for="user_name"><em>*</em>User Name</label>
                    <div class="input-box">
                        <input  type="text" class="input-text required-entry" value="<?php echo @$retailer['username']; ?>" title="User Name" value="" id="user_name" name="username" spellcheck="false" autocorrect="off" autocapitalize="off" />

                    </div> 
                </div>
            </li>
            <li>
                <div class="field">
                    <label class="required" for="first_name"><em>*</em>First Name</label>
                    <div class="input-box">
                        <input  type="text" class="input-text required-entry" title="First Name" value="<?php echo @$retailer['firstname']; ?>" id="firstname" name="firstname" spellcheck="false" autocorrect="off" autocapitalize="off" />

                    </div> 
                </div>
            </li>
            <li>
                <div class="field">
                    <label class="required" for="last_name"><em>*</em>Last Name</label>
                    <div class="input-box">
                        <input  type="text"  class="input-text required-entry" title="Last Name" value="<?php echo @$retailer['lastname']; ?>" id="last_name" name="lastname" spellcheck="false" autocorrect="off" autocapitalize="off" />

                    </div> 
                </div>
            </li>
            <li>
                <div class="field">
                    <label class="required" for="email_address"><em>*</em>Email Address</label>
                    <div class="input-box">
                        <input type="email" class="input-text validate-email required-entry" title="Email Address" value="<?php echo @$retailer['email']; ?>" id="email_address" name="email" spellcheck="false" autocorrect="off" autocapitalize="off">
                    </div>
                </div>
            </li>

            <li class="fields">
                <div class="field">
                    <label class="required" for="password"><em>*</em>Password</label>
                    <div class="input-box">
                        <input type="password" class="input-text required-entry validate-password"  title="Password" id="password" name="password">
                    </div>
                </div>
            </li>
            <li>
                <div class="field">
                    <label class="required" for="confirmation"><em>*</em>Confirmation Password</label>
                    <div class="input-box">
                        <input type="password" class="input-text required-entry validate-cpassword" id="confirmation" title="Confirmation Password" name="confirmation">
                    </div>
                </div>
            </li>
        </ul>
    </div>  
    <div class="buttons-set">
        <button class="button" title="Register" type="submit"><span><span>Register</span></span></button>
    </div>
</form>
<script type="text/javascript">
    var dataForm = new VarienForm('form-validate', true);
</script>