<?php
$starsettings = intval(Mage::getStoreConfig('tribecoresettings/seller_starrating_settings/tribe_seller_star_rating_no'));
$nostars = ($starsettings) ? $starsettings : 5;
$avgrating = $this->getRating();
?>
<div id="sellerrating"></div>
<input type="hidden" id="custom_rating" name="custom_rating" class="validate-rating" value="<?php echo $avgrating;?>" />
<script type="text/javascript">
    //<![CDATA[

    jQuery(function ($) {
        $("#sellerrating").rateYo({
            starWidth: "25px",
            readOnly: false,
            rating: <?php echo $avgrating;?>,
            spacing: "5px",
            numStars: <?php echo $nostars; ?>,
            multiColor: {
                "startColor": "#FF0000", //RED
                "endColor": "#00FF00"  //GREEN
            },
            halfStar: true,
            onSet: function (rating, rateYoInstance) {
                $('#custom_rating').val(rating);
            }
        });
    });

    //]]>
</script>