<?php
$starsettings = intval(Mage::getStoreConfig('tribecoresettings/seller_starrating_settings/tribe_seller_star_rating_no'));
$nostars = ($starsettings) ? $starsettings : 5;
$avgrating = $this->getAverageRating();
?>
<div id="rateYo"></div>
<script type="text/javascript">
    //<![CDATA[

    jQuery(function ($) {
        $("#rateYo").rateYo({
            starWidth: "25px",
            readOnly: true,
            rating: <?php echo $avgrating;?>,
            spacing: "5px",
            numStars: <?php echo $nostars; ?>,
            multiColor: {
                "startColor": "#FF0000", //RED
                "endColor": "#00FF00"  //GREEN
            },
            halfStar: true
        });
    });

    //]]>
</script>
