<!--@subject Email - Footer @-->
                    <!-- End Content -->
                    </td>
                </tr>
            </table>
            <!--h5 class="closing-text" style="margin-bottom:30px; color:#fff;">Thank you, {{var store.getFrontendName()}}!</h5-->
         <h5 class="closing-text" style="margin-bottom:30px; color:#fff;">Thank you, Ecociate !</h5>
        </td>
    </tr>
</table>
<!-- End wrapper table -->
</body>
