<?php
$block = Mage::app()->getLayout()->createBlock('blog/menu_sidebar');
?>
<?php
$i = 0;
if ($posts = $block->getRecent()):
    ?>
    <div class="block-title1 bgWhite">
        
        <img  class="img-responsive" src="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA) . "wysiwyg/Blog.png" ?>" alt="Bg-Image-Eco2.png" />
    </div>
    <div class="ourBlogContainer">
        <div class="container">
            <?php
            foreach ($posts as $post):
                $i++;
                if ($i <= 2):
                    ?>
                    <div class="blog-post-cont bgWhite">
                        <div class="col-sm-4">
                            <div class="post-image">

                                <img class="img-responsive" src="<?php echo Mage::getBaseUrl('media') . $post->getImage(); ?>" alt=""/>

                                <?php
//            if($post_image = $post->getImage()){
                                ?>
            <!--<img class="img-responsive" src="<?php // echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA).$post_image; ?>" alt=""/>-->
                                <?php
//            }
                                ?>
                            </div>
                        </div>
                        <div class="col-sm-8">
                            <div class="post-date">
                                <?php
                                $originalDate = $post->getCreatedTime();
                                $newDate = date("d/m/Y g:i A", strtotime($originalDate));
                                echo $newDate;
                                ?>
                            </div>
                            <div class="postTitle">
                                <h2><a href="<?php echo $post->getAddress(); ?>"><?php echo $post->getTitle(); ?></a></h2>
                            </div>
                            <?php
                            $short_content = strip_tags($post->getShortContent());
                            $short_content_str = wordwrap($short_content, 280, '**break**');
                            $short_content_arr = explode('**break**', $short_content_str);
                            $short_content_data = isset($short_content_arr[0]) ? $short_content_arr[0] : '';
                            ?>
                            <div class="postContent"><?php echo $short_content_data . "..."; ?></div>
                            <div align="right"><a class="readmore"  href="<?php echo $post->getAddress(); ?>">Read More</a></div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
        <?php else:
            break;
            endif; ?>

    <?php endforeach; ?>
            <div class="clearfix"></div></div></div><?php endif; ?>
            
<div class="view_all_blog browse_all_stores"><a style="background-color:#72BF03;"  href="<?php echo Mage::getBaseUrl() . "blog"; ?>"> View All Blog</a></div>
