<?php
$comments = Mage::helper('tribepledge')->getAllPledge();
?>
<div class="container">
    <div id='review-carousel' class="owl-carousel owl-theme">
        <?php foreach ($comments as $k => $v): ?>
            <div class="item" style="overflow: hidden;">
                <div class="comment-wrapper"><?php echo $v->getTrplComment(); ?> - <span class="spnName"> <?php echo $v->getTrcrFirstName(); ?></span></div>
            </div>
        <?php endforeach; ?>
    </div>
</div>
<script type="text/javascript">// <![CDATA[
    jQuery(function ($) {
        var owl1 = $('#review-carousel');
        owl1.owlCarousel({
            items: 1,
            loop: true,
            margin: 10,
            autoplay: true,
            dots: false,
            autoplayTimeout: 1500,
            autoplayHoverPause: false
        });
        $(".fancybox-overlay-fixed").hide();
    });
// ]]></script>