<?php
$seller = $this->getCurrentSeller();
$geoinfo = explode(',', $seller->getSellerDirectionMap());

$latlnginfo = Mage::helper('tribeseller')->getCurrentLatLng();
$origlat = $latlnginfo['lat'];
$origlng = $latlnginfo['lng'];
if ($geoinfo):
    $lat = $geoinfo[0];
    $long = $geoinfo[1];
    ?>
    <div class="row">
        <div id="locationField" class="col-xs-12 col-sm-6 col-sm-offset-3">
            <input id="autocomplete" class="dirctnTextbx" placeholder="Enter your address" onFocus="geolocate()" type="text" />
            <input type="button" class="getDirctn" value="Get Direction" onclick="getDir()"/>           
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-8 dirMapcontnr">
            <div id="map"></div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
            <div id="panel"></div>
        </div>
        <div class="clearfix"></div>
    </div>
    <?php $apikey = Mage::helper('tribeseller')->getGoogleApiKey(); ?>
    <script type="text/javascript">
        var latitude, longitude, placeSearch, autocomplete;
        function initMap() {
            latitude = <?php echo $lat; ?>;
            longitude = <?php echo $long; ?>;
            var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 14,
                center: {lat: latitude, lng: longitude}
            });
            var latlng = {lat: latitude, lng: longitude};
            var marker = new google.maps.Marker({
                position: latlng,
                map: map,
                title: latitude + ',' + longitude,
                draggable: false
            });
            google.maps.event.addDomListener(window, "resize", function () {
                var center = map.getCenter();
                google.maps.event.trigger(map, "resize");
                map.setCenter(center);
            });
            google.maps.event.addDomListener(map, 'idle', function () {
                center = map.getCenter();
                google.maps.event.trigger(map, "resize");
            });
            autocomplete = new google.maps.places.Autocomplete((document.getElementById('autocomplete')), {types: ['geocode']});
            initDirection(map);
        }
        function initDirection(map) {
            var directionsDisplay = new google.maps.DirectionsRenderer;
            var directionsService = new google.maps.DirectionsService;
            directionsDisplay.setMap(map);
            var selectedMode = 'DRIVING';
            directionsService.route({
                origin: {lat: <?php echo $origlat; ?>, lng: <?php echo $origlng; ?>}, // Haight.
                destination: {lat: latitude, lng: longitude},
                travelMode: google.maps.TravelMode[selectedMode]
            }, function (response, status) {
                if (status == google.maps.DirectionsStatus.OK) {
                    document.getElementById('panel').innerHTML = '';
                    directionsDisplay.setDirections(response);
                    directionsDisplay.setPanel(document.getElementById('panel'));
                } else {
                    window.alert('Directions request failed due to ' + status);
                }
            });
        }

        function calculateAndDisplayRoute() {
            var directionsDisplay = new google.maps.DirectionsRenderer;
            var directionsService = new google.maps.DirectionsService;
            var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 14,
                center: {lat: latitude, lng: longitude}
            });
            directionsDisplay.setMap(map);
            var selectedMode = 'DRIVING';
            directionsService.route({
                origin: document.getElementById('autocomplete').value, // Haight.
                destination: {lat: latitude, lng: longitude}, // Ocean Beach.
                travelMode: google.maps.TravelMode[selectedMode]
            }, function (response, status) {
                if (status == google.maps.DirectionsStatus.OK) {
                    document.getElementById('panel').innerHTML = '';
                    directionsDisplay.setDirections(response);
                    directionsDisplay.setPanel(document.getElementById('panel'));
                } else {
                    window.alert('Directions request failed due to ' + status);
                }
            });
        }
        function geolocate() {
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(function (position) {
                    var geolocation = {
                        lat: position.coords.latitude,
                        lng: position.coords.longitude
                    };
                    var circle = new google.maps.Circle({
                        center: geolocation,
                        radius: position.coords.accuracy
                    });
    //                    autocomplete.setBounds(circle.getBounds());
                });
            }
        }
        function getDir() {
            if (document.getElementById('autocomplete').value) {
                calculateAndDisplayRoute()
            }
        }
        function appendBootstrap() {
            if (typeof google === 'object' && typeof google.maps === 'object') {
                initMap();
            } else {
                var script = document.createElement("script");
                script.type = "text/javascript";
                script.src = "https://maps.googleapis.com/maps/api/js?key=<?php echo $apikey; ?>&libraries=places&callback=initMap";
                document.body.appendChild(script);
            }
        }
        appendBootstrap();
    </script>
    <link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500">
<?php else: ?>
    <p><?php Mage::helper('tribeseller')->__('Map Not found!') ?></p>
<?php endif; ?>