<?php
$seller = $this->getCurrentSeller();
//$geoinfo = explode(',', $seller->getSellerDirectionMap());
$geoinfo = array($seller->getSellerGeolat(),$seller->getSellerGeolng());
$latlnginfo = Mage::helper('tribeseller')->getCurrentLatLng();
$origlat = $latlnginfo['lat'];
$origlng = $latlnginfo['lng'];
if ($geoinfo):
    $lat = $geoinfo[0];
    $long = $geoinfo[1];
    ?>
    <div class="row">
        <div id="locationField" class="col-xs-12 col-sm-6 col-sm-offset-3">
            <input id="autocomplete" class="dirctnTextbx" placeholder="Enter your address" onFocus="geolocate()" type="text" />
            <input type="button" class="getDirctn" value="Get Direction" onclick="getDir()"/>           
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <div id="floating-panel" style="display: none;">
                <b>Mode of Travel: </b>
                <select id="mode">
                    <option value="DRIVING">Driving</option>
                </select>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-8 dirMapcontnr">
            <div id="map"></div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
            <div id="panel"></div>
        </div>
        <div class="clearfix"></div>
    </div>

    <script>
        var latitude, longitude, placeSearch, autocomplete;
        function initMap() {
            latitude = <?php echo $lat; ?>;
            longitude = <?php echo $long; ?>;
            var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 14,
                center: {lat: latitude, lng: longitude}
            });
            var latlng = {lat: latitude, lng: longitude};
            var marker = new google.maps.Marker({
                position: latlng,
                map: map,
                title: latitude + ',' + longitude,
                draggable: false
            });
            autocomplete = new google.maps.places.Autocomplete(
                    (document.getElementById('autocomplete')), {types: ['geocode']});
            autocomplete.addListener('place_changed', calculateAndDisplayRoute);
            document.getElementById('mode').addEventListener('change', function () {
                calculateAndDisplayRoute();
            });
            initDirection(map);
        }
        function initDirection(map) {
            var directionsDisplay = new google.maps.DirectionsRenderer;
            var directionsService = new google.maps.DirectionsService;
            directionsDisplay.setMap(map);
            var selectedMode = document.getElementById('mode').value;
            directionsService.route({
                origin: {lat: <?php echo $origlat; ?>, lng: <?php echo $origlng; ?>}, // Haight.
                destination: {lat: latitude, lng: longitude},
                travelMode: google.maps.TravelMode[selectedMode]
            }, function (response, status) {
                if (status == google.maps.DirectionsStatus.OK) {
                    /*document.getElementById('map').style.width = "70%";
                     document.getElementById('panel').style.width = "30%";*/
                    document.getElementById('panel').innerHTML = '';
                    document.getElementById('floating-panel').style.display = 'block';
                    directionsDisplay.setDirections(response);
                    directionsDisplay.setPanel(document.getElementById('panel'));
                } else {
                    window.alert('Directions request failed due to ' + status);
                }
            });
        }

        function calculateAndDisplayRoute() {
            var directionsDisplay = new google.maps.DirectionsRenderer;
            var directionsService = new google.maps.DirectionsService;
            var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 14,
                center: {lat: latitude, lng: longitude}
            });
            directionsDisplay.setMap(map);
            var selectedMode = document.getElementById('mode').value;
            directionsService.route({
                origin: document.getElementById('autocomplete').value, // Haight.
                destination: {lat: latitude, lng: longitude}, // Ocean Beach.
                travelMode: google.maps.TravelMode[selectedMode]
            }, function (response, status) {
                if (status == google.maps.DirectionsStatus.OK) {
                    /*document.getElementById('map').style.width = "70%";
                     document.getElementById('panel').style.width = "30%";*/
                    document.getElementById('panel').innerHTML = '';
                    document.getElementById('floating-panel').style.display = 'block';
                    directionsDisplay.setDirections(response);
                    directionsDisplay.setPanel(document.getElementById('panel'));
                } else {
                    window.alert('Directions request failed due to ' + status);
                }
            });
        }
        function geolocate() {
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(function (position) {
                    var geolocation = {
                        lat: position.coords.latitude,
                        lng: position.coords.longitude
                    };
                    var circle = new google.maps.Circle({
                        center: geolocation,
                        radius: position.coords.accuracy
                    });
                    autocomplete.setBounds(circle.getBounds());
                });
            }
        }
        function getDir() {
            if (document.getElementById('autocomplete').value) {
                calculateAndDisplayRoute()
            }
        }

    </script>
    <?php $apikey = Mage::helper('tribeseller')->getGoogleApiKey(); ?>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=<?php echo $apikey; ?>&libraries=places&callback=initMap"></script>
    <link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500">
    <!--<style type="text/css">
        
    </style>-->
<?php else: ?>
    <p><?php Mage::helper('tribeseller')->__('Map Not found!') ?></p>
<?php endif; ?>