<?php
$url = $this->getUrl("tribeseller/sellerspage/setpin");
$savedpin = Mage::helper('tribeseller')->getCurrentZipInUse();
$apikey = Mage::helper('tribeseller')->getGoogleApiKey(); 
?>
<fieldset class="home_zip_block col-xs-12 col-sm-10 col-sm-offset-1">
    <!--div>
    <div id="type-selector" class="pac-controls">
          <input type="radio" name="type" id="changetype-all" checked="checked">
          <label for="changetype-all">All</label>

          <input type="radio" name="type" id="changetype-establishment">
          <label for="changetype-establishment">Establishments</label>

          <input type="radio" name="type" id="changetype-address">
          <label for="changetype-address">Addresses</label>

          <input type="radio" name="type" id="changetype-geocode">
          <label for="changetype-geocode">Geocodes</label>
        </div>
        <div id="strict-bounds-selector" class="pac-controls">
          <input type="checkbox" id="use-strict-bounds" value="">
          <label for="use-strict-bounds">Strict Bounds</label>
        </div>
      </div-->
    <div class="form-group col-xs-12" id="pac-card">
        <div class="form_text_zip_code" id="pac-container">
            <input id="pin" name="seller[pin]" type="text" maxlength="6" placeholder="ZIP OR AREA CODE" class="form-control input-md required-entry" value="<?php echo $savedpin; ?>">
        </div>
        <input id="latlng_hdn" name="seller[lat_lng]" type="hidden">
        <div class="error" id="errorpin" style="display:none;">Invalid Pin Entered</div>
    </div>
    <!--div id="infowindow-content">
      <img src="" width="16" height="16" id="place-icon">
      <span id="place-name"  class="title"></span><br>
      <span id="place-address"></span>
    </div-->
    <div class="form-group col-xs-12">
        <div class="find_store_button">
            <button name="singlebutton" class="btn btn-default singlebutton loginbtn">ENTER <i class="fa fa-angle-right"></i></button>
        </div>
    </div>
    <div class="form-group">
        <div align="right">
            <a href="javascript:void(0)" class="linkSkip" onclick="doskip();">Skip &nbsp;<i class="fa fa-step-forward"></i>&nbsp;</a>
        </div>
    </div>
</fieldset>
<script type="text/javascript">
    function takeaction(obj, pin, skip,latlng) {
        //if ((pin.match(/^\d+$/) && pin.length == 6) || skip) {
            obj.ajax({
                url: '<?php echo $url; ?>',
                data: {'pin': pin, 'lat_lng': latlng},
                type: "POST",
                success: function (result) { //alert(result);
                    obj(".pin-pouup-only").hide();
                    obj(".login-popup-only").hide()
                   // obj(".login-popup-only").show(); //hide by puru
                    obj.fancybox.update();
                }
            });
       // }
        /*else {
            obj('#errorpin').show();
        }*/
    }
    
    //< ![CDATA[
//    var customForm = new VarienForm('my-custom-form', 'true');
    function doskip() {
        jQuery("#skipzip").val(1);
        takeaction(jQuery, '', 1);
    }
    jQuery(function ($) {
        $(".loginbtn").click(function () {
            $("#skipzip").val(0);
            takeaction($, $("#pin").val(), 0,$("#latlng_hdn").val());
        });
       /* $("#pin").on('keyup', function () {
            $('#errorpin').hide();
        });*/
    });
    //]]>
</script>
<style type="text/css">
    .form-horizontal .form-group {
        margin-left: 5px;
        margin-right: 5px;
        padding: 0;
    }
    .form-control{
        height: 50px;
    }
    select#selectbasic option{
        background:#575757;
        color:#DE750A ;
        font-weight: 600;

    } 
    .form_text_zip_code{background-color:#ffffff;}
</style>
<script>
      // This example requires the Places library. Include the libraries=places
      // parameter when you first load the API. For example:
      // <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&libraries=places">

      function initMap() {
        /* var map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: -33.8688, lng: 151.2195},
          zoom: 13
        });*/
        var card = document.getElementById('pac-card');
        var input = document.getElementById('pin');
       // var types = document.getElementById('type-selector');
       // var strictBounds = document.getElementById('strict-bounds-selector');

       // map.controls[google.maps.ControlPosition.TOP_RIGHT].push(card);

        var autocomplete = new google.maps.places.Autocomplete(input);

        // Bind the map's bounds (viewport) property to the autocomplete object,
        // so that the autocomplete requests use the current map bounds for the
        // bounds option in the request.
       // autocomplete.bindTo('bounds', map);

        //var infowindow = new google.maps.InfoWindow();
        //var infowindowContent = document.getElementById('infowindow-content');
        //infowindow.setContent(infowindowContent);
       /* var marker = new google.maps.Marker({
          map: map,
          anchorPoint: new google.maps.Point(0, -29)
        });*/

        autocomplete.addListener('place_changed', function() {
          //infowindow.close();
          //marker.setVisible(false);
          var place = autocomplete.getPlace(); //alert(place.geometry.viewport);return false;
          document.getElementById('latlng_hdn').value = place.geometry.location;
          if (!place.geometry) {
            // User entered the name of a Place that was not suggested and
            // pressed the Enter key, or the Place Details request failed.
            window.alert("No details available for input: '" + place.name + "'");
            return;
          }

          // If the place has a geometry, then present it on a map.
          /*if (place.geometry.viewport) {
            map.fitBounds(place.geometry.viewport);
          } else {
            map.setCenter(place.geometry.location);
            map.setZoom(17);  // Why 17? Because it looks good.
          }
          marker.setPosition(place.geometry.location);
          marker.setVisible(true);*/

          var address = '';
          if (place.address_components) {
            address = [
              (place.address_components[0] && place.address_components[0].short_name || ''),
              (place.address_components[1] && place.address_components[1].short_name || ''),
              (place.address_components[2] && place.address_components[2].short_name || '')
            ].join(' ');
          }

          //infowindowContent.children['place-icon'].src = place.icon;
         // infowindowContent.children['place-name'].textContent = place.name;
         // infowindowContent.children['place-address'].textContent = address;
         // infowindow.open(map, marker);
        });

        // Sets a listener on a radio button to change the filter type on Places
        // Autocomplete.
        /*function setupClickListener(id, types) {
          var radioButton = document.getElementById(id);
          radioButton.addEventListener('click', function() {
            autocomplete.setTypes(types);
          });
        }*/

       // setupClickListener('changetype-all', []);
       // setupClickListener('changetype-address', ['address']);
       // setupClickListener('changetype-establishment', ['establishment']);
      //  setupClickListener('changetype-geocode', ['geocode']);

       /* document.getElementById('use-strict-bounds')
            .addEventListener('click', function() {
              console.log('Checkbox clicked! New state=' + this.checked);
              autocomplete.setOptions({strictBounds: this.checked});
            });*/
      }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDqvScx7EGSdTGuNKOVmykpxiQnwFhluII&libraries=places&callback=initMap"
        async defer></script>