<?php
$attributes = $this->getattributes();
$submitAction = Mage::getUrl('tribeseller/Sellerregister/save');
$ajaxcheckAction = Mage::getUrl('tribeseller/Sellerregister/checkunique');
$ajaxcheckmailAction = Mage::getUrl('tribeseller/Sellerregister/isemailexist');
$loaderpath = Mage::getBaseUrl('media') . 'tribe/defaultimages/loader1.gif';
?>
<div class="my-account col-sm-8 col-sm-offset-2">
    <div class="page-title">
        <h1>Seller Registration</h1>
    </div>
    <?php if ($attributes) {
        ?>
        <div class="slr-succ-msg welcome-msg" style="display:none;">Please wait for admin's confirmation.</div>
        <form action="JavaScript:Void(0);" method="post" enctype="multipart/form-data" id="slr_form-validation">
            <div class="fieldset">
                <ul class="form-list profileForm">
                    <input type="hidden" value="1" name="seller[seller_status]">
                    <?php
                    foreach ($attributes as $attrGroupName => $attributes) {
                        foreach ($attributes as $attribute_id => $attributeDetail) {
                            $inputId = $attributeDetail['attribute_code'] . "-field";
                            $_class = $attributeDetail['attribute_code'];
                            $htmlStr = '';
                            $required = $attributeDetail['is_required'] ? 'required-entry' : '';
                            $required_label = $attributeDetail['is_required'] ? 'required' : '';
                            if ($attributeDetail['attribute_code'] == 'trcr_username' && $arcdata['trcr_username_default'] == 1) {
                                $arcdata[$attributeDetail['attribute_code']] = '';
                            }
                            ?>
                            <li class="wide col-sm-6">
                                <label class="leblblockTitle <?php echo $required_label; ?>" for="<?php echo $attributeDetail['attribute_code']; ?>"><?php echo $attributeDetail['frontend_label']; ?>
                                    <?php if ($required_label == 'required'): ?>
                                        <em>*</em>
                                    <?php endif; ?>
                                </label>
                                <div class="input-box">
                                    <?php
                                    $name = "seller[{$attributeDetail['attribute_code']}]";
                                    $value = $arcdata[$attributeDetail['attribute_code']];
                                    switch ($attributeDetail['frontend_input']) {
                                        case 'text':
                                            $inputType = isset($validationInput[$attributeDetail['frontend_class']]) && $validationInput[$attributeDetail['frontend_class']] ? $validationInput[$attributeDetail['frontend_class']] : 'text';
                                            $htmlStr = "<input type='{$inputType}' id='{$inputId}' value='{$value}' name='{$name}' class='input-text " . $required . "&nbsp;" . $_class . "'/>";

                                            break;
                                    }
                                    echo $htmlStr;
                                    ?>
                                </div>
                            </li>
                            <?php
                        }
                    }
                    ?> 




                    <!--for password -->
                    <li class="wide col-sm-6">
                        <label class="leblblockTitle required" for="seller_password" aria-required="true">Password<em>*</em></label>
                        <div class="input-box">
                            <input id="seller_password-field" value="" name="seller[seller_password]" class="input-text required-entry seller_password valid" type="password">
                        </div>

                    <li class="wide col-sm-6">
                        <label class="leblblockTitle required" for="seller_country" aria-required="true">Country<em>*</em></label>
                        <?php
                        $_countries = Mage::getResourceModel('directory/country_collection')
                                ->loadData()
                                ->toOptionArray(false)
                        ?>
    <?php if (count($_countries) > 0): ?>
                            <select name="seller[seller_country]" id="country">
                                <option class="slct_here" value="">-- Please Select --</option>
                                    <?php foreach ($_countries as $_country): ?>
                                    <option value="<?php echo $_country['value'] ?>">
                                    <?php echo $_country['label'] ?>
                                    </option>
                            <?php endforeach; ?>
                            </select>
    <?php endif; ?>
                    </li>

                    </li>   
                    <li class="wide col-sm-6">
                        <label class="leblblockTitle required" for="seller_pin" aria-required="true">Pin<em>*</em></label>
                        <div class="input-box">
                            <input id="seller_pin-field" value="" name="seller[seller_pin]" class="input-text required-entry seller_pin valid" type="text">
                        </div>
                    </li>              

                </ul>
            </div>
            <div class="buttons-set">
                <p class="required">* Required Fields</p>

                <div class="seller-agrmnt">
    <?php $home_url = Mage::getBaseUrl(); ?>
                    I agree to the <a target="_blank" href="<?php $home_url ?>/terms-conditions">terms and conditions</a> <input type="checkbox" name="seller_accept-new" value="" id="seller-accept-new" style="float:left;margin:11px 5px 0 10px" />
                </div>              
                <input type="submit" class="button sbmtbtn" value="REGISTER">
                <div id="loaderspan" style="display:none;"><img src="<?php echo $loaderpath ?>"></div>
            </div>
        </form>

    <?php }
    ?>
    <script type="text/javascript">
        //<![CDATA[

        jQuery(function ($) {

            // function validate_here(){
            jQuery("#slr_form-validation").validate({
                onkeyup: false,
                // focusCleanup: true,
                rules: {
                    'seller[seller_first_name]': {
                        required: true,
                    },
                    'seller[seller_last_name]': {
                        required: true,
                    },
                    'seller[seller_email]': {
                        required: true,
                        uniquemail: true
                    },
                    'seller[seller_user_name]': {
                        required: true,
                        uniquename: true
                    },
                    'seller[seller_store_name]': {
                        required: true,
                    },
                    'seller[seller_password]': {
                        required: true,
                    },
                    'seller[seller_pin]': {
                        required: true,
                    },
                    'seller[seller_country]': {
                        required: true,
                    },
                    'seller_accept-new': {
                        required: true,
                    }
                },
                messages: {
                    'seller[seller_first_name]': {
                        required: "This field is required",
                    },
                    'seller[seller_last_name]': {
                        required: "This field is required"
                    },
                    'seller[seller_email]': {
                        required: "This field is required"
                    },
                    'seller[seller_user_name]': {
                        required: "This field is required"
                    },
                    'seller[seller_store_name]': {
                        required: "This field is required"
                    },
                    'seller[seller_password]': {
                        required: "This field is required"
                    },
                    'seller[seller_pin]': {
                        required: "This field is required"
                    },
                    'seller[seller_country]': {
                        required: "This field is required"
                    },
                    'seller_accept-new': {
                        required: "This field is required"
                    }

                },
                submitHandler: function (form) {
                    $('#loaderspan').show();
                    var url = "<?php echo $submitAction; ?>";
                    var datas = jQuery("#slr_form-validation").serialize();
                    $.ajax({
                        url: url,
                        type: form.method,
                        data: jQuery('#slr_form-validation').serialize(),
                        success: function (result) {
                            if (result == '1') {
                                jQuery("#slr_form-validation input[type=text]").val("");
                                jQuery("#slr_form-validation input[type=password]").val("");
                                jQuery(".slct_here").attr("selected", "selected");
                                jQuery("#seller-accept-new").prop('checked', false);
                                jQuery('.sbmtbtn').attr("disabled", "disabled");
                                $('#loaderspan').hide();
                                jQuery('.slr-succ-msg').show();
                            }
                            else {
                                jQuery('.slr-succ-msg').hide();
                            }

                        }
                    });
                }

            });

            jQuery.validator.addMethod("uniquename", function () {
                var url = "<?php echo $ajaxcheckAction; ?>";
                var uname = jQuery("input[name='seller[seller_user_name]']").val();
                jQuery('#loaderspan').show();
                jQuery.ajax({
                    url: url,
                    data: {username: uname},
                    success: function (result) {
                        var res = $.parseJSON(result);
                        if (res.err == '0')
                            ret = 1;
                        else
                            ret = 0;
                        $('#loaderspan').hide();
                    },
                    async: false
                });
                if (ret == 1)
                    return true;
                else
                    return false;
            }, 'Username already in use.');

            jQuery.validator.addMethod("uniquemail", function () {
                var url = "<?php echo $ajaxcheckmailAction; ?>";
                var email = $("input[name='seller[seller_email]']").val();
                $('#loaderspan').show();
                jQuery.ajax({
                    url: url,
                    data: {email: email},
                    success: function (result) {
                        var res = $.parseJSON(result);
                        if (res.resp == '1')
                            ret = 1;
                        else
                            ret = 0;
                        jQuery('#loaderspan').hide();
                    },
                    async: false
                });
                if (ret == 1)
                    return true;
                else
                    return false;
            }, 'Email is already in use.');

//}
        });


    </script>
</div>
<style type="text/css">
    .form-list.profileForm li:nth-last-child(2) .spnProfPicCont strong,
    .form-list.profileForm li:last-child .spnProfPicCont strong{font-size:18px;font-weight:400;}
    .form-list.profileForm li:nth-last-child(2) .spnProfPicCont p,
    .form-list.profileForm li:last-child .spnProfPicCont p{font-size:16px;}
    .hideInput{display:none !important;cursor: pointer;}
    .spnProfPicCont{margin-right:15px;position: relative;}
    .spnProfPic strong{font-size: 18px;font-weight: 500;}
    .spnEditImg{
        position: absolute;
        right: 0px;
        bottom: -5px;
        background: #737373;
        padding: 4px 4px 4px 7px;
        cursor: pointer;
    }
    .spnEditImg label{font-size: 22px;color: #ffffff;padding: 0px !important;}
    .my-account .form-list .input-box .lblBorder{border:1px solid #cdcdcd;margin:0px 5px 5px 0px;}
    .form-list .input-box label i{border:0px transparent;cursor:pointer;vertical-align:middle;}
    .form-list .input-box label i.fa-minus-circle{color:#ff0000;font-size:18px;}
    .my-account button.button span span{font-size: 16px;font-weight: bold;width: 100px;}
    .seller-agrmnt label{width:100%; margin-left:10px;}
</style>