<?php /*
<div class="topCarouselContainer">
    <!--<div id='img-carousel' class="topsellerheader owl-carousel owl-theme">-->
    <div id='img-carousel' class="owl-carousel owl-theme">
        <div class="item">
            <a > <!-- href="#ecoregister" -->
                <img src="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA)."wysiwyg/home_top_banner_slider/Bg-Image-Eco2.png"?>" alt="Bg-Image-Eco2.png" />
            </a>
        </div>
        <div class="item">
            <a > <!-- href="#ecoregister" -->
                <img src="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA)."wysiwyg/home_top_banner_slider/Bg-Image-Eco.png"?>" alt="Bg-Image-Eco.png" />
            </a>
        </div>
        <!--        <div class="item top-banner-area" style="overflow: hidden;">
                    <span class="slider_txt"><i>Organic food</i> is  becoming the buzz word among consumers.<br/> These consumers are the pioneers who are standing up to <i>support</i> the environment,<br/> the small and marginal farmers and the organizations which are engaged<br/> in the supply-chain of organic food.</span>
                </div>
                <div class="item top-banner-area" style="overflow: hidden;">
                    <span class="slider_txt"><i>Organic food</i> is  becoming the buzz word among consumers.<br/> These consumers are the pioneers who are standing up to <i>support</i> the environment,<br/> the small and marginal farmers and the organizations which are engaged<br/> in the supply-chain of organic food..</span>
                </div>
                <div class="item top-banner-area" style="overflow: hidden;">
                    <span class="slider_txt"><i>Organic food</i> is  becoming the buzz word among consumers.<br/> These consumers are the pioneers who are standing up to <i>support</i> the environment,<br/> the small and marginal farmers and the organizations which are engaged<br/> in the supply-chain of organic food...</span>
                </div>-->
    </div>
</div>
*/?>



<?php
$customerpin = Mage::helper('tribeseller')->getCurrentZipInUse();
?>


<div class="topCarouselContainer">
  <div class="top-container" >
    <div class="top-banner-area topsellerheader">
    <div class="topbannerblock">
    <h1>One step towards being a responsible consumer
     
    </h1>
       
        <ul class="topbannerIconblock" id="imgcarouselmedia">
            <li>
                <!--<a href="<?php echo Mage::getBaseUrl();?>allstore" class="hastag" style="color: #FFFFFF !important"></a>-->
                <span class="hastag" style="color: #FFFFFF !important">
                    Find Your Store
                </span>
            </li>
            <li>
                <a href="<?php echo Mage::getBaseUrl();?>allstore">
                    <img src="<?php echo Mage::getBaseUrl();?>/skin/frontend/fedobe/ecociate/images/Organic.png" alt=""><span>All Stores</span></a>
            </li>
            <li>
                <a href="<?php echo Mage::getBaseUrl();?>allstore?organic_foods=509">
                    <img src="<?php echo Mage::getBaseUrl();?>/skin/frontend/fedobe/ecociate/images/Organic.png" alt=""><span>Organic</span></a>
            </li>
                      
<!--            <li>            
           <a class="addthis_button_facebook" addthis:url="https://www.facebook.com/earthyngreen" target="_blank"  addthis:title="#PledgeforGreen I  stand for Organic Food to support environment, farmers and my family. @Ecociate" title="Facebook" href="https://www.facebook.com/earthyngreen"> addthis:description="#PledgeforGreen I  stand for Organic Food to support environment, farmers and my family. @Ecociate"
        <img src="<?php echo Mage::getBaseUrl();?>/skin/frontend/fedobe/ecociate/images/FB.svg" alt="" width="34" style="padding-top:7%">
        </a>
            </li>
              <li>
            
            <a class="twitter-share-button twtShare" href="https://twitter.com/earthyngreen" target="_blank" style="top:0px;">
                <img src="<?php echo Mage::getBaseUrl();?>skin/frontend/fedobe/ecociate/images/twit.svg" alt="" width="34" style="padding-top:7%">
            </a>
               
            </li>-->
        </ul>
    <div class="clearfix" ></div>
        
    </div>
    </div>
    
</div>
<div class="clearfix" ></div>
    <div id='img-carousel' class="owl-carousel owl-theme">
        
    </div>
</div>
<style>
.topsellerheader {
    background: url('<?php echo Mage::getBaseUrl();?>skin/frontend/fedobe/ecociate/images/Banner.jpg') no-repeat center center / auto auto !important;
}
.top-banner-area {
    padding-top: 7%;
     padding-bottom: 1%;
}
.topsellerheader {
    max-width: 100%;
    margin: 0px;
}
.topbannerblock {
    max-width: 695px;
    width: 90%;
    text-align: center;
    margin: 50px auto;
    margin-bootom:30px;
    border: 1px solid rgba(0,0,0,0.5);
}
.topbannerIconblock {
    margin: 20px auto !important;
    display: table;
}
.hastag{
    width: 250px !important;
    color:#02a94d !important;
    font-size:20px !important;
    padding-top:7% !important;
}
@media (min-width:320px) and (max-width:767px) {
   
.hastag{
    width: 150px !important;
}

}
</style>
<script type="text/javascript">// <![CDATA[
    jQuery(function ($) {
        var slider_dtch = $('.topCarouselContainer').detach();
        $('.main-container').prepend(slider_dtch);
        var owl = $('#img-carousel');
        owl.owlCarousel({
            items: 1,
            loop: true,
            margin: 10,
            autoplay: true,
            //autoplayTimeout: 1000,
            autoplayHoverPause: true,
            dots:false,
        });
        $('.play').on('click', function () {
            owl.trigger('play.owl.autoplay', [1000])
        });
        $('.stop').on('click', function () {
            owl.trigger('stop.owl.autoplay')
        });
    });
</script>