<style>
.carouselVideomodal{
	padding: 3px 0 !important;
}
</style>

<div id="videocarou" class="owl-carousel owl-theme videoCarousel">
   <?php /*
   <div class="item-video" data-merge="1"> 
        <iframe src="https://www.youtube.com/embed/mMkj1bJyWTg"  id="videoModal" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        <a href="javascript:void(0)" data-toggle="modal" data-target="#videoModal" class="videoOverlay"></a>
    </div>
    
    <div class="item-video" data-merge="1">
        <iframe src="https://www.youtube.com/embed/80ckh6TRs5k"  id="videoModal" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        <a href="javascript:void(0)" data-toggle="modal" data-target="#videoModal" class="videoOverlay"></a>
    </div>

    <div class="item-video" data-merge="1">
        <iframe src="https://www.youtube.com/embed/-sqM25pKYBI" id="videoModal" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        <a href="javascript:void(0)" data-toggle="modal" data-target="#videoModal" class="videoOverlay"></a>
    </div>
    
    <div class="item-video" data-merge="1">
        <iframe src="https://www.youtube.com/embed/mMkj1bJyWTg" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        <a href="javascript:void(0)" data-toggle="modal" data-target="#videoModal" class="videoOverlay"></a>
    </div>
    
    <div class="item-video" data-merge="1">
        <iframe src="https://www.youtube.com/embed/1poS69J0JPk" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        <a href="javascript:void(0)" data-toggle="modal" data-target="#videoModal" class="videoOverlay"></a>
    </div>
    
    <div class="item-video" data-merge="1">
        <iframe src="https://www.youtube.com/embed/KfrmxbV7c9M" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        <a href="javascript:void(0)" data-toggle="modal" data-target="#videoModal" class="videoOverlay"></a>
    </div>
    
    <div class="item-video" data-merge="1">
        <iframe src="https://www.youtube.com/embed/80ckh6TRs5k" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        <a href="javascript:void(0)" data-toggle="modal" data-target="#videoModal" class="videoOverlay"></a>
    </div>
    
    <div class="item-video" data-merge="1">
        <iframe src="https://www.youtube.com/embed/KXIvjsfa_SU" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>        <a href="javascript:void(0)" data-toggle="modal" data-target="#videoModal" class="videoOverlay"></a>
    </div>
    
    <div class="item-video" data-merge="1">
        <iframe src="https://www.youtube.com/embed/nSGy3lZRsyY" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>        <a href="javascript:void(0)" data-toggle="modal" data-target="#videoModal" class="videoOverlay"></a>
    </div>
    
    <div class="item-video" data-merge="1">
        <iframe src="https://www.youtube.com/embed/KfrmxbV7c9M" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        <a href="javascript:void(0)" data-toggle="modal" data-target="#videoModal" class="videoOverlay"></a>
    </div>
    */?>

    <button type="button" class="btn btn-link carouselVideomodal" data-src="https://www.youtube.com/embed/mMkj1bJyWTg">        
        <img class="brnd-cls" src="<?php echo $this->getSkinUrl('images/video/9.jpg') ?>" alt="" />
    </button>
    <button type="button" class="btn btn-link carouselVideomodal" data-src="https://www.youtube.com/embed/80ckh6TRs5k">        
        <img class="brnd-cls" src="<?php echo $this->getSkinUrl('images/video/3.jpg') ?>" alt="" />
    </button>
    <button type="button" class="btn btn-link carouselVideomodal" data-src="https://www.youtube.com/embed/-sqM25pKYBI">        
        <img class="brnd-cls" src="<?php echo $this->getSkinUrl('images/video/4.jpg') ?>" alt="" />
    </button>
    <button type="button" class="btn btn-link carouselVideomodal" data-src="https://www.youtube.com/embed/mMkj1bJyWTg">        
        <img class="brnd-cls" src="<?php echo $this->getSkinUrl('images/video/7.jpg') ?>" alt="" />
    </button>
    <button type="button" class="btn btn-link carouselVideomodal" data-src="https://www.youtube.com/embed/1poS69J0JPk">        
        <img class="brnd-cls" src="<?php echo $this->getSkinUrl('images/video/5.jpg') ?>" alt="" />
    </button>
<button type="button" class="btn btn-link carouselVideomodal" data-src="https://www.youtube.com/embed/nSGy3lZRsyY">        
        <img class="brnd-cls" src="<?php echo $this->getSkinUrl('images/video/1.jpg') ?>" alt="" />
    </button>
    <button type="button" class="btn btn-link carouselVideomodal" data-src="https://www.youtube.com/embed/KfrmxbV7c9M">        
        <img class="brnd-cls" src="<?php echo $this->getSkinUrl('images/video/6.jpg') ?>" alt="" />
    </button>
    <button type="button" class="btn btn-link carouselVideomodal" data-src="https://www.youtube.com/embed/80ckh6TRs5k">        
        <img class="brnd-cls" src="<?php echo $this->getSkinUrl('images/video/8.jpg') ?>" alt="" />
    </button>
    <button type="button" class="btn btn-link carouselVideomodal" data-src="https://www.youtube.com/embed/KXIvjsfa_SU">        
        <img class="brnd-cls" src="<?php echo $this->getSkinUrl('images/video/2.jpg') ?>" alt="" />
    </button>
    <button type="button" class="btn btn-link carouselVideomodal" data-src="https://www.youtube.com/embed/nSGy3lZRsyY">        
        <img class="brnd-cls" src="<?php echo $this->getSkinUrl('images/video/1.jpg') ?>" alt="" />
    </button>
    <button type="button" class="btn btn-link carouselVideomodal" data-src="https://www.youtube.com/embed/KfrmxbV7c9M">        
        <img class="brnd-cls" src="<?php echo $this->getSkinUrl('images/video/10.jpg') ?>" alt="" />
    </button>
</div>

<!--<div class="modal fade" id="videoModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <iframe width="100%" height="360" src="" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>-->

<div id="myVideoModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Modal Header</h4>
            </div>
            <div class="modal-body">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/mMkj1bJyWTg" allowfullscreen id="videomodal"></iframe>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default footer-close" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>-->
<script type="text/javascript">
    jQuery(window).load(function () {
        jQuery(".carouselVideomodal").click(function () {
            jQuery('#videomodal').hide();
           var datasrc =  jQuery(this).attr("data-src"); 
	var autoplay = datasrc+"?modestbranding=0&rel=0&controls=0&showinfo=0&html5=1&autoplay=1";
           jQuery('#videomodal').attr("src",autoplay).show();
            jQuery("#myVideoModal").removeClass('fade');
            jQuery("#myVideoModal").show();
        });
        jQuery(".close").click(function () {
		jQuery('#videomodal').attr("src","");
            jQuery("#myVideoModal").addClass('fade');
            jQuery("#myVideoModal").hide();
        });
        jQuery(".footer-close").click(function () {
		jQuery('#videomodal').attr("src","");
            jQuery("#myVideoModal").addClass('fade');
            jQuery("#myVideoModal").hide();
        });

    });
    
    jQuery(function ($) {
//        $(document).on('click', '.videoOverlay', function () { 
//            var theModal = $(this).data("target"),
//            videoSRC = $(this).prev("iframe").attr('src'),
//            videoSRCauto = videoSRC + "?modestbranding=0&rel=0&controls=0&showinfo=0&html5=1&autoplay=1";
//            $(theModal + ' iframe').attr('src', videoSRCauto);
//            $(theModal + ' button.close').click(function () {
//                $(theModal + ' iframe').attr('src', videoSRC);
//            });
//        });

        var vdoCrousl = $('#videocarou').detach();
        $('.topCarouselContainer').after(vdoCrousl);
        $('#videocarou').owlCarousel({
            items: 1,
            merge: true,
            loop: true,
//            margin: 10,
            video: true,
            nav: true,
            navText: ['<em class="fa fa-angle-left"></i>', '<i class="fa fa-angle-right"></i>'],
            lazyLoad: true,
            dots: false,
            autoplay: true,
            autoplayHoverPause: true,
            center: true,
            responsive: {
                480: {
                    items: 2
                },
                600: {
                    items: 4
                },
                768: {
                    items: 5
                },
                800: {
                    items: 6
                }
            }
        });
    });

</script>
