   
<?php 
$customerpin = Mage::helper('tribeseller')->getCurrentZipInUse();
?>
        <?php if($customerpin):?>
        <div class="zip-code">
            <a class='anc fancybox.ajax' href='<?php echo Mage::getBaseUrl()."tribeseller/sellerspage/search";?>'  title='<?php echo $customerpin;?>'><i class="fa fa-map-marker"></i></a>
        </div>
<?php endif; ?>