<?php $_helper = $this->helper('catalog/output'); ?>
<?php $_product = $this->getProduct(); 
if($_product->getTypeId()=='configurable'){
     $sellerid = Mage::app()->getRequest()->getParam('s');
    $childProducts = Mage::getModel('catalog/product_type_configurable')->getUsedProducts(null,$_product);
     foreach($childProducts as $k=>$v){
          $simpleproduct_1 = Mage::getModel('catalog/product')->load($v->getData('entity_id'));
         $entity_id[] = $v->getData('entity_id');
          $sellerinf = Mage::helper('tribeseller')->getCurrentProductSeller($simpleproduct_1, $sellerid,FALSE, 'configurable');
         $seller = $sellerinf[1];
         $seller_id[$simpleproduct_1->getSize()]['id'] = $seller->getId();
         $seller_id[$simpleproduct_1->getSize()]['name'] = $seller->getSellerStoreName();
        
         $seller_id[$simpleproduct_1->getSize()]['rating'] = $seller->getSellerAvgRating();//($seller->getId()==9)?'3.00':
     }
     $simple_product_id = $entity_id[0];
     $simple_product = Mage::getModel('catalog/product')->load($simple_product_id);
}
?>
<script type="text/javascript">
    var optionsPrice = new Product.OptionsPrice(<?php echo $this->getJsonConfig() ?>);
</script>
<div class="product-view">
    <div class="product-essential">
        <form action="<?php echo $this->getSubmitUrl($_product,array(),$simple_product_id) ?>" method="post" id="product_addtocart_form"<?php if($_product->getOptions()): ?> enctype="multipart/form-data"<?php endif; ?>>
            <div class="no-display">
                <input type="hidden" name="product" value="<?php echo $_product->getId() ?>" />
                <input type="hidden" name="related_product" id="related-products-field" value="" />
            </div>
<script type="text/javascript">
    var productAddToCartForm = new VarienForm('product_addtocart_form');
</script>
			<div class="product-shop">
                            <?php if(!Mage::app()->getRequest()->getParam('ajaxgrid')) {?>
                <div class="product-name">
                    <h1><?php echo $_helper->productAttribute($_product, $_product->getName(), 'name') ?></h1>
                </div>
                            <?php } ?>

                <?php echo $this->getChildHtml('product_type_data') ?>

                <?php if (!$this->hasOptions()):?>
                <div class="add-to-box">
                        <?php if($_product->isSaleable()): ?>
                            <?php echo $this->getChildHtml('addtocart') ?>
                        <?php endif; ?>
                </div>
                <?php endif; ?>

                <?php if ($_product->isSaleable() && $this->hasOptions()):?>
                    <?php echo $this->getChildChildHtml('container1', '', true, true) ?>
                <?php endif;?>

            </div>
            <div class="clearer"></div>
            <?php if ($_product->isSaleable() && $this->hasOptions()):?>
                <?php echo $this->getChildChildHtml('container2', '', true, true) ?>
            <?php endif;?>
        </form>
        <script type="text/javascript">
            //<![CDATA[
            var productAddToCartForm = new VarienForm('product_addtocart_form');
            productAddToCartForm.submit = function(button, url) {
                if (this.validator.validate()) {
                    var form = this.form;
                    var oldUrl = form.action;
                    if (url) {
                        form.action = url;
                    }
                    var e = null;
                    // Start of our new ajax code
                    if (!url) {
                        url = jQuery('#product_addtocart_form').attr('action');
                    }
                    url = url.replace("checkout/cart","ajaxcart/index"); // New Code
                    var data = jQuery('#product_addtocart_form').serialize();
                    data += '&isAjax=1';
                    jQuery('#ajax_loader').show();
                    try {
                        jQuery.ajax( {
                            url : url,
                            dataType : 'json',
                            type : 'post',
                            data : data,
                            success : function(data) {
                                jQuery('#ajax_loader').hide();
                                parent.setAjaxData(data,true);
                            }
                        });
                    } catch (e) {
                    }
                    // End of our new ajax code
                    this.form.action = oldUrl;
                    if (e) {
                        throw e;
                    }
                }
            }.bind(productAddToCartForm);
            productAddToCartForm.submitLight = function(button, url){
                if(this.validator) {
                    var nv = Validation.methods;
                    delete Validation.methods['required-entry'];
                    delete Validation.methods['validate-one-required'];
                    delete Validation.methods['validate-one-required-by-name'];
                    if (this.validator.validate()) {
                        if (url) {
                            this.form.action = url;
                        }
                        this.form.submit();
                    }
                    Object.extend(Validation.methods, nv);
                }
            }.bind(productAddToCartForm);
            //]]>
        </script>
    </div>
</div>


<style type="text/css">
	#b_d9e6a7b1_851 { display:none;}
</style>
<script type="text/javascript">
jQuery('#attribute285').on('change',function(){
    //addtocart button hide show
      $id_span = jQuery(this).val();
      if(jQuery('.span'+$id_span).hasClass('out-of-stock')){
          jQuery('.add-to-cart').hide();
      }else{
          jQuery('.add-to-cart').show();
      }
      //seller name change
     var seller_str = '<?php echo json_encode($seller_id);?>';
      var seller = jQuery.parseJSON(seller_str);
     // alert(jQuery('.sold-by-container').find('p:first').text());
      jQuery('.sold-by-container').find('p:first').text(seller[jQuery(this).val()].name);
      var url = jQuery('#product_addtocart_form').attr('action');
     
     //seller_id change in submit url
      var seller_param = (url.split('product_seller/')[1] || '').split('&')[0];
      var id_seller = seller[jQuery(this).val()].id;
      var ratingval = seller[jQuery(this).val()].rating;
      url = url.replace('product_seller/'+seller_param,'product_seller/'+id_seller+'/');
      jQuery('#product_addtocart_form').attr('action',url);
      
      //seller rating change
      var id_rating = 'current_product_seller-'+id_seller;
      jQuery('.currentproductseller').attr('id',id_rating);
      jQuery("#"+id_rating).rateYo("option", "rating", ratingval);
  }); 
</script>