<?php
$starsettings = intval(Mage::getStoreConfig('tribecoresettings/seller_starrating_settings/tribe_seller_star_rating_no'));
$nostars = ($starsettings) ? $starsettings : 5;
$starsize = intval(Mage::getStoreConfig('tribecoresettings/seller_starrating_settings/tribe_seller_star_size'));
$starsize = ($starsize) ? $starsize : 15;
$collection = $this->getsellerReviewCollection();
$width = 40; // Mage::getStoreConfig('notes/general/profile_icon_width');
$height = 40; // Mage::getStoreConfig('notes/general/profile_icon_height');
?>
<style type="text/css">
    .main-div-for-tab,.review-form{display: none;}
</style> 
<?php
if ($collection->getSize() > 0):
    ?>
        <?php
        foreach ($collection as $review):
            $reviewer_info = Mage::helper('tribereview')->getprofile_by_customerlist($review->getCustomerId());
            $customerinfo = Mage::helper('tribereview')->getcustomerdata($review->getCustomerId());
            $profile_url = Mage::helper('tribecustomer')->getFrontendProductUrl($reviewer_info['trcr_username']);
            ?>
            <div class="mosaicflow__item" id="review_item_<?php echo $review->getId(); ?>">
                <div class="note-wrapper">
                    <div class="note_meta">
                        <span class="note_prifile_img">
                            <?php
                            if ($reviewer_info->getTrcrProfilePic()):
                                $profile_img = Mage::helper('arccore')->resizeImg($reviewer_info->getTrcrProfilePic(), $width, $height);
                                ?>
                                <a target="_blank" href="<?php echo $profile_url; ?>"><img src="<?php echo $profile_img; ?>" alt="" /></a>
                            <?php else: ?>
                                <a target="_blank" href="<?php echo $profile_url; ?>"><img src="<?php echo Mage::getBaseUrl('media') . 'tribe/review/profile-placeholder.jpg'; ?>" style="width:<?php echo $width; ?>px;height:<?php echo $height; ?>px;" alt="no image" /></a>
                            <?php endif; ?>
                        </span>
                        <!--i class="fa fa-user fa-3x"></i-->

                        <div class="note-date-name-div">
                            <span class="profile_name"> 
                                <h3><strong><a target="_blank" href="<?php echo $profile_url; ?>"><?php echo $customerinfo['firstname'] . "&nbsp;" . $customerinfo['lastname']; ?></a></strong></h3>
                            </span>
                            <span class="note_created_at">
                                <?php echo $review->getCreatedAt(); ?>
                            </span>
                        </div>
                        <div id="seller-rating<?php echo $review->getId(); ?>"></div>
                        <p>
                            <?php echo $review->getDetail(); ?>
                        </p>
                    </div>
                </div>
            </div>
            <script type="text/javascript">
                //<![CDATA[
                jQuery(function ($) {

                    $("#seller-rating<?php echo $review->getId(); ?>").rateYo({
                        starWidth: "<?php echo $starsize; ?>px",
                        readOnly: true,
                        rating: <?php echo $review->getCustomRating(); ?>,
                        spacing: "5px",
                        numStars: <?php echo $nostars; ?>,
                        ratedFill: "#06693B",
        //                    multiColor: {
        //                        "startColor": "#FF0000", //RED
        //                        "endColor": "#FFB900"
        //                    },
        //                    halfStar: true
                    });


                });
            </script>
            <?php
        endforeach;
        endif; ?>