<?php
$starsettings = intval(Mage::getStoreConfig('tribecoresettings/seller_starrating_settings/tribe_seller_star_rating_no'));
$nostars = ($starsettings) ? $starsettings : 5;
$starsize = intval(Mage::getStoreConfig('tribecoresettings/seller_starrating_settings/tribe_seller_star_size'));
$starsize = ($starsize) ? $starsize : 15;
$flag = $this->getAllowWriteReviewFlag();
$seller = Mage::registry('current_seller');
?>
<div id="review-list" class="rvw">
   
    <div class="review-form-area" id="review-form-area">
        <div class="form-add">
            <?php if ($flag): ?>
                <form action="<?php echo $this->getAction() ?>" method="post" id="review-form">
                    <?php echo $this->getBlockHtml('formkey'); ?>
                    <fieldset>
                        <?php echo $this->getChildHtml('form_fields_before') ?>
                        <h3><?php echo $this->__("You're reviewing:"); ?> <span><?php echo $this->escapeHtml($this->getSellerInfo()->getSellerStoreName()) ?></span></h3>
                        <?php //if ($this->getRatings() && $this->getRatings()->getSize()): ?>
                        <h4><?php echo $this->__('How do you rate this Seller ?') ?></h4>
                        <span id="input-message-box"></span>
                        <!-- Latest compiled and minified CSS -->
                        <div id="rateYo"></div><br/>
                        <input type="hidden" id="custom_rating" name="custom_rating" class="validate-rating" value="" />
                        <?php //endif; ?>
                        <ul class="form-list">
                            <li>
                                <label for="nickname_field" class="required"><em>*</em><?php echo $this->__('Nickname') ?></label>
                                <div class="input-box">
                                    <input type="text" name="nickname" id="nickname_field" class="input-text required-entry" value="<?php echo $this->escapeHtml($data->getNickname()) ?>" />
                                </div>
                            </li>
                            <li>
                                <label for="summary_field" class="required"><em>*</em><?php echo $this->__('Summary of Your Review') ?></label>
                                <div class="input-box">
                                    <input type="text" name="title" id="summary_field" class="input-text required-entry" value="<?php echo $this->escapeHtml($data->getTitle()) ?>" />
                                </div>
                            </li>
                            <li>
                                <label for="review_field" class="required"><em>*</em><?php echo $this->__('Review') ?></label>
                                <div class="input-box">
                                    <textarea name="detail" id="review_field" cols="5" rows="3" class="required-entry"><?php echo $this->escapeHtml($data->getDetail()) ?></textarea>
                                </div>
                            </li>
                        </ul>
                    </fieldset>
                    <div class="buttons-set">
                        <button type="submit" title="<?php echo $this->__('Submit Review') ?>" class="button"><span><span><?php echo $this->__('Submit Review') ?></span></span></button>
                    </div>
                </form>
                <script type="text/javascript">
                    //<![CDATA[
                    jQuery(function ($) {
                        $("#rateYo").rateYo({
                            starWidth: "<?php echo $starsize;?>px",
                            spacing: "5px",
                            numStars: <?php echo $nostars; ?>,
                            multiColor: {
                                "startColor": "#FF0000", //RED
                                "endColor": "#FFB900"
                            },
                            halfStar: true,
                            onSet: function (rating, rateYoInstance) {
                                $('#custom_rating').val(rating);
                            }
                        });
                    });
                    var dataForm = new VarienForm('review-form');
                    $j = jQuery.noConflict();
                    Validation.addAllThese(
                            [
                                ['validate-rating', '<?php echo $this->__('Please select the ratings above') ?>', function (v) {
                                        if (parseFloat($j('#custom_rating').val()) > 0) {
                                            return true;
                                        } else {
                                            return false;
                                        }

                                    }]
                            ]
                            );
                    //]]>
                </script>
            <?php else: ?>
                <p class="review-nologged" id="review-form">
                    <?php echo $this->__('Only registered users can write reviews. Please, <a href="%s">log in</a> or <a href="%s">register</a>', $this->getLoginLink(), Mage::helper('customer')->getRegisterUrl()) ?>
                </p>
            <?php endif ?>
        </div>
    </div>
    <div  class="review-list" id="review-list">
        <?php echo $this->getChildHtml('seller_review_avg'); ?>
    </div>
</div>
<style type="text/css">
   
    .review-link{padding:10px;}
    .review-list{padding:20px;}
</style>