<?php
$starsettings = intval(Mage::getStoreConfig('tribecoresettings/seller_starrating_settings/tribe_seller_star_rating_no'));
$info = $this->getCurrentProfileInfo()->getData();//echo "<pre>";print_r($info);exit;
//print_r(Mage::helper('tribeseller')->reviewadded($info));exit;
$seller = Mage::registry('current_seller');
$nostars = ($starsettings) ? $starsettings : 5;
$starsize = intval(Mage::getStoreConfig('tribecoresettings/seller_starrating_settings/tribe_seller_star_size'));
$starsize = ($starsize) ? $starsize : 15;
$collection = $this->getReviewCollection();
$width = 40; // Mage::getStoreConfig('notes/general/profile_icon_width');
$height = 40; // Mage::getStoreConfig('notes/general/profile_icon_height');
$moreurl = $this->getUrl('tribeseller/sellerpage/loadmorereviews');//getmorereviews
?>
<style type="text/css">
    .note_more,.main-div-for-tab,.photos-form{display: none;}
    .tribe_photo_fancybox{display: block !important;}
</style>
<div class="main-div-for-tab" id="photos_mosaicflow">
    <div class="clearfix mosaicflow">
        <?php if (Mage::helper('tribeseller')->isActionallowed($info) && !Mage::helper('tribeseller')->reviewadded($info)): ?>
            <div class="mosaicflow__item">
                <div class="add-block-main-div">
                    <span class="fa fa-pencil-square-o add-photo-image" title="Add a Review"></span>
                    <h5>Add a Review</h5>
                    <div class="photos-form">
                        <?php echo $this->getChildHtml('review_form'); ?>
                    </div>
                </div>
            </div>
        <?php endif; ?>
        <?php if ($collection->getSize()): ?>
            <?php foreach ($collection as $review):
                    $reviewer_info = Mage::helper('tribereview')->getprofile_by_customerlist($review->getCustomerId());
                    $customerinfo = Mage::helper('tribereview')->getcustomerdata($review->getCustomerId());
                    $profile_url = Mage::helper('tribecustomer')->getFrontendProductUrl($reviewer_info['trcr_username']);
                    $profile_img='';
                    if ($reviewer_info->getTrcrProfilePic())
                        $profile_img = Mage::helper('arccore')->resizeImg($reviewer_info->getTrcrProfilePic(), $width, $height);
                ?>
                <div class="mosaicflow__item" id="photo_item_<?php echo $review->getId(); ?>">
                    <div class="note-wrapper photo-wrapper">
                        <div class="note_meta photo_meta">
                                <span class="note_prifile_img">
                                    <?php if ($profile_img): ?>
                                    <img src="<?php echo $profile_img; ?>" alt="" />
                                    <?php else:?>
                                    <img src="<?php echo Mage::getBaseUrl('media') . 'tribe/review/profile-placeholder.jpg'; ?>" style="width:<?php echo $width; ?>px;height:<?php echo $height; ?>px;" alt="no image" />   
                                     <?php endif; ?>
                                </span>
                            <div class="note-date-name-div">
                                <span class="profile_name">
                                    <?php echo $customerinfo['firstname'] . "&nbsp;" . $customerinfo['lastname']; ?>
                                </span>
                                <br/>
                                <span class="note_created_at">
                                    <?php echo date("d-m-Y h:i:s",strtotime($review->getCreatedAt())); ?>
                                </span>
                            </div>
                        </div>
                        <div id="seller-rating<?php echo $review->getId(); ?>"></div>
                        <p>
                            <?php echo $review->getDetail(); ?>
                        </p>
                    </div>
                </div>
         <script type="text/javascript">
            //<![CDATA[
            jQuery(function ($) {
               
                $("#seller-rating<?php echo $review->getId(); ?>").rateYo({
                    starWidth: "<?php echo $starsize; ?>px",
                    readOnly: true,
                    rating: <?php echo $review->getCustomRating(); ?>,
                    spacing: "5px",
                    numStars: <?php echo $nostars; ?>,
                    ratedFill: "#06693B",
//                    multiColor: {
//                        "startColor": "#FF0000", //RED
//                        "endColor": "#FFB900"
//                    },
//                    halfStar: true
                });
               
          
            });
        </script>
            <?php endforeach; ?>
        <?php else: ?>
            <div class="mosaicflow__item">
                <p><?php echo $this->__('No Review Found for this Seller !'); ?></p>
            </div>
        <?php endif; ?>
    </div>
    <input type="hidden" name="page" id="status_page" value="1"/>
    <input type="hidden" name="is_last" id="status_is_last" value="0"/>
</div>
<div class="clearfix clearer"></div>

<script type="text/javascript">
    var mosaiccontainer;
    jQuery(document).ready(function ($) {
        $(".tribe_photo_fancybox").fancybox({
		openEffect	: 'none',
		closeEffect	: 'none'
	});
        
        $('.main-div-for-tab').css('display', 'block');
        mosaiccontainer = jQuery('#photos_mosaicflow').mosaicflow({
            itemSelector: '.mosaicflow__item',
            columnClass: 'mosaicflow__column',
            minItemWidth: 370,
            minColumns: 1,
            itemHeightCalculation: 'auto',
            threshold: 0
        });
       
        $('.add-block-main-div').click(function () {
            var content = $('.photos-form').html();
            $('.photos-form').html('');
            $('#ajax-cart-loading-mask').show();
            $.fancybox(
                    content,
                    {
                        helpers: {
                            overlay: {
                                closeClick: false,
                            }
                        },
                        afterShow: function () {
                            $('#ajax-cart-loading-mask').hide();
                        },
                        afterClose: function () {
                            $('.photos-form').html(content);
                        }
                    }
            );
        });
        <?php
$loggedin_id =(Mage::app()->isInstalled() && Mage::getSingleton('customer/session')->isLoggedIn()) ? Mage::getSingleton('customer/session')->getCustomer()->getId() : 0;
$loggedin_email =(Mage::app()->isInstalled() && Mage::getSingleton('customer/session')->isLoggedIn()) ? Mage::getSingleton('customer/session')->getCustomer()->getEmail() : '';
$postinfo_formore = array('id' => $info['entity_id'], 'profile_info' => $info,'is_logged_in' =>$loggedin_id,'logged_in_email' =>$loggedin_email);
$enc_data = Mage::helper('tribeseller')->encrypt($postinfo_formore);
?>
         $(window).scroll(function () {
            if ($(window).scrollTop() + $(window).height() == $(document).height()) {
                //Here if not reached at last note, fetch by making further ajax request
                if (!parseInt($('#status_is_last').val())) {
                    jQuery('#ajax-cart-loading-mask').show();
                    var url = '<?php echo $moreurl; ?>';
                    var page = parseInt($('#status_page').val()) + 1;
                    var seller_id = '<?php echo $seller->getId(); ?>';
                    jQuery.ajax({
                        url: url,
                        method: "POST",
                        data: {seller_id:seller_id,page: page, info: '<?php echo $enc_data; ?>'},
                        dataType: "json"
                    }).done(function (msg) {//alert(msg);
                        jQuery('#ajax-cart-loading-mask').hide();
                        if (parseInt(msg.count)) {
                            var content = $('#photos_mosaicflow').append(msg.content);
                            $('#status_page').val(parseInt($('#status_page').val()) + 1);
                            setTimeout(function () {
                                jQuery.each(msg.ids, function (index, val) {
                                    var elm = jQuery('#' + val); //alert(val);return false;
                                    mosaiccontainer.mosaicflow('add', elm);
                                });
                            }, 100);

                        } else {
                            $('#status_is_last').val(1);
                        }

                    });
                }
            }
        });
    });
</script>