<div class="btntwo btngrp">
    <div class="hidden frm-content">
        <i class="fa fa-times pledgeCancel"></i>
        <?php
        $store = Mage::app()->getStore();
        $code = $store->getCode();
        $footer = Mage::getStoreConfig('porto_settings/footer', $code);
//    $loaderpath = Mage::getBaseUrl('media') . 'tribe/defaultimages/loader1.gif';
        $submitAction = Mage::getUrl('tribeseller/Sellerregister/subscribe');
        ?>
        <div class="block block-subscribe">
            <!--<div class="block-title">-->
            <div class="pledgeTitle">
                <h2><?php echo $footer['footer_newsletter_title']; ?></h2>
                <!--<strong><span><?php //echo $footer['footer_newsletter_title'];  ?></span></strong>-->
            </div>
            <div class="slr-succ-msg1 welcome-msg" style="display:none;">Successfully Submitted.</div>
            <form action="JavaScript:void(0);" method="post" enctype="multipart/form-data" id="footer-newsletter-validate-detail">
                <div class="block-content">
                    <p><?php echo $footer['footer_newsletter']; ?></p>
                    <div class="input-box">
                        <table border="0" cellpadding="0" cellspacing="0">
                            <tr><td><p> You want to get regular updates about our upcoming events, insights, and newIfs on organic food in your city. Sign up for our monthly newsletter.</p></td></tr>
                            <tr>
                                <td>
                                    <input type="text" name="fname" placeholder="Enter first name" id="newsletter_footer_fname" class="usr-subsribe-form input-text required-entry validate-email" />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="text" name="lname" placeholder="Enter last name" id="newsletter_footer_lname" class="usr-subsribe-form input-text required-entry validate-email" />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="email" name="email" placeholder="Enter email" id="newsletter_footer" class="usr-subsribe-form input-text required-entry validate-email" />
                                </td>
                            </tr>
                            <tr>
                                <td style="text-align: center;">
                                    <button type="submit" title="<?php echo $this->__('SUBSCRIBE') ?>" class="button subcribe"><?php echo $this->__('SUBSCRIBE') ?></button>
                                    <div id="loaderspan2" style="display:none;"><img src="<?php echo $loaderpath ?>"></div>
                                </td>
                            </tr>
                        </table>
                        <div class="clearer"></div>
                    </div>
                </div>
            </form>

        </div>
    </div>
    <div class="btn"><i class="fa fa-mail-forward"></i><span>Sign up for Newsletter</span></div>
</div>
<style>
    .frm-content{
        display: block;
        height: 430px;
        overflow: auto; 
    }
</style>
<script type="text/javascript">
    //<![CDATA[
//        var footernewsletterSubscriberFormDetail = new VarienForm('footer-newsletter-validate-detail');
    //]]>




    jQuery(document).ready(function () {
        jQuery("#footer-newsletter-validate-detail").validate({
            rules: {
                fname: {required: true},
                lname: {required: true},
                email: {required: true}
            },
            submitHandler: function (form) {
                var serdata = jQuery('#footer-newsletter-validate-detail').serialize();
                var url = '<?php echo $submitAction; ?>';
                jQuery('#loaderspan2').show();
                jQuery.ajax({
                    url: url,
                    method: "POST",
                    data: {email: jQuery('#newsletter_footer').val(), lname: jQuery('#newsletter_footer_lname').val(), fname: jQuery('#newsletter_footer_fname').val()},
                }).done(function (msg) {//alert(msg);return false;
                    var data = JSON.parse(msg);
                    jQuery("#footer-newsletter-validate-detail")[0].reset();
                    if (data.haserror == false) {
//                        jQuery("#footer-newsletter-validate-detail input[type=text]").val("");
                        jQuery('.sbmtbtn').attr("disabled", "disabled");
                        jQuery('#loaderspan').hide();
                        jQuery('.slr-succ-msg1').show();
                    } else {
                        jQuery('.slr-succ-msg1').hide();
                    }
                });
            }
        });
    });

</script>  
