<div class="news-band-footer-wrapper">
    <div class="news-band-footer-inner">
        <div class="wrapper"><div class="push"></div>
        </div>
        <div class="footer">
            <div class="brncloud">
                <?php echo $this->getLayout()->createBlock('core/template')->setTemplate('tribecore/signpledge.phtml')->toHtml(); ?>
                <?php echo $this->getLayout()->createBlock('core/template')->setTemplate('tribecore/newslater.phtml')->toHtml(); ?>
                <?php echo $this->getLayout()->createBlock('core/template')->setTemplate('tribecore/spreadword.phtml')->toHtml(); ?>

                <div class="clear"></div>
            </div>
        </div>
    </div>
</div>

<style>
    html, body {
        height: 100%;
        margin: 0;
    }
    /*.wrapper {*/
    /*min-height: 100%;*/
    /*height: 1100px;*/
    /* Equal to height of footer */
    /* But also accounting for potential margin-bottom of last child */
    /*margin-bottom: -50px;*/
    /*}*/
    /*    .footer,
        .push {
            position: fixed;
            bottom: 0;
            width: 100%;
            background: #262626;
            text-align: center;
            z-index: 999;
            padding: 10px 0px;
        }*/
    .news-band-footer-wrapper .footer {
        position: fixed;
        bottom: 0;
        width: 100%;
        background: #262626;
        text-align: center;
        z-index: 999;
        padding: 10px 0px;
    }
    .news-band-footer-wrapper .footer.noPosition {
        position: static !important;
    }
    .frm-content{
        position: absolute;
        background: #363636;
        width: 100%;
        bottom: calc(100% + 10px);
        left: 0;
    }
    .btnthree .frm-content{padding: 0px 0px 30px;}
    .frm-content form table td{padding: 7px;line-height: 100%;}
    .frm-content form,
    .frm-content .shareCont{
        display: inline-block;
        width:90%;
        max-width: 600px;
        font-size: 20px;
    }
    .frm-content .pledgeTitle h2{
        color:#72BF03;
        font-size: 24px;
        font-style: italic;
        text-decoration: underline;
        text-align: center;
        margin:20px 0px 0px;
    }
    .frm-content form .val,
    .block-content p{font-style: italic;}
    .frm-content form input.input-text{
        height: auto !important;
    }
    .hidden{display: none;}
    .brncloud{text-align: center;position: relative;}
    .brncloud .btn{
        line-height: 30px;
        background: #72BF03;
        padding: 10px 20px;
        margin: 0px 10px;
        font-weight: 600;
        font-size: 16px;
        text-transform: uppercase;
        transition: all 0.5s ease;
    }
    .brncloud .btn:hover{color:#ffffff;}
    .brncloud .btn span{
        margin-left:10px;
    }
    .frm-content form input:not([type="submit"]),
    .frm-content form textarea {
        width:100%;
        border-radius: 5px;
        line-height: 40px;
        font-size: 18px;
        border:none;
        padding: 4px 15px;
    }
    .frm-content span.fstNlstName input {
        border-radius: 0px;
        background: transparent;
        padding: 0px 10px;
        width: auto !important;
        color: #ffffff;
        line-height: 100%;
    }
    .frm-content span.fstNlstName input.txtEmpty {
        border-bottom: 1px solid #dddddd !important;
    }
    .frm-content form textarea {
        resize: none;
        height: 100px;        
    }
    .frm-content form input[type="submit"],
    .frm-content form button.button.subcribe {
        line-height: 40px;
        width: 220px;
        background: #72BF03;
        font-size: 20px;
        color: #ffffff;
        border-radius: 5px;
        border: none;
        font-weight: bold;
        text-transform: uppercase;
        transition: all 0.5s ease;
        -webkit-transition: all 0.5s ease;
    }
    .brncloud .btn:hover,
    .frm-content form input[type="submit"]:hover,
    .frm-content form button.button.subcribe:hover {
        background: #509b00;
    }
    .frm-content form .error{line-height: 100%;}
    .frm-content .block.block-subscribe{margin-bottom: 0px;}
    .frm-content .block.block-subscribe .input-box{padding: 0px 20px;}
    .pledgeCancel{
        position: absolute;
        right: 20px;
        font-size: 24px;
        cursor: pointer;
        top: 20px;
        color: #191919;
        border-radius: 50%;
        background: rgba(255,255,255,0.3);
        padding: 0;
        height: 30px;
        width: 30px;
        line-height: 28px;
        transition: all 0.5s ease;
        -webkit-transition: all 0.5s ease;
    }
    .pledgeCancel:hover{
        color:#030303;
        background: #e4f4ff;
    }
    .brncloud .btngrp{display: inline-block;}
    .clear{clear: both;}

    @media all and (max-width:767px){
        .brncloud .btn{
            font-size: 14px;
            line-height: 26px;
            padding: 5px 15px;
        }

    }
    @media all and (max-width:640px){
        .frm-content form,
        .frm-content .shareCont{
            font-size: 16px;
        }
        .frm-content form input[type="submit"],
        .frm-content form button.button.subcribe {
            width: 100%;
            font-size: 18px;
            border-radius: 5px;
        }
        .brncloud .btn{
            border-radius: 50%;
            width: 40px;
            height: 40px;
            padding: 5px;
        }
        .brncloud .btn span{display: none;}
        .frm-content form input:not([type="submit"]),
        .frm-content form textarea {
            font-size: 14px;
            line-height:35px;
            border-radius: 5px;
        }
        .frm-content form textarea {
            height:60px;
        }
    }
</style>
<script>
    jQuery(document).ready(function () {
        jQuery('.btngrp').on('click', function () {
            jQuery(this).find('.frm-content').stop().slideDown(800);
        });
        jQuery('.pledgeCancel').on('click', function (e) {
            e.stopPropagation();
            jQuery('.frm-content').stop().slideUp(800);
        });
    });
</script>