<?php $posttype = Mage::helper('arccore')->getattributeoptionsid('trcr_post_type','Pledge');?>
<div class="btnone btngrp">    
    <div class="hidden frm-content">
            <i class="fa fa-times pledgeCancel"></i>
        <div class="plgslr-succ-msg welcome-msg" style="display:none;">Successfully Submitted.</div>
        <form name="frmcomment" id="pledge_form" action="javascript:void(0)" onsubmit="return false;">
            <input type="hidden" name="arc[trcr_post_type]" value='<?php echo $posttype;?>'>
            <table width="100%" border="0" cellpadding="0" cellspacing="0">
                <tbody>
                    <tr class="pledgeTitle">
                        <td colspan="2">
                            <h2>PLEDGE FOR GREEN</h2>
                        </td>
                    </tr>
                    <tr id="pledgetext">
                        <td class='val' colspan="2">
                            <p>I <span class="fstNlstName"><input id="firstnem" class="txtEmpty" tabindex="1" placeholder="*Enter your name"  type="text" name="arc[trcr_first_name]" /></span> hereby sign a pledge to begin my journey
                            as an Eco hero and contribute my part to save my planet,
                            my farmers and my family by adopting organic food.</p>
                            <label id="firstnem-error" class="error" for="firstnem" style="display:none;">*This field is required.</label>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input type="email" placeholder="Email ID" name="arc[trpl_email]"/>
                        </td>
                        <td>
                            <input type="text" placeholder="Contact No" name="arc[trpl_contact_no]"/>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <textarea name="arc[trpl_comment]" placeholder="Add a Comment (100 Character max)" /></textarea>
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align: center;" colspan="2">
                            <input type="submit" id="pledgebtn" value="SUBMIT"/>
                            <?php $loaderpath = Mage::getBaseUrl('media') . 'tribe/defaultimages/loader1.gif'; ?>
                            <div id="loaderspan1" style="display:none;"><img src="<?php echo $loaderpath?>"></div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>
    <div class="btn"><i class="fa fa-sign-in"></i><span>Sign Pledge</span></div>
</div>
<script>
    jQuery(document).ready(function () {
        jQuery("#firstnem").blur(function(){
            var thiselm = jQuery("#firstnem");
           if(thiselm.val() != '')
               thiselm.removeClass('txtEmpty');
        });
        jQuery("#pledge_form").validate({
            rules: {
                'arc[trpl_comment]': {required: true},
                'arc[trpl_email]': {required: true, email: true},
                'arc[trcr_first_name]': {required: true},
//                last_name: {required: true},
                'arc[trpl_contact_no]': {required: true, number: true,  // <-- no such method called "matches"!
        minlength:10,
        maxlength:14}
            },
            submitHandler: function (form) {
                //var serdata = jQuery('#pledge_form').serialize();
                var url = '<?php echo Mage::getBaseUrl() . 'tribepledge/pledge/save'; ?>';
                jQuery('#loaderspan1').show();
                var formData_pledge = new FormData(jQuery('#pledge_form')[0]);
//                alert(url);
//                alert(formData_pledge);
//                return false;
                jQuery.ajax({
                    url: url,
                    method: "POST",
                    data: formData_pledge,
                    contentType: false, 
                    processData:false
                }).done(function (msg) {
                    var data = JSON.parse(msg);
                    jQuery("#pledge_form")[0].reset();
                    if (data.haserror == false) {
                    jQuery('#loaderspan1').hide();
                    jQuery('.plgslr-succ-msg').show();
                    jQuery('.plgslr-succ-msg').show().delay(9000).fadeOut('slow');
                    }
                });
            }
        });

    });
</script>