<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5a88000bbf3e06de"></script>
<script>
    jQuery(document).ready(function () {
        var shr_txt = encodeURIComponent(jQuery('.shr-txt').html());
        jQuery('.twitter-share-button').attr('href', 'https://twitter.com/intent/tweet?text=' + shr_txt);
        jQuery('.fbShare').attr('href', 'https://www.facebook.com/sharer/sharer.php?t=' + shr_txt);
        jQuery('.btngrp').on('click', function () {
            jQuery('.frm-content').removeClass('hidden').addClass('hidden');
            jQuery(this).find('.frm-content').removeClass('hidden');
        });
    });
</script>
<div class="btnthree btngrp" >
    <div class="hidden frm-content">
        <div class="shareCont">
            <i class="fa fa-times pledgeCancel"></i>
            <p>Share the word among your friends via</p>
            <div class="shr-txt">#PledgeforGreen I  stand for Organic Food to support environment, farmers and my family. @Ecociate</div>
<!--            <a href="javascript:void(0);" target="_blank" class="fbShare">
                <img src=<?php //echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_SKIN) . '/frontend/fedobe/ecociate/images/FB.svg'; ?> alt="" width="34" />
            </a>-->
             <a class="addthis_button_facebook"
               addthis:url="https://www.facebook.com/earthyngreen" target="_blank" 
        addthis:title="#PledgeforGreen I  stand for Organic Food to support environment, farmers and my family. @Ecociate" href="https://www.facebook.com/earthyngreen"> <!--addthis:description="#PledgeforGreen I  stand for Organic Food to support environment, farmers and my family. @Ecociate"-->
        <img src=<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_SKIN) . '/frontend/fedobe/ecociate/images/FB.svg'; ?> alt="" width="34" />
        </a>
<!--             <a class="addthis_button_twitter"
        addthis:text="#PledgeforGreen I  stand for Organic Food to support environment, farmers and my family. @Ecociate">
        <img src=<?php //echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_SKIN) . '/frontend/fedobe/ecociate/images/twit.svg'; ?> alt="" width="34" />
        </a>-->
            <a class="twitter-share-button twtShare" href="https://twitter.com/earthyngreen" target="_blank" style="top:0px;">
                <img src=<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_SKIN) . '/frontend/fedobe/ecociate/images/twit.svg'; ?> alt="" width="34" />
            </a>
        </div>
    </div>
    <div class="btn spdwrd"><i class="fa fa-share-alt"></i><span>Spread the word</div>
</div>


<div class="clear"></div>

<div style="font-size: 12px; color: #fff; padding-top: 3px; margin-bottom: -2px;">
    Copyright <?php echo date('Y'); ?> Ecociate Solutions LLP All rights reserved.
</div>
