<?php
$attributes = $this->getfavstore(); //echo "<pre>";print_r($attributes); echo "</pre>";
$img_pth= Mage::getBaseUrl('media') . 'tribe/defaultimages/'; 
$fav_icn = $img_pth.'fav.png';
$loaderpath = $img_pth.'loader1.gif';
$sellers_collection = $this->getLoadedProductCollection();
$helper = Mage::helper('tribeseller');
?>
<div>
<div class="page-title">
        <h1>Favorite List</h1>
    </div>
<?php
if($attributes != "1"):
    foreach ($attributes as $sellers):
$seller = Mage::getModel('tribeseller/seller')->load($sellers['entity_id']);
                $seller_info = $seller->getData();
                ?>
                <ul class="fav-store" style="margin-bottom:15px;">
                <li id="favstore<?php echo $sellers['entity_id'];?>" class="storelist item col-xs-12 col-sm-6 col-md-4">
                    <div class="item-area" style="text-align:center;">
                        <div class="product-image-area col-xs-5">
                            <div class="loader-container">
                                <div class="loader">
                                    <i class="ajax-loader medium animate-spin"></i>
                                </div>
                            </div>
                            <a target="_blank" href="<?php echo $helper->getFrontendProductUrl($seller_info['seller_user_name']); ?>" title="<?php echo $seller_info['seller_store_name']; ?>"  class="product-image">
                                <img src="<?php echo $helper->resizeImg($seller_info['seller_profile_pic'], $ratio_width, $ratio_height); ?>" />
                            </a>
                        </div>
                        <div class="details-area col-xs-7">
                            <h2 class="product-name">
                                <a target="_blank" href="<?php echo $helper->getFrontendProductUrl($seller_info['seller_user_name']); ?>" title="<?php echo $seller_info['seller_store_name']; ?>"><?php echo $seller_info['seller_store_name']; ?></a>
                            </h2>
                        </div>
<div class="remfavstore" onclick="remfavstore(<?php echo $sellers['entity_id'];?>);"><img style="cursor:pointer;" title="Remove from Favorite" src="<?php echo $fav_icn;?>"></div>
<div id="loaderspan" style="display:none;"><img src="<?php echo $loaderpath?>"></div>
</div>
                </li>
                </ul>
                
<?php endforeach ?>
<div class="allremoved" style="display:none;"></b>You have no favorite store.</b></div>
<?php else: ?>
<div><b>You have no favorite store.</b></div>
<?php endif;?>
</div>
<script>
    function remfavstore(fav_str){
    var check = confirm("Are you sure you want to remove it from your favorite list?");
    if (check == true) {
        jQuery('#loaderspan').show();
    <?php $submitAction = Mage::getUrl('tribeseller/Sellerpage/remfrmfav');?>
    var url = "<?php echo $submitAction; ?>";
    jQuery.ajax({
                            type: "POST",
                            url: url,
                            data: {fav_str: fav_str},
                            success: function(result) {
                                if(result == '1'){
                                    jQuery('#loaderspan').hide();
                                     jQuery('#favstore'+fav_str).remove();
                                 if(!jQuery('.storelist').length){
                                    jQuery('.allremoved').attr('style','display:block;');
                                  }
                                }else{
                                    alert(result);return false;
                                }
                            }            
                        });
    }
}
</script>
