<?php
$attributes = $this->getattributes(); //echo "<pre>";print_r($attributes); echo "</pre>";
$arcdata = $this->getcustomerdata(); //echo "<pre>";print_r($arcdata);echo "</pre>";
$submitAction = Mage::getUrl('tribecustomer/customerprofile/save') . 'id/' . $arcdata['entity_id'];
$ajaxcheckAction = Mage::getUrl('tribecustomer/customerprofile/checkunique');
$loaderpath = Mage::getBaseUrl('media') . 'tribe/defaultimages/loader1.gif';
?>
<div class="my-account">
    <div class="page-title">
        <h1>Update Profile</h1>
    </div>
    <?php if ($attributes) {
        ?>
        <form action="<?php echo $submitAction; ?>" method="post" enctype="multipart/form-data" id="form-validation">
            <div class="fieldset">
                <ul class="form-list profileForm">
                    <?php
                    foreach ($attributes as $attrGroupName => $attributes) {
                        foreach ($attributes as $attribute_id => $attributeDetail) {
                            $inputId = $attributeDetail['attribute_code'] . "-field";
                            $_class = $attributeDetail['attribute_code'];
                            $htmlStr = '';
                            $required = $attributeDetail['is_required'] ? 'required-entry' : '';
                            $required_label = $attributeDetail['is_required'] ? 'required' : '';
                            if ($attributeDetail['attribute_code'] == 'trcr_username' && $arcdata['trcr_username_default'] == 1) {
                                $arcdata[$attributeDetail['attribute_code']] = '';
                            }
                            ?>
                            <li class="wide col-sm-6">
                                <label class="leblblockTitle <?php echo $required_label; ?>" for="<?php echo $attributeDetail['attribute_code']; ?>"><?php echo $attributeDetail['frontend_label']; ?>
                                    <?php if ($required_label == 'required'): ?>
                                        <em>*</em>
                                    <?php endif; ?>
                                </label>
                                <div class="input-box">
                                    <?php
                                    $name = "arc[{$attributeDetail['attribute_code']}]";
                                    $value = $arcdata[$attributeDetail['attribute_code']];
                                    switch ($attributeDetail['frontend_input']) {
                                        case 'text':
                                            $inputType = isset($validationInput[$attributeDetail['frontend_class']]) && $validationInput[$attributeDetail['frontend_class']] ? $validationInput[$attributeDetail['frontend_class']] : 'text';
                                            $htmlStr = "<input type='{$inputType}' id='{$inputId}' value='{$value}' name='{$name}' class='input-text " . $required . "&nbsp;" . $_class . "'/>";
                                            if ($attributeDetail['attribute_code'] == 'trcr_username')
                                                $htmlStr .= "<span style='display:none;' id='loaderspan'>checking availibility...<img src=" . $loaderpath . " height='28px' width='30px' style='margin-left:10px'></span>";
                                            break;
                                        case 'textarea':
                                            $htmlStr = "<textArea id='{$inputId}' name='{$name}' cols='5' rows='3' class='" . $_class . "' style='resize:none;'></textArea>";
                                            break;
                                        case 'select':
                                            $data_option = Mage::helper('arccore')->getattributeoptions($attributeDetail['attribute_code']);
                                            $htmlStr = '<select id="' . $inputId . '" name="' . $name . '" class="' . $_class . '">';
                                            // print_r($data_option);exit;
                                            $selected_val = '';
                                            foreach ($data_option as $option) {
                                                if ($value == $option['value']) {
                                                    $selected_val = 'selected="selected"';
                                                }
                                                $htmlStr .= '<option value="' . $option['value'] . '" ' . $selected_val . ' >';
                                                if (is_object($option['label'])) {
                                                    $htmlStr .= $option['label']->getText();
                                                } else {
                                                    $htmlStr .= $option['label'];
                                                }
                                                $htmlStr .= '</option>';
                                            }
                                            $htmlStr .= '</select>';
                                            break;
                                        case 'image':
                                            if ($value) {
                                                $htmlStr .="<span class='spnProfPicCont'><a href='" . Mage::getBaseUrl('media') . 'arccore/arcs/images/' . $value . "'>";
                                                $htmlStr .="<img id='trcr_profile_pic_image' class='small-image-preview v-middle' src='" . Mage::getBaseUrl('media') . '/arccore/arcs/images/' . $value . "' title='" . $value . "' alt='" . $value . "' width='100' height='100'>";
                                                $htmlStr .='</a><span class="spnEditImg"><label for="{$inputId}" class="fa fa-edit"></label><input type="file" id="{$inputId}" name="' . $attributeDetail['attribute_code'] . '" class="hideInput ' . $_class . '"/></span></span>';
                                                $htmlStr .='<span class="spnProfPic"><strong>Change photo ...</strong><p>Photo should be at least 300px x 300px</p>
                                                                <span class="lblBorder delete-image">
                                                                <input id="' . $attributeDetail['attribute_code'] . '_' . 'delete" class="hideInput checkbox" name="' . $name . '[delete]" value="1" type="checkbox">
                                                                <label for="' . $attributeDetail['attribute_code'] . '_' . 'delete"><i class="fa fa-minus-circle"></i>Remove photo</label>
                                                                <input name="' . $name . '[value]" value="' . $value . '" type="hidden">
                                                                </span>';
                                            } else {
                                                $htmlStr .="<span class='spnProfPicCont'><a>";
                                                $htmlStr .="<img id='trcr_profile_pic_image' class='small-image-preview v-middle' src='" . Mage::getBaseUrl('media') . "/tribe/defaultimages/noimg.png' title='Set your pic' alt='No image' width='100' height='100'>";
                                                $htmlStr .="</a></span>";
                                                $htmlStr .='<span class="spnProfPic"><strong>Upload photo ...</strong><p>Photo should be at least 300px x 300px</p>
                                                                <span class="lblBorder"><label for="{$inputId}"><i class="fa fa-camera"></i>Upload photo</label><input type="file" id="{$inputId}" name="' . $attributeDetail['attribute_code'] . '" class="hideInput ' . $_class . '"/></span>';
                                            }
                                            break;
                                        case 'content':
                                            $htmlStr = "<textArea id='{$inputId}' name='{$name}' value='{$value}' cols='115' rows='10013' class='" . $required . ' ' . $_class . "' style='resize:none;'></textArea>";
                                            break;
                                    }
                                    echo $htmlStr;
                                    ?>
                                </div>
                            </li>
                            <?php
                        }
                    }
                    ?>    
                </ul>
            </div>
            <div class="buttons-set">
                <p class="required">* Required Fields</p>
                <p class="back-link">
                    <a href="<?php echo $_SERVER['HTTP_REFERER']; ?>">
                        <small>« </small>
                        Back
                    </a>
                </p>
                <button class="button" data-action="save-customer-profile" type="submit" title="update">
                    <span>
                        <span>Update</span>
                    </span>
                </button>
            </div>
        </form>

    <?php }
    ?>
    <script type="text/javascript">
        //<![CDATA[
        jQuery(function ($) {
            $("#form-validation").validate({
                onkeyup: false,
                focusCleanup: true,
                rules: {
                    'arc[trcr_name]': {
                        required: true,
                    },
                    'arc[trcr_username]': {
                        required: true,
                        uniquename: true
                    }
                },
                messages: {
                    'arc[trcr_name]': {
                        required: "This field is required",
                    },
                    'arc[trcr_username]': {
                        required: "This field is required"
                    }

                }

            });
            jQuery.validator.addMethod("uniquename", function () {
                var url = "<?php echo $ajaxcheckAction; ?>";
                var uname = $("input[name='arc[trcr_username]']").val();
                var profile_id = <?php echo $arcdata['entity_id']; ?>;
                $('#loaderspan').show();
                $.ajax({
                    url: url,
                    data: {username: uname, id: profile_id},
                    success: function (result) {
                        var res = $.parseJSON(result);
                        if (res.msg == 'notexist')
                            ret = 1;
                        else
                            ret = 0;
                        $('#loaderspan').hide();
                    },
                    async: false
                });
                if (ret == 1)
                    return true;
                else
                    return false;
            }, 'Username already in use.');

        });

    </script>
</div>
<style type="text/css">
    .form-list.profileForm li:nth-last-child(2) .leblblockTitle,
    .form-list.profileForm li:last-child .leblblockTitle {font-size:20px;font-style:italic;}
    .form-list.profileForm li:nth-last-child(2) .spnProfPicCont strong,
    .form-list.profileForm li:last-child .spnProfPicCont strong{font-size:18px;font-weight:400;}
    .form-list.profileForm li:nth-last-child(2) .spnProfPicCont p,
    .form-list.profileForm li:last-child .spnProfPicCont p{font-size:16px;}
    .hideInput{display:none !important;cursor: pointer;}
    .spnProfPicCont{margin-right:15px;position: relative;}
    .spnProfPic strong{font-size: 18px;font-weight: 500;}
    .spnEditImg{
        position: absolute;
        right: 0px;
        bottom: -5px;
        background: #737373;
        padding: 4px 4px 4px 7px;
        cursor: pointer;
    }
    .spnEditImg label{font-size: 22px;color: #ffffff;padding: 0px !important;}
    .my-account .form-list .input-box .lblBorder{border:1px solid #cdcdcd;margin:0px 5px 5px 0px;}
    .form-list .input-box label i{border:0px transparent;cursor:pointer;vertical-align:middle;}
    .form-list .input-box label i.fa-minus-circle{color:#ff0000;font-size:18px;}
    .my-account button.button span span{font-size: 16px;font-weight: bold;width: 100px;}
</style>