<?php
$seller = Mage::registry('current_seller');
$helper = Mage::helper('tribeseller');
$slug = $helper->getSellerUrlKeySlug();
$sellerurl = $helper->getProfileUrl($seller->getSellerUserName()).'/'.$slug;
$currentaction = Mage::app()->getRequest()->getActionName();
$starsettings = intval(Mage::getStoreConfig('tribecoresettings/seller_starrating_settings/tribe_seller_star_rating_no'));
$starsize = intval(Mage::getStoreConfig('tribecoresettings/seller_starrating_settings/tribe_seller_star_size'));
$nostars = ($starsettings) ? $starsettings : 5;
$starsize = ($starsize) ? $starsize : 15;

$avgrating = $seller->getSellerAvgRating();
$reviews_no = $seller->getSellerReviewsCnt();

//bhagyashree
$checkfavorite = $helper->checkfavorite();//echo $checkfavorite;
$img_pth= Mage::getBaseUrl('media') . 'tribe/defaultimages/'; 
$loaderpath = $img_pth.'loader1.gif';
$fav_icn = $img_pth.'fav.png';
$nt_fav_icn = $img_pth.'not-fav.png';
?>

<div class="row topsellerheader">
    <!-- div class="col-xs-0 col-md-4 sell_head">
        <div class="block_seller">		
        </div>
    </div -->

    <div class="col-xs-1 menuToggle">
        <span class-"more-icon">
          <img src="../../../../../../../skin/frontend/base/default/images/more-button.png" width="32" />
            <!--i class="fa fa-ellipsis-v"></i><br />
            <i class="fa fa-circle-o"></i><br />
            <i class="fa fa-circle-o"></i><br /-->
            <ul class="ulInSellerBnnr">
                <?php 
                $actname = Mage::app()->getRequest()->getActionName();
                if($actname == 'home'):
                ?>
                <li>
                    <a href="<?php echo $helper->getFrontendProductUrl($seller->getSellerUserName()); ?>" class="home" title="<?php echo $this->__($helper->getSellerUrlKeySlug());?>" data-toggle="collapse" data-target="#home_e" name="home"><?php echo $this->__($helper->getSellerUrlKeySlug());?></a>
                </li>
                <?php else:?>
                <li>
                    <a href="<?php echo $helper->getProfileUrl($seller->getSellerUserName()); ?>" class="home" title="<?php echo $this->__($helper->getSellerUrlKeySlug());?>" data-toggle="collapse" data-target="#home_e" name="home">home</a>
                </li>
                 <?php endif;?>
                <li>
                    <a href="<?php echo $helper->getSellerTabUrl($seller->getSellerUserName(), 'about'); ?>" class="about <?php echo ($currentaction == 'about') ? 'active' : ''; ?>" title="about" data-toggle="collapse" data-target="#about_t" name="about">about</a>
                </li>
                <li>
                    <a href="<?php echo $helper->getSellerTabUrl($seller->getSellerUserName(), 'policy'); ?>" class="policies <?php echo ($currentaction == 'policy') ? 'active' : ''; ?>" title="policies" data-toggle="collapse" data-target="#policies_s" name="policies">policies</a>
                </li>
                <li>
                    <a href="<?php echo $helper->getSellerTabUrl($seller->getSellerUserName(), 'direction'); ?>" class="direction <?php echo ($currentaction == 'direction') ? 'active' : ''; ?>" title="direction">direction</a>
                </li>
                <li>
                    <a href="<?php echo $helper->getSellerTabUrl($seller->getSellerUserName(), 'reviews'); ?>" class="review <?php echo ($currentaction == 'reviews') ? 'active' : ''; ?>" title="review">review</a>
                </li>
            </ul>

        </span>          
    </div>
    
   <!-- bhagyashree -->
   <div class="fav-slr welcome-msg" style="display:none;">Successfully added to your favorite list.</div>
    <div class="fav-slr-rmv welcome-msg" style="display:none;">Removed from favorite list.</div>
   <!-- end here-->
    
    <!--  Seller Logo -->
    <div class="col-xs-12 sell_head">
        <div class="block_seller"><br/>
            <div class="sellerlogo">
                <a href="<?php echo $sellerurl; ?>">
                    <img src="<?php echo $helper->resizeImg($seller->getSellerProfilePic()); ?>" id="seller_profile_pic_image" title="<?php echo $seller->getSellerStoreName(); ?>" alt="<?php echo $seller->getSellerStoreName(); ?>">
                    <span style="color:white;letter-spacing: 0.1em; margin-top:5px;"><strong><?php echo $seller->getSellerStoreName(); ?></strong></span>
                </a>
            </div>
            <div class="sellerlogo">
                <span style="margin: 5px auto 0px; display: inline-block;">
                    <span id="selRatingstar" class="pull-left" style="margin-right: 5px;"></span>
                    <a class="pull-left" href="<?php echo $helper->getSellerTabUrl($seller->getSellerUserName(), 'reviews'); ?>">
                        <span style="color:#FFFFFF;text-transform: none;"><?php echo $this->__('Reviews'); ?> (<?php echo $reviews_no; ?>)</span>
                    </a>
                </span>
            </div>
            
            
           <!-- favorite store-->
    
    <div class="remfavstore" onclick="remfavstore();"  <?php if($checkfavorite != "1"): ?>style="display:none;"<?php endif; ?>><img style="cursor:pointer;" title="Remove from Favorite" src="<?php echo $fav_icn;?>"></div>
    <div class="favstore" onclick="favstore();" <?php if($checkfavorite == "1"): ?>style="display:none;"<?php endif; ?>><img style="cursor:pointer;" title="Add to Favorite" src="<?php echo $nt_fav_icn;?>"></div>
<div id="loaderspan" style="display:none;"><img src="<?php echo $loaderpath?>"></div>
    <!--bhagyashree end here-->  
            
            
        </div>
        <!--  Store Status -->
        <div class="block_seller">
            <div class="open open_hours">
                <p>
                    <?php if ($seller->getSellerOpeningHours()): ?>
                        Oening hours:<?php echo $seller->getSellerOpeningHours(); ?>
                        <span class="spnDevider">&nbsp;|&nbsp;</span>
                    <?php endif; ?>            
                    <?php
                    $address = $helper->getFormattedSellerAddress($seller->getData());
                    echo $address;
                    ?>
                </p>
            </div>
        </div>
    </div>
</div>

<style type="text/css">
    .topsellerheader{
        /*height: 172px;
        background: #ddd;*/
        background:url('<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA) ?>/tribe/sellers/images/p/t/Banner.jpg') no-repeat center center;

    }
    .top-container .bx-wrapper{max-width: 100% !important;}
</style>

<script type="text/javascript">
//bhagyashree

function favstore(){
    //alert();return false;
    jQuery('#loaderspan').show();
    <?php $submitAction = Mage::getUrl('tribeseller/Sellerpage/addtofav');?>
    var url = "<?php echo $submitAction; ?>";
    var fav_str = "<?php echo $seller->getId(); ?>";//alert(fav_str);return false;
                        jQuery.ajax({
                            type: "POST",
                            url: url,
                            data: {fav_str: fav_str},
                            success: function(result) {
                                //alert(result);return false;
                                if(result == '1'){
                                    jQuery('#loaderspan').hide();
                                    jQuery('.fav-slr').show();
                                     jQuery('.fav-slr-rmv').hide();
                                    jQuery('.favstore').hide();
                                    jQuery('.remfavstore').show();
                                }else{
                                    alert(result);return false;
                                }
                            }            
                        });
                        
}

function remfavstore(){
    var check = confirm("Are you sure you want to remove it from your favorite list?");
    if (check == true) {
        jQuery('#loaderspan').show();
    <?php $submitAction = Mage::getUrl('tribeseller/Sellerpage/remfrmfav');?>
    var url = "<?php echo $submitAction; ?>";
    var fav_str = "<?php echo $seller->getId(); ?>";//alert(fav_str);return false;
                        jQuery.ajax({
                            type: "POST",
                            url: url,
                            data: {fav_str: fav_str},
                            success: function(result) {
                                //alert(result);return false;
                                if(result == '1'){
                                    jQuery('#loaderspan').hide();
                                    jQuery('.fav-slr').hide();
                                    jQuery('.fav-slr-rmv').show();
                                    jQuery('.remfavstore').hide();
                                    jQuery('.favstore').show();
                                }else{
                                    alert(result);return false;
                                }
                            }            
                        });
    }
}

    //<![CDATA[
    jQuery(function ($) {
        $("#selRatingstar").rateYo({
            starWidth: "<?php echo $starsize; ?>px",
            readOnly: true,
            rating: <?php echo $avgrating; ?>,
            spacing: "5px",
            numStars: <?php echo $nostars; ?>,
            multiColor: {
                "startColor": "#FF0000", //RED
                "endColor": "#FEA200"  //GREEN
            },
            halfStar: true
        });
        //box-slider
        /*jQuery('.bxslider').bxSlider({
         minSlides: 1,
         maxSlides: 4,
         slideWidth: 150,
         slideMargin: 5,
         useCSS: false,
         infiniteLoop: false,
         hideControlOnEnd: true,
         responsive: true,
         pager: false,
         autoHover: true,
         });*/
        var nextul = jQuery('.menuToggle span ul');
        jQuery('.menuToggle span').click(function (e) {
            e.stopPropagation();
            if (nextul.is(':visible'))
                nextul.slideUp(400);
            else
                nextul.slideDown('slow', 'easeOutBounce');
        });
        jQuery(document).click(function () {
            nextul.slideUp(400);
        });

        /*discount value added mannually can remove it
         jQuery('.products-grid li').each(function () {
         jQuery(this).find('.item-area').prepend('<div class="spnCutoff clearfix">-50%</div>');
         });*/
jQuery(function(){
jQuery(".sellerlogo .pull-left.jq-ry-container div svg polygon").attr('fill','#fff');
});

    });
    //]]>
</script>