<?php 
$seller = Mage::registry('current_seller');
$id  = $seller->getId();
?>
<div class="container">

<!-- //Sly slider for Category menu -->
<!--div class="menu-wraper">
<div class="frame" id="basic">
<?php
// $layerobj = Mage::app()->getLayout()->createBlock('tribeseller/layer_view');
// $categoryfilter = $layerobj->_getCategoryFilter();
// if ($categoryfilter->getItemsCount()):
    ?>
    <ul class="clearfix">
 <?php // foreach ($categoryfilter->getItems() as $_item): ?>
            <li>
                <a href="<?php // echo ($_item->getCount() > 0) ? $this->urlEscape($_item->getUrl()) : 'javascript:void(0)'; ?>">
                    <?php // echo $_item->getLabel() ?>
                    <?php // if ($categoryfilter->shouldDisplayProductCount()): ?>
                        (<?php // echo $_item->getCount() ?>)
        <?php // endif; ?>
                </a>

            </li>
    <?php // endforeach ?>
    </ul>
  </div>
</div-->
<?php // endif; ?>
  <!--div class="controls center">
    <button class="btn prevPage"><i class="icon-chevron-left"></i><i class="icon-chevron-left"></i></button>
    <button class="btn nextPage"><i class="icon-chevron-right"></i><i class="icon-chevron-right"></i></button>
  </div-->
<!-- //Sly slider for Category menu -->



<!-- Shop News -->
<?php if ($seller->getShopNews()): ?>
    <div class="shop-news"><?php echo $seller->getShopNews(); ?></div>
<?php endif; ?>
<br>
<?php if($id == 1 || $id == 5 ):?>
<?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('product_view_featured_products')->toHtml(); ?>
<?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('slider_page')->toHtml(); ?>
<?php elseif($id == 2 || $id == 6 ):?>
<?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('product_view_featured_products')->toHtml(); ?>
<?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('slider_page1')->toHtml(); ?>
<?php elseif($id == 3):?>
<?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('product_view_featured_products')->toHtml(); ?>
<?php endif;?>
</div>