<?php
$new = Mage::getSingleton('core/session')->getData('create');
$url = $this->getUrl(Mage::helper('tribeseller')->getSellerUrlKeySlug());
$loginUrl = $this->getPostActionUrl();
$loaderpath = Mage::getBaseUrl('media') . 'tribe/defaultimages/loader1.gif';

//login redirect url
//$redirectUrl =
?>
<style>
    #loginloader img {
        width: 50px;
        height: 50px;
        position: absolute;
        left: 40%;
    }
    #loginloader {
        position: relative;
        z-index: 100000;
    }
</style>
<div class="custom-login">
    <div class="account-login">
        <div class="page-title">
            <ul class="tab-group">
                <li class="tab active"><a href="javascript:void(0)" id="account-page-login">LOG IN</a></li>
                <li class="tab"><a href="javascript:void(0)" id="noaccount">SIGN UP</a></li>
            </ul>
        </div>

        <?php /* Extensions placeholder */ ?>
        <?php echo $this->getChildHtml('customer.form.login.extra') ?>
        <form action="javascript:void(0)" method="post" id="login-form" onsubmit="return false;">
            <p class="reg_cont" style="display:none !important;" id="error_login">
                <span class="uline" id="error_login_span" style="color:#bf2403 !important;">
                </span>
            </p>
            <?php
//        if(@$_GET['login']){
//            echo $this->getMessagesBlock()->toHtml(); 
//        }
            ?>
            <?php echo $this->getBlockHtml('formkey'); ?>
            <div class="col2-set">
                <div class="content">
                    <ul class="form-list">
                        <li>
                            <div class="input-box">
                                <input type="email" name="login[username]" value="" id="email" class="input-text" title="<?php echo $this->__('Email Address is required') ?>" placeholder ="<?php echo $this->__('Enter Your Email Address') ?>"/>
                            </div>
                        </li>
                        <li>
                            <div class="input-box">
                                <input type="password" name="login[password]" class="input-text" id="pass" title="<?php echo $this->__('Password is required') ?>" placeholder = "<?php echo $this->__('Enter Your Password') ?>"/>
                            </div>
                        </li>
                        <?php echo $this->getChildHtml('form.additional.info'); ?>
                    </ul>
                </div>
            </div>
            <div id="loginloader" style="display:none;"><img src="<?php echo $loaderpath ?>"></div>
            <div class="col1-set">
                <div class="col-1 registered-users" style="margin:0 0 12px;">
                    <div class="buttons-set">
                        <button type="submit" class="button singlebutton" title="<?php echo $this->__('LOG IN') ?>" name="send" id="send2"><?php echo $this->__('LOG IN') ?></button>
                    </div>
                </div>
                <div class="col-1 registered-users">
                    <!--<div class="buttons-set">
                        <button type="submit" class="button singlebutton" title="<?php //echo $this->__('FORGOT PASSWORD')      ?>" name="forgotPassword" id="forgotPassword2"><?php //echo $this->__('FORGOT PASSWORD')      ?></button>-->
                    <a href="<?php echo Mage::getUrl('customer/account/forgotpassword') ?>" class="button singlebutton1 pull-right" title="<?php echo $this->__('') ?>" name="forgotPassword" id="forgotPassword2"><?php echo $this->__('Forgot your password?') ?></a>
                    <!--/div-->
                </div>
                <div class="clearfix"></div>
                <?php /*
                  <div class="or-separator" align="center">OR</div>
                  <?php echo $this->getLayout()->createBlock('gomage_social/login')->setPlace('login')->setTemplate('gomage/social/login.phtml')->toHtml(); ?>
                 *  social login hide by puru
                 */ ?>
            </div>
            <div class="form-group">
                <input type="hidden" name="skiplogin" id="skiplogin" value="0" />
                <div align="right">
                    <a href="javascript:void(0)" class="linkSkip" onclick="dologSkip();">Skip &nbsp;<i class="fa fa-step-forward"></i>&nbsp;</a>
                </div>
            </div>
        </form>
        <div class="custom-account" style="display: none;">
            <?php echo $this->getLayout()->createBlock('customer/form_register')->setTemplate('fedobe/tribe/seller/default/register.phtml')->toHtml(); ?>
        </div>

        <script type="text/javascript">
            //<![CDATA[
            var dataForm = new VarienForm('login-form', true);
            function dologSkip() {
                jQuery('#skiplogin').val(1);
                jQuery('.fancybox-overlay').hide();
                //jQuery('#login-form').attr('action', '<?php echo $url; ?>').submit();
            }

            jQuery(document).ready(function ($) {
                $("#account-page-login").click(function () {
                    $('#login-form').show();
                    $('.custom-account').hide();
                    $(this).parent().addClass('active');
                    $("#noaccount").parent().removeClass('active');
                    $.fancybox.update();
                })
                $("#noaccount").click(function () {
                    $('#login-form').hide();
                    $('.custom-account').show();
                    $(this).parent().addClass('active');
                    $("#account-page-login").parent().removeClass('active');
                    $.fancybox.update();
                });

                $('.account-create #form-validate input#firstname').attr('placeholder', 'First Name');
                $('.account-create #form-validate input#lastname').attr('placeholder', 'Last Name');
<?php if ($new): ?>

                    $("#noaccount").trigger('click');
    <?php
    Mage::getSingleton('core/session')->setData('create', 0);
endif;
?>

            });
            //]]>
        </script>

        <!---login submit action-->
        <script type="text/javascript">
            jQuery("#login-form").validate({
                rules: {
                    'login[username]': {required: true},
                    'login[password]': {required: true}
                },
                submitHandler: function (form) {
                    var url = '<?php echo $loginUrl; ?>';
                    jQuery('#loginloader').show();
                    jQuery('#send2').attr("disabled", "disabled");
                    var formData = new FormData(jQuery('#login-form')[0]);
                    jQuery.ajax({
                        url: url,
                        method: "POST",
                        data: formData,
                        contentType: false,
                        processData: false,
                    }).done(function (msg) {
                        var data = JSON.parse(msg);       
                        if (data.hasError == true) {
                            jQuery('#loginloader').hide();
                            jQuery("#login-form")[0].reset();
                            jQuery('#error_login').show().delay(10000).fadeOut('slow');
                            jQuery('#send2').removeAttr("disabled");
                            jQuery('#error_login_span').html(data.hasMessage);
                        } else {
                            jQuery("#login-form").css("opacity", "0.75");
                            location.reload();
//                            jQuery('#send2').attr("disabled", false);
//                            jQuery('#loginloader').hide();
////                            location.href = data.redirectUrl;
//                            window.location.href = data.redirectUrl;
//                            jQuery('#success_submit').show().delay(9000).fadeOut('slow');
                        }
                    });
                }
            });
        </script>

    </div>
</div>
<style type="text/css">
    .tribeseller-sellerspage-login .footer-middle,.tribeseller-sellerspage-login .footer-bottom{display: none;}
    a.singlebutton1{
        background: none repeat scroll 0 0 transparent;
        color: #ffffff;
        font-size: 13px;
        position: relative;
        transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        -ms-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -webkit-transition: all 0.5s ease;   
    }
    a.button.singlebutton1.pull-right:hover {
        color:#de750a;
    }
</style>
