<?php echo $this->getFormInitScripts() ?>
<div class="content-header">
    <?php echo $this->getHeaderHtml() ?>
    <p class="form-buttons"><?php echo $this->getButtonsHtml('header') ?></p>
</div>
<form action="<?php echo $this->getSaveUrl() ?>" method="post" id="seller_edit_form" enctype="multipart/form-data">
    <?php echo $this->getBlockHtml('formkey') ?>
    <div style="display:none"></div>
</form>
<?php if ($this->hasFooterButtons()): ?>
    <div class="content-footer">
        <p class="form-buttons"><?php echo $this->getButtonsHtml('footer') ?></p>
    </div>
<?php endif; ?>
<script type="text/javascript">
    seller_edit_form = new varienForm('seller_edit_form', '<?php echo $this->getValidationUrl() ?>');
    $('seller_country').observe('change',reloadmap);
    $('seller_state').observe('blur',reloadmap);
     $('seller_city').observe('blur',reloadmap);
      $('seller_pin').observe('blur',reloadmap);
       $('seller_street_address_one').observe('blur',reloadmap);
        $('seller_street_address_two').observe('blur',reloadmap);
       $j= jQuery.noConflict();
      $j('#seller_partner').parent('td').append('<p>Create an option for attribute suppliers.</p');
      jQuery(function(){
       jQuery('#all_customers').parent('td').parent('tr').hide(); 
    });
</script>
<?php echo $this->getFormScripts() ?>



