<?php
$_nutritionValue = $this->getProduct();
if ($_nutritionValue):
    ?>
    <style type="text/css">
        .nutrition-graph li{
            color: #FFFFFF;
            width: 85px;
            height: 80px;
            float:left;
            margin:2px;
        }
        .nutrition-graph-dynamic{
            height: 60px;
            text-align:center;
            position:relative;
        }
        .nutrition-graph-dynamic > div{
            position: absolute;
            text-align: center;
            top: 0;
            bottom: 0;
            margin: auto;
            display: table;
            width: 100%;
            font-weight:normal;
        }
        .nutrition-graph-static{
            background-color:#817F7F;
            color: #FFFFFF;
            text-align: center;
            font-size: 14px;
            font-weight:bold;
            height: 24px;
        }
    </style>
    <div class="row">
        <?php
        $attributeSetCollection = Mage::getResourceModel('eav/entity_attribute_group_collection')
                ->addFieldToFilter('attribute_group_name', 'nutrition value')
                ->getFirstItem();

        $groupId = $attributeSetCollection->getAttributeGroupId();
        $attributesCollection = Mage::getResourceModel('catalog/product_attribute_collection');
        $attributesCollection->setAttributeGroupFilter($groupId);
        ?>
        <ul class="nutrition-graph">
            <?php
            $temp = $attr = array();
            foreach ($attributesCollection as $attribute) {
                if ($attribute->getBackgroundColor()) {
                    $res = $_nutritionValue->getResource()->getAttribute($attribute->getAttributeCode())->getFrontend()->getValue($_nutritionValue);
                    if ($res)
                        $attr[$attribute->getAttributeCode()] = array('label' => $attribute->getFrontendLabel(), 'value' => $res, 'attribute' => $attribute);
                }
            }
            foreach ($attr as $attribute => $val) :
                ?>
                <li>
                    <div class="nutrition-graph-dynamic" style="background-color: <?php echo $val['attribute']->getBackgroundColor() ?>;">
                        <div>
                        <div>
                            <?php
                            $lbel = explode(' ', $val['label']);
                            echo $lbel[0];
                            ?>
                        </div>
                        <div>
                            <?php echo $lbel[1]; ?>
                        </div>
                        <?php if ($val['attribute']->getUnit()): ?>
                            <!--div>
                                (<?php //echo $val['value']; ?>)
                            </div-->
                        <?php endif; ?>
                        </div>
                    </div>
                    <div class="nutrition-graph-static">
                        <?php if ($val['attribute']->getUnit()): ?>
                            <?php 
                                if(strtolower($val['attribute']->getUnit()) == 'gm'){
                                    $per = $val['value']." %";
                                }else{
                                    $mg_to_gm = $val['value'] / 1000;
                                    $per = (($mg_to_gm/100)*100)." %";
                                }
                                echo $per;
                            ?>
                        <?php else: ?>
                            <?php echo $val['value']; ?>
                        <?php endif; ?>
                    </div>
                </li>
            <?php endforeach; ?>
            <div class='clearer clearfix'></div>
        </ul>
    </div>
<?php endif; ?>