<?php
$photoscollection = $this->getPhotosCollection();
$info = $this->getPhotosProfileInfo();
$profileimage = '';
$width = Mage::getStoreConfig('photos/general/profile_icon_width');
$height = Mage::getStoreConfig('photos/general/profile_icon_height');
$fimg_width = Mage::getStoreConfig('photos/general/featured_image_width');
$fimg_height = Mage::getStoreConfig('photos/general/featured_image_height');
if ($info['trcr_profile_pic']) {
    $profileimage = Mage::helper('arccore')->resizeImg($info['trcr_profile_pic'], $width, $height);
}
?>
<?php if ($photoscollection->getSize()): ?>
            <?php foreach ($photoscollection as $photos): ?>
                <div class="mosaicflow__item" id="photo_item_<?php echo $photos->getId(); ?>">
                    <div class="note-wrapper photo-wrapper">
                        <div class="note_meta photo_meta">
                            <?php if ($profileimage): ?>
                                <span class="note_prifile_img">
                                    <img src="<?php echo $profileimage; ?>" alt="<?php echo $info['trcr_name']; ?>" />
                                </span>
                            <?php endif; ?>
                            <div class="note-date-name-div">
                                <span class="profile_name">
                                    <?php echo $info['trcr_name']; ?>
                                </span>
                                <br/>
                                <span class="note_created_at">
                                    <?php echo date("d-m-Y h:i:s", strtotime($photos->getCreatedAt())); ?>
                                </span>
                            </div>
                            <?php if (Mage::helper('tribephotos')->isActionallowed($info)): ?>
                                <div class="note-action-div fa fa-ellipsis-v">
                                    <ul> 
                                        <li><a href="javascript:void(0);" onclick="editphoto(<?php echo $photos->getEntityId(); ?>)"><i class="fa fa-pencil"></i> Edit</a></li>
                                        <li><a href="javascript:void(0);" onclick="deletephoto(<?php echo $photos->getEntityId(); ?>)"><i class="fa fa-close"></i> Delete</a></li>
                                    </ul>
                                </div>
                            <?php endif; ?>
                        </div>
                        <?php
                        if ($photos->getTrcrPhotos()):
                            $note_featured_image = Mage::helper('arccore')->resizeImg($photos->getTrcrPhotos(), $fimg_width, $fimg_height, TRUE);
                            ?>
                            <div class="photo_featured_img">
                                <?php
                                    $folderURL = Mage::getBaseUrl('media') . 'arccore/arcs/images';
                                    $imageURL = $folderURL . $photos->getTrcrPhotos();
                                ?>
                                <a class="tribe_photo_fancybox" rel="tribe_gallery" href="<?php $imageURL?>" title="<?php echo $photos->getTrcrTitle(); ?>">
                                    <img src="<?php echo $note_featured_image; ?>" alt="<?php echo $info['trcr_name']; ?>" style="width:100%;"/>
                                </a>
                                <p title="<?php echo $photos->getTrcrTitle(); ?>">
                                    <?php echo $photos->getTrcrTitle(); ?>
                                </p>
                            </div>
                        <?php endif; ?>
                    </div>
                </div>
            <?php endforeach; ?>
<?php endif; ?>
