<?php if($this->canShowBlock()): ?>
<div class="block block-layered-nav">
    <ul class="block-content">
        <?php echo $this->getStateHtml() ?>
        <?php if ($this->getLayer()->getState()->getFilters()): ?>
            <div class="actions"><a href="<?php echo $this->getClearUrl() ?>"><?php echo $this->__('Clear All') ?></a></div>
        <?php endif; ?>
        <?php if($this->canShowOptions()): ?>
            <li id="narrow-by-list">
                <?php $_filters = $this->getFilters() ?>
                <?php foreach ($_filters as $_filter): ?>
                <?php if($_filter->getItemsCount()): ?>
                    <dt>
                        <div filt-typ="<?php echo $this->__($_filter->getName()) ?>" class="filt-li <?php echo $this->__($_filter->getName()) ?>"><?php echo $this->__($_filter->getName()) ?></a></div>
                    </dt>
                    <!-- <dt><?php //echo $this->__($_filter->getName()) ?></dt> -->
                <?php endif; ?>
                <?php endforeach; ?>
            </li>
            <div class="clear"></div>
            <div id="filter-li" class="category_filter_ul" style="top: 0px; margin-bottom: 10px; display: block;">
                <ul>
                    <li style="position: relative;">
                    <div id="filter-box" class="filter-demo" style="overflow: auto;margin-bottom: 10px; display: block;">
                        <div id="filter-innerbox" style="display: block;clear: both">
                            <?php $_filters = $this->getFilters() ?>
                            <?php foreach ($_filters as $_filter): ?>
                            <?php if($_filter->getItemsCount()): ?>
                                <div class="comon-class filter-opt filter-<?php echo $this->__($_filter->getName()) ?>" style="display: none;"><?php echo $_filter->getHtml() ?></div>
                            <?php endif; ?>
            <script type="text/javascript">
                jQuery(function($){

                    $(".block-layered-nav dt .filt-li.<?php echo $this->__($_filter->getName()) ?>").hover(function(){
                        $(".comon-class").hide();
                        $(".filter-opt.filter-<?php echo $this->__($_filter->getName()) ?>").show();

                    });

                    $( ".block.block-layered-nav ul" ).mouseleave(function() {
                          $(".comon-class").hide();
                        });

                });
            </script>
                            <?php endforeach; ?>
                        </div>
                    </div>
                    </li>
                </ul>
            </div>
            <script type="text/javascript">decorateDataList('narrow-by-list')</script>
        <?php endif; ?>
    </ul>
</div>
<?php endif; ?>
