/* Blank (All content copied from local.css) */
/*************** Added by Akshaya *****************/

.center{margin: 0px auto;}
.wid50{width: 50%;}
.wid60{width: 60%;}
.wid70{width: 70%;}
.page{background-color: transparent !important; padding:0}
html, body{width:100%;height:100%;}
body{background:url('http://sites.fedobe.net/ecociate/media/wysiwyg/porto/homepage/slider/01/eco-bg.jpg') 50% 97.3% / cover; background-attachment:fixed;}
.col-main{min-height: auto; margin-top: 10%;}
.tab-group{width:100%; margin:0; padding:0;}
.tab-group li{display:block; float:left; width:50%; background:#000 none; text-align:center;}
.tab-group li a{text-decoration:none; color:#FFF; display:block; line-height:55px; letter-spacing: 1px; font-weight:bold; font-size:14px;}
.tab-group li.active{background: transparent; border-radius: 3px; -o-border-radius: 3px; -ms-border-radius: 3px; -moz-border-radius: 3px;-webkit-border-radius: 3px;}
.or-separator {color: #FFF;padding: 15px 0px; display: inlne-block; margin: 0px auto; font-weight: bold; font-size: 14px;}
.or-separator:before, .or-separator:after {content: '- - -';display: inline-block;vertical-align: middle; margin: 0px 5px;}
.gs-login li {
    display: block !important;
    vertical-align: middle;
    margin: 2px 0px 8px;
}
.gs-login img{width: 100%;}
.or-separator:after {left: 0.5em;}
.custom-login{/*width: 100%;*/ max-width: 400px; margin: auto; background: rgba(30,25,21,0.8); border-radius: 3px; -o-border-radius: 3px; -ms-border-radius: 3px; -moz-border-radius: 3px;-webkit-border-radius: 3px; overflow: hidden;}
.custom-login form{padding: 35px; display: block;}
.custom-login #login-form{padding: 35px 20%;}
.account-login .content{min-height: auto;}
.main-container{background: url('../../media/tribe/defaultimages/eco-bg.jpg') 80% center no-repeat; padding: 0px;}
.custom-login .buttons-set button.button {float: none; margin-left: 0; width: 100%;font-weight: bold;}
.custom-login .buttons-set button.button:hover{color: #ffffff;}
button.button.singlebutton span{background: transparent;}
button.button.singlebutton span.btnbg{background: #3C5200;}
.hideb4login{display: none;}

/*************** Added by Akshaya *****************/