<?php
$all_attributes=array();
$all_attributes = $this->getFormdata();
$attributes = $all_attributes['attributes'];//Mage::registry('review_attributes');
$hidden_attributes = $all_attributes['hidden_attributes'];//Mage::registry('hidden_review_attributes');
$submitAction = Mage::getUrl('tribereview/tribereview/save');
$config_rating = Mage::getStoreConfig('review/general/rating');
if ($attributes) {
    ?>
    <div class="arc_frontend_form">
        <form name="arc_form" action="<?php echo $submitAction; ?>" data-role="product-faq-form" method="post" id="arc_frontend_form">
            <fieldset class="fieldset">
                <?php
                foreach ($attributes as $attrGroupName => $attributes) {
                    //echo "<h1><strong>$attrGroupName</strong></h1>";
                    foreach ($attributes as $attribute_id => $attributeDetail) {
                        $inputId = $attributeDetail['attribute_code'] . "-field";
                        $_class = $attributeDetail['attribute_code'];
                        $htmlStr = '';
                        $required = $attributeDetail['is_required'] ? 'required-entry' : '';
                        ?>
                        <div class="field" data-index="<?php echo $attributeDetail['attribute_code'] ?>">
                            <!--label class="label <?php //echo $required; ?>" for="<?php //echo $inputId; ?>"><?php //echo $attributeDetail['frontend_label']; ?></label-->
                            <!--bhagayshree commented-->
                            <!--label for="<?php //echo $inputId; ?> " class="fltlft"><?php //echo $attributeDetail['frontend_label']; if($required){?> <span class="required">*</span><?php //} ?></label-->
                            <div class="control">
                                <?php
                                $name = "arc[{$attributeDetail['attribute_code']}]";
                                $requiredFields = [];
                                if ($attributeDetail['attribute_code'] != 'trrv_rating') {
                                    switch ($attributeDetail['frontend_input']) {
                                        case 'text':
                                            $inputType = isset($validationInput[$attributeDetail['frontend_class']]) && $validationInput[$attributeDetail['frontend_class']] ? $validationInput[$attributeDetail['frontend_class']] : 'text';
                                            $htmlStr = "<input type='{$inputType}' id='{$inputId}' name='{$name}' class='arc-form-input-text data_part_arc_form ".$required.' '.$_class."'/>";
                                            break;
                                        case 'textarea':
                                            $htmlStr = "<textArea id='{$inputId}' name='{$name}' cols='5' rows='3' class='data_part_arc_form arc-form-input-textarea ".$required.' '.$_class."' style='resize:none;'></textArea>";
                                            break;
                                        case 'date':
//                                        $date_obj = $objectManager->create('\Magento\Framework\Data\Form\Element\Date');
//                                        $form_obj = $objectManager->create('\Magento\Framework\Data\Form\AbstractForm');
//                                        $date_obj->setFormat(\IntlDateFormatter::SHORT);
//                                        $date_obj->setData('name', 'abhaya');
//                                        $date_obj->setData('html_id', 'abhaya_id');
//                                        $date_obj->setForm($form_obj);
//                                        $htmlStr = '<input type="text" name="from_date" id="page-from-date" title="From" data-mage-init="' . "{'calendar': {'showTime': false}}" . '" />'; //$block->getLayout()
                                            $htmlStr = '<input type="text" class="input_calendar input-text required-entry'.$_class.'" id="calendar_inputField" name="calendar_inputField" aria-required="true" >';
                                            //->createBlock('Magento\Customer\Block\Widget\Dob')
                                            //->toHtml();//$date_obj->getElementHtml();                                      
                                            break;
                                        case 'boolean':
                                            $data_option = Mage::helper('arccore')->getattributeoptions($attributeDetail['attribute_code']);
                                            $htmlStr = '<div class="arc-form-input-radio-div div_part_arc_form">';
                                            foreach ($data_option as $option) {
                                                $htmlStr .= '<input type="radio" id="' . $inputId . '-' . $option['value'] . '" name="' . $name . '" class="data_part_arc_form arc-form-input-radio '.$required.'">';
                                                $htmlStr .= '<label class="arc-form-field-label" for="' .
                                                        $inputId . '-' . $option['value'] .
                                                        '"><span>';
                                                if (is_object($option['label'])) {
                                                    $htmlStr .= $option['label']->getText();
                                                } else {
                                                    $htmlStr .= $option['label'];
                                                }
                                                $htmlStr .= '</span></label>';
                                            }
                                            $htmlStr .= '</div>';
                                            break;
                                        case 'multiselect':
                                            $data_option = Mage::helper('arccore')->getattributeoptions($attributeDetail['attribute_code']);
                                            $htmlStr = '<select id="' . $inputId . '" name="' . $name . '" class="data_part_arc_form arc-form-input-multidropdown multiselect" ' . $required . ' multiple="multiple">';
                                            foreach ($data_option as $option) {
                                                $htmlStr .= '<option value="' . $option['value'] . '">';
                                                if (is_object($option['label'])) {
                                                    $htmlStr .= $option['label']->getText();
                                                } else {
                                                    $htmlStr .= $option['label'];
                                                }
                                                $htmlStr .= '</option>';
                                            }
                                            $htmlStr .= '</select>';
                                            break;
                                        case 'select':
                                            $data_option = Mage::helper('arccore')->getattributeoptions($attributeDetail['attribute_code']);
                                            $htmlStr = '<select id="' . $inputId . '" name="' . $name . '" class="data_part_arc_form arc-form-input-dropdown '.$required."&nbsp;".$_class.'">';
                                            // print_r($data_option);exit;
                                            foreach ($data_option as $option) {
                                                $htmlStr .= '<option value="' . $option['value'] . '">';
                                                if (is_object($option['label'])) {
                                                    $htmlStr .= $option['label']->getText();
                                                } else {
                                                    $htmlStr .= $option['label'];
                                                }
                                                $htmlStr .= '</option>';
                                            }
                                            $htmlStr .= '</select>';
                                            break;
                                    }
                                } else {
                                    if($config_rating=='5-star'){
                                        $htmlStr.= '<div id="star-ratereview" '.$required.'></div>';
                                    }else{
                                       // echo Mage::getBaseUrl('media').'/tribe/review/up.png';
                                        $htmlStr.= '<div>
                                                <input type="button" id="button-container-like" class="thumbs-up ratingbutton" name="'.$name.'" value="like"/>
                                                <input type="button" id="button-container-unlike" class="thumbs-down ratingbutton" name="'.$name.'" value="dislike"/>
                                                </div>';
                                                    //<input type="radio" class="down-rating-radio" name="'.$name.'" value="-1">';
                                    }
                                   $htmlStr.= '<input type="hidden" id="trrv_rating" class="validate-rating" name="'.$name.'"/>';
                                }
                                echo $htmlStr;
                                ?>
                            </div>
                        </div>
                        <?php
                    }
                }
                if (!empty($hidden_attributes)) {
                    foreach ($hidden_attributes as $k => $v) {
                         $name_hid = "arc[$k]";
                        ?>
                        <input type="hidden" name="<?php echo $name_hid; ?>" class="<?php echo $k; ?>" value="<?php echo $v; ?>">
                        <?php
                    }
                }
                ?> 
                <input type="submit" class="my_cls submit-btn note-button fltrht" value="Submit" id="submit-btn"/>
            </fieldset>
        </form>
    </div>
 
<?php }
?>
<script type="text/javascript">
    //<![CDATA[
    jQuery(function ($) {
        //bhagyashree
        $('.my_cls').on('click',function(){
            $('#review_mosaicflow').append('</div></div></div></div></div>');
        });
        
        
        $("#star-ratereview").rateYo({
            starWidth: "40px",
            ratedFill: "#06693B",
            fullStar: true,
            onSet: function (rating, rateYoInstance) {
                $('#trrv_rating').val(rating);
           }
        });
        $(".ratingbutton").click(function(){
			if($(this).val() == "like"){
                                $(this).next(".thumbs-down").removeClass("tdown-hover");
                                if($(this).hasClass("tup-hover")){
                                    $(this).removeClass("tup-hover");
                                }else{
                                    $(this).addClass("tup-hover");
                                }
                               $('#trrv_rating').val(1);  
                        }else{
                            $(this).prev(".thumbs-up").removeClass("tup-hover");
                            if( $(this).hasClass("tdown-hover")){
                                $(this).removeClass("tdown-hover");
                            }else{
                                $(this).addClass("tdown-hover");
                            }
                             $('#trrv_rating').val(-1);
                       }
		});
//                $('#arc_frontend_form').submit(function(){
//                    var ret=false;
//                    if($('#trrv_rating').val()){
//                        ret= true
//                    }else{
//                        alert('Please select a rating')
//                    }
//                    return ret;
//                });
               
    });
     var dataForm = new VarienForm('arc_frontend_form');
                    $j = jQuery.noConflict();
                    Validation.addAllThese(
                            [
                                ['validate-rating', '<?php echo $this->__('Please select the ratings above') ?>', function (v) {
                                        if (parseFloat($j('#trrv_rating').val()) > 0) {
                                            return true;
                                        } else {
                                            return false;
                                        }

                                    }]
                            ]
                            );
    //]]>
</script>
<style type="text/css">
/*.up-rating-radio{
    background: url(<?php echo Mage::getBaseUrl('media').'/tribe/review/up.png';?>);   
}*/
	
	.thumbs-up{
		background : url("<?php echo Mage::getBaseUrl('media').'/tribe/review/up.png';?>") no-repeat scroll left 5px / 16px auto;
		position: relative;
		display:block;
		clear: right;
		float: left;
                padding-left: 23px
	}
	.thumbs-down{
		background : url("<?php echo Mage::getBaseUrl('media').'/tribe/review/down.png';?>") no-repeat scroll left 5px / 16px auto;
		position: relative;
		display:block;
		clear: right;
		float: left;
                padding-left: 23px
	}
        .tup-hover{
		background : url("<?php echo Mage::getBaseUrl('media').'tribe/review/thumb_up_small.png';?>") no-repeat scroll left 5px / 20px auto;
                position: relative;
		display:block;
		clear: right;
		float: left;
                padding-left: 23px
        }
	.tdown-hover{
		background : url("<?php echo Mage::getBaseUrl('media').'tribe/review/thumb_down_small.png';?>") no-repeat scroll left 5px / 20px auto;
                position: relative;
		display:block;
		clear: right;
		float: left;
                padding-left: 23px
        }
  #trrv_review-field{
      height: 200px;
      width: 450px;
  }
  .control{margin-bottom: 10px;}
  
</style>