<div id="review_mosaicflow">
    <div class="clearfix mosaicflow">
        <?php 
         $profile_data = Mage::helper('tribecore/page')->getInfo(); 
        if(Mage::helper('tribereview')->is_customer() && !Mage::helper('tribereview')->isownprofile($profile_data)){?>
        <div class="mosaicflow__item">
            <div class="add-block-main-div">
                <span class="fa fa-pencil-square-o add-note-image" title="Add a Note"></span>
                <h5>Add a Review</h5>
                <div class="review-form" style="display: none;">
                    <?php echo $this->getChildHtml('addreview'); ?>
                </div>
            </div>
        </div>
        <?php } ?>
<?php
$all_reviews = $this->getAllReviews();
$config_rating = Mage::getStoreConfig('review/general/rating');
if (!empty($all_reviews)) {
    foreach ($all_reviews as $k => $v) {
        ?>
         <div class="mosaicflow__item">
            <div class="note-wrapper">
                        <div class="note_meta">
            <?php
            $rate = (int) round($v['trrv_rating']);
            ?>
            <?php if (isset($v['profile_image']) && $v['profile_image']!='') { ?>
            
                    <span class="note_prifile_img">
                        <img src="<?php echo $v['profile_image']; ?>" alt="<?php echo $v['trcr_name']; ?>" />
                    </span>
            <?php }
            else{?>
              <span class="note_prifile_img">
                  <img src="<?php echo Mage::getBaseUrl('media') . 'tribe/review/profile-placeholder.jpg'; ?>" alt="no image" />
              </span>
                
            <?php }?>
                            <div class="note-date-name-div">
              <span class="profile_name"> 
                  <?php
            
            if (isset($v['review_for'])) { ?>
                <span>
                    <b><?php echo $v['review_for']; ?></b></span>
            <?php } else if (isset($v['review_by'])) { ?>
                <span><b><?php echo $v['review_by']; ?></b></span>
            <?php } ?>
                                </span><br/>
            <span class="note_created_at">
                <?php echo date("d-m-Y h:i:s", strtotime($v['created_at']));
                ?>
            </span>
              </div>
             
            <?php
            if ($config_rating == 'thumbs') {
                if ($rate == 1) {
                    ?>
                    <div><img src="<?php echo Mage::getBaseUrl('media') . 'tribe/review/thumb_up_small.png'; ?>"></div>
                <?php } else { ?>
                    <div><img src="<?php echo Mage::getBaseUrl('media') . 'tribe/review/thumb_down_small.png'; ?>"></div>
                    <?php
                }
            } else {
                if ($rate == -1) {
                    $rate = 3;
                }
                ?>
                <div class="<?php echo $v['rate_class']; ?>" rate="<?php echo $rate; ?>"></div>
        <?php } ?>
            <div><?php echo $v['trrv_review']; ?></div>
            <h1></h1>
    <?php } ?>
    </div></div></div>
    <?php
}
?>
    </div>
<script type="text/javascript">

    //<![CDATA[
    jQuery(function ($) {
         mosaiccontainer = jQuery('#review_mosaicflow').mosaicflow({
            itemSelector: '.mosaicflow__item',
            columnClass: 'mosaicflow__column',
            minItemWidth: 390,
            minColumns: 1,
            itemHeightCalculation: 'auto',
            threshold: 0
        });
        $(".star-ratereview-percent").each(function () {
            var rate = $(this).attr('rate');
            $(this).rateYo({
                rating: rate,
                readOnly: true,
                precision: 0

            });
        });
        $(".star-ratereview-profile").each(function () {
            var rate = $(this).attr('rate');
            $(this).rateYo({
                rating: rate,
                readOnly: true

            });
        });
        $('.add-block-main-div').click(function () {
            var content = $('.review-form').html();
            $('.review-form').html('');
            $('#ajax-cart-loading-mask').show();
            $.fancybox(
                    content,
                    {
                        helpers: {
                            overlay: {
                                closeClick: false,
                            }
                        },
                        afterShow: function () {
                            $('#ajax-cart-loading-mask').hide();
                            if ($.popline.utils.browser.ie) {
                                if ($.popline.utils.browser.ieVersion() < 9) {
                                    $.popline.utils.fixIE8();
                                }
                            } else {
                                document.execCommand('defaultParagraphSeparator', false, 'p');
                            }
                            $(".editor").popline({position: "relative"});
                        }
                        ,
                        afterClose: function () {
                            $('.review-form').html(content);
                        }
                    }
            );
        });
    });
    //]]>
</script>
<style>
   .jq-ry-container>.jq-ry-group-wrapper>.jq-ry-group>svg{width:22px;height:22px;}
 /* .jq-ry-container>.jq-ry-group-wrapper>.jq-ry-group>svg{fill:#73BF03;}*/
</style>
</div>
</div></div></div></div></div></div></div></div></div></div></div></div></div></div></div></div></div></div></div></div></div></div></div></div></div></div>