 
.product-name{font-size:1em;font-weight:normal;margin:10px 0;height: 42px;overflow: hidden;text-align:left;}
.product-name > a{text-decoration: none;}
h1, h2, h3, h4, h5, h6{color: #777;line-height:1.35;font-weight: normal;font-size: 16px;}
.price-box{margin: 14px 0 5px;text-align:left;}
.regular-price .price{color: #72bf03;display: inline-block;font-size: 16px;font-weight: 700;line-height: 1;vertical-align: middle;}
.product-image-wrapper:hover .actions a.addtocart{background:#72bf03;color: #ffffff; }
.item:hover .actions a.addtocart{background:#72bf03;color: #ffffff; }
button.button span{background: transparent !important;color: #fff;}
button.button:hover{background: #72bf03 !important;color: #fff;}
.owl-wrapper-outer{color: red;}
.price{color: #72bf03;margin: 14px 0 5px;text-align:left;font-size: 16px;font-weight:600;}
#owl-example .item{padding:15px 10px;border:1px solid #f2f2f2;}
#owl-example .owl-item .item{margin-bottom: 10px;}
.owl-item .item h5.p-name{margin: 10px 0;
     line-height: 1.35;
     font-size:16px;
     overflow: hidden;
     height: 60px;
     text-align: left;
     font-weight:normal;}
 button.button1 span{
 	    background-color: #fff;
	    color: transparent;
	    display: inline-block;
	    font-size: 14px;
	    height: 32px;
	    line-height: 30px;
	    padding: 0 10px 0 5px; 	
 } 
 .productgrid-title > span{
 	 color: #606060;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
 }
 .content_title h4{
 	 color: #606060;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
 }
.products-grid.centered.clearer > li{height:375px;border: 1px solid #f2f2f2;padding: 10px 15px;}   
.owl-carousel .owl-wrapper-outer{border: none !important;}  
.owl-pagination{display: none;}
#owl-example .item{margin: 0px;}
 
@media (max-width:1280px){
	.products-grid.centered.clearer > li{width: 20%;}
} 

@media (max-width:992px){
	.products-grid.centered.clearer > li{width: 33.333%;}
}

@media (max-width:768px){
	.products-grid.centered.clearer > li{width: 33.333%;}
	
}

@media (max-width:600px){
	.products-grid.centered.clearer > li{width: 50%;}
	
}

@media (max-width: 360px){
	.products-grid.centered.clearer > li{width: 100%;}
	
}