/**
 * @category    Mana
 * @package     Mana_Filters
 * @copyright   Copyright (c) http://www.manadev.com
 * @license     http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */
/*.m-filter-item-list .m-selected-filter-item { color: red; }*/
.m-filter-popup .m-selected-ln-item > a { font-weight: bold; text-decoration: none; }
.block-layered-nav .btn-remove { margin-top: 3px; }
.block-layered-nav .currently li { position: relative; padding: 6px 24px 6px 10px; display:inline-block;border:1px solid #dddddd;}
.block-layered-nav .currently .btn-remove { margin-top: 0; position: absolute; right: 2px; top: -5px; margin-left: 0; margin:3px;}
.block-layered-nav dt { position: relative; zoom: 1; left: 0; top: 0; }