<?php if ($this->getCategories()->count()): ?>  
<div class="block block-blog-categories">
    <div class="block-title">
        <strong><span><?php echo Mage::helper('blog')->__('Blog Categories'); ?></span></strong>
    </div>
    <div class="block-content">
        <?php $cats = $this->getCategories(); ?>
        <?php foreach ($cats as $cat): ?>
                    <div class="blog-category">
                        <a href="<?php echo $cat->getAddress(); ?>"><?php echo $cat->getTitle(); ?></a>
                    </div>
        <?php endforeach; ?>
    </div>
</div>
<?php endif; ?>

<?php echo get_class($this);if ($posts = $this->getRecent()): ?>
<div class="block block-blog-recent">
    <div class="block-title">
        <strong><span><?php echo Mage::helper('blog')->__('Recent Posts'); ?></span></strong>
    </div>
    <div class="block-content">
        <ul>
        <?php foreach ($posts as $post): ?>
            <li>
                <div class="post-image">
                <?php
                    if($post_image = $post->getImage()){
                ?>
                    <img src="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA).$post_image; ?>" alt=""/>
                <?php
                    }
                ?>
                </div>
                <a href="<?php echo $post->getAddress(); ?>" ><?php echo $post->getTitle(); ?></a>
                <div class="post-time"><?php echo Mage::helper('core')->formatDate($post->getCreatedTime(), 'long', false); ?></div>
                <!-- <div class="comments-count"><?php echo $post->getCommentCount(); ?>&nbsp;<?php echo $this->__('Comment(s)'); ?></div> -->
                <div class="clear"></div>
            </li>
        <?php endforeach; ?>
        </ul>
    </div>    
</div>
<?php endif; ?>

<?php echo $this->getChildHtml('blog_tags'); ?>
