<?php
$statuscollection = $this->getStatusCollection();
$info = $this->getStatusProfileInfo();
$profileimage = '';
$width = Mage::getStoreConfig('notes/general/profile_icon_width');
$height = Mage::getStoreConfig('notes/general/profile_icon_height');
$fimg_width = Mage::getStoreConfig('notes/general/featured_image_width');
$fimg_height = Mage::getStoreConfig('notes/general/featured_image_height');
if ($info['trcr_profile_pic']) {
    $profileimage = Mage::helper('arccore')->resizeImg($info['trcr_profile_pic'], $width, $height);
}
?>
<?php if ($statuscollection->getSize()): ?>
    <?php foreach ($statuscollection as $status): ?>
        <div class="mosaicflow__item" id="note_item_<?php echo $status->getId(); ?>">
            <div class="note-wrapper">
                <div class="note_meta">
                    <?php if ($profileimage): ?>
                        <span class="note_prifile_img">
                            <img src="<?php echo $profileimage; ?>" alt="<?php echo $info['trcr_name']; ?>" />
                        </span>
                    <?php endif; ?>
                    <div class="note-date-name-div">
                        <span class="profile_name">
                            <?php echo $info['trcr_name']; ?>
                        </span>
                        <br/>
                        <span class="note_created_at">
                            <?php echo date("d-m-Y h:i:s", strtotime($status->getCreatedAt())); ?>
                        </span>
                    </div>
                    <?php if (Mage::helper('tribestatus')->isActionallowed($info)): ?>
                    <div class="note-action-div fa fa-ellipsis-v">
                        <ul> 
                            <li><a href="javascript:void(0);" onclick="editstatus(<?php echo $status->getId(); ?>)"><i class="fa fa-pencil"></i> Edit</a></li>
                            <li><a href="javascript:void(0);" onclick="deletestatus(<?php echo $status->getId(); ?>)"><i class="fa fa-close"></i> Delete</a></li>
                        </ul>
                    </div>
                    <?php endif; ?>
                </div>
                <?php
                $indvidual_url_key = Mage::helper('tribestatus')->getSingleStatusUrl($info['trcr_username'], $status->getTrcrUrlkey())
                ?>
                <div class="note_title">
                    <h1 title="<?php echo $status->getTrcrTitle(); ?>">
                        <a href="<?php echo $indvidual_url_key; ?>">
                            <?php echo $status->getTrcrTitle(); ?>
                        </a>
                    </h1>
                </div>
                <?php
                if ($status->getTrstFeaturedImg()):
                    $note_featured_image = Mage::helper('arccore')->resizeImg($status->getTrstFeaturedImg(), $fimg_width, $fimg_height);
                    ?>
                    <div class="note_featured_img">
                        <img src="<?php echo $note_featured_image; ?>" alt="<?php echo $info['trcr_name']; ?>" style="width:100%;"/>
                    </div>
                <?php endif; ?>
                <div class="note_desc">
                    <?php
                    $maxlength = Mage::getStoreConfig('notes/general/read_more_limit');
                    $desc_length = strlen($status->getTrstStatusUpdate());
                    $desc = $status->getTrstStatusUpdate();
                    if ($desc_length > $maxlength) {
                        $desc = substr(strip_tags($desc), 0, $maxlength) . "&emsp;<a class='note-handler-tab' href='$indvidual_url_key' target='_blank'>" . $this->__('Read More...') . "</a>";
                    }
                    ?>
                    <div class="note_less">
                        <?php echo $desc; ?>
                    </div>
                </div>
            </div>
        </div>
    <?php endforeach; ?>
<?php endif; ?>
