<?php
$statuscollection = $this->getStatusInfo();
$info = $this->getCurrentProfileInfo();
$profileimage = '';
$width = Mage::getStoreConfig('notes/general/profile_icon_width');
$height = Mage::getStoreConfig('notes/general/profile_icon_height');
$fimg_width = Mage::getStoreConfig('notes/general/single_fimg_width');
$fimg_height = Mage::getStoreConfig('notes/general/single_fimg_height');
if ($info['trcr_profile_pic']) {
    $profileimage = Mage::helper('arccore')->resizeImg($info['trcr_profile_pic'], $width, $height);
}
if ($statuscollection->getSize()):
    ?>
    <div id="single-note-container" class="single-note-container">
        <?php foreach ($statuscollection as $status): ?>
            <div class="single-note-wrapper">
                <div class="note_meta">
                    <?php if ($profileimage): ?>
                        <span class="single-note_prifile_img">
                            <img src="<?php echo $profileimage; ?>" alt="<?php echo $info['trcr_name']; ?>" />
                        </span>
                    <?php endif; ?>
                    <span class="profile_name">&nbsp;
                        <?php echo $info['trcr_name']; ?>
                    </span>
                    <span class="note_created_at fltrht">
                        <?php echo date("d-m-Y h:i:s", strtotime($status->getCreatedAt())); ?>
                    </span>
                    <div class='clearfix clearer'></div>
                </div>
                <div class="note_title">
                    <h1 title="<?php echo $status->getTrcrTitle(); ?>"><?php echo $status->getTrcrTitle(); ?></h1>
                </div>
                <?php
                if ($status->getTrstFeaturedImg()):
                    $note_featured_image = Mage::helper('arccore')->resizeImg($status->getTrstFeaturedImg(), $fimg_width, $fimg_height);
                    ?>
                    <div class="note_featured_img">
                        <img src="<?php echo $note_featured_image; ?>" alt="<?php echo $info['trcr_name']; ?>" style="width:100%;"/>
                    </div>
                <?php endif; ?>
                <div class="note_desc">
                    <div class="note_less">
                        <?php echo $status->getTrstStatusUpdate(); ?>
                    </div>
                </div>
            </div>
        <?php endforeach; ?>
    </div>
    </div>
    <style type="text/css">
        .single-note_prifile_img img{border-radius: 50%;}
        .note_meta span{display:inline-block;vertical-align:middle;}
    </style>
<?php else: ?>
    <p><?php echo $this->__('This Notes Not Found for this profile !'); ?></p>
<?php endif; ?>