<?php
$statuscollection = $this->getAllStatus();
$info = $this->getCurrentProfileInfo();
$profileimage = '';
$width = Mage::getStoreConfig('notes/general/profile_icon_width');
$height = Mage::getStoreConfig('notes/general/profile_icon_height');
$fimg_width = Mage::getStoreConfig('notes/general/featured_image_width');
$fimg_height = Mage::getStoreConfig('notes/general/featured_image_height');
if ($info['trcr_profile_pic']) {
    $profileimage = Mage::helper('arccore')->resizeImg($info['trcr_profile_pic'], $width, $height);
}
?>
<style type="text/css">
    .note_more,.main-div-for-tab,.status-form{display: none;}
</style>
<div class="main-div-for-tab" id="notes_mosaicflow">
    <div class="clearfix mosaicflow">
        <?php if (Mage::helper('tribestatus')->isActionallowed($info)): ?>
            <div class="mosaicflow__item">
                <div class="add-block-main-div">
                    <span class="fa fa-pencil-square-o add-note-image" title="Add a Note"></span>
                    <h5>Add a Note</h5>
                    <div class="status-form">
                        <?php echo $this->getChildHtml('statusform'); ?>
                    </div>
                </div>
            </div>
        <?php endif; ?>
        <?php if ($statuscollection->getSize()): ?>
            <?php foreach ($statuscollection as $status): ?>
                <div class="mosaicflow__item" id="note_item_<?php echo $status->getId(); ?>">
                    <div class="note-wrapper">
                        <div class="note_meta">
                            <?php if ($profileimage): ?>
                                <span class="note_prifile_img">
                                    <img src="<?php echo $profileimage; ?>" alt="<?php echo $info['trcr_name']; ?>" />
                                </span>
                            <?php endif; ?>
                            <div class="note-date-name-div">
                                <span class="profile_name">
                                    <?php echo $info['trcr_name']; ?>
                                </span>
                                <br/>
                                <span class="note_created_at">
                                    <?php echo date("d-m-Y h:i:s", strtotime($status->getCreatedAt())); ?>
                                </span>
                            </div>
                            <?php if (Mage::helper('tribestatus')->isActionallowed($info)): ?>
                                <div class="note-action-div fa fa-ellipsis-v">
                                    <ul> 
                                        <li><a href="javascript:void(0);" onclick="editstatus(<?php echo $status->getId(); ?>)"><i class="fa fa-pencil"></i> Edit</a></li>
                                        <li><a href="javascript:void(0);" onclick="deletestatus(<?php echo $status->getId(); ?>)"><i class="fa fa-close"></i> Delete</a></li>
                                    </ul>
                                </div>
                            <?php endif; ?>
                        </div>
                        <?php
                        $indvidual_url_key = Mage::helper('tribestatus')->getSingleStatusUrl($info['trcr_username'], $status->getTrcrUrlkey())
                        ?>
                        <div class="note_title">
                            <h1 title="<?php echo $status->getTrcrTitle(); ?>">
                                <a href="<?php echo $indvidual_url_key; ?>">
                                    <?php echo $status->getTrcrTitle(); ?>
                                </a>
                            </h1>
                        </div>
                        <?php
                        if ($status->getTrstFeaturedImg()):
                            $note_featured_image = Mage::helper('arccore')->resizeImg($status->getTrstFeaturedImg(), $fimg_width, $fimg_height);
                            ?>
                            <div class="note_featured_img">
                                <img src="<?php echo $note_featured_image; ?>" alt="<?php echo $info['trcr_name']; ?>" style="width:100%;"/>
                            </div>
                        <?php endif; ?>
                        <div class="note_desc">
                            <?php
                            $maxlength = Mage::getStoreConfig('notes/general/read_more_limit');
                            $desc_length = strlen($status->getTrstStatusUpdate());
                            $desc = $status->getTrstStatusUpdate();
                            if ($desc_length > $maxlength) {
                                $desc = substr(strip_tags($desc), 0, $maxlength) . "&emsp;<a class='note-handler-tab' href='$indvidual_url_key' target='_blank'>" . $this->__('Read More...') . "</a>";
                            }
                            ?>
                            <div class="note_less">
                                <?php echo $desc; ?>
                            </div>
                        </div>
                    </div>
                </div>
            <?php endforeach; ?>
        <?php else: ?>
            <div class="mosaicflow__item">
                <p><?php echo $this->__('No Notes Found for this profile !'); ?></p>
            </div>
        <?php endif; ?>
    </div>
    <input type="hidden" name="page" id="status_page" value="0"/>
    <input type="hidden" name="is_last" id="status_is_last" value="0"/>
</div>
<div class="clearfix clearer"></div>
<script type="text/javascript">
    var mosaiccontainer;
    jQuery(document).ready(function ($) {
        $('.main-div-for-tab').css('display', 'block');
        mosaiccontainer = jQuery('#notes_mosaicflow').mosaicflow({
            itemSelector: '.mosaicflow__item',
            columnClass: 'mosaicflow__column',
            minItemWidth: 370,
            minColumns: 1,
            itemHeightCalculation: 'auto',
            threshold: 0
        });
        $(document).on('click', '.note-action-div', function (e) {
            e.stopPropagation();
            //$('.note-action-div').slideUp(500);
            $(this).find('ul').slideToggle(500);
        });
        $(document).on('click', function () {
            $('.note-action-div').find('ul').slideUp(500);
        });
        $('.add-block-main-div').click(function () {
            var content = $('.status-form').html();
            $('.status-form').html('');
            $('#ajax-cart-loading-mask').show();
            $.fancybox(
                    content,
                    {
                        helpers: {
                            overlay: {
                                closeClick: false,
                            }
                        },
                        afterShow: function () {
                            $('#ajax-cart-loading-mask').hide();
                            if ($.popline.utils.browser.ie) {
                                if ($.popline.utils.browser.ieVersion() < 9) {
                                    $.popline.utils.fixIE8();
                                }
                            } else {
                                document.execCommand('defaultParagraphSeparator', false, 'p');
                            }
                            $(".editor").popline({position: "relative"});
                        }
                        ,
                        afterClose: function () {
                            $('.status-form').html(content);
                        }
                    }
            );
        });

//Here to send the ajax post data as encrypted
<?php
$loggedin_id =(Mage::app()->isInstalled() && Mage::getSingleton('customer/session')->isLoggedIn()) ? Mage::getSingleton('customer/session')->getCustomer()->getId() : 0;
$loggedin_email =(Mage::app()->isInstalled() && Mage::getSingleton('customer/session')->isLoggedIn()) ? Mage::getSingleton('customer/session')->getCustomer()->getEmail() : '';
$postinfo_formore = array('id' => $info['entity_id'], 'profile_info' => $info,'is_logged_in' =>$loggedin_id,'logged_in_email' =>$loggedin_email);
$enc_data = Mage::helper('tribestatus')->encrypt($postinfo_formore);
?>
        $(window).scroll(function () {
            if ($(window).scrollTop() + $(window).height() == $(document).height()) {
                //Here if not reached at last note, fetch by making further ajax request
                if (!parseInt($('#status_is_last').val())) {
                    jQuery('#ajax-cart-loading-mask').show();
                    var url = '<?php echo Mage::helper('tribestatus')->loadmorestatusUrl(); ?>';
                    var page = parseInt($('#status_page').val()) + 1;
                    jQuery.ajax({
                        url: url,
                        method: "POST",
                        data: {page: page, info: '<?php echo $enc_data; ?>'},
                        dataType: "json"
                    }).done(function (msg) {
                        jQuery('#ajax-cart-loading-mask').hide();
                        if (parseInt(msg.count)) {
                            var content = $('#notes_mosaicflow').append(msg.content);
                            $('#status_page').val(parseInt($('#status_page').val()) + 1);
                            setTimeout(function () {
                                jQuery.each(msg.ids, function (index, val) {
                                    var elm = jQuery('#' + val);
                                    mosaiccontainer.mosaicflow('add', elm);
                                });
                            }, 100);

                        } else {
                            $('#status_is_last').val(1);
                        }

                    });
                }
            }
        });

    });

    function deletestatus(id) {
        var conf = confirm('Are you sure to delete this note !');
        if (conf) {
            jQuery('#ajax-cart-loading-mask').show();
            var url = '<?php echo Mage::helper('tribestatus')->statusdeleteUrl(); ?>';
            jQuery.ajax({
                url: url,
                method: "POST",
                data: {id: id},
                dataType: "json"
            }).done(function (msg) {
                if (msg) {
                    alert("<?php echo Mage::helper('tribestatus')->__('Something Wrong happend !') ?>");
                } else {
                    jQuery('#ajax-cart-loading-mask').hide();
                    var elm = jQuery('#note_item_' + id);
                    mosaiccontainer.mosaicflow('remove', elm);
                    elm.remove();
                }
            });
        }
    }

    function editstatus(id) {
        jQuery('#ajax-cart-loading-mask').show();
        var url = '<?php echo Mage::helper('tribestatus')->editInfoStatusurl(); ?>';
        jQuery.ajax({
            url: url,
            method: "POST",
            data: {id: id},
            dataType: "json"
        }).done(function (msg) {
            jQuery('#submit-btn').val('Update');
            var actionurl = jQuery('#status-form').attr('action');
            actionurl += 'id/' + msg.entity_id;
            jQuery('#status-form').attr('action', actionurl);
            jQuery('#ajax-cart-loading-mask').hide();
            jQuery('.add-block-main-div').trigger('click');
            setTimeout(function () {
                jQuery.each(msg, function (index, element) {
                    jQuery('.' + index).val(element);
                    jQuery('.' + index).html(element);
                });
            }, 200);
        });
    }
</script>