<?php
$all_attributes = $this->getFormdata();
$url = $this->getSubmitUrl();
$attributes = $all_attributes['attributes'];
$hidden_attributes = $all_attributes['hidden_attributes'];
$imagebtn = '';
$editor = 0;
$urlkey = uniqid();
if ($attributes) :
    ?>
    <div class="status-form-wrapper">
        <form id="status-form" method="post"  action="<?php echo $url; ?>" enctype="multipart/form-data" onsubmit="return submitstatus();" name="status-form">
            <div class="tbladdnote">
                <?php foreach ($attributes as $attrGroupName => $attributes) : ?>
                    <?php
                    foreach ($attributes as $attribute_id => $attributeDetail) {
                        $inputId = $attributeDetail['attribute_code'] . "-field";
                        $htmlStr = '';
                        $required = $attributeDetail['is_required'] ? 'required' : '';
                        $frontend_class = $attributeDetail['frontend_class'];
                        $wrapper_class = $attributeDetail['attribute_code']."-wrapper";
                        $_class = $attributeDetail['attribute_code'];
                        ?>
                        <?php
                        $name = "arc[{$attributeDetail['attribute_code']}]";
                        $requiredFields = [];
                        switch ($attributeDetail['frontend_input']) {
                            case 'text':
                                $inputType = isset($validationInput[$attributeDetail['frontend_class']]) && $validationInput[$attributeDetail['frontend_class']] ? $validationInput[$attributeDetail['frontend_class']] : 'text';
                                $htmlStr = "<div class='$wrapper_class'><input placeholder='{$attributeDetail['frontend_label']}' type='{$inputType}' id='$inputId' name='{$name}' class='$_class form-input form-input-text $frontend_class' $required/></div>";
                                break;
                            case 'textarea':
                                if (isset($attributeDetail['is_wysiwyg_enabled']) && $attributeDetail['is_wysiwyg_enabled']) {
                                    $htmlStr = "<div class='editor $wrapper_class $_class form-input form-input-textarea $frontend_class' contenteditable='true' data-id='$inputId'></div>";
                                    $editor = 1;
                                }
                                $display = ($editor) ? "style='display:none;'" : '';
                                $htmlStr .= "<div class='$wrapper_class' $display><textarea placeholder='{$attributeDetail['frontend_label']}' id='$inputId' name='{$name}' class='$_class form-input form-input-textarea $frontend_class' style='height:200px !important;max-height:200px !important;'></textarea></div>";
                                break;
                            case 'multiselect':
                                $data_option = Mage::helper('arccore')->getattributeoptions($attributeDetail['attribute_code']);
                                $htmlStr = "<div class='$wrapper_class'><select placeholder='{$attributeDetail['frontend_label']}' id='$inputId' name='$name' class='$_class form-input form-input-multidropdown multiselect $frontend_class' $required multiple='multiple'>";
                                foreach ($data_option as $option) {
                                    $htmlStr .= '<option value="' . $option['value'] . '">';
                                    if (is_object($option['label'])) {
                                        $htmlStr .= $option['label']->getText();
                                    } else {
                                        $htmlStr .= $option['label'];
                                    }
                                    $htmlStr .= '</option>';
                                }
                                $htmlStr .= '</select></div>';
                                break;
                            case 'select':
                            case 'boolean':
                                $data_option = Mage::helper('arccore')->getattributeoptions($attributeDetail['attribute_code']);
                                $htmlStr = "<div class='$wrapper_class'><select placeholder='{$attributeDetail['frontend_label']}' id='$inputId' name='$name' class='$_class form-input form-input-dropdown $frontend_class' $required >";
                                foreach ($data_option as $option) {
                                    $htmlStr .= '<option value="' . $option['value'] . '">';
                                    if (is_object($option['label'])) {
                                        $htmlStr .= $option['label']->getText();
                                    } else {
                                        $htmlStr .= $option['label'];
                                    }
                                    $htmlStr .= '</option>';
                                }
                                $htmlStr .= '</select></div>';
                                break;
                            case 'image':
                                $imagebtn .= "<div class='$_class'></div><label for='$inputId' class='note-img'><i class='fa fa-camera fa-2x' aria-hidden='true'></i></label><input class='note-img-fld' placeholder='{$attributeDetail['frontend_label']}' type='file' id='$inputId' name='{$attributeDetail['attribute_code']}' class='form-input form-input-file $frontend_class' $required />";
                                break;
                        }
                        echo $htmlStr;
                        ?>
                    <?php } ?>
                <?php endforeach; ?>
                <?php
                if (!empty($hidden_attributes)) {
                    foreach ($hidden_attributes as $k => $v) {
                        $name_hid = "arc[$k]";
                        $inputId = $k . "-field";
                        ?>
                        <input type="hidden" name="<?php echo $name_hid; ?>" id="<?php echo $inputId; ?>" value="<?php echo $v; ?>">
                        <?php
                    }
                }
                ?>
                <div>
                    <div class='fltlft'>
                        <?php echo $imagebtn; ?>
                    </div>
                    <div class='fltrht'>
                        <input type="submit" class="submit-btn note-button" value="Post" id="submit-btn"/>
                    </div>
                    <div class='clearer clearfix'></div>
                </div>
            </div>
        </form>
    </div>
    <script type="text/javascript">
        //<![CDATA[
        var urlkey = '<?php echo $urlkey; ?>';
        //jQuery('#trcr_urlkey-field').val(urlkey);
        jQuery(document).ready(function ($) {
            $('#trcr_title-field').blur(function () {
                var str = $(this).val();
                var url_str = str.replace(/[^a-zA-Z0-9- ]/g, "").replace(/\s+/g, "-").toLowerCase();
                if (url_str) {
                    $('#trcr_urlkey-field').val(url_str);
                } else {
                    $('#trcr_urlkey-field').val(urlkey);
                }
            });
        });
        
        function submitstatus() {
            //Here to set all the data of editor into the text area
            var alldone = 0;
            var error = 0;
            var lastID = jQuery(".editor").length - 1;
            jQuery('#trcr_title-field').trigger('blur');
            jQuery(".editor").each(function (i) {
                var content = jQuery.trim(jQuery(this).html());
                if (content) {
                    jQuery(this).removeClass('required');
                    var id = jQuery(this).attr('data-id');
                    jQuery('#' + id).val(content);
                } else {
                    jQuery(this).addClass('required');
                    error = 1;
                }
                if (i == lastID && !error) {
                    alldone = 1;
                }
            });
            if (alldone) {
                jQuery('.fancybox-close').trigger('click');
                jQuery('#status-form').submit();
                jQuery('#submit-btn').attr('disabled','disabled');
            }
            return false;
        }
        //]]>
    </script>
    <style type="text/css">
        .note-img-fld{display:none !important;}
        .trst_featured_img,.editor{text-align:left;}
        .status-form-wrapper{width:100%;}
        .tbladdnote .form-input{
            border: 1px solid #dddddd;
            display: block;
            margin-bottom: 10px;
            padding: 10px;
            width: 500px;
        }
        .form-input-textarea { resize: none;height: 300px; }
        .tblcntr{text-align: center;}
        .editor{max-height: 200px;overflow-y:auto;}
        .note-img{cursor:pointer;}
        .form-input.required{border:1px solid red !important;}
    </style>
<?php endif; ?>