.responsive-tabs__list__item--active,.responsive-tabs__list__item{position:relative;padding:0px;background:#26153F;}
.responsive-tabs__list__item--active:after{border-color:#26153f transparent;border-style:solid;border-width:10px 10px 0;bottom:-7px;content:"";display:block;left:35%;position:absolute;width:0;z-index:1;}
.responsive-tabs-wrapper .section-title{border-bottom:none;}
.responsive-tabs__heading{display:none;}
.responsive-tabs__list__item{display:inline;cursor:pointer;}
@media (max-width:767px){.responsive-tabs__list{display:none;}
.responsive-tabs__heading{display:block;cursor:pointer;}
}
@media (min-width:768px){}
.responsive-tabs-wrapper{clear:both;zoom:1;}
.responsive-tabs-wrapper:before,.responsive-tabs-wrapper:after{content:"";display:table;}
.responsive-tabs-wrapper:after{clear:both;}
.responsive-tabs__heading:focus,.responsive-tabs__list__item:focus{outline:1px solid #ccc;}
.responsive-tabs__heading--active:focus,.responsive-tabs__list__item--active:focus{outline:none !important;}
.responsive-tabs__list{display:block;font-size:1.2em;line-height:normal;margin:0;padding:0 0 11px;position:relative;text-align:center;top:-8px;z-index:1;}
.responsive-tabs__list__item{background:#fff;padding:14px 20px;border:1px solid #ddd;}
.responsive-tabs__list__item:hover{background:#26163C;color:#F2F2F2;}
.responsive-tabs__list__item--active,.responsive-tabs__list__item--active:hover{background:#26163C;color:#F2F2F2;}
.responsive-tabs__panel{margin-bottom:50px;}
@media (max-width:767px){.responsive-tabs__heading{padding:0.5em;border-radius:5px;border:1px solid #ccc;box-shadow:0px 2px 3px rgba(0,0,0,0.4);background:#ddd;position:relative;}
.responsive-tabs__heading:after{content:"";display:block;position:absolute;right:20px;top:40%;width:0;height:0;border-left:10px solid transparent;border-right:10px solid transparent;border-top:10px solid #000;}
.responsive-tabs__heading:hover,.responsive-tabs__heading--active:hover{background-color:#efefef}
.responsive-tabs__heading--active{background:#fff;}
.responsive-tabs__heading--active:after{border-bottom:10px solid #000;border-top:0;}
}