.owl-item .item .lazyOwl{height: 100%; max-height: 100%;}
.banner_block{margin:0 0 0.5% ;}
.banner_block img { width: 100%;}
.responsive-tabs {border-top: medium none; margin: 0;}
.responsive-tabs__list {  display: none;}
.block_heading{margin:53px 0 66px; text-align:center; font-size:20px; color:#000; text-transform: uppercase;}
.block_heading:after{content: url("../../../../ultimo/default/images/landingpage/underline.jpg");  display:block;  height:1px; margin: -6px 0 20px;}
.viewall{display:block; float:right; width:137px; text-align:center; background:#26163c; color:#fff; text-transform: uppercase; height:40px;  font-size: 15px !important; border:none; letter-spacing: 1px; cursor: pointer; margin-top:12px;}
.itemslider { margin-bottom: 0;}
.products-grid .item { padding: 0; margin: 0 1.1%;}
.custom_sliderbkg1{background:#FFF; }
.products-grid .product-name{overflow:hidden;padding:0 10px; height:42px;}
.responsive-tabs__panel {margin-bottom: 0;}
.heading_block{display:none;}
.brand_spotlight{width:100%;}
.brand_spotlight img{width:100%;}
.icon_nav{margin:0; padding:0; width:100%;}
/*.icon_nav img{ width:100%;}*/
.icon_text{text-align:center; text-transform: uppercase; font-size:18px; color:#424141; padding: 0 0 30px 0; margin: 0;}
.text-center{text-align:center;}

.old-price .price { font-size: 1.05em;}
.special-price {margin: 10px 0;}
.regular-price .price{font-size: 1.05em;}