<?php
$store = Mage::app()->getStore();
$code = $store->getCode();
$footer = Mage::getStoreConfig('porto_settings/footer', $code);
$footer_class = ($footer['fixed_position_footer_enabled']) ? " fixed-position" : "";
?>
<div class="footer-container <?php echo $footer_class; ?>">
    <div class="footer here1">

        <?php
        if ($footer['footer_bottom_enabled'] && Mage::app()->getFrontController()->getAction()->getFullActionName() != 'cms_index_index') {
            ?>
            <div class="footer-bottom">
                <div class="container">
                    <?php /*
                    <address><?php echo $footer['copyrights'] ?></address>
                    <?php if (isset($footer['footer_bottom_store_switcher']) && $footer['footer_bottom_store_switcher']) echo $this->getChildHtml("store_switcher"); ?>
                     * */ ?>
                    <address>All Rights Reserved test. Ecociate.com. Phone: 90909 80808. Email:info@earthyngreen.com</address>
                </div>
            </div>
            <?php
        }
        ?>

        <?php echo $this->getChildHtml('footer_newsband_layout'); ?>
    </div>
</div>
<a href="#" id="totop"><i class="icon-up-open"></i></a>
<style type="text/css">
    .news-band-footer-wrapper{
        background-color: #E9A52E;
        height: 50px;
        line-height:50px;
        position:fixed;
        bottom:0;
        width:100%;
        z-index:99;
        text-align:center;
        font-size:15px;
    }
    .news-band-footer-inner{
        color: #FFFFFF;
    }
</style>

<script type="text/javascript">
    var windowScroll_t;
    jQuery(window).scroll(function () {
        clearTimeout(windowScroll_t);
        windowScroll_t = setTimeout(function () {
            if (jQuery(this).scrollTop() > 100) {
                jQuery('#totop').fadeIn();
            } else {
                jQuery('#totop').fadeOut();
            }
        }, 500);
    });
    jQuery('#totop').click(function () {
        jQuery('html, body').animate({scrollTop: 0}, 600);
        return false;
    });
    jQuery(function ($) {
        $(".cms-index-index .footer-container.fixed-position .footer-top,.cms-index-index .footer-container.fixed-position .footer-middle").remove();
    });
</script>