<?php 
$generateurl = Mage::helper("adminhtml")->getUrl('*/bridgeapi/generatesecuritykey',array('isAjax'=>true));
?>
<script type="text/javascript">
    function genratenewkey(element) {
        new Ajax.Request('<?php echo $generateurl;?>', {
            method: 'post',
            onSuccess: function (transport) {
                $(element).value = transport.responseText;
            },
            onFailure: function () {
                alert('Something went wrong...');
            }
        });
        return false;
    }
</script>
<style type='text/css'>
    #channel_settings table tr td.value{width:100%;}
    [for*='general_info'],
    [for*='pim_image_settings'],
    [for*='channel_info'],
    [for*='pim_sync_settings'],
    [for*='pim_basic_settings'],
    [for*='pim_cron_settings'],
    [for*='edi_cron_settings']
    {text-decoration:underline;margin-bottom:5px;color:#eb5e00;}
</style>