<?php
//print "<pre>";print_r($this->getRequest());print "</pre>";
$controller = Mage::registry('channel_condition') ? "outgoingchannels" : "incomingchannels";
$_element = $this->getElement();
$channel_id = $this->getRequest()->getParam('id');
if (strcasecmp($controller, 'outgoingchannels') === 0) {
    $rule_sets = Mage::getmodel('bridge/outgoingchannels_action')->loadAllByChannelId($channel_id)->getData();
    $category_list = Mage::getmodel('bridge/outgoingchannels')->getCategoriesDetails();
} else {
    $rule_sets = Mage::getmodel('bridge/incomingchannels_action')->loadAllByBrandId($this->getRequest()->getParam('id'))->getData();
}
?>
<?php // echo (String) htmlentities($this->getLayout()->createBlock('core/template')->setTemplate('fedobe/bridge/custom-pricerule-example.phtml')->toHtml());                    ?>

<div class="rule-tree">
    <div class="entry-edit-head">
        <h4 class="icon-head head-edit-form fieldset-legend"><?php echo $_element->getLegend() ?></h4>
    </div>
    <fieldset id="<?php echo $_element->getHtmlId() ?>" <?php echo $_element->serialize(array('class')) ?>>
        <div style="margin-top: 6px;margin-bottom: 6px;text-decoration: underline;color:#eb5e00;">Add Rule</div>
        <form id="ruleform">
            <table cellspacing="0" class="form-list" border="1">
                <tbody>

                    <tr>
                        <td class="label"><label for="content type">Rule Type</label></td>
                        <td class="value">
                            <select class="select" name="content_type" id="content_type_id">
                                <option value="1">Price</option>
                                <option value="2">Content</option>
                                <option value="3">Offer Note</option>
                            </select>
                            <span class="showallvaribale_cls" style="display:none"><input type="button" class="form-button content-example" value="view all attribute" onclick="showContentRulePopup();"/></span>
                        </td>
                    </tr>
                </tbody>
            </table>
            <!-- OfferNote div for offer note -->
            <div class="offernote_section" id="offernote_section_id" style="display:none">
                <table cellspacing="0" class="form-list" border="1">
                    <tbody>
                        <tr>
                            <td class="label"><label for="offer note">Offer Note</label></td>
                            <td class="value">
                                <textarea class="textarea offernote_cls" name="offer_note" id="offernote_id"></textarea><br/><br/>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- End of offer note -->
            <div class="content_section" id="content_section_id" style="display:none">
                <table cellspacing="0" class="form-list" border="1">
                    <tbody>
                        <tr>
                            <td class="label"><label for="name">Name</label></td>
                            <td class="value">
                                <input type="text" class="input-text content_cls" name="name_rule" id="name_rule_id"> 
                            </td>
                        </tr>
                        <tr>
                            <td class="label"><label for="short description rule">Short Description Rule</label></td>
                            <td class="value">
                                <textarea class="textarea content_cls" name="short_desc_rule" id="short_desc_rule_id"></textarea><br/><br/>
                            </td>
                        </tr>
                        <tr>
                            <td class="label"><label for="description rule">Description Rule</label></td>
                            <td class="value">
                                <textarea class="textarea content_cls" name="desc_rule" id="desc_rule_id"></textarea>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="price_section" id="price_section_id">
                <table cellspacing="0" class="form-list" border="1">
                    <tbody>
                        <tr>
                            <td class="label"><label for="rule_simple_action">Change By</label></td>
                            <td class="value">
                                <select class="select price_cls" name="apply" id="rule_simple_action">
                                    <option value="by_percent">Percent of product price</option>
                                    <option value="by_fixed">Fixed amount</option>
                                    <option value="custom_price">Custom Price Rule</option>
                                </select>
                            </td>
                        </tr>
                        <tr class="cutom_price_rule" style="display:none;">
                            <td class="label"><label for="cutom price rule">Custom Price Rule</label></td>
                            <td class="value">
                                <textarea class="textarea price_cls" name="custom_price" id="cutom_price_rule"></textarea><br/><br/>
                                <input type="button" class="form-button" value="Click here to test" onclick="testCustompricepopup();"/> &nbsp;
                                <input type="button" class="form-button" value="See an example here" onclick="showCustompricepopup();"/><br/>
                                <div id="advice-required-entry-cutom-price-rule" ></div>
                                <p class="note">
                                    <span>
                                        Use <b>{{price}}</b> variable as final selling price of the product.You can use any number of custom variables for your custom calculation.<br/>
                                    </span>
                                    <span class="error">
                                        1.Each expression must end with ;<br/>
                                        2.Use last expression with assignment operation to the final variable i.e <b>{{price}}</b>;<br/>
                                    </span>
                                </p>

                            </td>
                        </tr>
                        <tr class="percentage">
                            <td class="label"><label>Type</label></td>
                            <td class="value">
                                <select class="select price_cls" name="type" id="action_type">
                                    <option value="increase">Increase</option>
                                    <option value="decrease">Decrease</option>
                                </select>
                            </td>
                        </tr>
                        <tr class="percentage">
                            <td class="label"><label for="rule_discount_amount">Amount<span class="required">*</span></label></td>
                            <td class="value">
                                <input type="text" class="validate-not-negative-number input-text required-entry price_cls" value="5" name="amount" id="rule_discount_amount"> 
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <table cellspacing="0" class="form-list" border="1">
                <tbody>
                    <tr>
                        <td class="label">Condition</td>
                        <td class="label">
                            <div id="channel_action">
                                <?php if ($_element->getComment()): ?>
                                    <p class="comment"><?php echo $this->escapeHtml($_element->getComment()) ?></p>
                                <?php endif; ?>
                                <?php echo $_element->getChildrenHtml(); ?>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="label">&nbsp;</td>
                        <td class="label">
                            <button type="button" class="scalable form-button" id="add_price_rule">Save</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </form>
        <!--<div style="margin-top: 6px;margin-bottom: 8px;text-decoration: underline;color:#eb5e00;">Pricing Rules</div>-->
        <div class="entry-edit-head" style="margin-bottom:10px;">
            <h4 class="icon-head head-edit-form fieldset-legend">Pricing Rules</h4>
        </div>
        <div id="showallrule">
            <?php
            $apply_array = array('by_percent' => 'Percent of product price', 'by_fixed' => 'Fixed amount', 'custom_price' => 'Custom Price Rule');
            if ($rule_sets) {
                foreach (array_reverse($rule_sets) as $rule_set) {
                    if ($rule_set['content_type'] == 1) {
                        if ($rule_set['apply'] == 'custom_price') {
                            $id = $rule_set['id'];
                            $pricerules = str_replace(";", ";<br/>", $rule_set['custom_price']) . "<a href='javascript:void(0);' onclick='showlessprice($id);'>Hide Details</a>";
                            $lesspricerules = str_replace(";", ";<br/>", substr($rule_set['custom_price'], 0, 30)) . '...' . "<a href='javascript:void(0);' onclick='showmoreprice($id);'>See Details</a>";
                            $pricedetails = "<div id='less-price-$id'>$lesspricerules</div><div id='more-price-$id' style='display:none;'>$pricerules</div>";
                            echo "<div id={$rule_set['id']}><table style='border:1px #FACFA7 solid;margin-top:1px;'>"
                            . "<tr><td>Change By -" . ucwords(@$apply_array[$rule_set['apply']]) . "<td><td><a href='javascript:void(0);' id='delete_price_rule'>Delete</a></td></tr>"
                            . "<tr><td colspan='2'>Custom Price Rule :" . $pricedetails . "<td></tr>"
                            . "<tr><td colspan='2' style='pointer-events: none;'>" . $rule_set['conditions_html'] . "<td></tr>"
                            . "</table></div>";
                        } else {
                            echo "<div id={$rule_set['id']}><table style='border:1px #FACFA7 solid;margin-top:1px;'>"
                            . "<tr><td>Change By -" . ucwords(@$apply_array[$rule_set['apply']]) . "<td><td><a href='javascript:void(0);' id='delete_price_rule'>Delete</a></td></tr>"
                            . "<tr><td colspan='2'>Type -" . ucwords($rule_set['type']) . "<td></tr>"
                            . "<tr><td colspan='2'>Amount -" . $rule_set['amount'] . "<td></tr>"
                            . "<tr><td colspan='2' style='pointer-events: none;'>" . $rule_set['conditions_html'] . "<td></tr>"
                            . "</table></div>";
                        }
                    }
                }
            }
            ?>
        </div>
        <!--<div style="margin-top: 6px;margin-bottom: 8px;text-decoration: underline;color:#eb5e00;">Content Rules</div>-->
        <div class="entry-edit-head" style="margin-top:10px;">
            <h4 class="icon-head head-edit-form fieldset-legend">Content Rules</h4>
        </div>
        <div id="showallcontentrule">
            <?php
            if ($rule_sets) {
                foreach (array_reverse($rule_sets) as $rule_set) {
                    if ($rule_set['content_type'] == 2) {
                        echo "<div id={$rule_set['id']}><table style='border:1px #FACFA7 solid;margin-top:1px;'>"
                        . "<tr><td>Name Rule -" . $rule_set['name_rule'] . "<td><td><a href='javascript:void(0);' id='delete_content_rule'>Delete</a></td></tr>"
                        . "<tr><td colspan='2'>Short Description Rule -" . $rule_set['short_desc_rule'] . "<td></tr>"
                        . "<tr><td colspan='2'>Description Rule -" . $rule_set['desc_rule'] . "<td></tr>"
                        . "<tr><td colspan='2' style='pointer-events: none;'>" . $rule_set['conditions_html'] . "<td></tr>"
                        . "</table></div>";
                    }
                }
            }
            ?>
        </div>
        <div class="entry-edit-head" style="margin-top:10px;">
            <h4 class="icon-head head-edit-form fieldset-legend">Offer Notes</h4>
        </div>
        <div id="showalloffernote">
            <?php
            if ($rule_sets) {
                foreach (array_reverse($rule_sets) as $rule_set) {
                    if ($rule_set['content_type'] == 3) {
                        echo "<div id={$rule_set['id']}><table style='border:1px #FACFA7 solid;margin-top:1px;'>"
                        . "<tr><td>Offer Note -" . $rule_set['offer_note'] . "<td><td><a href='javascript:void(0);' id='delete_offernote'>Delete</a></td></tr>"
                        . "<tr><td colspan='2' style='pointer-events: none;'>" . $rule_set['conditions_html'] . "<td></tr>"
                        . "</table></div>";
                    }
                }
            }
            ?>
        </div>
    </fieldset>
</div>
<div id="loader" style="display:none;"><img src="<?php echo $this->getSkinUrl('images/fedobe/loader.gif') ?>" /></div>
<style>
    #loader{  
        position:relative;
        margin:0 auto;
        clear:left;
        height:auto;
        z-index: 0;
        text-align:center;
        margin-top:0px;/* Add This*/
    }​
</style>
<script type="text/javascript">
    var controller = "<?php echo $controller; ?>";
    if (controller == "outgoingchannels") {
        var cat_object = JSON.parse('<?php echo json_encode(@$category_list); ?>');
        //custom code for fixing the bug for adding two rule on same form
        string_condition = $j("#channel_action").html();
        string_condition = string_condition.replace(/conditions__/g, 'actions__');
        $j("#channel_action").html(string_condition);


        channel_id = "<?php echo $channel_id; ?>";

        $j(document).ready(function () {
            $j("#channel_action #actions__1__children li:not(:last)").remove();
            //for product grid
            $j('#channel_action').on('click', ".checkbox", function () {
                checkd_val = [];
                $j("#channel_action tbody .checkbox:checked").each(function () {
                    checkd_val.push($j(this).val());
                });
                checkd_val = checkd_val.join(",");
                $j("#channel_action .rule-param-edit .input-text").val(checkd_val);
            });
            //for category list
            $j('#channel_action').on('click', ".x-tree-node [type='checkbox'],.x-tree-node a", function () {
                checkd_val = [];
                $j("#channel_action  .l-tcb:checked").each(function () {
                    str = $j(this).closest("div").find("a span").text();
                    str = str.slice(0, str.lastIndexOf('('));
                    str = str.trim(" ");
                    checkd_val.push(cat_object[str]);
                });
                checkd_val = checkd_val.join(",");
                $j("#channel_action .rule-param-edit .input-text").val(checkd_val);
            });
        });
        //end
    }

    var <?php echo $_element->getHtmlId() ?> = new VarienRulesForm('<?php echo $_element->getHtmlId() ?>', '<?php echo $this->getNewChildUrl() ?>');
<?php if ($_element->getReadonly()): ?>
    <?php echo $_element->getHtmlId() ?>.setReadonly(true);
<?php endif; ?>
    brand_id = "<?php echo $this->getRequest()->getParam('id'); ?>";
    $j(document).ready(function () {
        count = 0;
        $j("#add_price_rule").click(function () {
            if (!brand_id) {
                return false;
            }
            $j("#loading-mask").show();
            /*checking for adding content or price or offernote rule */
            if (parseInt($j('#content_type_id').val()) == 1) {
                data = $j($j("#ruleform")[0].elements).not(".content_cls,.offernote_cls").serialize();
            } else if(parseInt($j('#content_type_id').val()) == 2) {
                data = $j($j("#ruleform")[0].elements).not(".price_cls ,.offernote_cls ").serialize();
            }else {
                data = $j($j("#ruleform")[0].elements).not(".price_cls ,.content_cls ").serialize();
            }
            
            //data = $j("#ruleform").not(".test_cls").serialize();
            /*End of checking for adding content or price rule */
            grid_value = $j("#channel_action .rule-param-edit input").val();
            htmlstr = $j("#channel_action").html();

            if (parseInt($j('#content_type_id').val()) == 1) {
                action_type = "Type - " + $j("#action_type option:selected").html();
                change_by = "Change By - " + $j("#rule_simple_action option:selected").html();
                Custom_Price_Rule = '';
                if ($j("#rule_simple_action option:selected").html() == 'Custom Price Rule')
                    Custom_Price_Rule = "Custom Price Rule - " + $j("#cutom_price_rule").val();
                amount = "Amount - " + $j("#rule_discount_amount").val();
                if (Custom_Price_Rule == '') {
                    strtoappend = "<table style='border:1px #FACFA7 solid;margin-top:1px;'>\n\
            <tr><td>" + change_by + "<td><td><a href='javascript:void(0);' id='delete_price_rule'>Delete</a></td></tr>\n\
            <tr><td colspan='2'>" + action_type + "<td></tr>\n\
            <tr><td colspan='2'>" + amount + "<td></tr>\n\
            <tr><td colspan='2'>" + htmlstr + "<td></tr>\n\
            </table>";
                } else {
                    strtoappend = "<table style='border:1px #FACFA7 solid;margin-top:1px;'>\n\
           <tr><td>" + change_by + "<td><td><a href='javascript:void(0);' id='delete_price_rule'>Delete</a></td></tr>\n\
          <tr><td colspan='2'>" + Custom_Price_Rule + "<td></tr>\n\
           <tr><td colspan='2'>" + htmlstr + "<td></tr>\n\
           </table>";
                }
            } else if(parseInt($j('#content_type_id').val()) == 2){
                name_rule = "Name Rule - " + $j("#name_rule_id").val();
                short_desc_rule = "Short Descripiton Rule - " + $j("#short_desc_rule_id").val();
                desc_rule = "Descripiton Rule - " + $j("#desc_rule_id").val();
                strtoappend = "<table style='border:1px #FACFA7 solid;margin-top:1px;'>\n\
           <tr><td>" + name_rule + "<td><td><a href='javascript:void(0);' id='delete_content_rule'>Delete</a></td></tr>\n\
          <tr><td colspan='2'>" + short_desc_rule + "<td></tr>\n\<tr><td colspan='2'>" + desc_rule + "<td></tr>\n\
           <tr><td colspan='2'>" + htmlstr + "<td></tr>\n\
           </table>";
            }else {
                offer_note = "Offer Note - " + $j("#offernote_id").val();
                strtoappend = "<table style='border:1px #FACFA7 solid;margin-top:1px;'>\n\
           <tr><td>" + offer_note + "<td><td><a href='javascript:void(0);' id='delete_offernote'>Delete</a></td></tr>\n\
           <tr><td colspan='2'>" + htmlstr + "<td></tr>\n\
           </table>";
            }
//            id = 'rule' + count;
            if (parseInt($j('#content_type_id').val()) == 1) {
                count++;
                $j("#showallrule").prepend("<div id='" + id + "'>" + strtoappend + "</div>");
                $j("#showallrule .element").remove();
                $j("#showallrule .rule-param-edit").html('<a class="label" href="javascript:void(0)">' + grid_value + '</a>');
                $j("#showallrule .rule-param-edit").removeClass('rule-param-edit');
                $j("#showallrule .rule-chooser").remove()
                $j("#showallrule input,#showallrule ul").prop('id', '');
                $j("#showallrule .rule-param-remove").closest("span").remove();
                $j("#showallrule .rule-param-add").closest("li").remove();
                $j("#channel_action #actions__1__children li:not(:last)").remove();
                $j("#channel_action #conditions__1__children li:not(:last)").remove();

                $j("#channel_action .rule-param select").val("");
                $j("#channel_action .rule-param a").eq(0).html("ALL");
                $j("#channel_action .rule-param a").eq(1).html("TRUE");
                $j("#rule_simple_action").val("");
                $j('#rule_simple_action').trigger('change');
                $j("#rule_discount_amount").val(5);
                added_html = $j("#showallrule div:first tr:last td:first").html();
            } else if (parseInt($j('#content_type_id').val()) == 2){
                count++;
                $j("#showallcontentrule").prepend("<div id='" + id + "'>" + strtoappend + "</div>");
                $j("#showallcontentrule .element").remove();
                $j("#showallcontentrule .rule-param-edit").html('<a class="label" href="javascript:void(0)">' + grid_value + '</a>');
                $j("#showallcontentrule .rule-param-edit").removeClass('rule-param-edit');
                $j("#showallcontentrule .rule-chooser").remove()
                $j("#showallcontentrule input,#showallcontentrule ul").prop('id', '');
                $j("#showallcontentrule .rule-param-remove").closest("span").remove();
                $j("#showallcontentrule .rule-param-add").closest("li").remove();
                $j("#channel_action #actions__1__children li:not(:last)").remove();
                $j("#channel_action #conditions__1__children li:not(:last)").remove();

                $j("#channel_action .rule-param select").val("");
                $j("#channel_action .rule-param a").eq(0).html("ALL");
                $j("#channel_action .rule-param a").eq(1).html("TRUE");
                $j("#rule_simple_action").val("");
                $j('#rule_simple_action').trigger('change');
                $j("#rule_discount_amount").val(5);
                added_html = $j("#showallcontentrule div:first tr:last td:first").html();
            } else {
                count++;
                $j("#showalloffernote").prepend("<div id='" + id + "'>" + strtoappend + "</div>");
                $j("#showalloffernote .element").remove();
                $j("#showalloffernote .rule-param-edit").html('<a class="label" href="javascript:void(0)">' + grid_value + '</a>');
                $j("#showalloffernote .rule-param-edit").removeClass('rule-param-edit');
                $j("#showalloffernote .rule-chooser").remove()
                $j("#showalloffernote input,#showalloffernote ul").prop('id', '');
                $j("#showalloffernote .rule-param-remove").closest("span").remove();
                $j("#showalloffernote .rule-param-add").closest("li").remove();
                $j("#channel_action #actions__1__children li:not(:last)").remove();
                $j("#channel_action #conditions__1__children li:not(:last)").remove();

                $j("#channel_action .rule-param select").val("");
                $j("#channel_action .rule-param a").eq(0).html("ALL");
                $j("#channel_action .rule-param a").eq(1).html("TRUE");
                $j("#rule_simple_action").val("");
                $j('#rule_simple_action').trigger('change');
                $j("#rule_discount_amount").val(5);
                added_html = $j("#showalloffernote div:first tr:last td:first").html();
            }
            if (controller == "outgoingchannels") {
                url = "<?php echo $this->getUrl('adminhtml/outgoingchannels/ajax_addrule'); ?>" + "?isAjax=true";
            } else {
                url = "<?php echo $this->getUrl('adminhtml/incomingchannels/ajax_addrule'); ?>" + "?isAjax=true";
            }
            $j.post(url, {rule: data, form_key: "<?php echo Mage::getSingleton('core/session')->getFormKey() ?>", conditions_html: added_html, brand_id: brand_id}, function (res) {
                //$j("#showallrule div:last").prop('id', res);
                if (parseInt($j('#content_type_id').val()) == 1) {
                    $j("#showallrule div:first").prop('id', res);
                } else if (parseInt($j('#content_type_id').val()) == 2){
                    $j("#showallcontentrule div:first").prop('id', res);
                }else {
                    $j("#showalloffernote div:first").prop('id', res);
                }
                $j("#loading-mask").hide();
            });
        });
        $j('#rule_simple_action').on('change', function () {
            if ($j(this).val() == 'custom_price') {
                $j('.cutom_price_rule').show();
                $j('.percentage').each(function () {
                    $j(this).val('');
                    $j(this).hide();
                })
            } else {
                $j('.cutom_price_rule').hide();
                $j('.percentage').each(function () {
                    $j(this).show();
                })
            }
        })
        //for showing the content section or price section on changing content type selector content_type_id
        $j('#content_type_id').on('change', function () {
            if (parseInt($j(this).val()) == 3) {
                $j('#offernote_section_id').show();
                $j('.showallvaribale_cls').hide();
                $j('#price_section_id').hide();
                $j('#content_section_id').hide();
                $j('.content_cls').val("");
                $j('.offernote_cls').val("");
            }else if (parseInt($j(this).val()) == 2) {
                $j('#content_section_id').show();
                $j('.showallvaribale_cls').show();
                $j('#price_section_id').hide();
                $j('#offernote_section_id').hide();
                $j('.content_cls').val("");
                $j('.offernote_cls').val("");
            } else {
                $j('#price_section_id').show();
                $j('#content_section_id').hide();
                $j('.showallvaribale_cls').hide();
                $j('#offernote_section_id').hide();
                $j('.content_cls').val("");
                $j('.offernote_cls').val("");
            }
        })
    });
    //delete the price rules
    $j(document).on('click', '#delete_price_rule', function () {
        if (confirm("Are you sure to delete this rule?")) {
            delete_id = $j(this).closest('div').prop('id');
            if (controller == "outgoingchannels") {
                url = "<?php echo $this->getUrl('adminhtml/outgoingchannels/ajax_deleterule'); ?>" + "?isAjax=true";
            } else {
                url = "<?php echo $this->getUrl('adminhtml/incomingchannels/ajax_deleterule'); ?>" + "?isAjax=true";
            }
            $j("#loading-mask").show();
            $j.post(url, {form_key: "<?php echo Mage::getSingleton('core/session')->getFormKey() ?>", id: delete_id}, function () {
                $j("#showallrule").find('div#' + delete_id).remove();
                $j("#loading-mask").hide();
            });
        }
    });
    //delete the Content rules
    $j(document).on('click', '#delete_content_rule', function () {
        if (confirm("Are you sure to delete this rule?")) {
            delete_id = $j(this).closest('div').prop('id');
            if (controller == "outgoingchannels") {
                url = "<?php echo $this->getUrl('adminhtml/outgoingchannels/ajax_deleterule'); ?>" + "?isAjax=true";
            } else {
                url = "<?php echo $this->getUrl('adminhtml/incomingchannels/ajax_deleterule'); ?>" + "?isAjax=true";
            }
            $j("#loading-mask").show();
            $j.post(url, {form_key: "<?php echo Mage::getSingleton('core/session')->getFormKey() ?>", id: delete_id}, function () {
                $j("#showallcontentrule").find('div#' + delete_id).remove();
                $j("#loading-mask").hide();
            });
        }
    });
    //Delete the OfferNote
    //delete the Content rules
    $j(document).on('click', '#delete_offernote', function () {
        if (confirm("Are you sure to delete this rule?")) {
            delete_id = $j(this).closest('div').prop('id');
            if (controller == "outgoingchannels") {
                url = "<?php echo $this->getUrl('adminhtml/outgoingchannels/ajax_deleterule'); ?>" + "?isAjax=true";
            } else {
                url = "<?php echo $this->getUrl('adminhtml/incomingchannels/ajax_deleterule'); ?>" + "?isAjax=true";
            }
            $j("#loading-mask").show();
            $j.post(url, {form_key: "<?php echo Mage::getSingleton('core/session')->getFormKey() ?>", id: delete_id}, function () {
                $j("#showalloffernote").find('div#' + delete_id).remove();
                $j("#loading-mask").hide();
            });
        }
    });
    function showCustompricepopup() {
        var dialogWindow = Dialog.info(null, {
            closable: true,
            resizable: true,
            draggable: true,
            className: 'magento',
            windowClassName: 'popup-window',
            title: 'Custom Pricing Rule Example',
            width: 450,
            height: 300,
            zIndex: 1000,
            recenterAuto: true,
            hideEffect: Element.hide,
            showEffect: Element.show,
            id: 'browser_window'
        });
        var example_content = "<?php echo trim(preg_replace('/\s\s+/', '', $this->getLayout()->createBlock('core/template')->setTemplate('fedobe/bridge/custom-pricerule-example.phtml')->toHtml())); ?>";
        dialogWindow.setHTMLContent(example_content);
    }
    function showContentRulePopup() {
        var dialogWindow = Dialog.info(null, {
            closable: true,
            resizable: true,
            draggable: true,
            className: 'magento',
            windowClassName: 'popup-window',
            title: 'Content Rule variables',
            width: 450,
            height: 300,
            zIndex: 1000,
            recenterAuto: true,
            hideEffect: Element.hide,
            showEffect: Element.show,
            id: 'browser_window'
        });
        var example_content = "<?php echo trim(preg_replace('/\s\s+/', '', $this->getLayout()->createBlock('core/template')->setTemplate('fedobe/bridge/content-rule-variable.phtml')->toHtml())); ?>";
        dialogWindow.setHTMLContent(example_content);
    }
    function testCustompricepopup() {
        var validat = validatePricingtextarear();
        if (validat) {
            var pricerule = $('cutom_price_rule').value;
            var url = '<?php echo $this->getUrl('adminhtml/incomingchannels/checkcalculation'); ?>';
            if (pricerule) {
                new Ajax.Request(url, {
                    method: 'post',
                    parameters: {price_rule: pricerule},
                    onSuccess: function (transport) {
                        var response = transport.responseText;
                        var dialogWindow = Dialog.info(null, {
                            closable: true,
                            resizable: true,
                            draggable: true,
                            className: 'magento',
                            windowClassName: 'popup-window',
                            title: 'Calculated Price',
                            width: 300,
                            height: 150,
                            zIndex: 1000,
                            recenterAuto: true,
                            hideEffect: Element.hide,
                            showEffect: Element.show,
                            id: 'browser_window_response'
                        });
                        dialogWindow.setHTMLContent("<div>" + response + "</div>");
                    },
                    onFailure: function () {
                        var dialogWindow = Dialog.info(null, {
                            closable: true,
                            resizable: true,
                            draggable: true,
                            className: 'magento',
                            windowClassName: 'popup-window',
                            title: 'Calculated Price',
                            width: 300,
                            height: 150,
                            zIndex: 1000,
                            recenterAuto: true,
                            hideEffect: Element.hide,
                            showEffect: Element.show,
                            id: 'browser_window_faliure'
                        });
                        dialogWindow.setHTMLContent("<div>Something went wrong...</div>");
                    }
                });
            }
        }
    }
    function validatePricingtextarear() {
        var lines = [];
        var patt = new RegExp(";");
        $('cutom_price_rule').value.split("\n").each(function (v, i) {
            if (!patt.test(v)) {
                lines.push(i + 1);
            }
        });
        if (lines.length) {
            $('advice-required-entry-cutom-price-rule').update('You need to correct line number ' + lines);
            $('advice-required-entry-cutom-price-rule').show();
            $('advice-required-entry-cutom-price-rule').addClassName('validation-advice');
            return false;
        } else {
            $('advice-required-entry-cutom-price-rule').removeClassName('validation-advice');
            $('advice-required-entry-cutom-price-rule').update('');
            $('advice-required-entry-cutom-price-rule').hide();
            return true;
        }
    }
    function showmoreprice(id) {
        $('less-price-' + id).hide();
        $('more-price-' + id).show();
    }
    function showlessprice(id) {
        $('less-price-' + id).show();
        $('more-price-' + id).hide();
    }
</script>
<style type="text/css">
        #ruleform .form-list .value {width: 100% !important;}
</style>