<?php
$sellers_collection = $this->getLoadedProductCollection();
$helper = Mage::helper('tribeseller');
$store = Mage::app()->getStore();
$code = $store->getCode();
$aspect_ratio = Mage::getStoreConfig("porto_settings/category/aspect_ratio", $code);
$ratio_width = Mage::getStoreConfig("porto_settings/category/ratio_width", $code);
$ratio_height = Mage::getStoreConfig("porto_settings/category/ratio_height", $code);
if (!$ratio_width)
    $ratio_width = 300;
if (!$ratio_height)
    $ratio_height = 300;
?>
<?php if (!$sellers_collection->count()): ?>
    <div class="category-products">
        <p class="note-msg"><?php echo $this->__('Sorry! there is no store found in your search location.') ?></p>
    </div>
<?php else: ?>
<div class="top-banner-area">
    banner area
    <div class="search-box-area">
        <input type="text" />
    </div>
</div>


    <div class="category-products sellerPage">
        <div>
            <h2><?php $this->__('Featured Stores');?></h2>
        </div>
        
        <?php echo $this->getToolbarHtml() ?>
        <?php $_columnCount = Mage::getStoreConfig("porto_settings/category_grid/columns", $code); ?>
        <ul class="products-grid <?php if (Mage::getStoreConfig("porto_settings/category_grid/flex_grid", $code)): ?>flex-grid<?php endif; ?> columns3"><?php //echo $_columnCount;   ?>
            <?php foreach ($sellers_collection as $sellers): ?>
                <?php
                $seller = Mage::getModel('tribeseller/seller')->load($sellers->getId());
                $seller_info = $seller->getData();
                ?>
                <li class="item col-xs-12 col-sm-6 col-md-4">
                    <div class="item-area">
                        <div class="product-image-area col-xs-5">
                            <div class="loader-container">
                                <div class="loader">
                                    <i class="ajax-loader medium animate-spin"></i>
                                </div>
                            </div>
                            <a href="<?php echo $helper->getFrontendProductUrl($seller_info['seller_user_name']); ?>" title="<?php echo $seller_info['seller_store_name']; ?>"  target="_blank" class="product-image">
                                <img src="<?php echo $helper->resizeImg($seller_info['seller_profile_pic'], $ratio_width, $ratio_height); ?>" />
                            </a>
                        </div>
                        <div class="details-area col-xs-7">
                            <h2 class="product-name">
                                <a href="<?php echo $helper->getFrontendProductUrl($seller_info['seller_user_name']); ?>" title="<?php echo $seller_info['seller_store_name']; ?>"  target="_blank"><?php echo $seller_info['seller_store_name']; ?></a>
                            </h2>
                            <div class="ratings">
                                <div class="rating-box">
                                    <div class="rating" style="width:0"></div>
                                </div>
                            </div>
                            <?php
                            $address = $helper->getFormattedSellerAddress($seller_info);
                            //if($address):
                            ?>
                            <div class="address">
                                <i class="fa fa-map-marker"></i>
                                <?php echo $address; ?>
                            </div>
                            <?php // endif; ?>
                            <div class="actions">
                                <a href="<?php echo $helper->getFrontendProductUrl($seller_info['seller_user_name']); ?>" class="addtocart outofstock" title="<?php echo $this->__('View Seller') ?>"><?php echo $this->__('View Seller') ?></span></a>
                                <div class="clearer"></div>
                            </div>
                        </div>
                    </div>
                </li>
            <?php endforeach ?>
        </ul>
        <script type="text/javascript">
            jQuery('.col-main .products-grid li:nth-child(2n)').addClass('nth-child-2n');
            jQuery('.col-main .products-grid li:nth-child(2n+1)').addClass('nth-child-2np1');
            jQuery('.col-main .products-grid li:nth-child(3n)').addClass('nth-child-3n');
            jQuery('.col-main .products-grid li:nth-child(3n+1)').addClass('nth-child-3np1');
            jQuery('.col-main .products-grid li:nth-child(4n)').addClass('nth-child-4n');
            jQuery('.col-main .products-grid li:nth-child(4n+1)').addClass('nth-child-4np1');
            jQuery('.col-main .products-grid li:nth-child(5n)').addClass('nth-child-5n');
            jQuery('.col-main .products-grid li:nth-child(5n+1)').addClass('nth-child-5np1');
            jQuery('.col-main .products-grid li:nth-child(6n)').addClass('nth-child-6n');
            jQuery('.col-main .products-grid li:nth-child(6n+1)').addClass('nth-child-6np1');
            jQuery('.col-main .products-grid li:nth-child(7n)').addClass('nth-child-7n');
            jQuery('.col-main .products-grid li:nth-child(7n+1)').addClass('nth-child-7np1');
            jQuery('.col-main .products-grid li:nth-child(8n)').addClass('nth-child-8n');
            jQuery('.col-main .products-grid li:nth-child(8n+1)').addClass('nth-child-8np1');
        </script>
    </div>
<div>
    <?php 
        $slug = Mage::helper('tribeseller')->getSellerUrlKeySlug() . "/";
    ?>
    <h2><a href="<?php echo $this->getUrl('all'.$slug);?>">Browse All Stores</a></h2>
</div>
    <div class="col-xs-6">
        <div class="col-xs-6">
            left banner
        </div>
        <div class="col-xs-6">
            right banner
        </div>
    </div>
<?php endif; ?>

