<?php
$sellers_collection = $this->getSellersCollection();
?>
<ul class="products-grid category-products-grid itemgrid itemgrid-adaptive itemgrid-3col single-line-name centered equal-height">
    <?php
    foreach ($sellers_collection['distance'] as $key => $distance) {
        $seller_info = $sellers_collection['seller_info'][$key];
        ?>
        <li class="item " style="height: 351.133px;">
            <div class="product-image-wrapper" style="max-width:295px;">
                <a href="<?php echo Mage::helper('tribeseller')->getFrontendProductUrl($seller_info['seller_user_name']); ?>" title="<?php echo $seller_info['seller_url']; ?>"  target="_blank">
                    <img width="100px;" height="100px;" src="<?php echo Mage::helper('tribeseller')->getImagePath($seller_info['seller_profile_pic']); ?>" />
                </a>                
            </div>
            <div class="rating">
            </div>
            <div class="address">
                <?php echo $seller_info['seller_street_address_one'] . '-' . $seller_info['seller_city'] . ',' . $seller_info['seller_state']; ?>
            </div>
            <div class="clearer"> </div>

        </li>
        <?php
    }
    ?>
</ul>
