
<?php
$seller_block = $this->getLayout()->getBlock("sellers.grid");
$categories = $seller_block->getCategoryList();
$catalogSearchHelper = $this->helper('catalogsearch');
?>
<form id="search_mini_form" action="<?php echo $catalogSearchHelper->getResultUrl() ?>" method="get">
    <div width='10%' style='float: left;margin: 10px;'>Ecociate</div>
    <div width='10%' style='float: left;margin: 10px;'>Stores</div>
    <div class="form-search" width='50%' style='float: left;margin: 10px;'>
        <label for="search"><?php echo $this->__('Search:') ?></label>
        <input id="search" type="text" name="<?php echo $catalogSearchHelper->getQueryParamName() ?>" value="<?php echo $catalogSearchHelper->getEscapedQueryText() ?>" class="input-text" maxlength="<?php echo $catalogSearchHelper->getMaxQueryLength(); ?>" />
        <button type="submit" title="<?php echo $this->__('Search') ?>" class="button"><span><span><?php echo $this->__('Search') ?></span></span></button>
        <div id="search_autocomplete" class="search-autocomplete"></div>
        <script type="text/javascript">
            //<![CDATA[
            var searchForm = new Varien.searchForm('search_mini_form', 'search', '<?php echo $this->__('Search entire store here...') ?>');
            searchForm.initAutocomplete('<?php echo $catalogSearchHelper->getSuggestUrl() ?>', 'search_autocomplete');
            //]]>
        </script>
    </div>
    <div class="customer-info" width='30%' style='float: left;margin: 10px;'>
        <?php echo "<a class='anc fancybox.ajax' href='" . $this->getUrl('tribeseller/sellerspage/search') . "' onclick='callfancy();' title='" . $seller_block->getCustomerPostCode() . "' style='margin:10px;'>" . $seller_block->getCustomerPostCode() . "</a>"; ?>
        <?php echo "<a href='" . Mage::getUrl('customer/account') . "' title='" . $this->__('Account') . "' style='margin:10px;'>" . $this->__('Account') . "</a>"; ?>
        <?php echo "<a href='" . $this->getUrl('checkout/cart') . "' title='" . $this->__('My Cart') . "' style='margin:10px;'>" . $this->__('My Cart') . "</a>"; ?>
    </div>
    <div style='clear:both;'></div>
</form>

<ul class="products-grid category-products-grid itemgrid itemgrid-adaptive itemgrid-3col single-line-name centered equal-height">
    <?php
    foreach ($categories as $cat_id => $counts) {
        $category = Mage::getModel('catalog/category')->load($cat_id);
        $url = $category->getUrl();
        $name = $category->getName();
        $img = $category->getImageUrl();
        ?>
        <li class="item" style="height: 351.133px;">
            <div class="product-image-wrapper " style="max-width:295px;">
                <a href="<?php echo $url; ?>" title="<?php echo $name; ?>"  target="_blank">
                    <img src="<?php echo $img; ?>" width="auto"/>
                </a>                
            </div>
            <div class="product-info-wrapper">
                <?php echo $name . "<br />($counts)"; ?>
            </div>
            <div class="clearer"> </div>

        </li>
    <?php }
    ?>
</ul>