<?php
$url = $this->getUrl(Mage::helper('tribeseller')->getSellerUrlKeySlug());
$pin = Mage::getSingleton('core/session')->getData('tribe_pin');
?>
<form class="form-horizontal" id = "my-custom-form" method="post" action="<?php echo $url; ?>">
    <div class="col-md-12">

    <div class="col-md-7">
        <div class="form_text_zip_code">
            <input id="pin" name="seller[pin]" type="text" placeholder="ZIP CODE OR AREA" class="form-control input-md required-entry" value="<?php echo $pin;?>">
        </div>
    </div>
    <div class="col-md-4">
        <div class="find_store_button">
            <input type="submit" id="singlebutton" class="btn btn-default"  value="change pin" />  
        </div>
    </div>

    </div>
</fieldset>
</form>