<script type="text/javascript">
    //<![CDATA[
    var productTemplateSyntax = /(^|.|\r|\n)({{(\w+)}})/;
    function setSettings(urlTemplate, setElement) {
        var template = new Template(urlTemplate, productTemplateSyntax);
        setLocation(template.evaluate({attribute_set: $F(setElement)}));
    }
    //]]>
</script>
<style type="text/css">
    .entry-edit-head{height: 20px;}
</style>