<?php
$customer = Mage::registry('current_customer');
if ($customer->getId()):
    $profileurl = Mage::helper('tribeseller')->getProfileUrl($customer->getUsername());
    ?>
    <script type="text/javascript">
        //<![CDATA[
        $('_accountusername').insert({after: "<a href='<?php echo $profileurl;?>' target='_blank'><?php echo $profileurl;?></a>"});
        //]]>
    </script>
<?php endif;
?>