<script type="text/javascript">
jQuery(document).on('mouseover','.link-product-btn',function(){
    if(jQuery('.checkout_tooltip_outer_div').length){
                jQuery('.checkout_tooltip_outer_div').remove();
            }
    var curent_obj=jQuery(this);
    
            jQuery('body').append('<div class="message_tooltip_outer_div"><div class="message_tooltip_inner_div">'+curent_obj.attr('alt')+'</div></div>');
            var curent_msg = jQuery('.message_tooltip_outer_div');
            //jQuery('.message_tooltip_outer_div').css({left: (jQuery(this).offset().left + parseInt(jQuery(this).width() / 5)), top: (jQuery(this).offset().top -(60+jQuery('.checkout_tooltip_outer_div').height()))}).addClass('arrow_left');
            curent_msg.css({left: (curent_obj.offset().left - parseInt(curent_msg.width() / 2) + parseInt(curent_obj.width())), top: (curent_obj.offset().top -(63+jQuery('.checkout_tooltip_outer_div').height()))});
           /* curent_msg.delay(2000).fadeOut('slow', function () {
                   curent_msg.remove();
               });*/
});

jQuery(document).on('mouseout','.link-product-btn',function(){
    jQuery('.message_tooltip_outer_div').delay(2000).fadeOut('slow', function () {
                   jQuery('.message_tooltip_outer_div').remove();
               });
});

</script>
<?php
$_product = $this->getProduct();
$starsettings = intval(Mage::getStoreConfig('tribecoresettings/seller_starrating_settings/tribe_seller_star_rating_no'));
    $nostars = ($starsettings) ? $starsettings : 5;
$starsize = intval(Mage::getStoreConfig('tribecoresettings/seller_starrating_settings/tribe_seller_star_size'));
    $starsize = ($starsize) ? $starsize : 15;
//for simple product chose
if($_product->getTypeId()=='configurable'){
    $supplierscode = (Mage::getStoreConfig("bridge/bridge_supplier_settings/bridge_supplier_attrcode")) ? Mage::getStoreConfig("bridge/bridge_supplier_settings/bridge_supplier_attrcode") : "suppliers";
    $childProducts = Mage::getModel('catalog/product_type_configurable')->getUsedProducts(null,$_product);
    $seller_id = $sellerinf = array();
    $sellerid = Mage::app()->getRequest()->getParam('s');
     foreach($childProducts as $k=>$v){
         $simpleproduct_1 = Mage::getModel('catalog/product')->load($v->getData('entity_id'));
         $entity_id[] = $v->getData('entity_id');
         $sellerinf = Mage::helper('tribeseller')->getCurrentProductSeller($simpleproduct_1, $sellerid,FALSE, 'configurable');
         $seller = $sellerinf[1];
         $seller_id[$simpleproduct_1->getSize()]['id'] = $seller->getId();
         $seller_id[$simpleproduct_1->getSize()]['name'] = $seller->getSellerStoreName();
        
         $seller_id[$simpleproduct_1->getSize()]['rating'] = $seller->getSellerAvgRating();//($seller->getId()==9)?'3.00':
     }
     $simple_product_id = $entity_id[0];
     $simple_product = Mage::getModel('catalog/product')->load($simple_product_id);
}

//print_r($seller_id);
//-----

/* Seller from refferer */
$url = Mage::helper('core/http')->getHttpReferer() ? Mage::helper('core/http')->getHttpReferer() : $_SERVER['REQUEST_URI'];
$sellerid = Mage::app()->getRequest()->getParam('s');
$assfound = false;
if($simple_product_id)//abs
    $sellerinf = Mage::helper('tribeseller')->getCurrentProductSeller($simple_product, $sellerid,FALSE, 'configurable');//FALSE, 'configurable' abs
else
    $sellerinf = Mage::helper('tribeseller')->getCurrentProductSeller($_product, $sellerid);

$seller = $sellerinf[1];//echo "<pre>"; print_r($sellerinf[1]);echo "</pre>";
$assfound = $sellerinf[0];
$active_seller_id = $seller->getId();
/* End */

$_helper = $this->helper('catalog/output');
$helper_richsnippets = $this->helper('porto/richsnippets');
$store = Mage::app()->getStore();
$code = $store->getCode();
?>
<?php
$product = Mage::getModel('catalog/product')->load($_product->getId());
$product_type = $_product->getTypeId();//echo $product_type;
$enabled_richsnippets = ($helper_richsnippets->isEnabled() && $product_type !== "grouped");
$price_properties = "";
if ($enabled_richsnippets) {
    $price_properties = $helper_richsnippets->getPriceProperties($_product);
}

$enable_addtocart_sticky = Mage::getStoreConfig("porto_settings/product_view/enable_addtocart_sticky", $code);
$move_product_tab = Mage::getStoreConfig("porto_settings/product_view/move_product_tab", $code);
$sticky_header = "";
if (!Mage::getStoreConfig("porto_settings/header/sticky_header", $code))
    $sticky_header = "no-sticky-header";


?>
<script type="text/javascript">
    var optionsPrice = new Product.OptionsPrice(<?php echo $this->getJsonConfig() ?>);
</script>
<div id="messages_product_view"><?php echo $this->getMessagesBlock()->getGroupedHtml() ?></div>
<div class="product-view <?php if ($move_product_tab): ?>moved-tab<?php endif; ?>" <?php if ($enabled_richsnippets): ?><?php echo $helper_richsnippets->getProductItemscope(); ?><?php endif; ?>>
    <div class="product-essential">
        
         <div class="row">
                <!----------------left side image---------------->
                <div class="product-img-box col-sm-<?php echo Mage::getStoreConfig("porto_settings/product_view/product_image_size", $code); ?> <?php echo Mage::getStoreConfig("porto_settings/product_view/thumbnail_image_type", $code); ?>">
                    <?php echo $this->getChildHtml('media') ?>
                </div>
         <div class="product-shop col-sm-<?php echo 12 - Mage::getStoreConfig("porto_settings/product_view/product_image_size", $code); ?>">       
             <div>
        <form action="<?php echo $this->getSubmitUrl($_product,array(),$simple_product_id) ?>" method="post" id="product_addtocart_form"<?php if ($_product->getOptions()): ?> enctype="multipart/form-data"<?php endif; ?>>
            <?php echo $this->getBlockHtml('formkey') ?>
            <div class="no-display">
                <input type="hidden" name="product" value="<?php echo $_product->getId() ?>" />
                <input type="hidden" id="simpleproduct" name="simpleproduct" />
                <input type="hidden" name="related_product" id="related-products-field" value="" />
                <input type="hidden" name="product_seller" id="product_seller_id" value="<?php echo $active_seller_id; ?>" />
            </div>
            <?php
            if ($enable_addtocart_sticky) {
                ?>
                <div class="sticky-product hide <?php echo $sticky_header; ?>">
                    <div class="container">
                        <?php
                        $aspect_ratio = Mage::getStoreConfig("porto_settings/product_view/aspect_ratio", $code);
                        $ratio_width = 600;
                        $ratio_height = 600;
                        if (Mage::getStoreConfig("porto_settings/product_view/ratio_width", $code))
                            $ratio_width = Mage::getStoreConfig("porto_settings/product_view/ratio_width", $code);
                        if (!$aspect_ratio) {
                            if (Mage::getStoreConfig("porto_settings/product_view/ratio_height", $code))
                                $ratio_height = Mage::getStoreConfig("porto_settings/product_view/ratio_height", $code);
                        }
                        $ratio = $ratio_height / $ratio_width;
                        $ratio_width = 50;
                        $ratio_height = $ratio_width * $ratio;
                        ?>
                        <div class="sticky-image">
                            <img src="<?php if ($aspect_ratio): ?><?php echo $this->helper('catalog/image')->init($_product, 'small_image')->constrainOnly(FALSE)->keepAspectRatio(TRUE)->keepFrame(FALSE)->resize(50); ?><?php else: ?><?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize($ratio_width, $ratio_height); ?><?php endif; ?>" alt="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>"/>
                        </div>
                        <div class="sticky-detail">
                            <div class="product-name-area">
                                <h2 class="product-name"><?php echo $_helper->productAttribute($_product, $_product->getName(), 'name') ?></h2>
                                <?php echo $this->getPriceHtml($_product, false, '_clone') ?>
                            </div>
                            <?php
                            if (Mage::helper('catalog')->isModuleEnabled('Mage_Review')):
                                ?>
                                <?php
                                $review_html = $this->getReviewsSummaryHtml($product, 'short');
                                if ($review_html) {
                                    echo $review_html;
                                } else {
                                    ?>
                                    <div class="ratings">
                                        <div class="rating-box">
                                            <div class="rating" style="width:0"></div>
                                        </div>
                                    </div>
                                    <?php
                                }
                                ?>
                            <?php else: ?>
                                <div class="ratings">
                                    <div class="rating-box">
                                        <div class="rating" style="width:0"></div>
                                    </div>
                                </div>
                            <?php endif; ?>
                            <?php if ($enabled_richsnippets): ?>
                                <?php if ($this->getReviewsCount()): ?>
                                    <span itemprop="aggregateRating" itemscope itemtype="http://schema.org/AggregateRating">
                                        <meta itemprop="ratingValue" content="<?php echo $this->getRatingSummary(); ?>"/>
                                        <meta itemprop="reviewCount" content="<?php echo $this->getReviewsCount(); ?>" />
                                        <meta itemprop="bestRating" content="100"/>
                                        <meta itemprop="worstRating" content="0"/>
                                    </span>
                                <?php endif; ?>
                            <?php endif; ?>
                            <?php if ($_product->isAvailable()): ?>
                                <p class="availability in-stock"><span>(<?php echo $this->__('In stock') ?>)</span></p>
                            <?php else: ?>
                                <p class="availability out-of-stock"><span>(<?php echo $this->__('Out of stock') ?>)</span></p>
                            <?php endif; ?>
                        </div>
                        <?php if ($_product->isSaleable()): ?>
                            <?php $buttonTitle = $this->__('Add to Cart'); ?>
                            <div class="add-to-cart">
                                <button type="button" title="<?php echo $buttonTitle ?>" class="button btn-cart" onclick="productAddToCartForm.submit(this)"><span><span><i class="icon-cart"></i><?php echo $buttonTitle ?></span></span></button>
                            </div>
                        <?php endif; ?>
                    </div>
                </div>
                <?php
            }
            ?>
           
                <!---------------add to cart section------------------>
                <div>
                    <?php
                    if (Mage::getStoreConfig("porto_settings/product_view/prev_next", $code)) {
                        ?>
                        <div class="prev-next-products">
                            <?php $_prev = Mage::helper('porto')->getPreviousProduct(); ?>
                            <?php $_next = Mage::helper('porto')->getNextProduct(); ?>

                            <?php if ($_prev): ?>
                                <div class="product-nav product-prev">
                                    <a href="<?php echo $_prev->getProductUrl(); ?>" title="<?php echo $this->__("Previous Product"); ?>">
                                        <?php echo Mage::getStoreConfig("porto_settings/product_view/prev_text", $code); ?>
                                    </a>
                                    <div class="product-pop theme-border-color">
                                        <?php
                                        $image_src = $this->helper('catalog/image')->init($_prev, 'image')->constrainOnly(FALSE)->keepAspectRatio(TRUE)->keepFrame(FALSE)->resize(80);
                                        ?>
                                        <img class="product-image" src="<?php echo $image_src; ?>" alt="<?php echo $this->__('Previous'); ?>"/>
                                        <h3 class="product-name"><?php echo $_helper->productAttribute($_prev, $_prev->getName(), 'name') ?></h3>
                                    </div>
                                </div>
                            <?php endif; ?>
                            <?php if ($_next): ?>
                                <div class="product-nav product-next">
                                    <a class="product-next" href="<?php echo $_next->getProductUrl(); ?>" title="<?php echo $this->__("Next Product"); ?>"><?php echo Mage::getStoreConfig("porto_settings/product_view/next_text", $code); ?></a>
                                    <div class="product-pop theme-border-color">
                                        <?php
                                        $image_src = $this->helper('catalog/image')->init($_next, 'image')->constrainOnly(FALSE)->keepAspectRatio(TRUE)->keepFrame(FALSE)->resize(80);
                                        ?>
                                        <img class="product-image" src="<?php echo $image_src; ?>" alt="<?php echo $this->__('Previous'); ?>"/>
                                        <h3 class="product-name"><?php echo $_helper->productAttribute($_next, $_next->getName(), 'name') ?></h3>
                                    </div>
                                </div>
                            <?php endif; ?>
                        </div>
                        <?php
                    }
                    ?>

                    <!-- Modified by akshaya -->
                    <div class="col-xs-12 prdnamecont">
                        <div class="product-name">
                            <h1 <?php if ($enabled_richsnippets): ?>itemprop="name"<?php endif; ?>><?php echo $_helper->productAttribute($_product, $_product->getName(), 'name') ?></h1>
                        </div>
                        <?php if ($enabled_richsnippets): ?>
                            <?php
                            $storeId = Mage::app()->getStore()->getId();
                            $summaryData = Mage::getModel('review/review_summary')->setStoreId($storeId)->load($_product->getId());
                            ?>
                            <?php if ($summaryData['reviews_count']): ?>
                                <span itemprop="aggregateRating" itemscope itemtype="http://schema.org/AggregateRating" class="no-display">
                                    <span itemprop="ratingValue"><?php echo $summaryData['rating_summary']; ?></span>
                                    <span itemprop="reviewCount"><?php echo $summaryData['reviews_count']; ?></span>
                                    <span itemprop="bestRating">100</span>
                                    <span itemprop="worstRating">0</span>
                                </span>
                            <?php endif; ?>
                        <?php endif; ?>

                        <?php echo $this->getReviewsSummaryHtml($_product, false, true) ?>
                        <?php //if ($_product->getShortDescription()):?>
                        <!-- <div class="short-description">
                            <h2 class="content_title"><?php echo $this->__('Quick Overview') ?></h2>
                            <div class="std" <?php if ($enabled_richsnippets): ?>itemprop="description"<?php endif; ?>><?php echo $_helper->productAttribute($_product, nl2br($_product->getShortDescription()), 'short_description') ?></div>
                        </div> -->
                        <?php // endif;?>
                    </div>
                    <?php //if ($seller): ?>
                    <?php
                    //$helper = Mage::helper('tribeseller');
                    ?>
                    <!--div class="col-xs-4 col-sm-3 col-md-3" style="padding-right:0px;">
                        <a href="<?php //echo $helper->getFrontendProductUrl($seller->getSellerUserName());   ?>" title="<?php //echo $seller->getSellerUserName();   ?>" >
                            <img src="<?php //echo $helper->resizeImg($seller->getSellerProfilePic(), 75, 75);   ?>" alt="<?php //echo $seller->getSellerUserName();   ?>" class="img-responsive" />
                        </a>
                    </div-->
                    <?php //endif; ?>
                    <div class="clearfix"></div> 


<!-- //Modified by bhagyashree -->
 <?php if($_product->getSpecialty()){ ?>
<div class="qwerty">
<b>Dietary summary:
<?php $res = $_product->getResource()->getAttribute('specialty')->getFrontend()->getValue($_product);
$speciality = explode(',',$res);
foreach($speciality as $k=>$v){//echo substr($v,0,1); 
$trimed_val= trim($v," ");
$my_val = $v;
$val = substr($trimed_val,0,1); 
?>
 <!--div class="checkout_tooltip_outer_div" style="display:none;"><div class="checkout_tooltip_inner_div"><span><?php echo $v;?></span></div></div-->
 <span class='link-product-btn' style="cursor:help;" alt="<?php echo $my_val;?>"><?php echo $val; ?></span>
<?php
//echo "<span class='link-product-btn' onmouseover='"."tltpmsgshw('".$my_val."')".";'>".$val."</span>";
//echo "<span class='link-product-btn' data-toggle='tooltip' title='$v'>".$val."</span>";
// onmouseover='showtultip($v)'
}?>
</div>
<?php } 
?> 
<!-- //Modified by bhagyashree -->




                    <!-- //Modified by akshaya -->
                    <div class="product-info">
                        <!--div class="clearfix prd-badge">
                            <img src="<?php echo $this->getSkinUrl('images/badge.png') ?>" alt="" /> 
                        </div-->
                        <div <?php if ($enabled_richsnippets) echo $helper_richsnippets->getOfferItemscope(); ?>>
                            <?php echo $this->getChildHtml('product_type_data'); ?>
                            <?php echo $this->getTierPriceHtml(); ?>
                            <?php echo $price_properties; ?>
                        </div>
                        <?php echo $this->getChildHtml('extrahint') ?>
                        <?php // if ($this->canEmailToFriend()): ?>
                            <!--p class="email-friend"><a href="<?php echo $this->helper('catalog/product')->getEmailToFriendUrl($_product) ?>"><?php //echo $this->__('Email to a Friend')   ?></a>  |  <a onclick="ajaxCompare(this,'http://localhost/ecociate/index.php/catalog/product_compare/add/product/8/uenc/aHR0cDovL2xvY2FsaG9zdC9lY29jaWF0ZS9pbmRleC5waHAvaGVhbHRoeS1lYXRpbmcvdmVnZXRhYmxlcy9tZXRhbGxpYy1lYXJyaW5ncy5odG1s/form_key/OCMpv0eNt2GScC3b/','8'); return false;" href="javascript:void(0)">Add to Compare</a></p-->
                        <?php // endif; ?>
                        <?php if ($sku = $_product->getSku()): ?>
                            <?php if ($enabled_richsnippets): ?><meta itemprop="productID" content="sku:<?php echo $sku; ?>" /><?php endif; ?>
                        <?php endif; ?>
                        <?php echo $this->getChildHtml('alert_urls') ?>
                        <?php echo $this->getChildHtml('other'); ?>
                    </div>
                    <?php if (!$this->hasOptions()): ?>
                        <div class="clearer"></div>
                        <div class="add-to-box">
                            <?php if ($_product->isSaleable()): ?>
                                <?php echo $this->getChildHtml('addtocart') ?>
                                <?php if ($this->helper('wishlist')->isAllow() || $_compareUrl = $this->helper('catalog/product_compare')->getAddUrl($_product)): ?>
                                <?php endif; ?>
                            <?php endif; ?>
                            <?php echo $this->getChildHtml('addto') ?>
                            <div class="clearfix"></div>
                        </div>
                        <?php echo $this->getChildHtml('extra_buttons') ?>
                    <?php elseif (!$_product->isSaleable()): ?>
                        <div class="clearer"></div>
                        <div class="add-to-box col-sm-6">
                            <?php echo $this->getChildHtml('addto') ?>
                            <div class="clearfix"></div>
                        </div>
                    <?php endif; ?>


                    <!--sital-->
                    <div class="clearfix"></div>

                    <?php /* if ($this->canEmailToFriend()): ?>
                      <p class="email-friend">
                      <a href="<?php echo $this->helper('catalog/product')->getEmailToFriendUrl($_product) ?>" style="display:none;"><i class="fa fa-envelope" aria-hidden="true"></i>&nbsp;&nbsp;<span><?php echo $this->__('Email to a Friend') ?></span></a>
                      <a onclick="ajaxCompare(this,'http://sites.fedobe.net//ecociate/index.php/catalog/product_compare/add/product/8/uenc/aHR0cDovL2xvY2FsaG9zdC9lY29jaWF0ZS9pbmRleC5waHAvaGVhbHRoeS1lYXRpbmcvdmVnZXRhYmxlcy9tZXRhbGxpYy1lYXJyaW5ncy5odG1s/form_key/OCMpv0eNt2GScC3b/','8'); return false;" href="javascript:void(0)"><i class="fa fa-exchange" aria-hidden="true"></i>&nbsp;&nbsp;<span>Add to Compare</span></a>

                      <a href="<?php echo $this->helper('wishlist')->getAddUrl($_product) ?>" class="link-wishlist"><?php //echo $this->__('Add to Wishlist') ?><i class="fa fa-heart" aria-hidden="true"></i>&nbsp;&nbsp;<span>Add to Wishlist</span></a>
                      <!--a onclick="setLocation('<?php //echo $this->getAddToWishlistUrl($_product) ?>')" class="buttons-wish" title="<?php //echo $this->__('Add to Wishlist') ?>" href="javascript:void(0)"><i class="fa fa-heart" aria-hidden="true"></i>&nbsp;&nbsp;<span>Add to Wishlist</span></a-->

                      <!--a onclick="" href="javascript:void(0)"><i class="fa fa-facebook-official" aria-hidden="true"></i>&nbsp;&nbsp;<span>Share in Facebook</span></a-->

                      <a href="https://www.facebook.com/sharer/sharer.php?u=<?php echo $encoded_url; ?>" target="_blank">
                      <i class="fa fa-facebook-official" aria-hidden="true"></i>&nbsp;&nbsp;<span>Share in Facebook</span>
                      </a>


                      </p>
                      <?php endif; */ ?>

                    <?php if ($_product->isSaleable() && $this->hasOptions()): ?>
                        <?php echo $this->getChildChildHtml('container1', '', true, true) ?>
                    <?php endif; ?>

                    <div class="clearer"></div>
                    <?php echo $this->getChildHtml('addthis_sharetool'); ?>
                </div>   
            
            <?php if ($_product->isSaleable() && $this->hasOptions()): ?>
                <?php echo $this->getChildChildHtml('container2', '', true, true) ?>
            <?php endif; ?>
        </form>
              
        <?php if (Mage::getStoreConfig('ajaxcart/addtocart/enableproduct') && (Mage::app()->getFrontController()->getRequest()->getModuleName() == "catalog") || (Mage::app()->getFrontController()->getRequest()->getModuleName() == "quickview")): ?>
            <script type="text/javascript">
                //<![CDATA[
                var productAddToCartForm = new VarienForm('product_addtocart_form');
                productAddToCartForm.submit = function (button, url) {
                    if (this.validator.validate()) {
                        var form = this.form;
                        var oldUrl = form.action;

                        if (url) {
                            form.action = url;
                        }
                        var e = null;
                        if (!url) {
                            url = jQuery('#product_addtocart_form').attr('action');
                        }
                        if (url.indexOf("wishlist/index/cart") != -1) {
                            url = url.replace("wishlist/index/cart", "ajaxcart/index/add"); // New Code
                        } else {
                            url = url.replace("checkout/cart", "ajaxcart/index"); // New Code
                        }
                        url = url.replace("http://", "//");
                        url = url.replace("https://", "//");
                        var data = jQuery('#product_addtocart_form').serialize();
                        data += '&isAjax=1';
                        var is_quickview = false;
                        if (jQuery("body").hasClass("quickview-index-view")) {
                            is_quickview = true;
                        }
                        if (is_quickview)
                            window.parent.jQuery("#loading-mask").show();
                        else
                            jQuery('#loading-mask').show();
                        try {
                            jQuery.ajax({
                                url: url,
                                dataType: 'json',
                                type: 'post',
                                data: data,
                                success: function (data) {
                                    if (is_quickview)
                                        window.parent.jQuery('#loading-mask').hide();
                                    else
                                        jQuery('#loading-mask').hide();
                                    if (data.status == 'ERROR') {
                                        if (is_quickview)
                                            window.parent.alert(data.message.replace("<br/>", ""));
                                        else
                                            alert(data.message.replace("<br/>", ""));
                                    } else {
                                        if (is_quickview) {
                                            if (window.parent.jQuery('.header-container .mini-cart')) {
                                                window.parent.jQuery('.header-container .mini-cart').replaceWith(data.toplink);
                                            }
                                            jQuery('.cart-item-qty').html(data.totalitems);



                                            if (window.parent.jQuery('.fixed-header .mini-cart')) {
                                                window.parent.jQuery('.fixed-header .mini-cart').replaceWith(data.toplink);
                                            }
                                            if (window.parent.jQuery('.sticky-header .mini-cart')) {
                                                window.parent.jQuery('.sticky-header .mini-cart').replaceWith(data.toplink);
                                            }
                                            if (window.parent.jQuery('.col-right .block.block-cart')) {
                                                window.parent.jQuery('.col-right .block.block-cart').replaceWith(data.cart_sidebar);
                                            }
                                            window.parent.jQuery('#after-loading-success-message #success-message-container .msg-box').html(data.message);
    <?php $autoclose = Mage::getStoreConfig('ajaxcart/addtocart/autoclose', $code); ?>
                                            ajaxcart_sec = <?php echo ($autoclose && is_numeric($autoclose)) ? $autoclose : 5; ?>;
                                            timer_sec = ajaxcart_sec;
                                            window.parent.jQuery('#after-loading-success-message').fadeIn(200);
                                            ajaxcart_timer = setInterval(function () {
                                                timer_sec--;
                                                window.parent.jQuery('#after-loading-success-message .timer').html(timer_sec);
                                            }, 1000)
                                            setTimeout(function () {
                                                window.parent.jQuery('#after-loading-success-message').fadeOut(200);
                                                clearTimeout(ajaxcart_timer);
                                                setTimeout(function () {
                                                    window.parent.jQuery('#after-loading-success-message .timer').html(ajaxcart_sec);
                                                }, 1000);
                                            }, ajaxcart_sec * 1000);
                                        } else {
                                            if (jQuery('.header-container .cart-item-qty')) {
                                                jQuery('.header-container .cart-item-qty').html(data.totalitems);
                                            }
                                            if (jQuery('.header-container .mini-cart')) {
                                                jQuery('.header-container .mini-cart').replaceWith(data.toplink);
                                            }
                                            if (jQuery('.fixed-header .mini-cart')) {
                                                jQuery('.fixed-header .mini-cart').replaceWith(data.toplink);
                                            }
                                            if (jQuery('.sticky-header .mini-cart')) {
                                                jQuery('.sticky-header .mini-cart').replaceWith(data.toplink);
                                            }
                                            if (jQuery('.col-right .block.block-cart')) {
                                                jQuery('.col-right .block.block-cart').replaceWith(data.cart_sidebar);
                                            }
                                            jQuery('#after-loading-success-message #success-message-container .msg-box').html(data.message);
    <?php $autoclose = Mage::getStoreConfig('ajaxcart/addtocart/autoclose', $code); ?>
                                            ajaxcart_sec = <?php echo ($autoclose && is_numeric($autoclose)) ? $autoclose : 5; ?>;
                                            timer_sec = ajaxcart_sec;
                                            //jQuery('#after-loading-success-message').fadeIn(200);
jQuery('#after-loading-success-message').fadeIn(2000);
jQuery('#after-loading-success-message').fadeOut(2000);
                                            ajaxcart_timer = setInterval(function () {
                                                timer_sec--;
                                                jQuery('#after-loading-success-message .timer').html(timer_sec);
                                            }, 1000)
                                            setTimeout(function () {
                                               // jQuery('#after-loading-success-message').fadeOut(200);
                                                clearTimeout(ajaxcart_timer);
                                                setTimeout(function () {
                                                    jQuery('#after-loading-success-message .timer').html(ajaxcart_sec);
                                                }, 1000);
                                            }, ajaxcart_sec * 1000);
                                        }
                                    }
                                }
                            });
                        } catch (e) {
                        }
                        this.form.action = oldUrl;
                        if (e) {
                            throw e;
                        }
                    } else {
                        if (jQuery('#product-options-wrapper'))
                            jQuery('#product-options-wrapper').scrollToMe();
                    }
                }.bind(productAddToCartForm);
                //]]>
            </script>
        <?php else : ?>
            <script type="text/javascript">
                //<![CDATA[
                var productAddToCartForm = new VarienForm('product_addtocart_form');
                productAddToCartForm.submit = function (button, url) {
                    if (this.validator.validate()) {
                        var form = this.form;
                        var oldUrl = form.action;

                        if (url) {
                            form.action = url;
                        }
                        var e = null;
                        try {
                            this.form.submit();
                        } catch (e) {
                        }
                        this.form.action = oldUrl;
                        if (e) {
                            throw e;
                        }

                        if (button && button != 'undefined') {
                            button.disabled = true;
                        }
                    } else {
                        if (jQuery('#product-options-wrapper'))
                            jQuery('#product-options-wrapper').scrollToMe();
                    }
                }.bind(productAddToCartForm);
                //]]>
            </script>
        <?php endif; ?>
         
        <script type="text/javascript">
            productAddToCartForm.submitLight = function (button, url) {
                alert(1);
                if (this.validator) {
                    var nv = Validation.methods;
                    delete Validation.methods['required-entry'];
                    delete Validation.methods['validate-one-required'];
                    delete Validation.methods['validate-one-required-by-name'];
                    // Remove custom datetime validators
                    for (var methodName in Validation.methods) {
                        if (methodName.match(/^validate-datetime-.*/i)) {
                            delete Validation.methods[methodName];
                        }
                    }
                    if (this.validator.validate()) {
                        if (url) {
                            this.form.action = url;
                        }
                        this.form.submit();
                    }
                    Object.extend(Validation.methods, nv);
                } else {
                    if (jQuery('#product-options-wrapper'))
                        jQuery('#product-options-wrapper').scrollToMe();
                }
            }.bind(productAddToCartForm);
          </script>
         </div>
<br />
                <div class="graphical_nutrition">
                    <?php echo $this->getChildHtml('graphical_nutrition'); ?> 
                </div>
                <br />
        <div class="description-part">
            <?php echo $this->getChildHtml('product_additional_data'); ?> 
        </div>
    </div>
    </div>
   </div>
    <div class="product-collateral">
        <!--div class="row">
                <div class="product-img-box col-sm-<?php //echo Mage::getStoreConfig("porto_settings/product_view/product_image_size", $code); ?> <?php echo Mage::getStoreConfig("porto_settings/product_view/thumbnail_image_type", $code); ?>">
                </div>
            <!--------------------description part------------------------------>
            <!--div class="product-shop col-sm-<?php// echo 12 - Mage::getStoreConfig("porto_settings/product_view/product_image_size", $code); ?>">
                <!--h2 class="content_title"><?php //echo $this->__('ITEM DETAILS');   ?></h2-->
                <?php //echo $this->getChildHtml('product_additional_data'); ?> 
            <!--/div>
    </div-->
    <?php /*
      <div class="product-collateral">
      <h2 class="content_title"><?php echo $this->__('ITEM DETAILS'); ?></h2>
      <?php echo $this->getChildHtml('product_additional_data'); ?>
      </div>
     * 
     */ ?>
    <div class="product-sellers col-xs-12">
        <div id="product-sellers-html">
            <?php echo $this->getChildHtml('product_sellers_info'); ?>
        </div> 
        <?php if ($assfound): ?>
            <script type="text/javascript">
                jQuery(document).ready(function ($) {
                   // $("#other-sellers-act").trigger('click');
                });
            </script> 
        <?php endif; ?>
    </div>
    <?php //print_r($seller_id);?> 
    <?php
    $quickview = 0;
    $quickview = Mage::registry('quickview');
    if (!$quickview) {
        ?>
        <div class="col-xs-12 owl-top-narrow">
            <?php echo $this->getChildHtml('recently_viewed'); ?>
        </div>

        <div class="col-xs-12 owl-top-narrow">
            <?php echo $this->getChildHtml('products_related'); ?>
        </div>

    <?php } // echo $this->getChildHtml('upsell_products');   ?>
</div>
 
<script type="text/javascript">
    jQuery(function ($) {
        $("body.quickview-index-view .no-rating a, body.quickview-index-view .ratings a").off('click').on("click", function (e) {
            window.parent.location.href = $(this).attr("href");
            window.parent.jQuery.fancybox.close();
        });
<?php
if ($enable_addtocart_sticky) {
    ?>
            p_scrolled = false;
            $(window).scroll(function () {
                if (400 < $(window).scrollTop() && !p_scrolled) {
                    $('.sticky-product').removeClass("hide");
                    p_scrolled = true;
                }
                if (400 >= $(window).scrollTop() && p_scrolled) {
                    $('.sticky-product').addClass("hide");
                    p_scrolled = false;
                }
            });
    <?php
}
?>
<?php
if ($move_product_tab) {
    ?>
            $(".product-info").before($(".product-tabs"));
    <?php
}
?>
    });


  jQuery('#attribute285').on('change',function(){ //alert(657);return false;
      //addtocart button hide show
      $id_span = jQuery(this).val();
      if(jQuery('.span'+$id_span).hasClass('out-of-stock')){
          jQuery('.add-to-cart').hide();
      }else{
          jQuery('.add-to-cart').show();
      }
      //seller name change
     var seller_str = '<?php echo json_encode($seller_id);?>';
      var seller = jQuery.parseJSON(seller_str);
     // alert(jQuery('.sold-by-container').find('p:first').text());
      jQuery('.sold-by-container').find('p:first').text(seller[jQuery(this).val()].name);
      var url = jQuery('#product_addtocart_form').attr('action');
     
     //seller_id change in submit url
      var seller_param = (url.split('product_seller/')[1] || '').split('&')[0];
      var id_seller = seller[jQuery(this).val()].id;
      var ratingval = seller[jQuery(this).val()].rating;
      url = url.replace('product_seller/'+seller_param,'product_seller/'+id_seller+'/');
      jQuery('#product_addtocart_form').attr('action',url);
      
      //seller rating change
      var id_rating = 'current_product_seller-'+id_seller;
      jQuery('.currentproductseller').attr('id',id_rating);
      jQuery("#"+id_rating).rateYo("option", "rating", ratingval);
  }); 
</script>

<!--style for email-friend-->