<?php
$videoscollection = $this->getVideosCollection();  //echo $videoscollection->getSize();exit;
$info = $this->getVideosProfileInfo(); // echo 888;echo "<pre>";print_r(Mage::helper('tribevideos')->isActionallowed($info));exit;
$profileimage = '';
$width = Mage::getStoreConfig('videos/general/profile_icon_width');
$height = Mage::getStoreConfig('videos/general/profile_icon_height');
$fimg_width = Mage::getStoreConfig('videos/general/featured_image_width');
$fimg_height = Mage::getStoreConfig('videos/general/featured_image_height');
if ($info['trcr_profile_pic']) {
    $profileimage = Mage::helper('arccore')->resizeImg($info['trcr_profile_pic'], $width, $height);
}
?>
<?php if ($videoscollection->getSize()): ?>
    <?php foreach ($videoscollection as $videos): ?>
        <div class="mosaicflow__item" id="photo_item_<?php echo $videos->getId(); ?>">
            <div class="note-wrapper photo-wrapper">
                <div class="note_meta photo_meta">
                    <?php if ($profileimage): ?>
                        <span class="note_prifile_img">
                            <img src="<?php echo $profileimage; ?>" alt="<?php echo $info['trcr_name']; ?>" />
                        </span>
                    <?php endif; ?>
                    <div class="note-date-name-div">
                        <span class="profile_name">
                            <?php echo $info['trcr_name']; ?>
                        </span>
                        <br/>
                        <span class="note_created_at">
                            <?php echo date("d-m-Y h:i:s", strtotime($videos->getCreatedAt())); ?>
                        </span>
                    </div>
                    <?php if (Mage::helper('tribephotos')->isActionallowed($info)): ?>
                        <div class="note-action-div fa fa-ellipsis-v">
                            <ul> 
                                <li><a href="javascript:void(0);" onclick="editvideo(<?php echo $videos->getEntityId(); ?>)"><i class="fa fa-pencil"></i> Edit</a></li>
                                <li><a href="javascript:void(0);" onclick="deletevideo(<?php echo $videos->getEntityId(); ?>)"><i class="fa fa-close"></i> Delete</a></li>
                            </ul>
                        </div>
                    <?php endif; ?>
                </div>
                <?php
                // $indvidual_url_key = Mage::helper('tribevideos)->getSingleVideoUrl($info['trcr_username'], $videos->getTrcrUrlkey())
                ?>
                <div class="note_title">
                    <h1 title="<?php echo $videos->getTrcrTitle(); ?>">
                        <?php echo $videos->getTrcrTitle(); ?>
                    </h1>
                </div>
                <?php
                if ($videos->getTrvdVideoOembed()):
                    ?>
                    <div class="photo_featured_img">
                        <?php
                        $content = (array) json_decode($videos->getTrvdVideoOembed());
                        echo $content['html'];
                        ?>

                    </div>
                <?php endif; ?>
            </div>
        </div>
    <?php endforeach; ?>
<?php endif; ?>