<?php
$videocollection = $this->getVideoInfo();
$info = $this->getCurrentProfileInfo();
$profileimage = '';
$width = Mage::getStoreConfig('videos/general/profile_icon_width');
$height = Mage::getStoreConfig('videos/general/profile_icon_height');
$fimg_width = Mage::getStoreConfig('videos/general/single_fimg_width');
$fimg_height = Mage::getStoreConfig('videos/general/single_fimg_height');
if ($info['trcr_profile_pic']) {
    $profileimage = Mage::helper('arccore')->resizeImg($info['trcr_profile_pic'], $width, $height);
}
if ($videocollection->getSize()):
    ?>
    <div id="single-note-container" class="single-note-container">
        <?php foreach ($videocollection as $video): ?>
            <div class="single-note-wrapper">
                <div class="note_meta">
                    <?php if ($profileimage): ?>
                        <span class="single-note_prifile_img">
                            <img src="<?php echo $profileimage; ?>" alt="<?php echo $info['trcr_name']; ?>" />
                        </span>
                    <?php endif; ?>
                    <span class="profile_name">&nbsp;
                        <?php echo $info['trcr_name']; ?>
                    </span>
                    <span class="note_created_at fltrht">
                        <?php echo date("d-m-Y h:i:s", strtotime($video->getCreatedAt())); ?>
                    </span>
                    <div class='clearfix clearer'></div>
                </div>
                <div class="note_title">
                    <h1 title="<?php echo $video->getTrcrTitle(); ?>"><?php echo $video->getTrcrTitle(); ?></h1>
                </div>
                 <?php
                        if ($video->getTrvdVideoOembed()):
                            ?>
                            <div class="photo_featured_img">
                                <?php
                                    $content = (array) json_decode($video->getTrvdVideoOembed());
                                     echo $content['html'];
                                ?>
                               
                            </div>
                        <?php endif; ?>
            </div>
        <?php endforeach; ?>
    </div>
    </div>
    <style type="text/css">
        .single-note_prifile_img img{border-radius: 50%;}
        .note_meta span{display:inline-block;vertical-align:middle;}
    </style>
<?php else: ?>
    <p><?php echo $this->__('This Video Not Found for this profile !'); ?></p>
<?php endif; ?>