<?php $menuHelper = Mage::helper('megamenu'); ?>
<li class="left-top-links">
    <a href="<?php echo $this->getUrl() ?>"> 
        <span class="fa fa-home navhome"></span>
        <span class="nav-menu">Home</span>
    </a>
</li>
<li class="accord">
    <a href="javascript:void(0)" class="pull-left">
        <span class="shpbyStoreIco"></span>
        <span class="nav-menu">Find a Store</span>
    </a>
    <i class='fa fa-chevron-down pull-right plsMinus'></i>
    <div class="clearfix"></div>
    <?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('shop_by_store')->toHtml(); ?>
</li>
<li id="shopbycategory" style="position: relative;" class="accord">
    <a href="JavaScript:void(0);" class="pull-left">
        <span class="shpbyCateIco"></span>
        <span class="nav-menu">Shop by Categories</span>
    </a>
    <i class='fa fa-chevron-down pull-right plsMinus'></i>
    <div class="clearfix"></div>
    <ul>
        <?php echo $menuHelper->getMobileMenuContent(true); ?>
    </ul>
</li>

<?php
$_links = $this->getLinks();
if (count($_links) > 0):
    foreach ($_links as $_link):
        ?>
        <?php if ($_link instanceof Mage_Core_Block_Abstract): ?>
            <?php /*
              <li><a href="<?php echo $_link->getUrl() ?>" title="<?php echo $this->__('Home'); ?>"><i class="fa fa-home"></i><span class="nav-menu">Home1</span></a>
              </li>
             * */ ?>
        <?php else: ?>
            <?php if ($_link->getTitle() != 'Search') : ?>
                <li class="left-top-links<?php if ($_link->getIsFirst()): ?>first<?php endif; ?><?php if ($_link->getIsLast()): ?> last<?php endif; ?>" <?php if ($_link->getIsFirst() || $_link->getIsLast()): ?> <?php endif; ?> <?php echo $_link->getLiParams() ?>>
                    <a href="<?php echo $_link->getUrl() ?>" <?php echo $_link->getaParams() ?>" title="<?php echo $_link->getTitle() ?>" <?php echo $_link->getAParams() ?>> <i class="<?php echo $_link->getBeforeText() ?>"></i><span class="nav-menu"><?php echo $_link->getLabel() ?></span></a><?php echo $_link->getAfterText() ?>
                </li>
            <?php endif; ?>
        <?php endif; ?>
    <?php endforeach; ?>  
<?php endif; ?>
<!--End-->
<style type="text/css">
    
</style>
<script type="text/javascript">
    jQuery(document).ready(function ($) {
        $(".menu-item-has-children > a").each(function(){
            $(this).attr('href','javascript:void(0);');
            $(this).next('i').remove();
            $(this).append("<i class='fa fa-chevron-down pull-right plsMinus'></i>");
        });
        $(".menu-item-has-children").each(function(){
            $(this).closest('ul').addClass('show-category');
        });
        //$(".sub-cat > .menu-item").click(function(event){
           // event.stopPropagation();
       // });
        $(".act").click(function(event){
            event.stopPropagation();
        });
        $(".menu-item-has-children").click(function(event){
            event.stopPropagation();
            var obj = $(this).find('i').first();
            if (obj.hasClass('fa-chevron-down')) {
                $(this).find("ul").first().slideDown(800);
                obj.removeClass('fa-chevron-down').addClass('fa-chevron-up');
            } else {
                $(this).find("ul").first().slideUp(800);
                obj.removeClass('fa-chevron-up').addClass('fa-chevron-down');
            }
        });
        $(".accord").click(function(e){
            var obj = $(this).find('i').first();
            if(obj.hasClass('plsMinus')){
                if (obj.hasClass('fa-chevron-down')) {
                    obj.parent().find("ul").first().slideDown(800);
                    obj.removeClass('fa-chevron-down').addClass('fa-chevron-up');
                } else {
                    obj.parent().find("ul").first().slideUp(800);
                    obj.removeClass('fa-chevron-up').addClass('fa-chevron-down');
                }
            }
        });
    });
</script>