body{background:url('http://sites.fedobe.net/ecociate/media/wysiwyg/porto/homepage/slider/01/eco-bg.jpg') 50% 97.3% / cover; background-attachment:fixed;}
.main-container{background: url('../../media/tribe/defaultimages/eco-bg.jpg') 80% center no-repeat; padding: 0px;}