<?php
$data = $this->getElementdata();
$id = $data['id'];
$name = $data['name'];
$editflag = 0;
if ($data['value']) {
    $latinfo = explode(',', $data['value']);
    $lat = $latinfo[0];
    $long = $latinfo[1];
    //$editflag = 1;
} else {
    $lat = 51.5309;
    $long = -0.1044;
}
?>
<body style="margin:0;width:100%;height:100%">
    <input type='hidden' id='<?php echo $id; ?>_hdn' name='<?php echo $name; ?>' value='<?php echo $value; ?>' />
    <div id="<?php echo $id; ?>" class="tribemap" style="height: 300px"></div>
</body>
<!--<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAfHJf-bCaExNdDPM8ZDcAVCFGKdvqYFQk&callback=initMap"></script>-->
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
<script type="text/javascript">
    google.maps.event.addDomListener(window, 'load', initialize);
    var map;
    var eleid = '<?php echo $id; ?>';
    var editflag = <?php echo $editflag; ?>;
    function initialize() {
        $(eleid).update(''); 
        if (editflag) {
            var latitude = <?php echo $lat; ?>;
            var longitude = <?php echo $long; ?>;
            comonaction(latitude, longitude);
        } else {
            var finaladdress = '';
            var final_latlong = '';
            var addressstr = ''; //alert(345);return false;
            var seller_country = $('trse_country')[$('trse_country').selectedIndex].text;//alert(seller_country);return false;
            var seller_state = $('trse_state').getValue();
            var seller_city = $('trse_city').getValue();
            var seller_pin = $('trse_pin').getValue();
            var seller_street_address_one = $('trse_street_address_one').getValue();
            var seller_street_address_two = $('trse_street_address_two').getValue();
            if (seller_city)
                addressstr = seller_city + ",";
            if (seller_state)
                addressstr += seller_state + ",";
            if (seller_pin)
                addressstr += seller_pin + ",";
            if (seller_country)
                addressstr += seller_country;
           if (seller_street_address_one)
                finaladdress = seller_street_address_one + addressstr;
            else if (seller_street_address_two)
                finaladdress = seller_street_address_two + + addressstr;
            else
                finaladdress = addressstr;
            //Here let's get the lat & long from address
            //alert(finaladdress);return false;
            if (finaladdress) {
                var geocoder = new google.maps.Geocoder();
                geocoder.geocode({'address': finaladdress}, function (results, status) {
                    if (status == 'OK') {//alert(results.toSource());return false;
                        var latitude = results[0].geometry.location.lat();
                        var longitude = results[0].geometry.location.lng();
                        comonaction(latitude, longitude);
                    } else {
                        var latitude = <?php echo $lat; ?>;
                        var longitude = <?php echo $long; ?>;
                        comonaction(latitude, longitude);
                    }
                    
                });
               
               // alert(latitude);return false;
            } else {
                var latitude = <?php echo $lat; ?>;
                var longitude = <?php echo $long; ?>;
                comonaction(latitude, longitude);
            }
        }
    }
    ;
    function comonaction(latitude, longitude) {
        var latlng = {lat: latitude, lng: longitude};
        map = new google.maps.Map(document.getElementById(eleid), {
            center: latlng,
            zoom: 10,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        });
        var marker = new google.maps.Marker({
            position: latlng,
            map: map,
            title: latitude + ',' + longitude,
            draggable: true
        });
        google.maps.event.addListener(marker, 'dragend', function (a) {
            var actele = document.getElementById(eleid + '_hdn');
            actele.value = a.latLng.lat() + ',' + a.latLng.lng();
        });
        google.maps.event.addListener(marker, 'click', function () {
            infowindow.open(map, marker);
        });
        var actele = document.getElementById(eleid + '_hdn');
        actele.value = latitude + ',' + longitude;
        google.maps.event.trigger(map, 'resize');
    }
    function reloadmap() {
        initialize();
        setTimeout(function () {
            google.maps.event.trigger(map, 'resize');
        }, 1000);
    }
    $$('.Direction').each(function (element) {
        element.observe('click', reloadmap);
    })

</script>
<style type="text/css">
    .tribemap img { max-width: none !important; }
</style>