<?php if ($this->canShowBlock()): ?>
    <?php if (!$this->getRequest()->isAjax()): ?>
        <div id="layered-navigation">
        <?php endif; ?>
        <div class="block block-layered-nav<?php if (!$this->getLayer()->getState()->getFilters()): ?> block-layered-nav--no-filters<?php endif; ?>">

            <div class="block-content toggle-content">
                <?php echo $this->getStateHtml() ?>
                <?php //if ($this->getLayer()->getState()->getFilters()): ?>
                    <!--div class="actions"><a href="<?php //echo $this->getClearUrl() ?>"><?php echo $this->__('Clear All') ?></a></div-->
                <?php //endif; ?>
                <?php if ($this->canShowOptions()): ?>
                    <!-- <div class="block-title">
                        <strong><span><?php echo $this->__('Shop By') ?></span></strong>
                    </div> -->
                    <dl id="narrow-by-list">
                        <span class="pull-left"><i class="fa fa-filter" aria-hidden="true"></i> :</span>
                        <?php $_filters = $this->getFilters() ?>
                        <?php foreach ($_filters as $_filter): //echo get_class($_filter);?>
                            <?php if ($_filter->getItemsCount()): ?>
                                <dt><?php echo $this->__($_filter->getName()) ?>&nbsp;<i class="fa fa-chevron-circle-right"></i></dt>
                                <dd id="catalin_layered_<?php echo strtolower($_filter->getName()) ?>"><?php echo $_filter->getHtml() ?></dd>
                            <?php endif; ?>
                        <?php endforeach; ?>
                    </dl>
                    <script type="text/javascript">decorateDataList('narrow-by-list')</script>
                <?php endif; ?>
            </div>
        </div>
        <?php if (!$this->getRequest()->isAjax()): ?>
        </div>
    <?php endif; ?>
<?php endif; ?>
