<?php
//bhagyashree
$submitAction = Mage::getUrl('tribestatus/Status/getReport');
$loaderpath = Mage::getBaseUrl('media') . 'tribe/defaultimages/loader1.gif';
//bhagayshree
$statuscollection = $this->getStatusInfo();
$info = $this->getCurrentProfileInfo();
$profileimage = '';
$width = Mage::getStoreConfig('notes/general/profile_icon_width');
$height = Mage::getStoreConfig('notes/general/profile_icon_height');
$fimg_width = Mage::getStoreConfig('notes/general/single_fimg_width');
$fimg_height = Mage::getStoreConfig('notes/general/single_fimg_height');
if ($info['trcr_profile_pic']) {
    $profileimage = Mage::helper('arccore')->resizeImg($info['trcr_profile_pic'], $width, $height);
}
if ($statuscollection->getSize()):
    ?>
    <div id="single-note-container" class="single-note-container">
        <?php foreach ($statuscollection as $status): ?>
            <div class="single-note-wrapper">
                <div class="note_meta">
                    <?php if ($profileimage): ?>
                        <span class="single-note_prifile_img">
                            <img src="<?php echo $profileimage; ?>" alt="<?php echo $info['trcr_name']; ?>" />
                        </span>
                    <?php endif; ?>
                    <span class="profile_name">&nbsp;
                        <?php echo $info['trcr_name']; ?>
                    </span>
                    <span class="note_created_at fltrht">
                        <?php echo date("d-m-Y h:i:s", strtotime($status->getCreatedAt())); ?>
                    </span>
                    <div class='clearfix clearer'></div>
                </div>
                <div class="note_title">
                    <h1 title="<?php echo $status->getTrcrTitle(); ?>"><?php echo $status->getTrcrTitle(); ?></h1>
                </div>
                <?php
                if ($status->getTrstFeaturedImg()):
                    $note_featured_image = Mage::helper('arccore')->resizeImg($status->getTrstFeaturedImg(), $fimg_width, $fimg_height);
                    ?>
                    <div class="note_featured_img">
                        <img src="<?php echo $note_featured_image; ?>" alt="<?php echo $info['trcr_name']; ?>" style="width:100%;"/>
                    </div>
                <?php endif; ?>
                <div class="note_desc">
                    <div class="note_less">
                        <?php echo $status->getTrstStatusUpdate(); ?>
                    </div>
                </div>
            </div>
        <?php endforeach; ?>
        <div class="Report pull-left" title="Click to report it as an unappropriated note to admin "><a onclick="reporttoadmin()" href="javascript:void(0)" class="btnlink">Report</a></div>
        <div class="reported_div" title="Reported to admin" style="display:none;"><strong>Reported...</strong></div>
        
       <div class="soc-icon" style="float:right;">
        <a title="click to share" href="javascript:void(0);" target="_blank" class="fbShare">
            <img src=<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_SKIN).'/frontend/fedobe/ecociate/images/FB.svg';?> alt="" width="34" />
        </a>
         <a title="click to share" class="twitter-share-button twtShare" href="javascript:void(0);" target="_blank" style="top:0px;">
            <img src=<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_SKIN).'/frontend/fedobe/ecociate/images/twit.svg';?> alt="" width="34" />
        </a>
       </div> 
       <div id="loaderspan" style="display:none;"><img src="<?php echo $loaderpath ?>"></div>
        
    </div>
    </div>
    <style type="text/css">
        .single-note_prifile_img img{border-radius: 50%;}
        .note_meta span{display:inline-block;vertical-align:middle;}
    </style>
<?php else: ?>
    <p><?php echo $this->__('This Notes Not Found for this profile !'); ?></p>
<?php endif; ?>







<script type='text/javascript'>
  jQuery(document).ready(function(){
      
      //bhagayshree
      jQuery('.twitter-share-button').attr('href','https://twitter.com/intent/tweet?url='+window.location.href);
      jQuery('.fbShare').attr('href','https://www.facebook.com/sharer/sharer.php?u='+window.location.href);
      //bhagyashree
   
});  

function reporttoadmin(){
    jQuery('#loaderspan').show();
    var url = "<?php echo $submitAction; ?>";
    var note_title = "<?php echo $status->getTrcrTitle(); ?>";
    var cust_uname = "<?php  echo Mage::getSingleton('customer/session')->getCustomer()->getName(); ?>";
    <?php
    $statuscollection = $this->getAllStatus();
    $info = $this->getCurrentProfileInfo();
    ?>
    var note_link = "<?php echo Mage::helper('tribestatus')->getSingleStatusUrl($info['trcr_username'], $status->getTrcrUrlkey());  ?>";
    var profile_url = "<?php echo Mage::helper('tribecore')->getProfileUrl(); ?>";
    jQuery.ajax({
                        url: url,
                        type: "POST",
                        data: {note_title: note_title,cust_uname: cust_uname,note_link: note_link,profile_url:profile_url},
                        success: function (result) {
                            jQuery('#loaderspan').hide();
                            jQuery('.Report').hide();
                            jQuery('.reported_div').show();
                        }
                    });
}
</script>

