<?php
$helper = $this->helper('tribeseller');
?>
<!--form id="search_mini_form" action="javascript:void(0)" onsubmit="return false;">
    <div class="form-search col-xs-10 col-xs-offset-1">
        <input id="search" type="text" class="search_area" placeholder="Search ecociate.com" />
        <button type="submit" class="btnSearch button" value="" id="search_btn"><i class="icon-search"></i></button>
        <div class="no-rslt"style="display:none;">No Record Found...</div>
        <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
        <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
        <script type="text/javascript">
    //<![CDATA[
    jQuery(function ($) {
        var cache = {};
        $("#search").autocomplete({
            minLength: 2,
                source: function (request, response) {
                var term = request.term;
                if (term in cache) {
                    response(cache[ term ]);
                    return;
                }
                $.getJSON("<?php //echo $helper->getGlobalSearchurl(); ?>", request, function (data, status, xhr) {
                    if(data != ""){
                       //console.log("exist"); 
                       $('.no-rslt').attr('style','display:none');
                    }else{
                      //  console.log("not exist");  
                        //here
                    $('.no-rslt').removeAttr('style');
                    
                    }
                    cache[ term ] = data;
                    response(data);
                });
            }, select: function (event, ui) {
                window.location.href = ui.item.url;
                return false;
            }
        }).autocomplete("instance")._renderItem = function (ul, item) {
            return $("<li>")
                    .append("<a href='" + item.url + "'><div title='" + item.title + "'>" + item.html +  "<span class='fltrht item-type'>"+item.type + "</span><div class='clrbth'></div></div></a>")
                    //.append("<div title='" + item.title + "'>" + item.html +  "<span class='fltrht item-type'>"+item.type + "</span><div class='clrbth'></div></div>")
                    .appendTo(ul);
        };
    });
    //]]>
    jQuery("#search_btn").on('click',function(){
        var search_val = jQuery('#search').val();
        if(search_val){
        var url = '<?php //echo Mage::getBaseUrl(); ?>'+'catalogsearch/result/?q='+search_val;
        window.location.href = url;
        }
    });
        </script>
    </div>
</form-->
<div class="clearfix"></div>
<span class='fltlft'></span><span class='fltrht'></span><span class='clrbth'></span>
<style type="text/css">
    .fltlft{float:left;}
    .fltrht{float:right;}
    .clrbth{clear:both;}
</style>