<?php 
    $uniquename = "fedobe".uniqid(); 
    if(Mage::getStoreConfig('avatar_modules/general1/enable_module'))
    {
    $get = $this->parameterValue();
     if($get['product_type'] == "allproduct"):
            $_productCollection = Mage::helper('productgrid')->getAllProductCollection($get['categories'],$get['attributes'], $get['multi_seller']);
            $heading = $get['heading'];  
        elseif($get['product_type'] == "recently-added"):
            $_productCollection = Mage::helper('productgrid')->getRecentlyAddedProductCollection($get['categories'],$get['attributes'],$get['multi_seller']);
            $heading = $get['heading'];
        elseif($get['product_type'] == "best-seller"):
            $_productCollection = Mage::helper('productgrid')->getBestSellerProductCollection($get['categories'],$get['attributes'],$get['multi_seller']);
            $heading = $get['heading'];
        elseif($get['product_type'] == "featured"):
            $_productCollection = Mage::helper('productgrid')->getFeaturedProductCollection($get['multi_seller']);//echo "testing1";
            $heading = $get['heading'];  
        endif;
?>     
<?php     $isMobileDetect = Zend_Http_UserAgent_Mobile::match(Mage::helper('core/http')->getHttpUserAgent(), $_SERVER);
        if($get['product_device'] > 1){ ?>
<?php if($get['productgrid_items'] > 0) : ?>
<div class="grid-container" style = "background:#fff;">
    <div class="grid-container">
<?php if($get['heading']): ?>
        <div class="productgrid-header"> 
            <h2 class="productgrid-title"><span><?php echo $heading; ?></span></h2>
        </div>
<?php endif; ?>
        <div class="customshow">
            <ul class="new-custom_block <?php echo $uniquename; ?> clearer">
                <div class="products-grid centered clearer row">
                <?php  foreach ($_productCollection as $_product) { ?>
                <li class="col-xs-12 col-md-4 col-sm-2">
                    <div class="product-image-wrapper">
                        <div class="product-image-wrapper">
                            <a href="<?php echo $_product->getProductUrl(); ?>" title="<?php echo $_product->getName()?>" class="product-image">
                            <img src="<?php echo $_product->getImageUrl(); ?>" alt="<?php echo $_product->getName(); ?>">
                            <?php if($get['show_product_discount']) { ?>
                              <?php  if ($_product->getSpecialPrice() > 0) : ?>
                                <span class="sticker-wrapper top-left">
                                    <span class="sticker discount">
                                        <?php if ($_product->getSpecialPrice() > 0){ echo Mage::helper('productgrid')->calcPerc($_product->getPrice(), $_product->getSpecialPrice()); } ?>
                                    </span>
                                </span>
                            <?php endif; ?>
                            <?php } ?>
                            </a>
                        </div>
                        <?php if($get['show_product_sku']) echo "<span class='p-sku'>".$_product->getSku()."</span>" ?>
                        <?php if($get['show_product_price']): ?>
                            <div class='price-box'>
                                    <?php if(!$_product->canConfigure()): ?>
                                        <?php if ($_product->getSpecialPrice() <= 0): ?>
                                            <p class="regular-price"><?php echo Mage::helper('core')->currency($_product->getPrice()); ?></p>
                                        <?php else: ?>
                                            <span class="old-price"><?php echo Mage::helper('core')->currency($_product->getPrice()); ?></span>
                                            <p class='special-price'><?php echo Mage::helper('core')->currency($_product->getSpecialPrice()); ?></p>
                                        <?php endif; ?>
                                    <?php else: ?>
                                            <span class="price" style="text-transform: capitalize">configurable Item</span>
                                    <?php endif; ?>
                            </div>
                        <?php endif; ?> 
                        <?php if($get['show_product_name']) { ?>
                        <h3 class="product-name">
                            <a href="<?php echo $_product->getProductUrl(); ?>" title="<?php echo $_product->getName()?>"><?php echo $_product->getName(); ?></a>
                        </h3>
                        <?php } ?>
                        
                         <div class="actions">
                        <div class="qty-field">
                            <label style="float:left;" for="qty">Qty:</label>
                                <div class="qty-holder">
                                    <div class="qty-changer">
                                        <a class="qty_dec" href="javascript:void(0)"><i class="fa fa-minus"></i></a>
                                        <input type="text" class="input-text qty" title="Qty" value="1" maxlength="12" id="qty_30" name="qty">
                                        <a class="qty_inc" href="javascript:void(0)"><i class="fa fa-plus"></i></a>
                                    </div>
                                </div>
                            </div>                                                                <a onclick="setLocationAjax(this,'http://sites.fedobe.net/ecociate/index.php/checkout/cart/add/uenc/aHR0cDovL3NpdGVzLmZlZG9iZS5uZXQvZWNvY2lhdGUvQHNtYXJ0ZmluYWwvc3RvcmU,/product/30/form_key/3E7rz2yUS0larCQE/product_seller/1/','30')" title="Add to Cart" class="addtocart" href="javascript:void(0)"><i class="icon-cart"></i><span>&nbsp;Add to Cart</span></a>
                            <div class="clearer"></div>
                    </div>
                        <?php if($get['show_product_addtocart']){ ?>
                            <?php if (!$_product->canConfigure() && $_product->isSaleable()): ?>
                                <a href="<?php echo Mage::helper('checkout/cart')->getAddUrl($_product) ?>">
                                    <!--<button type="button" title="Add to Cart" id="product-addtocart-button" class="button btn-cart"><span><span>Add to Cart</span></span></button>-->
                                </a>
                            <?php elseif ($_product->getStockItem() && $_product->getStockItem()->getIsInStock()): ?>
                                <a href="<?php echo $_product->getProductUrl() ?>">
                                    <button type="button" title="View Details" id="product-addtocart-button" class="button btn-cart"><span><span>View Details</span></span></button>
                                </a>
                            <?php else: ?>
                                    <button type="button" title="Out of Stock" id="product-addtocart-button" class="button btn-cart"><span><span>Out of Stock</span></span></button>
                            <?php endif; ?>
                        <?php } ?>                                 
                    </div>
                </li>
                <?php } ?>
                </div>
            </ul>
        </div>
    </div>
</div>
<?php endif; ?>
<?php } ?>
<?php $var = $get['productgrid_items'] / $get['columns']; 
$floorvar = floor($var);
$result = ($get['columns'] * $floorvar) + 1;
?>
<style>
<?php if($get['columns'] > 0) : ?>
.customshow #product-addtocart-button span{ width: auto; }
.customshow span.sticker.discount { width:50px; height:25px;}
.new-custom_block{
    margin:0;
    padding:0;

}
.new-custom_block .centered {
    text-align: center;
}
.new-custom_block.<?php echo $uniquename;?> li {
    list-style: none;
    display: block;
    float:left;
    width: <?php echo (100/$get['columns'])-0.1."%";?>;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;

}
.new-custom_block.<?php echo $uniquename;?> li:nth-child(<?php echo $get['columns'];?>n) {
    border-right: none;
}
<?php if($get['columns']*$floorvar == $get['productgrid_items']){?>

.new-custom_block.<?php echo $uniquename;?> li:nth-child(n+<?php echo ($get['productgrid_items']-$get['columns'])+1;?>) {
    border-bottom: none;
}
<?php } else{ ?>
.new-custom_block.<?php echo $uniquename;?> li:nth-child(n+<?php echo $result;?>) {
    border-bottom: none;
}
<?php } ?>

<?php endif; ?>
</style>
 <?php if(@$get['style_type']=='ecociate'){?>
       <link rel="stylesheet" type="text/css" href="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_SKIN).'frontend/fedobe/ecociate/css/ecociate.css'; ?>" media="all" />
    <?php }else{ ?>
<style>
<?php echo ".".$uniquename; ?> .p-price .old-price {
            color: <?php echo $get['price_color']; ?>;
            margin-right: 20px;
            text-decoration: line-through;
        }
        <?php echo ".".$uniquename; ?> .p-price .price {
            color: <?php echo $get['price_color']; ?>;
            font-size:16px;
            text-align:left;
            color:#72bf03;
        }
        <?php echo ".".$uniquename; ?> .p-price .old-price, <?php echo ".".$uniquename; ?> .p-price .new-price{
            display: inline;
        }
        <?php echo ".".$uniquename; ?> .p-price .new-price .price{
            color: <?php echo $get['new_price_color']; ?>;
        }
          
    <?php echo ".".$uniquename; ?> .darkcan {
      background: <?php echo $get['link_color']; ?>;
    }
    <?php echo ".".$uniquename; ?> .darkcan:hover { 
      background: <?php echo $get['link_hover_color'] ?>;
      <!--border-color: #000000!important;-->
    }
    <?php echo ".".$uniquename; ?> #owl-example .item{
     border-color: <?php echo $get['border_color']; ?>;
     border-width: <?php echo $get['border_width']; ?>;
     border-style: <?php echo $get['border_type']; ?>;
     padding:15px 4px;
    }
    <?php echo ".".$uniquename; ?> .owl-item .item h5.p-name{
     color: <?php echo $get['text_color'] ?>;
     margin: 10px 0;
     <!--height: 3em;-->
     line-height: 1.35;
     font-size:16px;
     overflow: hidden;
     font-weight:normal;
    }
    <?php echo ".".$uniquename; ?> .button.btn-cart{
      background: <?php echo $get['button_background_color']; ?>;
      color: <?php echo $get['button_text_color']; ?>;
    }
    <?php echo ".".$uniquename; ?> .button.btn-cart:hover {
      background: <?php echo $get['button_hover_color']; ?>;
      color: <?php echo $get['button_hover_text_color']; ?>;
    }
    <?php echo ".".$uniquename; ?> .owl-theme .owl-controls .owl-buttons div{
      background: <?php echo $get['global_theme_color']; ?>;
      opacity: 1;
    }
    <?php echo ".".$uniquename; ?> .owl-theme .owl-controls.clickable .owl-buttons div:hover{
      opacity: 0.5;
    }
   <?php echo ".".$uniquename; ?> .owl-theme .owl-controls .owl-page span{
       background: <?php echo $get['global_theme_color']; ?>;
   }
   

   <?php if($get['navigation_button_position'] == "topright"){ ?>
   <?php echo ".".$uniquename; ?> .owl-controls .owl-buttons div{
    float: left;
    display: block;
    width: 30px;
    height: 30px;
    background-image: url(<?php echo $this->getSkinUrl('productgrid/images/slider-arrows.png'); ?>)!important;
    border-radius: 0px!important;
    background-repeat: no-repeat;
    background-color: #e5e5e5;
    cursor: pointer;
    text-decoration: none;
    text-indent: -9999px;
    overflow: hidden;
    -webkit-transition: opacity 300ms ease-in-out, background-color 300ms ease-in-out, background-position 300ms ease-in-out;
   }
   <?php echo ".".$uniquename; ?> .owl-controls .owl-buttons .owl-prev {
        background-position: -10px -10px!important;
    }
     <?php echo ".".$uniquename; ?> .owl-controls .owl-buttons .owl-next {
        background-position: -60px -10px!important;
    }
    <?php echo ".".$uniquename; ?> .owl-controls .owl-buttons{
        position: absolute;
        top: -40px;
        right: 0;
    }
    <?php } ?>
    <?php if($get['navigation_button_position'] == "bottomright"){ ?>
        <?php echo ".".$uniquename; ?> .owl-controls .owl-buttons div{
            float: left;
            display: block;
            width: 30px;
            height: 30px;
            background-image: url(<?php echo $this->getSkinUrl('productgrid/images/slider-arrows.png'); ?>)!important;
            border-radius: 0px!important;
            background-repeat: no-repeat;
            background-color: #e5e5e5;
            cursor: pointer;
            text-decoration: none;
            text-indent: -9999px;
            overflow: hidden;
            -webkit-transition: opacity 300ms ease-in-out, background-color 300ms ease-in-out, background-position 300ms ease-in-out;
       }
       <?php echo ".".$uniquename; ?> .owl-controls .owl-buttons .owl-prev {
            background-position: -10px -10px!important;
        }
         <?php echo ".".$uniquename; ?> .owl-controls .owl-buttons .owl-next {
            background-position: -60px -10px!important;
        }
        <?php echo ".".$uniquename; ?> .owl-controls .owl-buttons{
            float:right;
        }
    <?php } ?>
    <?php if($get['navigation_button_position'] == "overproductgrid"){ ?>
         <?php echo ".".$uniquename; ?> .owl-controls .owl-buttons div{
            float: left;
            display: block;
            width: 30px;
            height: 30px;
            background-image: url(<?php echo $this->getSkinUrl('productgrid/images/slider-arrows.png'); ?>)!important;
            border-radius: 0px!important;
            background-repeat: no-repeat;
            background-color: #e5e5e5;
            cursor: pointer;
            text-decoration: none;
            text-indent: -9999px;
            overflow: hidden;
            -webkit-transition: opacity 300ms ease-in-out, background-color 300ms ease-in-out, background-position 300ms ease-in-out;
       }
        <?php echo ".".$uniquename; ?> .owl-controls .owl-buttons .owl-prev {
            background-position: -10px -10px!important;
            position: absolute;
            top: 150px;
            left: 0;
        }
         <?php echo ".".$uniquename; ?> .owl-controls .owl-buttons .owl-next {
             background-position: -60px -10px!important;
            position: absolute;
            top: 150px;
            right: 0;
        }
    <?php } ?>
<?php echo $get['custom_style_css']; ?> //custom css from adminpanel

</style>


 <?php } ?>
<?php }