<div class="row">
    <?php
    $seller = $this->getCurrentSeller();
    $geoinfo = explode(',', $seller->getSellerDirectionMap());
    
    $origlng= Mage::getModel('core/cookie')->get('tribe_pin_lng');
    $origlat = Mage::getModel('core/cookie')->get('tribe_pin_lat');
    if ($geoinfo):
        $lat = $geoinfo[0];
        $long = $geoinfo[1];
        ?>
        
    <div>
        <div id="locationField">
           <input id="autocomplete" placeholder="Enter your address" onFocus="geolocate()" type="text" />
           <input type="button" value="Get Direction" onclick="getDir()"/>
           <div id="floating-panel" style="display: none;">
                <b>Mode of Travel: </b>
                <select id="mode">
                    <option value="DRIVING">Driving</option>
                </select>
            </div>
        </div>
    </div>
        
        <div>
            <div id="panel" style="float: right;"></div>
            <div id="map" style="float: left;width: 100%;"></div>
            <div style="clear:both;"></div>
        </div>

        <script>
            var latitude, longitude, placeSearch, autocomplete;
            function initMap() {
                latitude = <?php echo $lat; ?>;
                longitude = <?php echo $long; ?>;
                var map = new google.maps.Map(document.getElementById('map'), {
                    zoom: 14,
                    center: {lat: latitude, lng: longitude}
                });
                var latlng = {lat: latitude, lng: longitude};
                var marker = new google.maps.Marker({
                    position: latlng,
                    map: map,
                    title: latitude + ',' + longitude,
                    draggable: false
                });
                autocomplete = new google.maps.places.Autocomplete(
                        (document.getElementById('autocomplete')), {types: ['geocode']});
                autocomplete.addListener('place_changed', calculateAndDisplayRoute);
                document.getElementById('mode').addEventListener('change', function () {
                    calculateAndDisplayRoute();
                });
                initDirection(map);
            }
            function initDirection(map){
                var directionsDisplay = new google.maps.DirectionsRenderer;
                var directionsService = new google.maps.DirectionsService;
                directionsDisplay.setMap(map);
                var selectedMode = document.getElementById('mode').value;
                directionsService.route({
                    origin: {lat: latitude, lng: longitude}, // Haight.
                    destination: {lat: <?php echo $origlat;?> , lng: <?php echo $origlng;?>}, // Ocean Beach.
                    travelMode: google.maps.TravelMode[selectedMode]
                }, function (response, status) {
                    if (status == google.maps.DirectionsStatus.OK) {
                        document.getElementById('map').style.width = "70%";
                        document.getElementById('panel').style.width = "30%";
                        document.getElementById('panel').innerHTML  = '';
                        document.getElementById('floating-panel').style.display  = 'block';
                        directionsDisplay.setDirections(response);
                        directionsDisplay.setPanel(document.getElementById('panel'));
                    } else {
                        window.alert('Directions request failed due to ' + status);
                    }
                });
            }
            
            function calculateAndDisplayRoute() {
                var directionsDisplay = new google.maps.DirectionsRenderer;
                var directionsService = new google.maps.DirectionsService;
                var map = new google.maps.Map(document.getElementById('map'), {
                    zoom: 14,
                    center: {lat: latitude, lng: longitude}
                });
                directionsDisplay.setMap(map);
                var selectedMode = document.getElementById('mode').value;
                directionsService.route({
                    origin: document.getElementById('autocomplete').value, // Haight.
                    destination: {lat: latitude, lng: longitude}, // Ocean Beach.
                    travelMode: google.maps.TravelMode[selectedMode]
                }, function (response, status) {
                    if (status == google.maps.DirectionsStatus.OK) {
                        document.getElementById('map').style.width = "70%";
                        document.getElementById('panel').style.width = "30%";
                        document.getElementById('panel').innerHTML  = '';
                        document.getElementById('floating-panel').style.display  = 'block';
                        directionsDisplay.setDirections(response);
                        directionsDisplay.setPanel(document.getElementById('panel'));
                    } else {
                        window.alert('Directions request failed due to ' + status);
                    }
                });
            }
            function geolocate() {
                if (navigator.geolocation) {
                    navigator.geolocation.getCurrentPosition(function (position) {
                        var geolocation = {
                            lat: position.coords.latitude,
                            lng: position.coords.longitude
                        };
                        var circle = new google.maps.Circle({
                            center: geolocation,
                            radius: position.coords.accuracy
                        });
                        autocomplete.setBounds(circle.getBounds());
                    });
                }
            }
            function getDir(){
                if(document.getElementById('autocomplete').value){
                    calculateAndDisplayRoute()
                }
            }
            
        </script>
<?php $apikey = Mage::helper('tribeseller')->getGoogleApiKey(); ?>
        <script async defer src="https://maps.googleapis.com/maps/api/js?key=<?php echo $apikey;?>&libraries=places&callback=initMap"></script>
        <link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500">
        <style type="text/css">
            #locationField, #controls {
                position: relative;
                width: 100%;
            }
            #autocomplete {
                top: 0px;
                left: 0px;
                width: 80%;
            }
            #locationField {
                height: 20px;
                margin-bottom: 2px;
            }

            .adp{
                margin-top: -10px;
            }
            #map {
                height: 400px;
            }
            #floating-panel {
                background-color: #fff;
                border: 1px solid #999;
                font-family: "Roboto","sans-serif";
                left: 10%;
                line-height: 30px;
                padding: 5px 5px 5px 10px;
                position: relative;
                text-align: center;
                top: 26.2%;
                width: 20%;
                z-index: 5;
            }
        </style>
    <?php else: ?>
        <p><?php Mage::helper('tribeseller')->__('Map Not found!') ?></p>
    <?php endif; ?>
</div>