<?php
$url = $this->getUrl(Mage::helper('tribeseller')->getSellerUrlKeySlug());
?>

<form class="form-horizontal" id = "my-custom-form" method="post" action="<?php echo $url; ?>">
    <fieldset>
        <div class="form-group col-md-4">
            <div class="form_dropdown">
                <select id="speciality_attr" name="seller[attr]" class="form-control">
                    <option value="">I AM LOOKING FOR</option>
                    <option value="1">Option One</option>
                    <option value="2">Option two</option>
                </select>
            </div>
        </div>
        <div class="form-group col-md-2">
            <div class="form_text_zip_code">
                <input id="pin" name="seller[pin]" type="text" placeholder="ZIP CODE OR AREA" class="form-control input-md required-entry" >
            </div>
        </div>
        <div class="form-group col-md-2">
            <div class="find_store_button">
                <input type="submit" id="singlebutton" class="btn btn-default"  value="FIND STORES " />  
            </div>
        </div>
    </fieldset>
</form>

<script type="text/javascript">
    jQuery(function ($) {
//        $("#banner-slider-demo-1").owlCarousel({autoPlay: false, stopOnHover: true, pagination: false, autoPlay: false, navigation: true, navigationText: ["<i class='icon-chevron-left'></i>", "<i class='icon-chevron-right'></i>"], slideSpeed: 500, paginationSpeed: 500, singleItem: true, transitionStyle: ""});
//            $(".main-container").remove();
    });
</script>
<script type="text/javascript">
    //< ![CDATA[
    var customForm = new VarienForm('my-custom-form', 'true');
    //]]>
</script>
<style type="text/css">
    .main.container{
        width:100%;
        height:100%;
        background:url('media/tribe/defaultimages/eco-bg.jpg') 80% center no-repeat; 
        background-size:cover;
    }
    .owl-carousel{
        display:block;
    }
    .form-horizontal .form-group {
        margin-left: 5px;
        margin-right: 5px;
        padding: 0;
    }
    .form-control{
        height: 50px;
    }
    .find_store_button button#singlebutton {
        height: 50px;
        background: #DE750A;
        padding: 0 25%;
        border-radius: 0;
        font-weight: 600;
    }

    select#selectbasic option{
        background:#575757;
        color:#DE750A ;
        font-weight: 600;

    }
    @media (min-width:0px) and (max-width:550px){
        .slide1-content .container .content-area{margin: 0 !important;}
    }
</style>