<style type="text/css">
    .test,#pin-code-popup{
        display: none;
    }
</style>
<script type="text/javascript">
    jQuery(document).ready(function () {
        jQuery("#log-in-li , #header-login-li").click(function () {
            jQuery('#pin-code-popup').show();
            beginNewsletterForm();
        });
    });


    /*
     jQuery("#log-in-li").click(function () {
     jQuery('.fancybox-overlay').show();
     //console.log("Here");
     
     jQuery('#pin-code-popup').show();
     
     jQuery('.test').show();
     jQuery.fancybox({
     'padding': '0px',
     'closeClick': false,
     'autoScale': true,
     'transitionIn': 'fade',
     'transitionOut': 'fade',
     'type': 'inline',
     'href': '#pin-code-popup',
     'onComplete': function () {
     $.cookie('pin-code-popup', 'shown');
     $.fancybox.resize();
     },
     'tpl': {
     closeBtn: '<a title="Close" class="fancybox-item fancybox-close fancybox-newsletter-close" href="javascript:;"></a>'
     },
     'helpers': {
     overlay: {
     locked: true,
     closeClick: false
     }
     }, keys: {
     close: null
     }
     });
     jQuery('#pin-code-popup').trigger('click');
     
     });
     */
</script>
<?php
$tribe_pin = Mage::getModel('core/cookie')->get('tribe_pin');
$is_loggedin = Mage::getSingleton('customer/session')->isLoggedIn();
$showpin = $showlogin = 0;
$showpopup = 1;
$skip_login = 0;
$controller_name = $this->getRequest()->getControllerName();
$action_name = $this->getRequest()->getActionName();
if (in_array($controller_name, array('account', 'sellerspage')) && in_array($action_name, array('forgotpassword', 'resetpassword', 'sellerregistration'))) {
    $showpopup = 0;
    $skip_login = 1;
}
if (!$skip_login) {
    if (!$tribe_pin && !$is_loggedin) {
        $showpin = 1;
        $showlogin = 1;
    } elseif ($tribe_pin && !$is_loggedin) {
        $showpin = 0;
        $showlogin = 1;
    } elseif ($is_loggedin && $tribe_pin) {
        $showpopup = 0;
    } elseif ($is_loggedin) {
        $showpopup = 0;
    }
}
if (Mage::getModel('core/cookie')->get('loginskiped')) {
    $showpopup = 0;
    if (Mage::getModel('core/cookie')->get('skipedat')) {
        $curtime = time();
        $savedtime = Mage::getModel('core/cookie')->get('skipedat');
        $mins = (($curtime - $savedtime) > 0) ? ($curtime - $savedtime) / 60 : 0;
        if ($mins > 2 && !$is_loggedin)
            $showpopup = 1;
    }else {
        Mage::getModel('core/cookie')->set('skipedat', time(), 3600);
    }
}
?>
<?php
$popup_html = $this->getLayout()->createBlock('core/template')->setTemplate('fedobe/tribe/seller/home.phtml')->toHtml();
$login_html = $this->getLayout()->createBlock('customer/form_login')->setTemplate('fedobe/tribe/seller/default/login.phtml')->toHtml();
?>
<?php //$showpopup = $showlogin = 0; ?> <!-- Change puru -->

<?php if ($showpopup): 
    $is_errorlogin = @$_GET['login'] ? 1 : 0;
    $is_errorregister = @$_GET['register'] ? 1 : 0;
    ?>


    <script type="text/javascript">
        <?php if($is_errorlogin || $is_errorregister){ ?>
            jQuery(window).load(function () {
                jQuery('#pin-code-popup').show();
                 beginNewsletterForm();
            });
        <?php } ?>
        function beginNewsletterForm() {
            jQuery.fancybox({
                'padding': '0px',
                'closeClick': false,
                'autoScale': true,
                'transitionIn': 'fade',
                'transitionOut': 'fade',
                'type': 'inline',
                'href': '#pin-code-popup',
                'onComplete': function () {
                    $.cookie('pin-code-popup', 'shown');
                },
                'tpl': {
                    closeBtn: '', //<a title="Close" class="fancybox-item fancybox-close fancybox-newsletter-close" href="javascript:;"></a>'
                },
                'helpers': {
                    overlay: {
                        locked: true,
                        closeClick: false
                    }
                }, keys: {
                    close: null
                }
            });
            jQuery('#pin-code-popup').trigger('click');
            <?php 
            if (@$is_errorregister) { ?>
                jQuery('#noaccount').trigger('click');
           <?php }
            ?>
        }
    </script>
    <div id="pin-code-popup" style="display: none;">
        <div class="pin-pouup-only">
            <?php echo $popup_html; ?>
        </div>
        <div class="login-popup-only">
            <?php echo $login_html; ?>
        </div>
    </div>

    <style type="text/css">
        #pin-code-popup{
            width: 400px;
            background-color:#3b3b3b;
        }
        .login-popup-only{
            display: none;
        }
        .login-popup-only{
            <?php if (!$showpin && $showlogin): ?>
                display: block;
            <?php else: ?>
                display: none;
            <?php endif; ?>
        }
        .pin-pouup-only{
            <?php if (!$showpin): ?>
                display: none;
            <?php else: ?>
                display: block;
            <?php endif; ?>
        }
    </style>
<?php endif; ?>
<?php
if (!$is_loggedin) {
    ?>
    <style>
        #account-us-li{
            display: none !important;
        }
    </style>
    <?php
}
 if ($is_errorlogin || $is_errorregister) {?>
    <style>
        .std ul.messages {
            display: none !important;
        }
        ul.messages {
            position: relative !important;
            width: 100% !important;
            left: 0% !important;
        }
        </style>
 <?php }
?>