<?php
$seller = Mage::registry('current_seller');
$id = $seller->getId();
?>
<div class="container">

    <style>
        .category-menu{width:100%;margin:30px 0 30px 0;text-align:left;}

        .category-menu-style{}

        .category-menu > a {
            background: #72bf03;
            border-radius: 20px;
            color: #fff;
            float: none;
            font-weight: bold;
            padding: 10px 12px;
            display:inline-block;
            text-decoration:none;
            position:relative;
            margin:5px;
            text-align:center;
            font-size:13px;

        }
    </style>
    <?php
   /* $layerobj = Mage::app()->getLayout()->createBlock('tribeseller/layer_view');
    $categoryfilter = $layerobj->_getCategoryFilter();
    if ($categoryfilter->getItemsCount()):
        ?>
        <section class="category-menu" id="top-cat-menu-items">
            <?php foreach ($categoryfilter->getItems() as $_item): ?> 

                <a href="<?php echo ($_item->getCount() > 0) ? $this->urlEscape($_item->getUrl()) : 'javascript:void(0)'; ?>">
                    <?php echo $_item->getLabel() ?>
                    <!--                    <?php //if ($categoryfilter->shouldDisplayProductCount()):  ?>
                                            (<?php echo $_item->getCount() ?>)
                    <?php //endif; ?>
                    -->
                </a>
            <?php endforeach ?>    
        </section>
    <?php endif;*/ ?>

    <!-- Shop News -->
    <?php if ($seller->getShopNews()): ?>
        <div class="shop-news"><?php echo $seller->getShopNews(); ?></div>
    <?php endif; ?>
</div>