<?php $posts = $this->getPosts();// print_r($posts);
$i = 0;
$fimg_width = Mage::getStoreConfig('photos/general/featured_image_width');
$fimg_height = Mage::getStoreConfig('photos/general/featured_image_height');
?>
<div id="messages_product_view">
    <?php Mage::app()->getLayout()->getMessagesBlock()->setMessages(Mage::getSingleton('customer/session')->getMessages(true)); ?> 
    <?php echo Mage::app()->getLayout()->getMessagesBlock()->getGroupedHtml(); ?> 
</div>

<?php // echo $this->getChildHtml('smartwave_blog_comments_toolbar'); ?>
<div class="posts-wrap">
<?php foreach ($posts as $post): 
    $i++;
?>
    <div class="postWrapper">
        <div class="post-date">
            <span class="day"><?php echo $post->getDay(); ?></span>
            <span class="month"><?php echo $post->getMonthShort(); ?></span>
        </div>

        <div class="postTitle">
            <h2><a class="shr-<?php echo $i;?>" href="<?php echo $post->getAddress(); ?>" ><?php echo $post->getTitle(); ?></a></h2>
        </div>
        <div class="postDetails">
                    <span><i class="icon-calendar"></i><?php $originalDate = $post->getCreatedTime();
        $newDate = date("F d,Y", strtotime($originalDate));echo $newDate;?> </span>
         </div>
<div class="shr-blg pull-right" style="margin-top: -45px;">
    <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=<?php echo $post->getAddress(); ?>" target="_blank" class="fbShare">
            <img src=<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_SKIN).'/frontend/fedobe/ecociate/images/FB.svg';?> alt="" width="34" />
        </a>
         <a target="_blank" class="twitter-share-button twtShare" href="https://twitter.com/intent/tweet?url=<?php echo $post->getAddress(); ?>"  style="top:0px;">
            <img src=<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_SKIN).'/frontend/fedobe/ecociate/images/twit.svg';?> alt="" width="34" />
        </a>
</div>
        <?php // if($banner_content = $post->getBannerContent()):
       $blog_img = Mage::helper('blog/image')->adaptiveResize($post->getImage(),1200, 400);
        ?>
        
        
    <div class="postBanner">
        <img class="img-responsive" src="<?php echo $blog_img;?>" alt=""/>
        <!--<img class="img-responsive" src="<?php // echo Mage::getBaseUrl('media').$post->getImage();?>" alt=""/>-->
        <!--<img class="img-responsive" src="<?php // echo $this->resizeImges("/".$post->getImage(), $fimg_width, $fimg_height, TRUE);?>" alt=""/>-->
    <?php
//        echo $banner_content;
    
    ?>
    </div>
    <?php // endif; ?>
     <!--<h2><?php // echo $post->getShortContent(); ?><h2>-->
    <!--<div class="postContent"><?php // echo $post->getShortContent(); ?></div>-->
    
    <?php 
            $short_content = strip_tags($post->getShortContent());
            $short_content_str = wordwrap($short_content,280,'**break**');
            $short_content_arr = explode('**break**',$short_content_str);
            $short_content_data = isset($short_content_arr[0])?$short_content_arr[0]:'';
            ?>
        <div class="postContent"><?php echo $short_content_data."..."; ?></div>
        <div align="right"><a class="readmore" href="<?php echo $post->getAddress(); ?>">Read More</a></div>
        
        <?php echo $this->getBookmarkHtml($post) ?>
    </div>
<?php endforeach; ?>
</div>
<?php // echo $this->getChildHtml('smartwave_blog_comments_toolbar'); ?>





