<?php 
$width = Mage::getStoreConfig('review/general/profile_icon_width');
$info = $this->getCurrentProfileInfo();//echo "<pre>";echo Mage::helper('tribereview')->getFrontendProductUrl($info['trcr_username']);echo "</pre>";
//echo Mage::helper('tribereview')->allsellerreviews();
$height = Mage::getStoreConfig('review/general/profile_icon_height');
$limit = Mage::getStoreConfig('review/general/review_page_limit') ? Mage::getStoreConfig('review/general/review_page_limit') : 2;
 //$all_reviews = $this->getAllReviews();
 //echo "<pre>";print_r(array_chunk($all_reviews,$limit));echo "</pre>";
?>
<style type="text/css">
    .main-div-for-tab,.review-form{display: none;}
</style>
<div class="main-div-for-tab" id="review_mosaicflow">
    <div class="clearfix mosaicflow">
        <?php
        $form_not_shown = 'display:none;';//'display:none;'
        $profile_data = Mage::helper('tribecore/page')->getInfo();
        if (Mage::helper('tribereview')->is_customer() && !Mage::helper('tribereview')->isownprofile($profile_data) && !$this->reviewexist()){
            $form_not_shown = '';
        }
            ?>
            <div class="mosaicflow__item" style="<?php echo $form_not_shown;?>">
                <div class="add-block-main-div">
                    <span class="fa fa-pencil-square-o add-note-image" title="Add a Note"></span>
                    <h5>Add a Review</h5>
                    <div class="review-form">
                        <?php echo $this->getChildHtml('addreview'); ?>
                    </div>
                </div>
            </div>
        <?php //endif; ?>
        <?php
        $all_reviews = $this->getAllReviews();
        $all_reviews_chunk = array_chunk($all_reviews,$limit);
        $config_rating = Mage::getStoreConfig('review/general/rating');
        if (!empty($all_reviews)) :
            ?>
            <?php 
            foreach($all_reviews_chunk as $key=>$val):
                $style_string='';
                if($key)
                $style_string = 'style="display:none;"';//style="display:none;"
            foreach ($val as $k => $v) :?>
                <div class="mosaicflow__item page_<?php echo ($key+1);?>" <?php echo $style_string;?>>
                    <div class="note-wrapper">
                        <div class="note_meta">
                            <?php
                            $rate = (int) round($v['trrv_rating']);
                            if (isset($v['profile_image']) && $v['profile_image'] != '') :
                                ?>
                                <span class="note_prifile_img">
                                    <a target="_blank" href="<?php echo $v['profile_url'];?>"><img src="<?php echo $v['profile_image']; ?>" alt="<?php echo $v['trcr_name']; ?>" /></a>
                                </span>
                            <?php else : ?>
                                <span class="note_prifile_img">
                                    <a target="_blank" href="<?php echo $v['profile_url'];?>"><img src="<?php echo Mage::getBaseUrl('media') . 'tribe/review/profile-placeholder.jpg'; ?>" style="width:<?php echo $width;?>px;height:<?php echo $height;?>px;" alt="no image" /></a>
                                </span>
                            <?php endif; ?>
                            <div class="note-date-name-div">
                                 <a target="_blank" href="<?php echo $v['profile_url'];?>">
                                <span class="profile_name"> 
                                        <?php if (isset($v['review_for'])) : ?>
                                            <span>
                                            <?php echo $v['review_for']; ?>
                                            </span>
                                        <?php elseif (isset($v['review_by'])) : ?>
                                            <span>
                                            <?php echo $v['review_by']; ?>
                                            </span>
                                        <?php endif; ?>
                                </span>
                                     </a>
                                     <br/>
                                <span class="note_created_at">
                                    <?php echo date("d-m-Y h:i:s", strtotime($v['created_at']));
                                    ?>
                                </span>
                            </div>
                            <?php if (Mage::helper('tribereview')->isActionallowed($info)): ?>
                                <div class="note-action-div fa fa-ellipsis-v">
                                    <ul> 
                                        <li><a href="javascript:void(0);" onclick="editreview(<?php echo $v['entity_id'].",'".$v['entity_type']."'"; ?>)"><i class="fa fa-pencil"></i> Edit</a></li>
                                    </ul>
                                </div>
                            <?php endif; ?>
                            <?php if ($config_rating == 'thumbs') : ?>
                                <?php if ($rate == 1) : ?>
                                    <div>
                                        <img src="<?php echo Mage::getBaseUrl('media') . 'tribe/review/thumb_up_small.png'; ?>">
                                    </div>
                                <?php else: ?>
                                    <div>
                                        <img src="<?php echo Mage::getBaseUrl('media') . 'tribe/review/thumb_down_small.png'; ?>">
                                    </div>
                                <?php endif; ?>
                            <?php else : ?>
                                <?php
                                    if ($rate == -1)
                                        $rate = 3;
                                ?>
                                <div class="<?php echo $v['rate_class']; ?>" rate="<?php echo $rate; ?>"></div>
                            <?php endif; ?>
                            <p><?php echo $v['trrv_review']; ?></p>
                        </div>
                    </div>
                </div>
            <?php endforeach;
            endforeach;?>
        <?php else: ?>
                <div class="mosaicflow__item">
                    <p><?php echo $this->__('No Review Found for this profile !'); ?></p>
                </div>
        <?php endif; ?>
    </div>
     <input type="hidden" name="page" id="status_page" value="2"/>
    <input type="hidden" name="is_last" id="status_is_last" value="0"/>
</div>

<div><input type="button" class="load_more" value="Load More..." onclick="showmorereview();"></div>
<div class="msg-ld-mr note-msg" style="display:none; clear:both;">There are no more review(s) available.</div>
<div class="clearfix clearer"></div>
<script type="text/javascript">
    var mosaiccontainer;
    //<![CDATA[
    jQuery(function ($) {
        $('.main-div-for-tab').css('display', 'block');
        mosaiccontainer = jQuery('#review_mosaicflow').mosaicflow({
            itemSelector: '.mosaicflow__item',
            columnClass: 'mosaicflow__column',
            minItemWidth: 370,
            minColumns: 1,
            itemHeightCalculation: 'auto',
            threshold: 0
        });
        $(".star-ratereview-percent").each(function () {
            var rate = $(this).attr('rate');
            $(this).rateYo({
                rating: rate,
                readOnly: true,
                precision: 0,
                starWidth: "20px"
            });
        });
        $(".star-ratereview-profile").each(function () {
            var rate = $(this).attr('rate');
            $(this).rateYo({
                rating: rate,
                readOnly: true,
                ratedFill: "#06693B",
                starWidth: "20px"
            });
        });
         $(document).on('click', '.note-action-div', function (e) {
            e.stopPropagation();
            $(this).find('ul').slideToggle(500);
        });
        $(document).on('click', function () {
            $('.note-action-div').find('ul').slideUp(500);
        });
        $('.add-block-main-div').click(function () {
            var content = $('.review-form').html();
            $('.review-form').html('');
            $('#ajax-cart-loading-mask').show();
            $.fancybox(
                    content,
                    {
                        helpers: {
                            overlay: {
                                closeClick: false,
                            }
                        },
                        afterShow: function () {
                            $('#ajax-cart-loading-mask').hide();
                        }
                        ,
                        afterClose: function () {
                            $('.review-form').html(content);
                        }
                    }
            );
        });
    
  //  }
   // });
    });
    
     function showmorereview(){
       //  $(window).scroll(function () {
    //if ($(window).scrollTop() + $(window).height() == $(document).height()) {
        //jQuery('#ajax-cart-loading-mask').show();
        var pagenum = jQuery('#status_page').val();
        jQuery('.page_'+pagenum).show();
       // jQuery('#ajax-cart-loading-mask').hide();
        pagenum = parseInt(pagenum)+1;
        jQuery('#status_page').val(pagenum);
    }
    
    function deletereview(id,entity_type) {
        var conf = confirm('Are you sure to delete this Review !');
        if (conf) {
            jQuery('#ajax-cart-loading-mask').show();
            var url = '<?php echo Mage::helper('tribereview')->reviewdeleteUrl(); ?>';
            jQuery.ajax({
                url: url,
                method: "POST",
                data: {id: id,entity_type:entity_type},
                dataType: "json"
            }).done(function (msg) {
                if (msg) {
                    alert("<?php echo Mage::helper('tribereview')->__('Something Wrong happend !') ?>");
                } else {
                    jQuery('#ajax-cart-loading-mask').hide();
                    var elm = jQuery('#photo_item_' + id);
                    mosaiccontainer.mosaicflow('remove', elm);
                    elm.remove();
                }
            });
        }
    }

    function editreview(id,entity_type) {
        jQuery('#ajax-cart-loading-mask').show();
        var url = '<?php echo Mage::helper('tribereview')->editInfoReviewurl(); ?>';
        jQuery.ajax({
            url: url,
            method: "POST",
            data: {id: id,entity_type:entity_type},
            dataType: "json"
        }).done(function (msg) {
            jQuery('#submit-btn').val('Update');
            if(entity_type=='arc'){
            var actionurl = jQuery('#arc_frontend_form').attr('action');
            }else if(entity_type=='seller'){
                var actionurl = jQuery('#arc_frontend_form').attr('action');
                actionurl = actionurl.replace('/save','/sellersave');
            }else if(entity_type=='catalog_product'){
                var actionurl = jQuery('#arc_frontend_form').attr('action');
                actionurl = actionurl.replace('/save','/productsave');
               
            }
            var urlid = 'id/' + msg.entity_id;
            actionurl = actionurl.replace(urlid,'');
            actionurl += urlid;
            jQuery('#arc_frontend_form').attr('action', actionurl);
            jQuery('#ajax-cart-loading-mask').hide();
            jQuery('.add-block-main-div').trigger('click');
            setTimeout(function () {
                jQuery.each(msg, function (index, element) {
                    jQuery('.' + index).val(element);
                    //jQuery('.' + index).html(element);
                    if(index=='trrv_rating'){
                    jQuery("[data-index=trrv_rating]").html('');
                    jQuery("[data-index=trrv_rating]").html('<div id="star-ratereview"></div><input type="hidden" id="trrv_rating" class="validate-rating" name="arc[trrv_rating]"/>');
                     jQuery("#star-ratereview").rateYo({
                                rating: element,
                                starWidth: "40px",
                                ratedFill: "#06693B",
                                fullStar: true,
                                onSet: function (rating, rateYoInstance) {
                                jQuery('#trrv_rating').val(rating);
                                }
                    });
                    jQuery('#trrv_rating').val(element);
                        
                    }
                });
            }, 200);
        });
    }
   
    //]]>
</script>