<?php
$model = Mage::registry('channel_condition');
$others_data = array();
if(!empty($model)){
$data = $model->getData();
$others_data = unserialize($data['others']);
$others_data_bcc = $others_data['bcc_email'];
$end_k = end(array_keys($others_data_bcc)); //echo "<pre>";print_r($others_data_bcc);echo "</pre>";
}
//if(!empty($others_data) && $others_data['export_automatically']=='email'){
?>
<table id="bcctable">
    <tr><td><input id="bcc_email" class="input-text" type="text" name="others[bcc_email][0]" cnt=0 /></td><td><input type="button" value="+" class="form-button addmore addmr" onclick="addbcc(this)"/></td></tr>
</table>
<?php //} ?>
<script type="text/javascript">
    $j(function(){
        <?php if(!empty($others_data_bcc)){
            foreach($others_data_bcc as $k=>$v){ ?>
               
                var bcc_email = "<?php echo $v;?>";
               $j('#bcctable tr:last td:first').find('input').val(bcc_email);
              <?php  if($k!==$end_k) {?>
                $j('.addmr').trigger('click');
              <?php } ?>
          <?php  }
        }?>
       $j('#export_automatically').change(function(){
          if($j(this).val()!='email'){
              $j('#bcc_email').closest('table[id="bcctable"]').closest('tr').hide();
              $j('label[for="bcc_email_label"]').hide();
          }else{
              $j('#bcc_email').closest('table[id="bcctable"]').closest('tr').show();
               $j('label[for="bcc_email_label"]').show();
          }
       });
       $j('#export_automatically').trigger('change');
    });
    //$j(document).on('change', 'export_automatically', function () {
         // alert(5);
      // });
 function addbcc(obj){
       var cnt = parseInt($j('#bcctable tr:last').first('td').find('input').attr('cnt'));
       var nm = eval(cnt+1);
       $j('#bcctable').append('<tr><td><input class="input-text" type="text" name="others[bcc_email]['+nm+']" cnt='+nm+' /></td><td><input type="button" value="-" class="form-button addmore cancelbcc" onclick="cancelbccele(this)"/></td></tr>');
  
   }
   function cancelbccele(obj){
      $(obj).closest('tr').remove();
   }
</script>
