<?php
$generateurl = Mage::helper("adminhtml")->getUrl('*/bridgecsv/generatesecuritykey', array('isAjax' => true));
//$cancl = $this->getSkinUrl('images/fedobe/cancel_icon.gif');
$cancl = $this->getSkinUrl('images/fedobe/cancel_icon.gif');
if(Mage::app()->getRequest()->getControllerName()=='bridgecsv'){
?>
<script type="text/javascript">
    $j(function () {
        $j(".selectable").selectable({
            selected: function () {
                getSelectedAttributes();
            }
        });
        $j(".selectable1").selectable({
            selected: function () {
                getSelectedAttributes_store();
            }
        });
        doSortableActivate();
        doSortableActivate_store();
    });
</script>
<?php } ?>
<script type="text/javascript">
    function getSelectedAttributes_store(){
        var selectedarr = new Array();
        $j(".customselecatablediv1 .ui-selected").each(function () {
            selectedarr.push($j(this).attr('data-code1'));
        });
        preparesortable_store(selectedarr);
    }
    function getSelectedAttributes() {
        var selectedarr = new Array();
        $j(".customselecatablediv .ui-selected").each(function () {
            selectedarr.push($j(this).attr('data-code'));
        });
        preparesortable(selectedarr);
    }

    function preparesortable(selectedarr) {
        var sorttablehtml = '<ul class="sortable">';
        var url = "<?php echo $cancl;?>";
        $j.each( selectedarr,function (i, v) {
            sorttablehtml += '<li class="ui-state-default" id="' + v + '"><span class="ui-icon ui-icon-arrowthick-2-n-s"></span>' + v ;
            if($j.inArray(v, ["name","price","sku"] )== -1)
                sorttablehtml += '<span style="float:right;color:black"><a href="javascript:void(0);" onclick="cancelli(this,\''+v+'\');"><img src="'+url+'"/></a></span>';
            sorttablehtml +='</li>';
        });
        sorttablehtml += '</ul>';
        $j("#customsortableattributes").html(sorttablehtml);
        $j('#finalcsvfields').val(selectedarr);
        doSortableActivate();
    }
    function preparesortable_store(selectedarr) {
        var sorttablehtml = '<ul class="sortable_store">';
        var url = "<?php echo $cancl;?>";
        $j.each( selectedarr,function (i, v) {
            sorttablehtml += '<li class="ui-state-default" id="' + v + '"><span class="ui-icon ui-icon-arrowthick-2-n-s"></span>' + v ;
            if($j.inArray(v, ["name","price","sku"] )== -1)
                sorttablehtml += '<span style="float:right;color:black"><a href="javascript:void(0);" onclick="cancelli_store(this,\''+v+'\');"><img src="'+url+'"/></a></span>';
            sorttablehtml +='</li>';
        });
        sorttablehtml += '</ul>';
        $j("#customsortableattributes1").html(sorttablehtml);
        $j('#finalcsvfields_store').val(selectedarr);
        doSortableActivate_store();
    }

    function doSortableActivate() {
        $j(".sortable").sortable({
            stop: function (event, ui){
                setsorttoserver();
            }
        });
    }
    function doSortableActivate_store() {
        $j(".sortable_store").sortable({
            stop: function (event, ui){
                setsorttoserver_store();
            }
        });
    }
    
    function setsorttoserver(){
         var sortval = $j(".sortable" ).sortable( "toArray" );
         $j('#finalcsvfields').val(sortval);
    }
    function setsorttoserver_store(){
         var sortval = $j(".sortable_store" ).sortable( "toArray" );
         $j('#finalcsvfields_store').val(sortval);
    }

    function genratenewkey(element) {
        new Ajax.Request('<?php echo $generateurl; ?>', {
            method: 'post',
            onSuccess: function (transport) {
                $(element).value = transport.responseText;
            },
            onFailure: function () {
                alert('Something went wrong...');
            }
        });
        return false;
    }
    function customcurrency(obj) {
        if ($j(obj).val() == 'custom') {
            custom_currency_val = '<tr id="custom_currency"><td class="label"><label for="currency">Custom Value</label></td><td class="value"><input type="text" name="others[currency]"/></td></tr>';
            $j("#currency_setting .form-list tbody").append(custom_currency_val);

        } else {
            $j("#currency_setting .form-list #custom_currency").remove();
        }
    }
    function cancelli(obj,datacode){
      $j(obj).closest("li").remove();
     // var arr = str.split('_');
     //$j("h3:contains('"+arr[0]+"')").next("ol").find("li[id='"+arr[1]+"']").removeClass('ui-selected');
      var hiddden_val = $j('#finalcsvfields').val();//alert(hiddden_val);return false;
      var hiddden_val_arr = hiddden_val.split(',');
        $j("li[data-code='"+datacode+"']").each(function(){
         $j(this).removeClass('ui-selected');
     });
     $j.each(hiddden_val_arr,function(i,v){
         if(v==datacode){ //alert(i);
             hiddden_val_arr.splice(i, 1);
        }
     });
     $j('#finalcsvfields').val(hiddden_val_arr);//alert(hiddden_val_arr);return false;
             //removeClass('ui-selected');
     
    }
    function cancelli_store(obj,datacode){
      $j(obj).closest("li").remove();
     // var arr = str.split('_');
     //$j("h3:contains('"+arr[0]+"')").next("ol").find("li[id='"+arr[1]+"']").removeClass('ui-selected');
      var hiddden_val = $j('#finalcsvfields_store').val();//alert(hiddden_val);return false;
      var hiddden_val_arr = hiddden_val.split(',');
        $j("li[data-code='"+datacode+"']").each(function(){
         $j(this).removeClass('ui-selected');
     });
     $j.each(hiddden_val_arr,function(i,v){
         if(v==datacode){ //alert(i);
             hiddden_val_arr.splice(i, 1);
        }
     });
     $j('#finalcsvfields_store').val(hiddden_val_arr);//alert(hiddden_val_arr);return false;
             //removeClass('ui-selected');
     
    }
    function downloaddata(){
        if($j('.dwnld-btn').val()=='csv')
            //alert("<?php //echo $this->getUrl('adminhtml/bridgecsv/csvdownload');?>");//return false;
           window.location = "<?php echo $this->getUrl('adminhtml/bridgecsv/csvdownload'); ?>"+'?channel_id='+$j('#id').val();
        //setLocation("<?php //echo $this->getUrl('adminhtml/bridgecsv/csvdownload');?>");
    else if($j('.dwnld-btn').val()=='xml')
            window.location = "<?php echo Mage::getBaseUrl() . 'admin/bridgecsv/xmldownload';?>";
    }
    
//       function googledriveconnection() {
//            var salt = $j("#salt").val().trim();
//            if(salt!=''){
//            //$j("#loading-mask").show();
//            url = "<?php echo $this->getUrl('adminhtml/bridgecsv/store_refreshtoken'); ?>" + "?salt="+salt+"&isAjax=true";
//            //alert(url);return false;
//            window.location = url;
//            }
//        }
</script>
<script>
         $j(function() {
         // for blur effect to related product
          $j("label[for=\'cond_apply_on_relative_products\']").css("color","#A9A9A9");
          $j("label[for=\'sync_related_product\']").css("color","#A9A9A9");
          $j("label[for=\'sync_upsell_product\']").css("color","#A9A9A9");
          $j("label[for=\'sync_crosssell_product\']").css("color","#A9A9A9");
      });
 </script>
<style type='text/css'>
    #channel_settings table tr td.value{width:100%;}
    [for*='general_info'],
    [for*='pim_image_settings'],
    [for*='channel_info'],
    [for*='ftp_credentials_ogc'],
    [for*='pim_sync_settings'],
    [for*='pim_basic_settings'],
    [for*='pim_cron_settings'],
    [for*='edi_cron_settings']
    {text-decoration:underline;margin-bottom:5px;color:#eb5e00;}
    #store_setting .form-list td.label,#store_setting .form-list td.value,#attribute_settings .form-list td.label,#attribute_settings .form-list td.value{
        width: auto !important;
    }
    .clearer{clear: both;}
    .fltlft{float:left};
    .selectable .ui-selecting { background: #FECA40; }
    .selectable .ui-selected { background: #F39814; color: white; }
    .selectable { list-style-type: none; margin: 0; padding: 0;cursor: pointer;}
    .selectable li { margin: 3px; padding: 0.4em; font-size: 1.4em; height: 18px; }
    .customselecatablediv{height:300px;width:300px;overflow:scroll;}
    .sortable { list-style-type: none; margin: 0; padding: 0;cursor: pointer;}
    .sortable li {background: #F39814; color: white;  margin: 0 3px 3px 3px; padding: 0.4em; padding-left: 1.5em; font-size: 1.4em; height: 18px; }
    .sortable li span {margin-left: -1.3em;float: left;}
    .sortable_store { list-style-type: none; margin: 0; padding: 0;cursor: pointer;}
    .sortable_store li {background: #F39814; color: white;  margin: 0 3px 3px 3px; padding: 0.4em; padding-left: 1.5em; font-size: 1.4em; height: 18px; }
    .sortable_store li span {margin-left: -1.3em;float: left;}
</style>

