<?php
$starsettings = intval(Mage::getStoreConfig('tribecoresettings/seller_starrating_settings/tribe_seller_star_rating_no'));
$nostars = ($starsettings) ? $starsettings : 5;
$starsize = intval(Mage::getStoreConfig('tribecoresettings/seller_starrating_settings/tribe_seller_star_size'));
$starsize = ($starsize) ? $starsize : 15;
$collection = $this->getReviewCollection();
if ($collection->getSize() > 0):
    ?>
    <?php foreach ($collection as $review): ?>
        <div class="col-xs-12">
            <div>
                <div class="pull-left">
                    <i class="fa fa-user fa-3x"></i>
                </div>
                <div class="pull-left">
                    <div>
                        <?php echo $review->getNickname(); ?>
                    </div>
                    <div>
                        <div id="seller-rating<?php echo $review->getId(); ?>"></div>
                    </div>
                    <div>
                        <?php echo $review->getTitle(); ?>
                    </div>
                    <div>
                        <?php echo $review->getDetail(); ?>
                    </div>
                    <div>
                        <?php echo $review->getCreatedAt(); ?>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
            <hr/>
        </div>
        <script type="text/javascript">
            //<![CDATA[
            jQuery(function ($) {
                $("#seller-rating<?php echo $review->getId(); ?>").rateYo({
                    starWidth: "<?php echo $starsize;?>px",
                    readOnly: true,
                    rating: <?php echo $review->getCustomRating(); ?>,
                    spacing: "5px",
                    numStars: <?php echo $nostars; ?>,
                    multiColor: {
                        "startColor": "#FF0000", //RED
                        "endColor": "#FFB900"
                    },
                    halfStar: true
                });
            });
            
            //]]>
        </script>
    <?php endforeach; ?>
<?php endif; ?>