<?php
$_element = $this->getElement();
$channel_data = Mage::registry('incomingchannel_data');
?>
<div class="rule-tree">
    <div class="strmap"><div class="entry-edit-head"><h4 class="icon-head head-edit-form fieldset-legend">Channel Info</h4></div>
        <fieldset id="<?php echo $_element->getHtmlId() ?>" <?php echo $_element->serialize(array('class')) ?>>
            <table cellspacing="0" class="form-list" border="1">
                <tbody>
                    <tr>
                        <td class="label"><label>Slab<span class="required">*</span></label></td>
                        <td class="value">
                            <input type="text" name="slab" class="required-entry validate-greater-than-zero" value="<?php echo @$channel_data->getSlab() ? $channel_data->getSlab() : 10; ?>">
                        </td>
                    </tr>
                    <tr>
                        <td class="label"><label>Mode<span class="required">*</span></label></td>
                        <td class="value">
                            <select class="select demo" name="mode" id="demo">
                                <option value="demo">Demo</option>
                                <option value="live">Live</option>
                            </select>
                        </td>
                    </tr>               
                    <tr id="product_statustr" style="display:none;">
                        <td class="label"><label>Product Status<span class="required">*</span></label></td>
                        <td class="value">
                            <select name="product_status" class="required-entry">
                                <option value="">Select Product Status</option>
                                <option value=1>Active</option>
                                <option value=0>Inactive</option>
                                <option value=2>As it in Brand</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td class="label"><label for="incomingchannel_content_source">Synced Product Content Store in <span class="required">*</span></label></td>
                        <td class="value">
                            <select class="required-entry select" name="content_source" id="incomingchannel_content_source">
                                <option value="original">Replace With original content</option>
                                <option value="copy">Keep Separate Copy</option>
                            </select>            </td>
                    </tr>
                    <tr>
                        <td class="label"><label for="incomingchannel_new_product">Add New Product Automatically<span class="required">*</span></label></td>
                        <td class="value">
                            <select class="required-entry select" name="create_new" id="create_new">
                                <option value=1>Yes</option>
                                <option value=0>No</option>
                            </select>            </td>
                    </tr>
                    <tr>
                        <td class="label"><label for="incomingchannel_update_product">Update Existing Product Automatically<span class="required">*</span></label></td>
                        <td class="value">
                            <select class="required-entry select" name="update_exist" id="update_exist">
                                <option value=1>Yes</option>
                                <option value=0>No</option>
                            </select>            </td>
                    </tr>
                    <tr>
                        <td class="label"><label for="incomingchannels_relative_products">Sync Product Information</label></td>
                        <td class="value">
                            <select class="select" name="product_info" id="product_info">
                                <option value=1>Yes</option>
                                <option value=0>No</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td class="label"><label for="incomingchannels_relative_products">Sync Price and Quantity</label></td>
                        <td class="value">
                            <select class="select" name="product_pricenquantity" id="product_pricenquantity">
                                <option value=1>Yes</option>
                                <option value=0>No</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td class="label"><label>Create Option For Mapping Attribute If Not Present</label></td>
                        <td class="value">
                            <select class="select" name="create_option" id="create_option">
                                <option value=1>Yes</option>
                                <option value=0>No</option>
                            </select>
                        </td>
                    </tr>
                </tbody>
            </table>
            </form>
        </fieldset>
    </div>
</div>
<script>
    mode = "<?php echo @$channel_data['mode']; ?>";
    $j("#product_statustr select").val("<?php echo @$channel_data['product_status']; ?>");
    $j("#incomingchannel_content_source").val("<?php echo @$channel_data['content_source']; ?>");
    $j("#update_exist").val("<?php echo @$channel_data['update_exist']; ?>");
    $j("#create_new").val("<?php echo @$channel_data['create_new']; ?>");
    $j("#create_option").val("<?php echo @$channel_data['create_option']; ?>");
    $j(".demo").val(mode);
    if ($j(".demo").val() != "live") {
        $j("#product_statustr select").removeClass("required-entry");
    }
    $j("#product_info").val("<?php echo @$channel_data['product_info']; ?>");
    $j("#product_pricenquantity").val("<?php echo @$channel_data['product_pricenquantity']; ?>");
    if ($j(".demo").val() == "live") {
        $j("#product_statustr").show()
        $j("#product_statustr select").addClass('required-entry');
    }
    $j(document).ready(function () {
        $j(".demo").click(function () {
            if ($j(this).val() == "demo") {
                $j("#product_statustr select").val("");
                $j("#product_statustr").hide();
                $j("#product_statustr select").removeClass('required-entry');
            } else {
                $j("#product_statustr").show()
                $j("#product_statustr select").addClass('required-entry');
            }
        });
    });

    Validation.add('unique-weightage', 'Please enter a unique Weightage.', function (v) {
        ret = false;
        url = "<?php echo $this->getUrl('adminhtml/incomingchannels/weightageunique_validation'); ?>" + "?isAjax=true";
        id = "<?php echo $this->getRequest()->getParam('id'); ?>";
        data = {id: id, weightage: $j("#incomingchannel_weightage").val(), form_key: "<?php echo Mage::getSingleton('core/session')->getFormKey() ?>"};
        $j.ajax({
            type: "POST",
            async: false,
            url: url,
            data: data,
            success: function (res) {
                if (res == 1) {
                    ret = false;
                } else {
                    ret = true;
                }
            }
        });
        return ret;
    });
    function validatForm(type) {
        $j("#loading-mask").show();
        editForm = new varienForm('edit_form', '');
        if (parseInt(type)) {
            store_id =<?php echo ($this->getRequest()->getParam('store')) ? $this->getRequest()->getParam('store') : Mage_Core_Model_App::ADMIN_STORE_ID; ?>;
            url = $j("#edit_form").attr('action') + 'back/edit/store/' + store_id + '/';
        } else {
            url = $j("#edit_form").attr('action');
        }
        res = editForm.submit(url);
        if (!res) {
            $j("#loading-mask").hide();
        }
    }
</script>