<div class="block block-account">
    <div class="block-title">
        <strong><span><?php echo $this->__('My Account');  ?></span></strong>
    </div>
    <div class="block-content">
        <ul>
            <?php
           
            if(Mage::helper('tribecore')->is_customer()){
                $customer = Mage::getSingleton('customer/session')->getCustomer()->getData();
                $customer_profile = Mage::helper('tribecore')->getprofile_by_emailoption($customer['entity_id']);
                //$this->addLink('My Profile','profile','My Profile');
                //added by bhagyashree
                //$this->addLink('Favorite Store','favorited','Favorite Store');
                //ends here
            }
            $_links = $this->getLinks(); ?>
            <?php $_index = 1; ?>
            <?php $_count = count($_links); ?>
            <?php foreach ($_links as $_link): 
                if(in_array($_link->getLabel(),array('Account Dashboard','Account Information','Address Book'))): ?>
                <?php $_last = ($_index++ >= $_count); ?>
                <?php if ($this->isActive($_link)): ?>
                    <li class="current<?php echo ($_last ? ' last' : '') ?>"><strong><?php echo $_link->getLabel() ?></strong></li>
                <?php else: ?>
                    <li<?php echo ($_last ? ' class="last"' : '') ?>><a href="<?php echo $_link->getUrl() ?>"><?php echo $_link->getLabel() ?></a></li>
                <?php endif; ?>
            <?php endif;
            endforeach; ?>
        </ul>
    </div>
</div>
