<?php
$profileinfo = $this->getAllInfo();
?>
<div class="tribefeatured-header-wrapper">
    <?php
    if ($profileinfo['trcr_featured_pic']):
        $featured_img_width = Mage::getStoreConfig('tribe_core/general/featured_image_width');
        $featured_img_height = Mage::getStoreConfig('tribe_core/general/featured_image_height');
        $featured_img_width = $featured_img_width ? $featured_img_width : 1500;
        $featured_img_height = $featured_img_height ? $featured_img_height : 500;
        $featuredimg = Mage::helper('arccore')->resizeImg($profileinfo['trcr_featured_pic'], $featured_img_width, $featured_img_height);
        ?>
        <div class='tribe-featured-image'>
            <img src="<?php echo $featuredimg; ?>" />
        </div>
    <?php endif; ?>
    <div class='tribe-header'>
        <?php echo $this->getFeaturedHtml(); ?>
    </div>
</div>