<?php
$profileinfo = $this->getAllInfo();
$profile_img_width = Mage::getStoreConfig('tribe_core/general/profile_image_width');
$profile_img_height = Mage::getStoreConfig('tribe_core/general/profile_image_height');
$width = $profile_img_width ? $profile_img_width : 160;
$height = $profile_img_height ? $profile_img_height : 160;
$profileimage = '';
if ($profileinfo['trcr_profile_pic']) {
    $profileimage = Mage::helper('arccore')->resizeImg($profileinfo['trcr_profile_pic'], $width, $height);
}
$active_action = strtolower(Mage::app()->getRequest()->getActionName());
?>
<div class='tribe_profile'>
    <div class="tribecore-header-wrapper">
        <div class="container">
            <div class='tribeprofilepic'>
                <a href="<?php echo $profileinfo['url']; ?>">
                    <?php if ($profileimage): ?>
                        <img src="<?php echo $profileimage; ?>" />
                    <?php else: ?>
                        <img src="" />
                    <?php endif; ?>
                </a>
            </div>
            <div class='tribeprofileinfo'>
                <div class="tribeprofile-wraper">
                    <a href="<?php echo $profileinfo['url']; ?>" class="tribeprofilename"><?php echo $profileinfo['trcr_name'] ?></a>
                    <?php if ($profileinfo['canbefollowed']): ?>
                        <a href="javascript:void(0);" class="tribefollowbtn"><?php echo __("Follow"); ?></a>
                    <?php endif; ?>
                </div>
                <?php if (isset($profileinfo['followinfo'])): ?>
                    <span class="tribefollers">
                        <?php echo __("%d Followers", $profileinfo['followinfo']['count']) ?>
                    </span>
                <?php endif; ?>

                <div class="tribeprofilebio">
                    <p>
                        <?php echo $profileinfo['trcr_bio']; ?>
                    </p>
                </div>
                <div class="">
                    <ul>
                        <li class="rising-star">
                            Rising Star - EchoHero
                        </li> 
                        <li class="greeno-meter">
                            1800 Greeno Meter
                        </li> 
                        <div class='clrbth clearer'></div>
                    </ul>
                </div>
                <?php if (isset($profileinfo['badgebtns'])): ?>
                    <div class="tribebadge-wrapper">
                        <ul>
                            <?php foreach ($profileinfo['badgebtns'] as $k => $v): ?>
                                <li class="tribe-badge-btn <?php echo $v['class']; ?>">
                                    <?php if (isset($v['imgsrc'])): ?>
                                        <span class="badgeimg">
                                            <img src="<?php echo $v['imgsrc']; ?>" title="<?php echo $v['imgcaption']; ?>" alt="<?php echo $v['imgalt']; ?>"/>
                                        </span>
                                    <?php endif; ?>
                                    <?php if (isset($v['title'])): ?>
                                        <?php echo __($v['title']); ?>
                                    <?php endif; ?>
                                </li> 
                            <?php endforeach; ?>
                            <div class='clrbth clearer'></div> 
                        </ul>
                    </div>
                <?php endif; ?>
            </div>
            <div class='clrbth clearer'></div>
        </div>
    </div>
    <?php if (isset($profileinfo['tabs'])): ?>
        <div class="tribecore-headertab-wrapper">
            <div class="container">
                <ul class="tribe-tabs">
                    <?php
                    foreach ($profileinfo['tabs'] as $tk => $tv):
                        ?>
                        <li <?php if (strtolower($tv['label']) == $active_action || strtolower($tv['label'].'s') == $active_action): ?>class="tab-active tab active"<?php else: ?><?php endif; ?>>
                            <a href="<?php if (isset($tv['url'])):echo $tv['url']; ?><?php else: ?>javascript:void(0);<?php endif; ?>">
                                <?php if (isset($tv['count']) && $tv['count']): ?>
                                    <?php echo __("{$tv['label']} (%d)", $tv['count']); ?>
                                <?php else: ?>
                                    <?php echo __("{$tv['label']}"); ?>
                                <?php endif; ?>
                            </a>
                        </li> 
                    <?php endforeach; ?>
                    <div class='clrbth clearer'></div> 
                </ul>
            </div>
        </div>
    <?php endif; ?>
</div>
<style type="text/css">
    .tribe-header img{width:100%;}
    .tab-active a{
        text-decoration:underline;
    }
    <?php
    if ($profileinfo['trcr_cover_pic']):
        $cover_img_width = Mage::getStoreConfig('tribe_core/general/cover_image_width');
        $cover_img_height = Mage::getStoreConfig('tribe_core/general/cover_image_height');
        $cover_img_width = $cover_img_width ? $cover_img_width : 800;//1500
        $cover_img_height = $cover_img_height ? $cover_img_height : 300;
       // $backg = Mage::getBaseUrl('media') . '/arccore/arcs/images/'.$profileinfo['trcr_cover_pic'];
         $backg =Mage::helper('arccore')->resizeImg($profileinfo['trcr_cover_pic'], $cover_img_width, $cover_img_height);
        ?>
        .tribecore-header-wrapper{
            background-image:   url("<?php echo $backg; ?>");
            background-repeat: no-repeat;
        }
    <?php endif; ?>
</style>